<div class="clearfix le-l-bodywrapper  aip-tranparent-backgroud" id="mainCtr">
    <div id="mainrightCnt" class="container-fluid le-l-middle-col le-u-no-mar-l__mb">
        <div class="le-l-level1-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="le-l-level1-middle-col le-l-base-layout-center">
                        <div class="le-u-mar-b-24__mb">
                            <!-- left side -->
                            <div class="">
                                <!-- Image -->
                                <div class="d-flex justify-content-center">
                                    <div style="position:relative" class="w-100">
                                        <img src="assets/images/aip_rai_base.png" class="img-responsive w-100" alt="ivm" />
                                        <div class="aip-ivm-banner">
                                            <div class="le-u-header-lg" style="color: #001EC1;">
                                                Uplift your applications using AI innovated services…
                                            </div>
                                            <div class="le-u-header-xl le-u-mar-t-24" style="color: #FFFFFF;">Discover +
                                                Finetune + Deploy
                                                + Monitor Models</div>
                                            <div class="le-u-body-md le-u-mar-t-24 le-u-mar-b-8"
                                                style="color: #FFFFFF;">An integrated offering for
                                                enterprises to scale and future-proof AI-powered transformation…
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Search -->
                                <div class="le-u-mar-t-8 d-flex justify-content-center">
                                    <div class="col-md-8" (click)="navigateToSearch()">
                                        <leds-input-field
                                            placeholder="Search for models, Datasets, Endpoints, Pipelines and more…"
                                            designType="search" inputType="text" [disabled]="false" [required]="false"
                                            styleClass=""></leds-input-field>
                                    </div>
                                </div>
                                <!-- Initative header -->
                                <div class="le-u-pad-8 d-flex justify-content-between align-items-center">
                                    <div class="le-u-header-xl">My Solutions</div>
                                    <div class="le-u-body-md d-flex align-items-center">
                                        <span class="aip-base-color aip-cursor le-u-mar-r-16" (click)="viewAll()">View
                                            All</span>
                                        <leds-overflow>
                                            <div ngbDropdown class="d-inline-block" container="body">
                                                <a id="OverflowMenu_dd" ngbDropdownToggle title="overflow menu">
                                                    <i aria-hidden="true" class="icon x-24 v-menu-icon"></i>
                                                </a>
                                                <div ngbDropdownMenu aria-labelledby="OverflowMenu_dd">
                                                    <ul overflowList>
                                                        <li overflowListItem class="le-u-body-md aip-cursor le-u-mar-8">
                                                            <span overflowSpan (click)="open(createInitative)">Create
                                                                Solution</span>
                                                        </li>
                                                        <li overflowListItem class="le-u-body-md aip-cursor le-u-mar-8">
                                                            <span overflowSpan (click)="toInbox()">My Inbox</span>
                                                        </li>
                                                        <!-- <li overflowListItem class="le-u-body-md aip-cursor le-u-mar-8">
                                                            <span overflowSpan (click)="toConfigTemplate()">Activity Template</span>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </leds-overflow>
                                        <span class="le-c-btn--icon__icon le-u-mar-l-8"style="margin-top: -1rem;">
                                            <i style="color: #737373;font-size: 2rem;" class="aip-cursor icon x-16 icon_Refresh" (click)="refreshComplete()"></i>
                                        </span>
                                    </div>
                                </div>
                                <!--   Initative Body -->
                                <div *ngIf="data.length>0;else emptyState">
                                    <div class="le-u-mar-t-16 " style="position:relative">
                                        <div (click)="scrollLeft()" class="aip-ivm-scroll-left le-u-circle-icon-grey">
                                            <i class="icon x-24 previous-icon "> </i></div>
                                        <div (click)="scrollRight()" class="aip-ivm-scroll-right le-u-circle-icon-grey">
                                            <i class="icon x-24 next-icon "> </i></div>
                                        <div #scrollableDiv class="aip-ivm-intiative-grid">
                                            <div class="" *ngFor="let intiative of data">
                                                <div class="" style="width: 250px;position: relative;">
                                                    <div class="aip-cursor" (click)="deleteInitiativeById(intiative)" *ngIf="deleteInitiative" style="position: absolute; top: 0.5rem;right:0.5rem;z-index: 99;">
                                                        <i class="icon x-16 delete-sm-icon"></i>
                                                    </div>
                                                    <leds-card designType='simple'>
                                                        <div class="le-u-header-sm le-u-text-primary-80 le-u-mar-b-8">
                                                            {{intiative.createdBy}}</div>
                                                        <mat-card-header>
                                                            <mat-card-title class="le-c-card__container clearfix"
                                                                (click)="toviewInitiative(intiative.name,intiative.id)">
                                                                <div class="le-c-card__container-left">
                                                                    <h2 class="le-u-header-xl le-u-ellipsis aip-fullname-card"
                                                                        style="line-height: 2rem;">
                                                                        {{intiative.name}}</h2>
                                                                </div>

                                                            </mat-card-title>
                                                        </mat-card-header>
                                                        <mat-card-content class="le-u-no-mar-b" style="color: #737373;">
                                                            <p
                                                                class="le-u-body-md le-u-text-neutral-80 le-u-line-2 aip-desc-ellipsis">
                                                                {{intiative.description}}
                                                            </p>
                                                        </mat-card-content>
                                                    </leds-card>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Recent Artifacts -->
                                <div class="le-u-mar-t-24 le-u-header-lg" *ngIf="!viewOnlyMyInitiatives">
                                    Available Artifacts
                                </div>
                                <app-ivm-recent-artifacts *ngIf="!viewOnlyMyInitiatives"></app-ivm-recent-artifacts>

                            </div>


                        </div>
                        <!-- RIGHT SIDE -->
                        <!-- <div class="le-l-level2-right-col">
                            <div class="">
                                <leds-panel type="default" styleClass="" design="expandCollapse" contentClass="">
                                    <div class="d-flex le-u-pad-16 align-items-center">
                                        <div class=""><i class="icon aip-base-color x-24 aip-cursor icon-bookmark"></i>
                                        </div>
                                        <div class="le-u-body-lg le-u-mar-l-16  aip-cursor">View Bookmarks
                                        </div>
                                    </div>
                                </leds-panel>
                                <leds-panel type="default" styleClass="" contentClass="">
                                    <div class="le-u-mar-t-24 le-u-pad-16">
                                        <span class="le-u-header-xl">My Recent Activities</span>
                                        <div class="le-u-mar-t-24">
                                            <div class="le-u-body-lg">No Recent Activities</div>
                                        </div>
                                    </div>
                                </leds-panel>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #createInitative let-modal>
    <app-ivm-create-modal (modalClose)="modalClose($event)"></app-ivm-create-modal>
</ng-template>
<ng-template #emptyState>
    <leds-panel>
        <div class="d-flex justify-content-center align-items-center le-u-pad-lr-16 le-u-pad-32">
            <div class="le-u-body-md le-u-text-neutral-80 le-u-line-2 aip-desc-ellipsis">
                <div class="d-flex justify-content-center align-items-center ">
                    <img src="assets/images/aip_empty_state_leds.svg" class="img-responsive" alt="aip_empty_state_leds"
                        style="width:15rem" />
                    <div class="le-u-body-md">
                        No solution for now!, items will appear here once
                        part of
                        some solution</div>
                </div>
            </div>
        </div>
    </leds-panel>
</ng-template>