<body class="plainBg">

    <div class="padding2em menuMargin float-container">
      <div class="float-child">
        <div class="thumbnail-container">
          <div class="thumbnail" *ngFor="let file of fileList | paginate:{itemsPerPage:pageSize,currentPage:currentPage,totalItems: fileList.length}">
                <app-viewer-image *ngIf="isImage(file.extension)" [ResponseList]="file.data" alt="Thumbnail Preview"></app-viewer-image>
                <app-viewer-pdf *ngIf="file.extension === 'pdf'" [pdfFile]="file.data" class="thumbnail-preview"></app-viewer-pdf>
                <app-viewer-audio *ngIf="file.extension === 'mp3'" [AudioResponse]="file.data" class="thumbnail-preview"></app-viewer-audio>
                <app-viewer-video *ngIf="file.extension === 'mp4'" [VideoResponse]="file.data" class="thumbnail-preview"></app-viewer-video>
                <leds-card *ngIf="file.extension === 'txt'" designType="simple">
                  <pre class="text-view"> {{ file.data }} </pre>
                </leds-card>
          </div>
        </div>
        <div class="paginations">
          <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
        </div>
  
      </div>
  
    </div>
   
</body>