:host ::ng-deep thead,
:host ::ng-deep tbody,
:host ::ng-deep tfoot,
:host ::ng-deep tr,
:host ::ng-deep td,
:host ::ng-deep th {
    border-width: 2px;
}

:host ::ng-deep .aip-ivm-scroll-left {
    left: -1.9rem;
    top: 35%;
}

:host ::ng-deep .aip-ivm-scroll-right {
    right: -1.9rem;
    top: 35%;
}

:host ::ng-deep .aip-ivm-intiative-grid {
    max-width: none;
}

.aip-ref-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines */
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    opacity: 80%;
  }

  :host ::ng-deep .mat-mdc-card-header {
    padding: 0px !important;
    padding-bottom: 4px !important;
  }