<mat-tab-group style="font-size: 1vw;">
  <mat-tab label="Release Features">
    <i class="fa fa-times fa-lg closeButton" id="close-icon" (click)="close()" aria-hidden="true"></i>
    <!-- <a (click)="scrollTo('release')"><B class="scroll, space">Release 2.0</B></a> 
    <br> 
    <a (click)="scrollTo('release2.1')"><B class="scroll, spaceBetweenLine">Release 2.1</B></a> -->
    <a (click)="scrollTo('release3.1.0')"><B class="scroll, spaceBetweenLine">Release 3.1.0</B></a><br>
    <a (click)="scrollTo('release3.0.0')"><B class="scroll, spaceBetweenLine">Release 3.0.0</B></a>

    <h3 id="release3.1.0" class="spaceBetweenLine" style="font-weight: bold;">Release 3.1.0</h3>
    <p style="padding-left: 10px;">LEAP- LIVE ENTERPRISE APPLICATION PLATFORM 3.1 (New Features and
      Enhancements)</p>
    <p style="padding-left: 10px;">LEAP 3.1 introduces new generative AI (gen AI) capabilities and machine learning (ML) to enhance Problem and Service Management. Key highlights include:</p>
    <ul>
      <li><b>    • Generative AI Capabilities: </b>Create easily searchable knowledge collections with your process documents to assist in ticket resolution. Automate L1 support and improve troubleshooting for L2 tickets.</li>
      <li><b>    • MFE Architecture:</b> Upgraded architecture for greater flexibility in deployment and overall approach.</li>
    </ul>
    <h4>Gen AI Features</h4>

    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Gen AI Capabilities</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>ITSM</td>
        <td>GenAI-based ticket summarization, recommended resolution, auto-resolution, ticket sentiment analysis, GenAI assist for first response, automated follow-up, and related tickets.</td>
      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td>Chatbot</td>
        <td>
          <ul>
            <li>Query ticket data, update, and resolve tickets while chatting with the ITSM assistant.</li>
            <li>Build your own chatbot using your documents to answer queries.</li>
          </ul></td>
      </tr>
      <tr>
        <td class="serialNumber">3</td>
        <td>Knowledge Search:</td>
        <td>Create knowledge bases of documents and query to get the best-grounded responses with retrieval-augmented generation (RAG).</td>
      </tr>
      <tr>
        <td class="serialNumber">4</td>
        <td>Summarization:</td>
        <td>Upload documents, videos, or audio clips for summarization.</td>
      </tr>
      <tr>
        <td class="serialNumber">5</td>
        <td>Question Answer Generation</td>
        <td>AI powered capability that can generate questions and answers from documents such as product manuals, SOP’s,
          SOW, or any knowledge base.</td>
      </tr>
      <tr>
        <td class="serialNumber">6</td>
        <td>Translation</td>
        <td>Helps in translating marketing materials, business documents, customer service content, technical documents
          and so on.</td>
      </tr>
    </table>

    <h4>Demo Use Cases</h4>
    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Features</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>End-to-End AI-Driven IT Operations</td>
        <td> From Anomaly Detection to Automated Resolution. <a href="https://infosystechnologies.sharepoint.com/:v:/s/IAMP-Dev/Ea985hRtKGlAniEw0nOa3aUB50XY0TFvBKU74tVIFth1_w?e=U5f9Ej">video</a></td>
      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td>Contextual Insights from Knowledge Assets</td>
        <td> Interactive Q&A with AI Assistants 
          <a href="https://infosystechnologies.sharepoint.com/:v:/s/IAMP-Dev/EWS3UbS_BXNLiHGGJcsDNSAB88-8R7bZZQ94ir0zv5waQQ?e=F0Wu2u">Video</a>
          <a href="https://infosystechnologies.sharepoint.com/:p:/s/IAMP-Dev/EY9-_vWwAB9AvE21DudpWhoBW1yLza7xnjs_qgifHoNbQg?e=lFLtRV">Presentation</a>
        </td>
      </tr>
    </table>

    <h4>LEAP.AIP</h4>
    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Conversational Chatbot</td>
        <td>An AI-driven tool that simulates human-like conversations to enhance user interactions.</td>
      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td>Connections - GitHub</td>
        <td>Connect to Github artifacts from Datasets.</td>
      </tr>
      <tr>
        <td class="serialNumber">3</td>
        <td>Dataset Enhancements</td>
        <td>Ingest documents and get embeddings, group document into different knowledge bases, semantic search on datasets, transcribe, translate, summary, generate QA on datasets.</td>
      </tr>
      <tr>
        <td class="serialNumber">4</td>
        <td>Prompt Template Repository</td>
        <td>Curate prompts and try out on different on-prem and on-cloud LLM models.</td>
      </tr>
      <tr>
        <td class="serialNumber">5</td>
        <td>Gen AI Recommendations</td>
        <td>Get resolution recommendations based on closed tickets.</td>
      </tr>
    </table>
    <h4>LEAP.CIS</h4>
    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>IT Control Tower</td>
        <td>Aggregate data from various IT systems for real-time monitoring and management of configuration items and incidents.</td>
      </tr>
    </table>
    <h4>LEAP.DBS</h4>
    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Responsive Widgets/Dashboards</td>
        <td>Design dashboards with customizable widgets for graphical data representation and Includes responsive design implementation for dashboard level features like sidebars, global filters, quick range filters, etc.</td>
      </tr>
      
    </table>
    <h4>LEAP.ICAP</h4>
    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Enhanced Classifier</td>
        <td>Support for AND and OR conditions on different fields of tickets.</td>
      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td>Integration of Tickets Pipeline with CIP for CASE Dashboard</td>
        <td>Integrated CAP tickets with ITSM tickets using pipelines.</td>
      </tr>
      <tr>
        <td class="serialNumber">3</td>
        <td>Enhanced UI Automation</td>
        <td>Accept multiple images (center, right, left, top, down) to improve UI automation.</td>
      </tr>
    </table>
    <h4>LEAP.KG</h4>
    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Topology Graph Display</td>
        <td>Visualize data in the form of a graph, showing dependencies and impacts of configuration items.</td>
      </tr>
    </table>
    <h4>LEAP.iEGP</h4>
    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Dynamic Rules Creation</td>
        <td>Assign game mechanics elements during execution time.</td>
      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td>Metric Calculation</td>
        <td>Auto-calculated metrics using game mechanics elements.</td>
      </tr>
    </table>
    <h4>LEAP.IVM</h4>
    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Upload with Only Master Data</td>
        <td>Upload master data in a single sheet.</td>
      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td>Survey Import-Export</td>
        <td>Export and import questionnaires across projects.</td>
      </tr>
    </table>
    <h4>LEAP.SBX</h4>
    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Initiative Integration</td>
        <td>Include features from the Applied AI Platform in experiment solutions.</td>
      </tr>
    </table>
    
    <br>

    <h3 id="release3.0.0" class="spaceBetweenLine" style="font-weight: bold;">Release 3.0.0</h3>
    <p style="padding-left: 10px;">LEAP- LIVE ENTERPRISE APPLICATION PLATFORM 3.0 (New Features and
      Enhancements-Highlights)</p>
    <p style="padding-left: 10px;">LEAP 3.0 brings new generative AI (gen AI) capabilities and machine learning (ML) to
      enhance Problem and Service Management. Create easily searchable knowledge collections with your process documents
      to assist in ticket resolution. With LEAP, automate L1 support, improve troubleshooting for L2 tickets. Discover
      right opportunities, Adopt AI while ensuring responsible use of AI. This Release is also upgraded with MFE
      architecture which brings flexibility in terms of deployment and overall approach.</p>
    <p style="padding-left: 10px;">We have listed out GENAI features that is added in LEAP 3.0 that can be leveraged in
      LEAP. AIOPS , LEAP. ZeroTouch, LEAP. Resilience Modules of LEAP.</p>
    <h4>LEAP 3.0 is enhanced with new components – Gamification, IVM and GEN AI Capabilities</h4>

    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Gen AI Capabilities</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>ITSM</td>
        <td>GenAI based Ticket summarization, Recommended Resolution, Auto-Resolution, Ticket Sentiment, GenAI Assist
          for First Response, Automated follow-up, and Related tickets.</td>
      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td>Chatbot</td>
        <td>Query ticket data, update and resolve ticket while chatting with the ITSM assistant.</td>
      </tr>
      <tr>
        <td class="serialNumber">3</td>
        <td>Build your own chatbot</td>
        <td>Bring your documents and put together a chatbot to answer queries based on the documents.</td>
      </tr>
      <tr>
        <td class="serialNumber">4</td>
        <td>Knowledge Search</td>
        <td>Create knowledge bases of documents and query to get the best-grounded responses with retrieval-augmented
          generation (RAG).</td>
      </tr>
      <tr>
        <td class="serialNumber">5</td>
        <td>Summarization</td>
        <td>Upload documents\videos\audio clips to get summarization.</td>
      </tr>
      <tr>
        <td class="serialNumber">6</td>
        <td>Question Answer Generation</td>
        <td>AI powered capability that can generate questions and answers from documents such as product manuals, SOP’s,
          SOW, or any knowledge base.</td>
      </tr>
      <tr>
        <td class="serialNumber">7</td>
        <td>Translation</td>
        <td>Helps in translating marketing materials, business documents, customer service content, technical documents
          and so on.</td>
      </tr>
    </table>

    <h4>Gen AI Features:</h4>
    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Features</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Cloud Integration - Poly AI Services</td>
        <td>Integrate with cloud services from AWS, Azure, and GCP for AI, compute, and storage.</td>
      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td>Model Catalog</td>
        <td>Discover and reuse models across the enterprise from various service providers.</td>
      </tr>
      <tr>
        <td class="serialNumber">3</td>
        <td>LLM Leaderboard</td>
        <td>Evaluate and compare the performance of different large language models.</td>
      </tr>
      <tr>
        <td class="serialNumber">4</td>
        <td>Development and Collaboration</td>
        <td>Pipelines & Chains: Create reusable workflows for machine learning use cases.
          <br>
          Adapters: Standardize API interactions for different cloud platforms
          <br>
          App Store: Rapidly prototype and deploy applications using AI models.
        </td>
      </tr>
      <tr>
        <td class="serialNumber">5</td>
        <td>Management and Governance</td>
        <td>Value Stream Management: Track the progress of AI projects from ideation to value realization.
          <br>
          Role-Based Access Control: Manage user access to projects, data, and models.
          <br>
          Project and Portfolio Management:Organize and track AI projects within the enterprise.
        </td>
      </tr>
    </table>

    <h4>LEAP.ICAP -Cognitive Automation Platform (CAP) module inside LEAP enables achieve higher levels of automation
      through creation of bots that enable achieve zero touch automation through a combination of front-end and back-end
      automation integrated with cognitive APIs. It integrates with any existing RPA tools like AssistEdge, Automation
      Anywhere, UIPath, BluePrism and so on.</h4>
    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Modes In Icap Editor</td>
        <td>Online and offline modes can be selected in ICAP editor. Online mode enables to see all the workflows
          created in the UI while offline mode allows to see Workflows created in workbench.</td>
      </tr>
    </table>
    <h4>LEAP.KG -Knowledge Graph(KG) is a tool for data exploration that visualizes data in the form of graph and allows
      user to navigate and query the data without any query language or programming. A graph represent data as nodes and
      relationships each with type and attributes. That makes it easy to represent connected, real world information to
      find new insights from the data.</h4>
    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>GraphQL Widget</td>
        <td>GraphQL Widget represents Knowledge-Graph Query-tab on dashboard which allows user to execute the query with
          filter.</td>
      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td>Graph-SQL Widget</td>
        <td>Graph-SQL Widget represents SQL Query table data into a graphical format while showing its relationships to
          other entities, with the help of VisJS. Data can be filtered with the help of Filters to search for a
          particular entity.</td>
      </tr>
    </table>
    <h4>LEAP.iEGP -Infosys Enterprise Gamification Platform is digital engagement technique to motivate people to change
      their behaviors by combining the usage of game mechanics{{ '{' }} Points, Badges, Leaderboards, etc. {{ '}' }} and
      experience design {{ '{' }}Game play, Story line{{ '}' }}</h4>
    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Metric</td>
        <td>Metric or KPI can be understood as the business objective that the candidate application aims to achieve
          using appropriate gamification techniques.</td>
      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td>Sprint</td>
        <td>Sprint is defined as a stint (span) within a stipulated time frame for running any competition.</td>
      </tr>
      <tr>
        <td class="serialNumber">3</td>
        <td>Behaviours</td>
        <td>User behavior is an engagement touch point between the user and the application to be gamified.These
          behaviors can also be linked with the KPIs (Key Performance Indicators) that a particular application intends
          to achieve, based upon the game mechanics.</td>
      </tr>
      <tr>
        <td class="serialNumber">4</td>
        <td>Badge</td>
        <td>A badge represents a special accomplishment, or a symbol of authority. User is given a Badge to recognize
          his efforts.</td>
      </tr>
      <tr>
        <td class="serialNumber">5</td>
        <td>Rules</td>
        <td>Rules are used to define criteria on one or more gamification mechanics.Rules define what to do when a
          particular event (behavior, challenge, treasure hunt, content/content set) is performed in the application.
        </td>
      </tr>
      <tr>
        <td class="serialNumber">6</td>
        <td>Challenges</td>
        <td>Challenges are defined in the gamification system to drive user towards certain goal to enhance his degree
          of performance.</td>
      </tr>
      <tr>
        <td class="serialNumber">7</td>
        <td>Treasure Hunt</td>
        <td>Treasure Hunt is the group of questions aligned in a sequence, such that unlocking the previous level finds
          the key to next level.</td>
      </tr>
      <tr>
        <td class="serialNumber">8</td>
        <td>Metaphor</td>
        <td>Metaphor is the application of external real life paradigm, to existing business processes or applications
          to make them more interesting.</td>
      </tr>
      <tr>
        <td class="serialNumber">9</td>
        <td>Content Set</td>
        <td>Each content set will have one or more content in it.</td>
      </tr>
      <tr>
        <td class="serialNumber">10</td>
        <td>Literacy</td>
        <td>The Literacy feature allows multi-media content to be embedded in an application as a tool to improve
          knowledge about a topic. It can be used to reinforce domain specific business process knowledge.</td>
      </tr>
      <tr>
        <td class="serialNumber">11</td>
        <td>Redemption</td>
        <td>This is the redemption service output page in which a user can redeem his points to buy virtual goods.</td>
      </tr>
    </table>
    <h4>LEAP.IVM - Infosys Value Management platform is used to take survey to understand your application management
      maturity, assess what stage you are in and find out where you can go next at organization level and what
      initiatives can be taken to take it to next level</h4>
    <table>
      <tr>
        <th class="tableHeaderWidth1">SI no</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Maturity Assessment</td>
        <td>Assess what stage you are in, and find out where you can go next. This survey provides a quick view of where
          your organization stands in terms of application management maturity.</td>
      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td>Detailed Report</td>
        <td>Based on maturity assessment detailed report is generated. It will show on which level the organization is
          currently standing at. For example, in the below picture the organization is standing at the level 3
          Automated.</td>
      </tr>
      <tr>
        <td class="serialNumber">3</td>
        <td>Industry Benchmark</td>
        <td>User can have a detailed view of scores in the industry benchmark screen. Here the user can see the maturity
          scores for each dimension, subdimension and metric along with its maturity level.</td>
      </tr>
      <tr>
        <td class="serialNumber">4</td>
        <td>Metric Planner</td>
        <td>In the metric planner Quartile values and baseline values are displayed for each and every metric. User can
          also view the selected initiatives for the respective metric.</td>
      </tr>
      <tr>
        <td class="serialNumber">5</td>
        <td>Initiative Intelligence</td>
        <td>Intelligence screen displays the recommended initiatives that can be taken for the improvement of
          performance.</td>
      </tr>
      <tr>
        <td class="serialNumber">6</td>
        <td>Initiative Planner</td>
        <td>User can click on Manage Initiative tab to check and update the status of the initiatives.</td>
      </tr>
      <tr>
        <td class="serialNumber">7</td>
        <td>Track Initiative</td>
        <td>User can also track the timeline of initiative in Track Initiative screen.</td>
      </tr>
    </table>

    <!-- <h3 id="release2.1" class="spaceBetweenLine" style="font-weight: bold; padding-top: 10px;">Release 2.1 - (2nd
      December 2022)
    </h3>

    <table>
      <tr>
        <th class="tableHeaderWidth1">Sl No</th>
        <th>Infosys Business Operations Platform provides a platform for management of business process that enable the
          Automated, Intelligent and Autonomous operations </th>
      </tr>

      <tr class="tr">
        <td class="serialNumber"></td><i> The platform provides the below key capabilities :</i>
      </tr>
      <tr class="tr">
        <td class="serialNumber">1</td> Case Management solution with Configurable forms and Configurable Workflows
      </tr>
      <tr class="tr">
        <td class="serialNumber">2</td> Case creation through multiple channels like email, file upload and manual
        creation.
      </tr>
      <tr class="tr">
        <td class="serialNumber">3</td> Workload Management - Auto Allocation of work to agents
      </tr>
      <tr class="tr">
        <td class="serialNumber">4</td> Content Extraction using Azure forms
      </tr>
      <tr class="tr">
        <td class="serialNumber">5</td> Reports - SLA Reports, Agent Productivity Reports and Status Reports
      </tr>
      <tr class="tr">
        <td class="serialNumber">6</td> This package is available for BPM engagements separately
      </tr>
      <tr class="tr">
        <td class="serialNumber">7</td> <i><B>Shift Roster Automation</B> - Automated shift roster use case works on the
          functionality of auto-assignment of tickets to the employees of the current shift and Next shift which is 24 *
          7:</i>
      </tr>
      <tr class="tr">
        <td class="serialNumber">8</td> Managers/team leads can configure the Roster data of the employees.
      </tr>
      <tr class="tr">
        <td class="serialNumber">9</td> Managers/team leads can configure shifts/employees details anytime.
      </tr>
      <tr class="tr">
        <td class="serialNumber">10</td> Managers/team leads can configure the tickets weightage as per the need.
      </tr>

    </table>
    <br>
    <h4>
      Dashboard
    </h4>

    <table aria-label="">
      <tr>
        <th class="tableHeaderWidth1">Sl No</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Composite Chart Tabular View</td>
        <td>Get tabular view of datasets used in composite chat</td>
      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td> Dashboard Information</td>
        <td>Show information of dashboard similar to Widget details</td>
      </tr>
      <tr>
        <td class="serialNumber">3</td>
        <td>Trending value in color count widget</td>
        <td>Enhancement to show previous and current month trending value in color count widget</td>
      </tr>
      <tr>
        <td class="serialNumber">4</td>
        <td>Width and Height in Widgets</td>
        <td>Feature to give required widget width and height manually in settings</td>
      </tr>

      <tr>
        <td class="serialNumber">5</td>
        <td>Colored Category Table</td>
        <td>New table widget where cells are colored on the basis of the count value present inside.</td>
      </tr>

      <tr>
        <td class="serialNumber">6</td>
        <td>Table Cell URL Params</td>
        <td>Table cells - to pass url params and drilldown should be configurable</td>
      </tr>
      <tr>
        <td class="serialNumber">7</td>
        <td>Roadmap Widget</td>
        <td>New type of highchart which is useful in maping existing elements against a timeline</td>
      </tr>
      <tr>
        <td class="serialNumber">8</td>
        <td>Remove Top,Left Spacing and Save Dashboard</td>
        <td>Feature to make widget spacing uniform and add grid lines in a dashboard</td>
      </tr>
      <tr>
        <td class="serialNumber">9</td>
        <td>Slider Widget</td>
        <td>Provides a slider view of data</td>
      </tr>
      <tr>
        <td class="serialNumber">10</td>
        <td>Static Start and End Nodes in Network graph</td>
        <td>Add start and end static node in network graph widget</td>
      </tr>
      <tr>
        <td class="serialNumber">11</td>
        <td>Radial Tree Chart</td>
        <td>A new type of highchart used for visualizing how subjects are interconnected with each other</td>

      </tr>
      <tr>
        <td class="serialNumber">12</td>
        <td>Drilldown Hand Symbol</td>
        <td>Hand symbol on a chart or count widgets only if there is drilldown configured</td>

      </tr>
      <tr>
        <td class="serialNumber">13</td>
        <td>Default Dashboard View Save Option for User</td>
        <td>Default Dashboard View Save Option for User</td>

      </tr>
      <tr>
        <td class="serialNumber">14</td>
        <td>Selectable Date Label in Color Count widget</td>
        <td>Flexibility to select date label in the Count widget</td>

      </tr>
      <tr>
        <td class="serialNumber">15</td>
        <td>Gantt Chart Without Timeline</td>
        <td>Gantt Chart Widget Without Timeline</td>

      </tr>
      <tr>
        <td class="serialNumber">16</td>
        <td>Dependent Filter enhancements</td>
        <td>Modify dependent filters based on time filter ranges selected</td>

      </tr>
      <tr>
        <td class="serialNumber">17</td>
        <td>Neo4j Date Format support</td>
        <td>Feature to convert time filter ranges to Neo4j date-time format </td>

      </tr>
    </table>
    <br>
    <h4>
      AI Brain
    </h4>
    <table aria-label="">
      <tr>
        <th class="tableHeaderWidth1">Sl No</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Added threshold time</td>
        <td>Add threshold time for scheduled job[excluding Internal Jobs]</td>
      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td>REST Adapter</td>
        <td>REST Adapter - mTLS auth support</td>
      </tr>
      <tr>
        <td class="serialNumber">3</td>
        <td>Stage and Promote pipeline</td>
        <td>Stage and Promote pipeline between environments</td>
      </tr>
      <tr>
        <td class="serialNumber">4</td>
        <td>Nativescript pipelines</td>
        <td>Hide credentials in nativescript pipelines</td>
      </tr>
      <tr>
        <td class="serialNumber">5</td>
        <td>Added Pipeline job notification</td>
        <td>Pipeline job notification enhanced with log and other status attributes</td>
      </tr>
      <tr>
        <td class="serialNumber">6</td>
        <td>Enhanced search option in dropdown</td>
        <td>Drop down component with typeahead support in choose column(workflows) </td>
      </tr>
      <tr>
        <td class="serialNumber">7</td>
        <td>Create new dataset from workflow</td>
        <td>Added button for creating new dataset beside search box in workflow </td>
      </tr>
      <tr>
        <td class="serialNumber">8</td>
        <td>Addition of Stages</td>
        <td>Addition of Stages in between in workflows </td>
      </tr>
      <tr>
        <td class="serialNumber">9</td>
        <td>Shift Roster</td>
        <td>Implementation of Ticket Autoassignment including ticket priority and shift roster definition</td>
      </tr>
    </table>

    <br>
    <h4> RPA </h4>
    <table aria-label="">
      <tr>
        <th class="tableHeaderWidth1">Sl No</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Headless Automation</td>
        <td>Innovative ways of Headless Automation</td>
      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td>Packages Updatation</td>
        <td>Update of .Net Packages</td>

      </tr>
      <tr>
        <td class="serialNumber">3</td>
        <td>TimeZone Changes</td>
        <td>Tyson Time zone: Everything should be utc ,means even if bots, api are on different timezone still it should
          work.</td>

      </tr>
      <tr>
        <td class="serialNumber">4</td>
        <td>Multiple application support for distributed utility</td>
        <td>Distribute Utility: It will distribute the Workflows across all SRE locations to monitor site for multiple
          application.</td>
      </tr>
    </table>
    <br>
    <h4>Cognitive Automation </h4>
    <table aria-label="">
      <tr>
        <th class="tableHeaderWidth1">Sl No</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Break “My Workspace” pages into separate components.</td>
        <td>Break “My Workspace” pages into separate components.</td>

      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td>Status Permission Mapping.</td>
        <td>UI to add Status Permission mapping.</td>

      </tr>
      <tr>
        <td class="serialNumber">3</td>
        <td>Added Java, BluePrism Bots, BPMS analysis</td>
        <td>Java, BluePrism Bots, BPMS analysis</td>

      </tr>
      <tr>
        <td class="serialNumber">4</td>
        <td>Auto Response Config in Chatbot</td>
        <td>Added Auto Response Config in Chatbot</td>
      </tr>
    </table>
    <br>
    <h4>Knowledge Graph</h4>
    <table aria-label="">
      <tr>
        <th class="tableHeaderWidth1">Sl No</th>
        <th class="tableHeaderWidth2">Feature</th>
        <th class="tableHeaderWidth3">Description</th>
      </tr>
      <tr>
        <td class="serialNumber">1</td>
        <td>Navigation from Schema to graph</td>
        <td>Navigate from the AI-Brain Schema to Knowledge graph</td>
      </tr>
      <tr>
        <td class="serialNumber">2</td>
        <td>From Schema to the nodes details</td>
        <td>View the nodes from the schema</td>
      </tr>
      <tr>
        <td class="serialNumber">3</td>
        <td>Schema filter to show specific schemas relations</td>
        <td>Having the filter for relation depth and schema</td>
      </tr>
      <tr>
        <td class="serialNumber">4</td>
        <td>Multiple Node expansion</td>
        <td>Expand multiple nodes at the same time</td>
      </tr>
      <tr>
        <td class="serialNumber">5</td>
        <td>Level Based Expansion</td>
        <td>Allowing the expansion for a particular node</td>
      </tr>
      <tr>
        <td class="serialNumber">6</td>
        <td>Cold Schema for Neo4j</td>
        <td>This feature stores the schema in db for the performance optimization at initial phase when Knowledge Graph
          is loaded. </td>

      </tr>
    </table>
    <br>

    <div id="release"><h3>Release 2.0 - (21st April 2022)</h3></div> 
       
       
       
      
       <h4> Dashboard</h4>

<table aria-label="">	
  <tr>
    <th class="tableHeaderWidth1">Sl No</th>
    <th class="tableHeaderWidth2">Feature</th>
    <th class="tableHeaderWidth3">Description</th>
                </tr> 
    <tr>	
    <td class="serialNumber">1</td>		
   <td> Note Widget</td>		  
      <td>A widget to add sticky notes in dashboard </td> 	
   </tr>
  <tr >	
    <td class="serialNumber">2</td>	
    <td>Expandable Table Widget </td>	
    <td>A table widget with row expand/collapse feature</td>	
   </tr>
   <tr >	
    <td class="serialNumber">3</td>	
    <td>Card Widget</td>	
    <td>A widget to give a bird's eye view of tasks pertaining to a business requirement</td> 	
   </tr>
   <tr >	
    <td class="serialNumber">4</td>	
    <td>Gantt Chart - Highchart </td>	
    <td>A highchart type which can check the time limit allotted for specified job</td>		
   </tr>
   <tr >	
    <td class="serialNumber">5</td>	
    <td>Threshold Column Chart - Highchart</td>	
    <td>A highchart type which can be used for verifying target </td> 	
   </tr>
   <tr >	
    <td class="serialNumber">6</td>	
    <td>Custom Solid Gauge - Highchart</td>	
    <td>A highchart type where customized color can be given for different quartiles of the chart</td>  	
   </tr>
   <tr >	
    <td class="serialNumber">7</td>	
    <td>Boxplot - Highchart</td>	
    <td>A highchart type which can analyze statistic-driven data points</td> 	
   </tr>
   <tr >	
    <td class="serialNumber">8</td>	
    <td>Table with add and remove option</td>	
    <td>A table widget with flexibility to add or remove a table row from UI</td>		
   </tr>
</table>
<br>
  <h4>
   AI Brain
  </h4> 
<table aria-label="">
  <tr>
    <th class="tableHeaderWidth1">Sl No</th>
    <th class="tableHeaderWidth2">Feature</th>
    <th class="tableHeaderWidth3">Description</th>
                </tr> 
   <tr>	
    <td class="serialNumber">1</td>	
    <td>Threshold time</td>	
    <td>Threshold time for every scheduled job[excluding chain jobs]</td>	
   
   </tr>
   <tr>	
    <td class="serialNumber">2</td>	
    <td>REST Adapter</td>	
    <td>Added REST Adapter - mTLS auth support</td>	
    	
   </tr>
    <tr>	
    <td class="serialNumber">3</td>	
    <td>Stage and Promote</td>	
    <td>Added Stage and Promote pipeline between environments</td>	
     	
   </tr>
     <tr>	
    <td class="serialNumber">4</td>	
    <td> "OR" filter</td>	
    <td>Added "OR" filter support for Dataset</td>	
  	
   </tr>
     <tr>	
    <td class="serialNumber">5</td>	
    <td>Hide credentials</td>	
    <td>Hide credentials in nativescript pipelines</td>	
     	
   </tr>
     <tr>	
    <td class="serialNumber">6</td>	
    <td>schema validation</td>	
    <td>Added schema validation to disallow duplicate fields</td>	
    	
   </tr>
    <tr>	
    <td class="serialNumber">7</td>	
    <td>Pipeline job notification</td>	
    <td>Added Pipeline job notification enhanced with log and other status attributes</td>	
     	
   </tr>
    <tr>	
    <td class="serialNumber">8</td>	
    <td>Native Script Python functions</td>	
    <td>Added NativeScript Python functions for file chunking and upload</td>	
     	
   </tr>
       <tr>	
    <td class="serialNumber">9</td>	
    <td>File server Api</td>	
    <td>Added File server api - list files</td>	
     	
   </tr> 
 </table>
 <br>
<h4>
 Knowledge Graph
</h4>
<table aria-label="">
  <tr>
    <th class="tableHeaderWidth1">Sl No</th>
    <th class="tableHeaderWidth2">Feature</th>
    <th class="tableHeaderWidth3">Description</th>
                </tr> 
<tr>
<td class="serialNumber">1</td>
<td>Simulation Play/Pause Button</td>
<td>A button used for performance enhancement for larger sets of data.</td>
</tr>
<tr >
<td class="serialNumber">2</td>
<td>Hierarchical Profile </td>
<td>Changes display of the graph to show hierarchy of relations. </td>
</tr>
<tr>
<td class="serialNumber">3</td>
<td>Enabled Icons</td>
<td>User can specify the icons preferences for circular shape</td>
</tr>
</table>
<br>
<h4>
  Cognitive Automation Studio
</h4>
<table aria-label="">	
  <tr>
    <th class="tableHeaderWidth1">Sl No</th>
    <th class="tableHeaderWidth2">Feature</th>
    <th class="tableHeaderWidth3">Description</th>
                </tr> 
    <tr>	
    <td class="serialNumber">1</td>	
<td>Search and filter bots modifications</td>	
   <td>Improvised search and filters added for available bots for cas performance improvement</td> 
   </tr>
  <tr >	
    <td class="serialNumber">2</td>
<td>Camunda with SSO</td>	
    <td>Camunda SSO changes for making it work with SSO</td>	
      	
   </tr>
   
   <tr >	
    <td class="serialNumber">3</td>
<td>Vault credential entries from UI</td>	
    <td>Addition of user and password for vault from UI</td>
	
   </tr>
   <tr >	
    <td class="serialNumber">4</td>	
<td>Chatbot changes</td>
    <td>Chatbot link navigates to chatbot Application instead of studio. <br>
Icons labels changed to Interactive workflow, earlier it was Nia workflow. <br>
Default bot is leapchatbot  , new intent in leapchatbot gets created if bot name is not specified. <br>
Cap vault is integrated.<br></td>		
   </tr>
   <tr >	
    <td class="serialNumber">5</td>
<td>Support for dynamic status and mapping for access</td>
    <td>Addition of status and mapping of status with access rights made flexible. Identify the types of status needed and add mappings  to provide access on bots for edit, share, upgrade and delete</td>	
   </tr>  
 </table>
 <br>
<h4>
  Resilience
</h4>
<table aria-label="">
  <tr>
    <th class="tableHeaderWidth1">Sl No</th>
    <th class="tableHeaderWidth2">Feature</th>
    <th class="tableHeaderWidth3">Description</th>
                </tr> 
<tr>
<td class="serialNumber">1</td>
<td>App Dynamics adaptor changes</td>
<td>AppD adaptor is available now with openapi spec</td>
</tr>
<tr >
<td class="serialNumber">2</td>
<td>Dynatrace adaptor changes</td>
<td>Dynatrace adaptor is available now with openapi spec</td>
</tr>
<tr >
<td class="serialNumber">3</td>
<td>SRE purge utility</td>
<td>SRE table purge utility to purge data from SRE tables for a specific duration is available</td>
</tr>
</table>
<br>
<h4>
  RPA
</h4>
<table aria-label="">	
  <tr>
<th class="tableHeaderWidth1">Sl No</th>
<th class="tableHeaderWidth2">Feature</th>
<th class="tableHeaderWidth3">Description</th>
                </tr> 
      <tr>	
    <td class="serialNumber">1</td>		
   <td> Multiple Application Name and Portfolio in Distribute Utility </td>		  
    <td> Added Provision for configuration of multiple Application Name and Portfolio in Distribute Utility </td>	
   
   </tr>
</table>
<br> -->
  </mat-tab>
  <mat-tab label="Build Reports" *ngIf="isReportPresent">
    <div [innerHtml]="urlsafe"></div>
  </mat-tab>
</mat-tab-group>
