.dataset-card {
    background: #fff;
    border: 1px solid var(--base-color) !important;
    margin: 0 0 20px;
    height: 50px;
    padding: 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}