<div *ngIf="!iFrame">
  <div *ngIf="!showForm && !showAdd && !showFormView" class="relative flex-col lg:grid lg:space-y-0 w-full
lg:grid-cols-10
md:flex-1 md:grid-rows-full 
    md:gap-6  ">
    <section class="pt-8 border-gray-100 bg-white lg:static lg:px-0 lg:col-span-4 xl:col-span-3 lg:border-r lg:bg-gradient-to-l from-gray-50-to-white
     lg:block " style="padding-left: 1.5rem;">
      <div style="overflow-y:overlay;height: 50rem;">
        <div class="mb-4" *ngFor="let cat of category">
          <div class="flex items-baseline mb-3">
            <h5 class="font-medium"><b>{{cat | titlecase}}</b></h5>
          </div>
          <div class="flex flex-wrap">
            <a class="tagbrdr"
              [ngStyle]="{'background-color': (inc==selectedTag || tagStatus[inc.category+' - '+inc.label]) ? 'lightgrey' : 'white'}"
              *ngFor="let inc of tags[cat]">
              <span style="font-size:14px;cursor:pointer" (click)="filterByTag(inc)">{{inc.label}}
              </span> </a>&nbsp;&nbsp;
            <a style="margin-top:5% " *ngIf="tagsBackup[cat]?.length>10" (click)="showMore(cat)"
              href="javascript:void(0)">
              <span [ngClass]="!catStatus[cat]?'fa fa-plus-square': 'fa fa-minus-square'"></span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-8 border-gray-100 col-span-full lg:col-span-8 xl:col-span-10 pb-12"
      style="height: 65vh; overflow-y: scroll;">
      <div class="md:flex items-center mb-3 lg:mb-9 space-y-3 md:space-y-0">
        <div class="flex items-center text-lg">
          <h3>{{mashupname | titlecase}}</h3>

          <span [hidden]="isAuth" class="fa fa-plus-square" (click)="addDataset()" style="font-size:16px;
                color: grey; padding-left: 3vh;padding-top: 3px;" title="Create"></span>
          <span class="fa fa-refresh" (click)="refresh()" style="font-size:16px;
                color: grey; padding-left: 1.5vh;padding-top: 3px;" title="Refresh"></span>
          <div class="relative w-50 md:max-w-xs" style="line-height: 1.3rem;padding-left: 15px;">
            <input class="w-full border border-gray-200 shadow-inner rounded-full outline-none focus:ring-1 focus:shadow-xl placeholder-gray-400 focus:ring-inset dark:bg-gray-950 fs-4
                h-7 pl-7" placeholder="Search by Name" type="text" name="search" autocomplete="off"
              [(ngModel)]="searchText" (ngModelChange)="searchValueAdder()">
          </div>
        </div>
      </div>
      <div *ngIf="load" class="loader"></div>
      <div *ngIf="!load" class="relative">
        <div class="grid grid-cols-1 xl:grid-cols-2" style="display: grid">
          <article class="overview-card-wrapper group cip-card-container"
            *ngFor="let rowData of finalDataList | slice : startIndex : endIndex ">
            <leds-card designType='simple' [actionsOnHover]='true' style="padding: 10px !important;">
              <mat-card-header>
                <mat-card-subtitle class="le-u-body-sm le-u-text-neutral-80 le-u-ellipsis"
                  style="color:var(--base-color);font-weight: bolder;">{{ rowData[displayedColumns[1]]
                  }}</mat-card-subtitle>
                <mat-card-title class="le-c-card__container clearfix">
                  <div class="le-c-card__container-left">
                    <h2 class="le-u-header-xl le-u-ellipsis" style="font-size:1.5rem;"> {{rowData[displayedColumns[0]] |
                      expandText : togglePipe : clickedDval : "Dname"}}</h2>
                  </div>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="le-u-no-mar-b">
                <p *ngIf="rowData[displayedColumns[2]] && mashupname==='datasets'"
                  class="le-u-body-md le-u-text-neutral-80 le-u-line-3">
                  {{
                  rowData.description
                  | expandText : togglePipe : clickedDval : "Ddesc"
                  }}
                </p>
                <p>
                  {{ rowData.lastmodifieddate || rowData.lastmodified | date:'d MMMM y, hh:mm:ss'}}
                </p>
              </mat-card-content>
              <mat-card-actions class="le-c-card__action-hover">
                <leds-button buttonType="button" designType="text" (click)=" actionClickView(rowData);
                togglePipe = !togglePipe;
                expandOneCard(rowData[displayedColumns[0]])">View
                  Details</leds-button>
                <ul *ngFor="let action of rowData.action; let i = index" class="float-end le-c-card__action-ul">
                  <li>
                    <button *ngIf="action.onCard == 'true'" [title]="action.tooltip" class="cipi-icon ticket-icon"
                      (click)="actionClick(action, rowData)" type="button">
                      <i [ngClass]="action.icon" aria-hidden="true" style="font-size: medium" [hidden]="isAuth"></i>
                    </button>
                  </li>
                </ul>
              </mat-card-actions>
            </leds-card>
          </article>
        </div><br />
        <mat-paginator [length]="this.finalDataList?.length" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"
          aria-label="Select page" (page)="onPageChange($event)" style="font-size: 1.25rem;">
        </mat-paginator>
      </div>

    </section>
  </div>
  <div *ngIf="showAdd" class="relative">
    <div class="col-5 optio">
      <select placeholder="Select Platform" [(ngModel)]="selectedPlatform" (ngModelChange)="platformChange()"
        class="aib-slct">
        <option *ngFor="let platform of platforms" [ngValue]="platform">{{platform.formtemplate.alias}}</option>
      </select>
    </div><br>
    <button color="primary" title="Back" class="back" (click)="showAdd=false;showForm=false;" type="button"
      style="cursor: pointer; background-color: #7b39b1;border-radius: 50%;color: #f6faf9;position: absolute;right: 3rem; top: 1rem; padding: 0.7rem;">
      <i class="fa fa-arrow-left" style="font-size: large;">
      </i>
    </button><br><br>
    <lib-dataset-form-view *ngIf="showForm" [params]="formParams" [id]="searchValue" [datasetname]="formDataset"
      [formname]="formName" [action]="formAction"></lib-dataset-form-view>
  </div>
  <div *ngIf="showFormView">
    <button color="primary" title="Back" class="back" (click)="showFormView=false;" type="button"
      style="cursor: pointer; background-color: #7b39b1;border-radius: 50%;color: #f6faf9;position: absolute;right: 3rem; top: 1rem; padding: 0.7rem;">
      <i class="fa fa-arrow-left" style="font-size: large;">
      </i>
    </button><br><br>
    <lib-dataset-form-view [datasetname]="formDatasetName" [formname]="formName" [action]="'view'"
      [rowObj]="formData"></lib-dataset-form-view>
  </div>
</div>
<div *ngIf="iFrame" style="height: 80vh">
  <iframe [src]="URL" height="100%" width="100%" title="iFrame"></iframe>
</div>