// applied to all mainside
.mysidecssfixed {
	display: flex;
	flex-direction: column;
	z-index: 100;
	background: white url("../../assets/images/chatBGbottom.png")no-repeat bottom left;
}

//  max without session
.modal-fullscreen {
	position: fixed;
    height: calc(100% - 80px);
    top: 9%;
    left: 4vw;
	width: 96vw !important;
}

// max with session
.modal-fullscreen-withComponent {
	position: absolute;
	top: 9%;
	width: 76vw !important;
	left: 24%;
	height: calc(100% - 80px);
	transition: 0.5s;
}

// min without session
.sidepanel {
	width: 23%;
	height: 94vh;
	position: absolute;
	right: 0%;
	top: 0%;
	transition: 0.5s;
	padding: 1rem;
}

.modal-full {
	left: 1%;
	width: 76vw !important;
    height: calc(100% - 80px);
    transition: 0.5s;
}

.sidepanelcomponent .le-c-card__container-right {
	width: max-content;
}

.aip-chatbot-shadow {
	box-shadow: -5px 0 25px -5px rgba(0, 0, 0, 0.75) !important;
	border: 0.5px solid #0000001f;
	border-radius: 16px;
	opacity: 1;
}

.logoFoot img{
    max-width: 50%;
    margin-left: 2%;
}

.sidepanel a {
	text-decoration: none;
	font-size: 14px;
	display: block;
	transition: 0.3s;
}

.sidepanel a:hover {
	color: black;
}

.sidepanel div {
	text-decoration: none;
	font-size: 20px;
}

.sidepanel i {
	text-decoration: none;
	font-size: 15px;
	color: black;
}

.sidepanel p {
	text-decoration: none;
	font-size: 20px;
}

.sidepanel .icon {
	text-decoration: none;
	font-size: 15px;
	color: black;
}

.sidepanel .dropdown {
	width: revert;
	min-width: revert;
}

.sidepanelcomponent {
	position: absolute;
	z-index: 100;
	top: 5%;
	right: 23%;
	transition: 0.5s;
	padding: 1rem;
	overflow-x: auto;
	scrollbar-width: thin;
	height: 89vh;
	width: 20vw;
    background: white url('../../assets/images/chatBGbottom.png')no-repeat bottom left;
	background-color: #FAFAFA;
}

.sidebar-chatbot-icons {
	// font-size: 2.38rem !important;
	font-family: DS-iconfont,sans-serif;
	font-size: 1.5rem ;
	color: #737373;
	margin: 0 1rem;
	display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.aip-chatbotcomponent-shadow {
	box-shadow: -5px 0 25px -5px rgba(0, 0, 0, 0.75) !important;
	border: 0.5px solid #0000001f;
	border-radius: 16px;
	opacity: 1;
}

.aip-desc-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.le-u-text-neutral-80 {
	color: var(--text-color);
}

.aip-cursor-chat {
	cursor: pointer;
}

.aip-fullname-chatbot:hover {
    white-space: unset;
    overflow-wrap: break-word;
    word-break: break-word;
    cursor: pointer;
}

aip-fullname-chatbot {
	color: black;
}

.chatbot-menu {
	position: absolute;
	background-color: #eaeff0bd;
	border-radius: 10%;
    padding: 8px;
}

.chatIntro ::ng-deep li>a {
	padding: revert;
}

.chatIntro ::ng-deep .dropdown li>span {
	font-size: 14px;
}

.chatsession-spinner {
    z-index: 100;
    opacity: 1;
}

.sessmax {
	right: 76vw;
	height: calc(100% - 14vh);
    top: 9%;
}

.sessmin {
	color: red;
	height: calc(100% - 11vh);
}

.summary-hover {
	height: max-content;
	overflow: hidden;
	font-size: smaller;
	text-align: justify;
    cursor: pointer;
}

.sidepanelcomponent ::ng-deep .le-c-listitem > li > a {
	padding-inline: 5px;
	padding-block: 5px;
}

.sidepanelcomponent ::ng-deep .le-c-accordion--border .mat-expansion-panel {
	padding: 0px 5px;
}

.sidepanelcomponent ::ng-deep .le-c-card.mat-mdc-card {
	padding: 15px;
}

.sidepanelcomponent ::ng-deep .mat-expansion-indicator::after {
	color: #00000000;
}

.childHeader {
	flex : 1;
}

.childChatbot {
	flex : 10;
}