<div id="draggableChat">
    <div id="mySidepanel" class="aip-chatbot-shadow le-u-pad-t-8 mysidecssfixed"
        [ngClass]="isMaximize? (sessionView? (dragSess?'modal-full':'modal-fullscreen-withComponent'):'modal-fullscreen'):'sidepanel'">
        <div draggable="true" (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)"
        class="d-flex justify-content-between le-u-pad-l-16 childHeader">
            <h2 class="col-md-4 aip-fullname-chatbot le-u-ellipsis le-u-header-xl le-u-pad-16">
                {{chat_title}}
            </h2>
            <div class="selector-model-title-tail le-u-pad-t-8 chatIntro">
                <ul class="d-flex align-items justify-content-end">
                    <li class="logoFoot d-flex align-items-center justify-content-end">
                        <span *ngIf="chatExtras && chatExtras['headerText']" style="font-size: 0.9vw;">
                            {{chatExtras['headerText']}}</span>
                        <img *ngIf="chatExtras && chatExtras['headerLogo']" [src]="chatExtras['headerLogo']" alt="img">
                    </li>
                    <!-- <li>
                    <leds-overflow>
                        <div ngbDropdown class="d-inline-block" container="body">
                            <a id="OverflowMenu_dd" ngbDropdownToggle title="overflow menu">
                                <i id="menu" class="icon x-20 menu-icon"></i>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="OverflowMenu_dd">
                                <ul overflowList>
                                    <li overflowListItem *ngFor="let opt of agentlist" (click)="selectChange(opt)">
                                        <a href="javascript:void(0);">
                                            <span overflowSpan class="le-u-mar-l-8"
                                                (click)="showChatbot='hide'">{{opt.agent}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </leds-overflow>
                </li> -->
                    <li>
                        <div>
                            <i (click)="menuOpen = !menuOpen"
                                class="x-16  aip-cursor-chat  menu-icon sidebar-chatbot-icons"></i>
                        </div>
                        <ul *ngIf="menuOpen" class="chatbot-menu">
                            <li *ngFor="let opt of agentlist" (click)="selectChange(opt)">
                                <a href="javascript:void(0);">
                                    <div class="le-u-mar-l-8 le-u-pad-lr-8 le-u-pad-tb-4 le-u-body-md le-u-text-neutral-80"
                                        (click)="showChatbot='hide'" style="font-size: 14px;">{{opt.agent}}</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="isMaximize">
                        <div>
                            <i (click)="restore()"
                                class="x-16  aip-cursor-chat  icon_minimise sidebar-chatbot-icons"></i>
                        </div>
                    </li>
                    <li *ngIf="!isMaximize">
                        <div>
                            <i (click)="isMaximize=!isMaximize;maximize()"
                                class="x-16  aip-cursor-chat  icon_minimise sidebar-chatbot-icons"></i>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i (click)="closeNav()" class="x-16  aip-cursor-chat  close-icon sidebar-chatbot-icons">
                            </i>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i (click)="sessionView=!sessionView;getAllSessions()"
                                class="x-16  aip-cursor-chat inprogress-icon sidebar-chatbot-icons"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <app-chatbot-aip *ngIf="show" class="childChatbot" [instance]="selectedInstance" [title]="chat_title"
            [sessionId]="sessionId" [chatExtras]="chatExtras" [mashName]="mashName" (closeHistory)="closeHistory($event)"></app-chatbot-aip>
        <div *ngIf="noChatbot" class="le-u-text-neutral-80 le-u-line-2 aip-desc-ellipsis">
            <div class="d-flex justify-content-center align-items-center flex-column">
                <img src="assets/images/aip_empty_state_leds.svg" class="img-responsive" alt="aip_empty_state_leds"
                    style="width:15rem" />
                Configure a chatbot through mashup!!
            </div>
        </div>
    </div>
    <div *ngIf="sessionView" type="default" class="aip-chatbotcomponent-shadow sidepanelcomponent"
        id="sidepanelcomponents" [ngClass]="isMaximize?'sessmax':'sessmin'">
        <leds-spinner class="chatsession-spinner" [bdColor]="'rgba(247,247,247,0)'" [size]="'small'" [color]="'#8626c3'"
            [type]="'ball-pulse-sync'" [fullScreen]="false" [showSpinner]="!sessionResp">
            <p>Loading history...</p>
        </leds-spinner>
        <div class="d-flex justify-content-between le-u-pad-tb-16 le-u-pad-lr-4">
            <h2 class="le-u-header-xl le-u-text-black le-u-ellipsis le-u-mar-tb-4">
                History
            </h2>
            <div class="selector-model-title-tail le-u-pad-t-8 chatIntro">
                <ul class="d-flex align-items justify-content-end">
                    <li>
                        <div>
                            <div (click)="addNewChat()" class="x-16  aip-cursor-chat icon-add sidebar-chatbot-icons"></div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div (click)="refreshHistory()" class="x-16 aip-cursor-chat icon icon_Refresh"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <leds-accordion designType="2DwithBorder" [hideToggle]="true" [multi]="false">
            <div *ngFor="let group of groupName;let i = index;">
                <mat-expansion-panel [expanded]="groupName[i]=='Today'">
                    <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                        <mat-panel-title>
                            <i aria-hidden="true" class="icon iconinline x-16 next-icon" ledsAccordianIcon></i>
                            {{groupName[i]}}
                            <leds-badge badgeType="grey" class="le-u-mar-l-8">{{groups[group].length}}</leds-badge>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <leds-list style="min-height: 86vh;">
                        <ul>
                            <li *ngFor="let sess of groups[group]" ledsListItem [noActive]="true">
                                <leds-card designType="simple" (click)="getChatSession(sess.session_id)">
                                    <div class="le-c-card__container-right">
                                        <span class="le-c-badge le-c-badge--closed float-end">{{sess.chat_date}}</span>
                                    </div>
                                    <div class="le-u-header-sm le-u-text-primary-80 le-u-mar-b-8">{{sess.chat_time}}</div>
                                    <mat-card-content>
                                        <p class="le-u-body-md le-u-text-neutral-80 summary-hover">
                                            {{sess.summary}}
                                        </p>
                                    </mat-card-content>
                                </leds-card>
                            </li>
                        </ul>
                    </leds-list>
                </mat-expansion-panel>
            </div>
        </leds-accordion>
    </div>
</div>