<div class="filter-panel">
  <div class="filter-panel__header"
    [ngClass]="{'filter-panel__header--collapsed': !isFilterExpanded, 'filter-panel__header--expanded': isFilterExpanded}"
    (click)="toggleFilterExpanded()">
    <div class="filter-panel__icon-container">
      <mat-icon class="filter-panel__icon" (click)="toggleExpand()"
        [matTooltip]="isFilterExpanded ? 'Collapse Filters' : 'Expand Filters'" [matTooltipPosition]="tooltip">
        filter_list
      </mat-icon>
    </div>

    <div class="filter-panel__title-container">
      <h3 class="filter-panel__title">
        Filter by:
        <span *ngIf="!isFilterExpanded && hasActiveFilters()" class="filter-summary">
          {{ getActiveFiltersSummary() }}
        </span>
      </h3>
    </div>

    <div class="filter-panel__toggle-container">
      <mat-icon class="filter-panel__toggle-icon" [ngClass]="{'filter-panel__toggle-icon--rotated': isFilterExpanded}"
        [matTooltip]="isFilterExpanded ? 'Collapse Filters' : 'Expand Filters'" [matTooltipPosition]="tooltip">
        keyboard_arrow_down
      </mat-icon>
    </div>
  </div>

  <div class="filter-panel__content" *ngIf="isFilterExpanded" @slideToggle>
    <div *ngIf="(servicev1 === 'pipeline' || servicev1 === 'chain'); else elseBlock">
      <div class="filter-options">
        <!-- Type Filter -->
        <div class="filter-group">
          <div class="filter-control">
            <mat-form-field appearance="fill" class="w-100">
              <label>Type</label>
              <mat-select (selectionChange)="pipelineTypeSelected($event)" aria-labelledby="type-label"
                placeholder="All">
                <mat-option value="" (click)="clearAllFilters('pipelineType')">
                  All
                </mat-option>
                <ng-container *ngFor="let option of pipelinesTypeList">
                  <mat-option *ngIf="!option.selected" [value]="option.label">
                    {{ option.label }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="selected-items" *ngIf="selectedAdapterType?.length > 0">
            <mat-chip-set aria-label="Selected types">
              <mat-chip *ngFor="let type of selectedAdapterType" removable="true" (removed)="removePipelineType(type)">
                {{ type }}
                <mat-icon matChipRemove>close</mat-icon>
              </mat-chip>
            </mat-chip-set>
          </div>
        </div>

        <!-- Tags Filter -->
        <div class="filter-group" *ngFor="let cat of category">
          <div class="filter-control">
            <mat-form-field appearance="fill" class="w-100">
              <label>{{ cat | titlecase }}</label>
              <mat-select (selectionChange)="filterByTag($event)" aria-labelledby="tag-label" placeholder="All">
                <mat-option value="" (click)="clearAllTagsForCategory(cat)">
                  All
                </mat-option>
                <ng-container *ngFor="let tag of tags[cat]">
                  <mat-option *ngIf="!tagStatus[tag.category + ' - ' + tag.label]" [value]="tag">
                    {{ tag.label }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="selected-items" *ngIf="getSelectedTagsForCategory(cat).length > 0">
            <mat-chip-set aria-label="Selected tags">
              <mat-chip *ngFor="let tag of getSelectedTagsForCategory(cat)" removable="true" (removed)="removeTag(tag)">
                {{ tag.label }}
                <mat-icon matChipRemove>close</mat-icon>
              </mat-chip>
            </mat-chip-set>
          </div>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <div *ngIf="(servicev1 === 'worker-tools')">
      </div>
      <div *ngIf="servicev1 === 'adapters'; else elseBlockNonAdp">
        <div class="filter-options">
          <!-- Category Filter -->
          <div class="filter-group">

            <div class="filter-control">
              <mat-form-field appearance="fill" class="w-100">
                <label>Category</label>
                <mat-select (selectionChange)="mlAdapterCategoryTypeSelected($event)" aria-labelledby="category-label"
                  placeholder="  All">
                  <mat-option value="" (click)="clearAllFilters('category')">
                    All
                  </mat-option>
                  <mat-option *ngFor="let option of mlAdapterCategoryTypeList" [value]="option.label">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="selected-items" *ngIf="selectedMlAdapterCategoryType?.length > 0">
              <mat-chip-set aria-label="Selected categories">
                <mat-chip *ngFor="let category of selectedMlAdapterCategoryType" removable="true"
                  (removed)="removeCategory(category)">
                  {{ category }}
                  <mat-icon matChipRemove>close</mat-icon>
                </mat-chip>
              </mat-chip-set>
            </div>
          </div>

          <!-- Spec Filter -->
          <div class="filter-group">

            <div class="filter-control">
              <mat-form-field appearance="fill" class="w-100">
                <label>Spec</label>
                <mat-select (selectionChange)="mlAdapterScecTypeSelected($event)" aria-labelledby="spec-label"
                  placeholder="All">
                  <mat-option value="" (click)="clearAllFilters('spec')">
                    All
                  </mat-option>
                  <ng-container *ngFor="let option of mlAdapterSpecTypeList">
                    <mat-option *ngIf="!option.selected" [value]="option.label">
                      {{ option.label }}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="selected-items" *ngIf="selectedMlAdapterSpecType?.length > 0">
              <mat-chip-set aria-label="Selected specs">
                <mat-chip *ngFor="let spec of selectedMlAdapterSpecType" removable="true" (removed)="removeSpec(spec)">
                  {{ spec }}
                  <mat-icon matChipRemove>close</mat-icon>
                </mat-chip>
              </mat-chip-set>
            </div>
          </div>

          <!-- Connection Filter -->
          <div class="filter-group">

            <div class="filter-control">
              <mat-form-field appearance="fill" class="w-100">
                <label>Connection</label>
                <mat-select (selectionChange)="mlAdapterConnectionTypeSelected($event)"
                  aria-labelledby="connection-label" placeholder="All">
                  <mat-option value="" (click)="clearAllFilters('connection')">
                    All
                  </mat-option>
                  <mat-option *ngFor="let option of mlAdapterConnectionTypesList" [value]="option.label">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="selected-items" *ngIf="selectedMlAdapterConnectionType?.length > 0">
              <mat-chip-set aria-label="Selected connections">
                <mat-chip *ngFor="let connection of selectedMlAdapterConnectionType" removable="true"
                  (removed)="removeConnection(connection)">
                  {{ connection }}
                  <mat-icon matChipRemove>close</mat-icon>
                </mat-chip>
              </mat-chip-set>
            </div>
          </div>
        </div>

      </div>
      <ng-template #elseBlockNonAdp>
        <div *ngIf="servicev1 === 'specs'; else elseBlockNonSpecTemplate">
          <div class="filter-options">

            <!-- Capability -->
            <div class="filter-group">
              <div class="filter-control">
                <mat-form-field appearance="fill" class="w-100">
                  <label>Capability</label>
                  <mat-select (selectionChange)="mlSpecTemplateCapabilityTypeSelected($event)"
                    aria-labelledby="specTemplateCapability-label" placeholder="All">
                    <mat-option value="" (click)="clearAllFilters('specTemplateCapability')">
                      All
                    </mat-option>
                    <ng-container *ngFor="let option of mlSpecTemplateCapabilityTypeList">
                      <mat-option *ngIf="!option.selected" [value]="option.label">
                        {{ option.label }}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="selected-items" *ngIf="selectedMlSpecTemplateCapabilityType?.length > 0">
                <mat-chip-set aria-label="Selected Capability">
                  <mat-chip *ngFor="let capability of selectedMlSpecTemplateCapabilityType" removable="true"
                    (removed)="removeSpecTemplateCapability(capability)">
                    {{ capability}}
                    <mat-icon matChipRemove>close</mat-icon>
                  </mat-chip>
                </mat-chip-set>
              </div>
            </div>


          </div>
        </div>
        <ng-template #elseBlockNonSpecTemplate>
          <div *ngIf="servicev1 === 'instances'; else elseBlockNonIns">
            <div class="filter-options">

              <!-- Implementation -->
              <div class="filter-group">
                <div class="filter-control">
                  <mat-form-field appearance="fill" class="w-100">
                    <label>Implementation</label>
                    <mat-select (selectionChange)="mlInstanceAdapterTypeSelected($event)"
                      aria-labelledby="instanceAdapter-label" placeholder="All">
                      <mat-option value="" (click)="clearAllFilters('instanceAdapter')">
                        All
                      </mat-option>
                      <ng-container *ngFor="let option of mlInstanceAdapterTypeList">
                        <mat-option *ngIf="!option.selected" [value]="option.label">
                          {{ option.label }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="selected-items" *ngIf="selectedMlInstancesAdapterType?.length > 0">
                  <mat-chip-set aria-label="Selected instanceAdapter">
                    <mat-chip *ngFor="let instanceAdapter of selectedMlInstancesAdapterType" removable="true"
                      (removed)="removeInstanceAdapter(instanceAdapter)">
                      {{ instanceAdapter}}
                      <mat-icon matChipRemove>close</mat-icon>
                    </mat-chip>
                  </mat-chip-set>
                </div>
              </div>

              <!-- Connection Filter -->
              <div class="filter-group">
                <div class="filter-control">
                  <mat-form-field appearance="fill" class="w-100">
                    <label>Connection</label>
                    <mat-select (selectionChange)="mlInstanceConnectionTypeSelected($event)"
                      aria-labelledby="connection-label" placeholder="All">
                      <mat-option value="" (click)="clearAllFilters('instanceConnection')">
                        All
                      </mat-option>
                      <mat-option *ngFor="let option of mlInstanceConnectionTypeList" [value]="option.label">
                        {{ option.label }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="selected-items" *ngIf="selectedMlInstancesConnectionType?.length > 0">
                  <mat-chip-set aria-label="Selected connections">
                    <mat-chip *ngFor="let connection of selectedMlInstancesConnectionType" removable="true"
                      (removed)="removeInstanceConnection(connection)">
                      {{ connection }}
                      <mat-icon matChipRemove>close</mat-icon>
                    </mat-chip>
                  </mat-chip-set>
                </div>
              </div>
            </div>
          </div>
          <ng-template #elseBlockNonIns>
            <div *ngIf="servicev1 === 'connections'; else elseBlockNonCons">
              <div class="filter-group">
                <div class="filter-control">
                  <mat-form-field appearance="fill" class="w-100">
                    <label>Type</label>
                    <mat-select (selectionChange)="connectionTypeSelected($event)"
                      aria-labelledby="connectionType-Label" placeholder="All">
                      <mat-option value="" (click)="clearAllFilters('connectiontype')">
                        All
                      </mat-option>
                      <ng-container *ngFor="let option of connectionsTypeList">
                        <mat-option *ngIf="!option.selected" [value]="option.label">
                          {{ option.label }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="selected-items" *ngIf="selectedAdapterType?.length > 0">
                  <mat-chip-set aria-label="Selected connectionType">
                    <mat-chip *ngFor="let inc of selectedAdapterType" removable="true"
                      (removed)="removeConnectionType(inc)">
                      {{inc}}
                      <mat-icon matChipRemove>close</mat-icon>
                    </mat-chip>
                  </mat-chip-set>
                </div>
              </div>
            </div>
            <ng-template #elseBlockNonCons>
              <div *ngIf="servicev1 === 'Datasets'; else elseBlockDefault">
                <div class="filter-options">
          <!-- Type Filter -->
             <div class="filter-group">
                <div class="filter-control">
                  <mat-form-field appearance="fill" class="w-100">
                    <label>Type</label>
                    <mat-select (selectionChange)="datasetTypeSelected($event, 'datasetType')"
                      aria-labelledby="datasetType-Label" placeholder="All">
                      <mat-option value="" (click)="clearAllFilters('datasetType')">
                        All
                      </mat-option>
                      <ng-container *ngFor="let option of datasetsTypeList">
                        <mat-option *ngIf="!option.selected" [value]="option.label">
                          {{ option.label }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="selected-items" *ngIf="selectedAdapterType?.length > 0">
                  <mat-chip-set aria-label="Selected datasetType">
                    <mat-chip *ngFor="let datasetType of selectedAdapterType" removable="true"
                      (removed)="removeDatasetType(datasetType)">
                      {{datasetType}}
                      <mat-icon matChipRemove>close</mat-icon>
                    </mat-chip>
                  </mat-chip-set>
                </div>
              </div>

          <!-- Knowledge Bases Filter -->
          <div class="filter-group">
                      <div class="filter-control">
                        <mat-form-field appearance="fill" class="w-100">
                          <label>Knowledge Bases</label>
                          <mat-select (selectionChange)="datasetTopicSelected($event)"
                            aria-labelledby="datasetKnowledge-label" placeholder="All">
                            <mat-option value="" (click)="clearAllFilters('datasetKnowledge')">
                              All
                            </mat-option>
                            <ng-container *ngFor="let option of datasetTopicList">
                              <mat-option *ngIf="!option.selected" [value]="option.label">
                                {{ option.label }}
                              </mat-option>
                            </ng-container>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="selected-items" *ngIf="selectedDatasetTopicType?.length > 0">
                        <mat-chip-set aria-label="Selected datasetKnowledge">
                          <mat-chip *ngFor="let datasetKnowledge of selectedDatasetTopicType" removable="true"
                            (removed)="removeDatasetKnowledge(datasetKnowledge)">
                            {{ datasetKnowledge}}
                            <mat-icon matChipRemove>close</mat-icon>
                          </mat-chip>
                        </mat-chip-set>
                      </div>
                    </div>

          <!-- Tags Filter -->
          <div class="filter-group">

            <div class="filter-control">
              <mat-form-field appearance="fill" class="w-100">
                <label>Tags</label>
                <mat-select (selectionChange)="datasetTypeSelected($event, 'datasetTag')"
                  aria-labelledby="datasetTag-label" placeholder="All">
                  <mat-option value="" (click)="clearAllFilters('datasetTag')">
                    All
                  </mat-option>
                  <mat-option *ngFor="let option of datasetsTagsList" [value]="option.label">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="selected-items" *ngIf="selectedTagList?.length > 0">
              <mat-chip-set aria-label="Selected datasetTag">
                <mat-chip *ngFor="let datasetTag of selectedTagList" removable="true"
                  (removed)="removeConnection(datasetTag)">
                  {{ datasetTag }}
                  <mat-icon matChipRemove>close</mat-icon>
                </mat-chip>
              </mat-chip-set>
            </div>
          </div>
        </div>

              </div>
              <ng-template #elseBlockDefault>
                 <div class="mb-4" *ngIf="!((servicev1 === 'apps') || (servicev1 === 'worker-tools'))">
                  <!-- apps Filter -->
                  <div class="filter-group">

                    <div class="filter-control">
                      <mat-form-field appearance="fill" class="w-100">
                        <label>Type</label>
                        <mat-select (selectionChange)="adapterTypeSelected($event)" aria-labelledby="apps-label"
                          placeholder="All">
                          <mat-option *ngFor="let option of adapterTypeList" [value]="option.label">
                            {{ option.label }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="selected-items" *ngIf="selectedMlAppType?.length > 0">
                      <mat-chip-set aria-label="Selected apps">
                        <mat-chip *ngFor="let app of selectedMlAppType" removable="true"
                          (removed)="removeAppFilter(app)">
                          {{ app }}
                          <mat-icon matChipRemove>close</mat-icon>
                        </mat-chip>
                      </mat-chip-set>
                    </div>
                  </div>
                </div>
                <div class="mb-4" *ngIf="!((servicev1 === 'apps') || (servicev1 === 'worker-tools'))">
                  <div class="filter-group">
                    <div class="filter-control">
                      <mat-form-field appearance="fill" class="w-100">
                        <label>Instances</label>
                        <mat-select (selectionChange)="adapterInstanceSelected($event)"
                          aria-labelledby="instances-label" placeholder="All">
                          <mat-option *ngFor="let option of adapterInstanceList" [value]="option.label">
                            {{ option.label }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="selected-items" *ngIf="selectedMlIncType?.length > 0">
                      <mat-chip-set aria-label="Selected Instances">
                        <mat-chip *ngFor="let inc of selectedMlIncType" removable="true"
                          (removed)="removeAppIncFilter(inc)">
                          {{ inc }}
                          <mat-icon matChipRemove>close</mat-icon>
                        </mat-chip>
                      </mat-chip-set>
                    </div>
                  </div>
                </div>
                <div class="mb-4" *ngIf="servicev1 === 'apps'">
                     <div class="filter-group">
                    <div class="filter-control">
                      <mat-form-field appearance="fill" class="w-100">
                        <label>Type</label>
                        <mat-select (selectionChange)="appTypeSelected($event)"
                          aria-labelledby="instances-label" placeholder="All">
                          <mat-option *ngFor="let option of adapterTypeList" [value]="option.label">
                            {{ option.label }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="selected-items" *ngIf="selectedMlType?.length > 0">
                      <mat-chip-set aria-label="Selected Instances">
                        <mat-chip *ngFor="let inc of selectedMlType" removable="true"
                          (removed)="removeAppTypeFilter(inc)">
                          {{ inc }}
                          <mat-icon matChipRemove>close</mat-icon>
                        </mat-chip>
                      </mat-chip-set>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-template>
          </ng-template>
        </ng-template>
      </ng-template>
    </ng-template>
  </div>