<div *ngIf="!flipView">
    <div style="background-color: white;overflow:hidden; " class="selector-683-1">
        <div class="row padd selector-683-2" style="padding-bottom: 1vw !important">
            <div class="col-md-4 rowheight selector-683-3">
                <a href="javascript:void(0);" (click)="onMlStudioClick()"
                    style="font-weight:700; font-size:16px; color: grey;" id="dsrc-Datasources"
                    class="selector-683-4">Datasources</a>
                <span *ngIf="showBreadcrumb" class="selector-683-5">
                    <span *ngFor="let bc of breadcrumb" class="selector-683-6">
                        <span class="selector-683-7">&nbsp;&gt;&nbsp;</span>
                        <a href="javascript:void(0);" *ngIf="bc.parent" (click)="showParent(bc)"
                            style="font-weight:500;color: grey;font-family: var(--font-type) !important;"
                            id="dsrc-breadcrumb-{{bc.item.name}}" class="selector-683-8">{{bc.item.alias}}</a>
                        <span *ngIf="!bc.parent" style="font-weight:500;color: grey;font-family: var(--font-type) !important;"
                            id="dsrc-breadcrumb-{{bc.item.name}}" class="selector-683-9">{{bc.item.alias}}</span>
                    </span>
                </span>
            </div>
            <!-- <div>
            {{pluginDocument}}
        </div> -->
            <div class="col-md-8 rowheight selector-683-10" style="display: flex;justify-content: flex-end;">
                <span class="search-hero col-md-4 mr-3 selector-683-11">
                    <input class="form-control selector-683-12" type="text" name="search" [(ngModel)]="searchText"
                        (ngModelChange)="onSearch()" autocomplete="off" placeholder="Start searching"
                        id="dsrc-SearchInput">
                </span>
                <span [hidden]="isAuth" class="fa fa-plus-square selector-683-13" (click)="addDatasource()"
                    style="font-size:16px; color: grey; padding-right: 3vh;padding-top: 3px;" title="Add Datasource"
                    id="dsrc-AddDatasource"></span> &nbsp;&nbsp;
                <span class="fa fa-refresh selector-683-14" (click)="refresh()"
                    style="font-size:16px; color: grey; padding-right: 3vh;padding-top: 3px;" title="Refresh"
                    id="dsrc-Refresh"></span>
                <div class="view-by no-gutter-right mr-3 selector-683-15"  style="font-size: 15px;">
                    <a class="fa fa-table selector-683-16" [class.active]="isGridView"
                        href="javascript:void(0);" title="Grid view" (click)="isGridView = true;onViewChange()"
                        id="dsrc-GridView"style="margin: top 10%; padding-right: 2vh;"></a>&nbsp;
                    <a class="fa fa-list selector-683-17" [class.active]="!isGridView"
                        href="javascript:void(0);" title="List view" (click)="isGridView = false;onViewChange()"
                        id="dsrc-ListView"style="margin-top:10%"></a>
                </div>
            </div>
        </div>
        <div class="horitag selector-683-18">
            <hr style="margin-top: 0%;" class="selector-683-19">
        </div>

    </div>

    <!-- groups list -->
    <div class="panel-pipeline-list selector-683-20" *ngIf="viewSelector == false"
        [ngBusy]="{busy:busy,message:'Loading...'}">
        <div *ngIf="currentSearchList!=undefined &amp;&amp; currentSearchList!=null &amp;&amp; currentSearchList.length>0"
            class="selector-683-21">
            <div class="grid-view selector-683-22" style="height:65vh;overflow-y:auto;" *ngIf="isGridView">
                <div class="col-12 row no-mar pipeline-left-section no-gutter-left selector-683-23" *ngIf="displayDiv">
                    <div class="col-12 col-md-3 selector-683-24" *ngFor="let group of currentSearchList">
                        <div class="pipeline-card selector-683-25" (click)="withParamsParent(group,searchText)"
                            id="dsrc-{{group.type}}-card">
                            <div class="pipeline-header selector-683-26">
                                <span class="txt-pipeline selector-683-27">{{ group.type | titlecase
                                    }}
                                </span>
                                <i style="float: right;margin-top: 1%;" class="fa fa-info-circle"
                                    title="Open Documentation" (click)="toggleFlip(group.type)">

                                </i>
                            </div>
                            <div class="pipeline-desc selector-683-28" style=" height: 87px;">
                                {{datasourceData[group.type]==undefined?'0':datasourceData[group.type]+' datasource(s)
                                available'}}
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="list-view " 
                style="height:80vh;overflow-y:auto;" *ngIf="!isGridView &amp;&amp; displayDiv">
                    <lib-mashup-view-wrapper [mashupname]="'Datasources'"></lib-mashup-view-wrapper>
                </div>
            <!-- <div class="list-view selector-683-34"  fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch"
            style="height:65vh;overflow-y:auto;margin:1%"  *ngIf="!isGridView &amp;&amp; displayDiv">

                <table fxLayout="column" class="TFtable" fxFlex="95">
                    <tr class="borderCardHead leftBorderTh lineHeight2 thClass fontClass" fxLayout="row"
                        fxLayoutAlign="center center" fxFlex="100">
                        <th fxFlex="37">Datasource Name</th>
                        <th fxFlex="13">Description</th>
                        <th fxFlex="29">Actions</th>
                    </tr>

                    <tr fxLayout="row" fxLayoutAlign="center center" fxFlex="100" class="borderCard  fontClass"
                        *ngFor="let set of currentSearchList">
                        <td fxFlex="37"> {{set.type|titlecase}} </td>
                        <td fxFlex="13"> {{datasourceData[set.type]==undefined?'0':datasourceData[set.type]+'
                            datasource(s) available'}} </td>
                        <td fxFlex="29">
                            <button mat-mini-fab class=" buttoncolor" (click)=" withParamsParent(set,searchText)"
                                matTooltip="View Datasources">
                                <i class="material-icons">
                                    assignment
                                </i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div> -->
            <!-- <footer style="background-color: #fafafa;color:black;height: auto;">
            <div class="custompaginator col-12 selector-683-29">
                <button mat-button="" [disabled]="page==0" (click)="getDatasource('First')" title="First Page" id="dsrc-page-First" class="selector-683-30">First</button>
                <button mat-button="" [disabled]="page==0" (click)="getDatasource('Prev')" title="Prev Page" id="dsrc-page-Prev" class="selector-683-31">&lt;&lt;&nbsp;Prev</button>
                <button mat-button="" [disabled]="page==lastPage" (click)="getDatasource('Next')" title="Next Page" id="dsrc-page-Next" class="selector-683-32">Next&nbsp;&gt;&gt;</button>
                <button mat-button="" [disabled]="page==lastPage" (click)="getDatasource('Last')" title="Last Page" id="dsrc-page-Last" class="selector-683-33">Last</button>
            </div>
        </footer> -->

        </div>
    </div>
    <!-- <div class="row selector-680-42" style="display:flex; flex-flow: wrap;
            margin-left: 1vw; margin-right: 1vw;" *ngIf="!showDetails"> -->
    <!-- datasources list -->
    <div *ngIf="currentPage!=undefined &amp;&amp; currentPage!=null &amp;&amp; currentPage.length>0"
        [ngBusy]="{busy:busy,message:'Loading...'}" class="selector-683-40">
        <div class="col-12 panel-pipeline-list selector-683-41" *ngIf="viewSelector == true" style="padding-left: 0px;">
            <div style="height:65vh;overflow-y:auto;width:100%" *ngIf="isGridView">
                <div [ngClass]="showDatasourceDetails ? 'col-8' : 'col-12'" style="display:flex; flex-flow: wrap;"
                    class="selector-683-42">
                    <div class="col-3 selector-683-43" *ngFor="let datasource of currentPage">
                        <div class="pipeln-card selector-683-44 " style="cursor:pointer"
                            [class.dtsrc-box-inactive]="!getmilli(datasource.activetime)"
                            [class.dtsrc-box]="getmilli(datasource.activetime)"
                            id="dsrc-{{datasource.type}}-{{datasource.alias}}-card">
                            <div class="pipeline-header selector-683-45"
                                *ngIf="getmilli(datasource.activetime);else: inactiveTime">
                                <span class="txt-pipeline selector-683-46"
                                    (click)="getDatasourceDetails(datasource);">{{datasource.alias}}</span>
                                <div *ngIf="datasource.organization.toLowerCase()=='core';else: view"
                                style="float: right;" class=" selector-683-47">
                                    <a class="icon-preview selector-683-48" href="javascript:void(0);"
                                        matTooltip="View Datasets" (click)="getDatasourceDetails(datasource);"></a>
                                </div>
                                <ng-template #view="" class="selector-683-49">
                                    <div style="float: right;" class=" selector-683-50">
                                        <a class="icon-preview selector-683-51" href="javascript:void(0);"
                                            matTooltip="View Datasets" (click)="getDatasourceDetails(datasource);"
                                            id="dsrc-{{datasource.type}}-{{datasource.name}}-ViewDatasets"></a>
                                        <a *ngIf="!isAuth" style="color: white;" class="fa fa-pencil selector-683-52" href="javascript:void(0);"
                                            matTooltip="Edit" (click)="editDatasource(datasource)"
                                            id="dsrc-{{datasource.type}}-{{datasource.name}}-Edit"></a>&nbsp;
                                        <a *ngIf="!isAuth" style="color: white;" class="fa fa-trash-o selector-683-53"
                                            href="javascript:void(0);" matTooltip="Delete"
                                            (click)="deleteDatasource(datasource)"
                                            id="dsrc-{{datasource.type}}-{{datasource.name}}-Delete"></a>
                                    </div>
                                </ng-template>
                            </div>
                            <ng-template #inactiveTime="">
                                <div class="pipeline-header-inactiveTime  selector-683-45-time"
                                    style="background:darkgrey;border: 1px solid darkgrey">
                                    <span class="txt-pipeline selector-683-46-time"
                                        (click)="getDatasourceDetails(datasource);">{{datasource.alias}}</span>
                                    <div *ngIf="datasource.organization.toLowerCase()=='core';else: view"
                                    style="float: right;" class=" selector-683-47-time">
                                        <a class="icon-preview selector-683-48-time" href="javascript:void(0);"
                                            matTooltip="View Datasets" (click)="getDatasourceDetails(datasource);"></a>
                                    </div>

                                    <ng-template #view="" class="selector-683-49-time">
                                        <div style="float: right;" class=" selector-683-50-time">
                                            <a class="icon-preview selector-683-51-time" href="javascript:void(0);"
                                                matTooltip="View Datasets" (click)="getDatasourceDetails(datasource);"
                                                id="dsrc-{{datasource.type}}-{{datasource.name}}-ViewDatasets"></a>
                                            <a *ngIf="!isAuth" style="color: white;" class="fa fa-pencil selector-683-52-time"
                                                href="javascript:void(0);" matTooltip="Edit"
                                                (click)="editDatasource(datasource)"
                                                id="dsrc-{{datasource.type}}-{{datasource.name}}-Edit"></a>
                                            <a *ngIf="!isAuth" style="color: white;" class="fa fa-trash-o selector-683-53-time"
                                                href="javascript:void(0);" matTooltip="Delete"
                                                (click)="deleteDatasource(datasource)"
                                                id="dsrc-{{datasource.type}}-{{datasource.name}}-Delete"></a>
                                        </div>

                                    </ng-template>
                                </div>
                            </ng-template>
                            <div (click)="getDatasourceDetails(datasource);" class="selector-683-54">
                                <div class="pipeline-desc selector-683-55"
                                    id="dsrc-{{datasource.type}}-{{datasource.name}}-Descr">
                                    {{datasource.description}}
                                </div>
                                <div class="pipeline-desc selector-683-56"
                                    id="dsrc-{{datasource.type}}-{{datasource.connectionDetails.url}}">
                                    {{datasource.connectionDetails.url}}
                                </div>
                                <div class="row pipeline-version selector-683-57">
                                    <div class="col-12 selector-683-58">
                                        <span class="selector-683-57-time"
                                            style="color: #7e7e7e;font-size: 9px;padding: 7px 5px;float: left;">LAST
                                            ACTIVE
                                            TIME
                                            : {{datasource.activetime | date :'dd/MM/yyyy h:mm:ss a'}}</span>
                                        <span class="txt-publish selector-683-59">{{datasource.type}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- <div class="list-view " 
                style="height:80vh;overflow-y:auto;" *ngIf="!isGridView">
                    <lib-mashup-view-wrapper [mashupname]="'Datasources'"></lib-mashup-view-wrapper>
                </div> -->
            <div class="list-view selector-680-59" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch"
                style="height:65vh;overflow-y:auto;;margin:1%" *ngIf="!isGridView">

                <table fxLayout="column" class="TFtable" fxFlex="95">
                    <tr class="borderCardHead leftBorderTh lineHeight2 thClass fontClass" fxLayout="row"
                        fxLayoutAlign="center center" fxFlex="100">
                        <th fxFlex="37">Datasource Name</th>
                        <th fxFlex="13">Type</th>
                        <th fxFlex="29">Actions</th>
                    </tr>

                    <tr fxLayout="row" fxLayoutAlign="center center" fxFlex="100" class="borderCard  fontClass"
                        *ngFor="let set of currentPage">
                        <td fxFlex="37">{{set.alias}}  </td>
                        <td fxFlex="13"> {{set.type}} </td>
                        <td fxFlex="29">
                            <button mat-mini-fab class=" buttoncolor" (click)="getDatasourceDetails(set);"
                                matTooltip="View Datasets">
                                <i class="material-icons">
                                    assignment
                                </i>
                            </button>&nbsp;
                            <button mat-mini-fab *ngIf="set.organization.toLowerCase()!='core'"
                                class="fa fa-edit buttoncolor" (click)=" editDatasource(set)" matTooltip="Edit">

                            </button>&nbsp;
                            <button mat-mini-fab *ngIf="set.organization.toLowerCase()!='core'"
                                class="fa fa-trash buttoncolor" (click)="deleteDatasource(set)"
                                matTooltip="Delete Dataset">

                            </button>
                        </td>
                    </tr>
                </table>
            </div>

            <footer style="background-color: #fafafa;color:black;height: auto;">
                <div class="custompaginator col-12 selector-683-60">
                    <button mat-button="" [disabled]="page==0" (click)="getInnerDatasource('First')" title="First Page"
                        id="dsrc-page-First" class="selector-683-61">First</button>
                    <button mat-button="" [disabled]="page==0" (click)="getInnerDatasource('Prev')" title="Prev Page"
                        id="dsrc-page-Prev" class="selector-683-62">&lt;&lt;&nbsp;Prev</button>
                    <button mat-button="" [disabled]="page==lastPage" (click)="getInnerDatasource('Next')"
                        title="Next Page" id="dsrc-page-Next" class="selector-683-63">Next&nbsp;&gt;&gt;</button>
                    <button mat-button="" [disabled]="page==lastPage" (click)="getInnerDatasource('Last')"
                        title="Last Page" id="dsrc-page-Last" class="selector-683-64">Last</button>
                </div>
            </footer>
        </div>
    </div>
    <div *ngIf="(currentPage==undefined || currentPage==null || currentPage.length==0) &amp;&amp; (currentSearchList==undefined || currentSearchList==null || currentSearchList.length==0)"
        [ngBusy]="{busy:busy,message:'Loading...'}" class="selector-683-76">
        <span style="margin-left: 1rem;font-weight: 500;" class="selector-683-77">No record found</span>
    </div>
</div>
<div *ngIf="flipView">
    <div class="pipeline-card " style="margin: 1.2%;">
        <div class="pipeline-header selector-683-26">
            <span class="txt-pipeline selector-683-27">{{ docType | titlecase
                }}</span>
            <span style="text-align: right;">
                <i style="float: right" class="far fa-times-circle" title="Close Documentation"
                    (click)="flipView=false"></i></span>


        </div>
        <div class="pipeline-desc-doc selector-683-28" style=" min-height: 50%;">
            <lib-datasource-documentation [groupType]="docType"></lib-datasource-documentation>
        </div>

    </div>
</div>