<!-- <div class="le-l-mainwrapper">
    <div class="clearfix aip-tranparent-backgroud aip-tranparent-backgroud">
        <div class="">
            <div class="col-sm-12 col-md-12 col-lg-12" id="mainrightCnt">
                <div class="le-l-level1-wrapper">
                    <div class="aip-header le-u-pad-lr-32 le-u-pad-t-16">
                        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center">
                            <div class="le-u-pad-24">
                                <h3 class="le-u-header-xl">{{cardTitle}}</h3>
                            </div>
                        </div>
                        <div
                            class="col-10 offset-1 offset-xs-1 offset-sm-1 offset-md-0 col-sm-6 col-md-6 col-lg-7 col-xl-6 aip-panel aip-panel-shadow d-flex align-items-center">
                            <input type="text" name="" id="" placeholder="Search by Name" class="aip-panel-input"
                                [(ngModel)]="filter" (keyup)="filterz()">
                            <i class="aip-led-icons icon x-24 search-icon"></i>
                        </div>
                        <div class="d-flex justify-content-center col-sm-5 col-lg-5 col-xl-4 aip-header-icon">
                            <div *ngIf="toolCreate" class="aip-cursor le-u-pad-lr-16">
                                <leds-tooltip [tooltip]="'Create'" [position]="'above'">
                                    <span class="le-c-btn--icon__icon">
                                        <i class="aip-led-icons icon x-24 icon-add" (click)="openCreate()"></i>
                                    </span>
                                </leds-tooltip>
                            </div>
                            <div class="aip-cursor le-u-pad-lr-16">
                                <leds-tooltip [tooltip]="'Refresh'" [position]="'above'">
                                    <span class="le-c-btn--icon__icon">
                                        <i class="aip-led-icons icon x-24 icon_Refresh" (click)="refresh()"></i>
                                    </span>
                                </leds-tooltip>
                            </div>
                        </div>
                    </div>
                </div>
                <leds-accordion #ledsAccordion [multi]="false">
                    <mat-expansion-panel
                        *ngFor="let tag of wTagsList| slice: (catPageNo-1) * catSize : (catPageNo-1) * catSize + catSize; let i = index"
                        (opened)="open(i)" (closed)="close(i)" [expanded]="tag.status">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ tag.name }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngIf="!noRecords" class="le-c-card__action-ul justify-content-center aip-tool-container le-u-pad-16">
                            <div class="row col-md-8 col-lg-6 col-xl-5"
                                style='min-width: -webkit-fill-available;padding: 0px;'
                                *ngFor="let tool of workerToolList| slice: (pageNumber-1) * pageSize : (pageNumber-1) * pageSize + pageSize">
                                <leds-card designType='simple' [actionsOnHover]='true'
                                    style="padding-top: 0 !important;padding-bottom: 0 !important;">
                                    <div class="le-c-card__container-right">
                                        <span
                                            class="le-u-overline le-u-text-primary-80 le-u-mar-b-8 float-end">{{tool.toolType}}</span>
                                    </div>
                                    <div class="le-u-overline le-u-mar-b-8">
                                    </div>
                                    <mat-card-header>
                                        <mat-card-title class="le-c-card__container clearfix">
                                            <div class="le-c-card__container-left w-100">
                                                <h2 class="le-u-header-md le-u-ellipsis" style="line-height: 2rem;">
                                                    {{tool.alias}}</h2>
                                            </div>
                                        </mat-card-title>
                                        <mat-card-subtitle
                                            class="le-u-body-sm le-u-text-neutral-80 le-u-ellipsis">{{tool.createdOn}}</mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content class="le-u-no-mar-b">
                                        <p class="le-u-body-md le-u-text-neutral-80 le-u-line-2 aip-desc-ellipsis">
                                            {{tool.description}}
                                        </p>
                                    </mat-card-content>
                                    <mat-card-actions class="le-c-card__action-hover d-flex justify-content-between">
                                        <leds-button buttonType="button" designType="text"
                                            (click)="configureTool(tool)">Configure</leds-button>
                                        <leds-button buttonType="button" designType="text"
                                            (click)="modelTool(tool)">Design</leds-button>
                                        <leds-button buttonType="button" designType="text"
                                            (click)="deleteTool(tool)">Delete</leds-button>
                                        <div class="aip-cursor">
                                            <div class="le-c-avatar  le-c-avatar--sm aip-hover-avatar">
                                                {{(tool.createdBy?tool.createdBy:'Name Not
                                                Available')|firstCharacter}}</div>
                                            <div class="aip-hover-detail">
                                                <div class="le-u-header-md le-u-mar-8">
                                                    {{tool.createdBy?tool.createdBy:'Name Not Available'}}</div>
                                            </div>
                                        </div>
                                    </mat-card-actions>
                                </leds-card>
                            </div>
                        </div>
                        <div *ngIf="!noRecords" class="row le-u-pad-b-0 d-flex" style="margin-bottom: 50px;float: right;">
                            <mat-paginator [length]="noOfItems" [pageSize]="pageSize" [pageIndex]="pageNumber-1"
                                (page)="categoryPageChanged($event)"></mat-paginator>
                        </div>
                        <div *ngIf="noRecords" class="le-c-card__action-ul aip-doc-container le-u-pad-16">
                            <img src="assets/images/aip_empty_state_leds.svg" class="img-responsive"
                                alt="aip_empty_state_leds" style="width:15rem" />
                            <div class="le-u-body-md">No Records Found</div>
                        </div>
                    </mat-expansion-panel>
                </leds-accordion>
                <div class="le-u-pad-b-0 d-flex justify-content-center" style="margin-bottom: 50px;">
                    <mat-paginator [length]="catgegoryCount" [pageSize]="catSize" [pageIndex]="catPageNo-1"
                        (page)="pageChanged($event)"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #rate let-modal>
    <app-aip-rating [rateData]="rateData" (refresh)="clearSemanticSearch()"></app-aip-rating>
</ng-template> -->


<div class="le-l-mainwrapper aip-top ">

    <div class="clearfix le-l-bodywrapper  aip-tranparent-backgroud js-bodywrapper" id="mainCtr">
        <div class="">
            <div *ngIf="isExpanded" class="row aip-filter aip-filter-position aip-scroll-hover">
                <app-tagging-component [servicev1]="'worker-tools'" (tagSelected)="tagSelectedEvent($event)"
                    [tagrefresh]="tagrefresh" [selectedToolsTypeList]="{ 
                        selectedAdapterType: selectedAdapterType
                      }"></app-tagging-component>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 aip-container-body" id="mainrightCnt" [ngStyle]="toggler(isExpanded)">
                <div class="le-l-level1-wrapper">
                    <!-- Header -->
                    <div class="aip-header le-u-pad-lr-32 le-u-pad-t-16">
                        <div class=" col-sm-12 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center">
                            <div style="padding: 20px 0px 0px 0px;">
                                <leds-tooltip [tooltip]="isExpanded?'Collapse Filters':'Expand Filters'"
                                    [position]="'above'">
                                    <i class="icon x-24 filter-icon" (click)="toggleExpand()"></i>
                                </leds-tooltip>
                            </div>
                            <div class="le-u-pad-24">
                                <h3 class="le-u-header-xl">{{cardTitle}}</h3>


                            </div>
                        </div>
                        <div
                            class="col-10 offset-1 offset-xs-1 offset-sm-1 offset-md-0 col-sm-6 col-md-6 col-lg-7 col-xl-6 aip-panel aip-panel-shadow d-flex align-items-center">
                            <!-- <leds-input-field designType="search" inputType="text" styleClass=""
                                [disabled]="false" [required]="false"></leds-input-field> -->
                            <input type="text" name="" id="" placeholder="Search by Name" class="aip-panel-input"
                                [(ngModel)]="filter" (keyup)="filterz()">
                            <i class="aip-led-icons icon x-24 search-icon"></i>
                        </div>
                        <div class="d-flex justify-content-center col-sm-5 col-md-6 col-lg-5 col-xl-4 aip-header-icon">

                            <div class="">
                                <div *ngIf="toolCreate" class="le-u-pad-24 aip-icon_text" (click)="openCreate()">
                                    <leds-button nameText='iconButton' idText='iconButton' [disabled]='false'
                                        buttonType='button' designType='icon'>
                                        <span class="le-c-btn--icon__icon">
                                            <i class="aip-led-icons icon purple x-16 icon-add"></i>
                                        </span>
                                        <!-- <span class="le-c-btn--icon__text">
                                            Add Pipeline
                                        </span> -->
                                    </leds-button>
                                </div>
                            </div>
                            <div class="">
                                <leds-button nameText='iconButton' idText='iconButton' [disabled]='false'
                                    buttonType='button' designType='icon'>
                                    <span class="le-c-btn--icon__icon">
                                        <i class="aip-led-icons icon x-24 icon_Refresh" (click)="refresh()"></i>
                                    </span>
                                </leds-button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="le-c-card__action-ul aip-card-container">
                    <!-- CARD -->
                    <div class="col-md-8 col-lg-6 col-xl-5" style='min-width: -webkit-fill-available;padding: 0px;'
                        *ngFor="let tool of workerToolList">
                        <leds-card designType='simple' [actionsOnHover]='true'
                            style="padding-top: 0 !important;padding-bottom: 0 !important;">
                            <div class="le-c-card__container-right">
                                <span
                                    class="le-u-overline le-u-text-primary-80 le-u-mar-b-8 float-end">{{getToolType(tool.category)}}</span>
                            </div>
                            <div class="le-u-overline le-u-mar-b-8">
                            </div>
                            <mat-card-header>
                                <mat-card-title class="le-c-card__container clearfix">
                                    <div class="le-c-card__container-left w-100">
                                        <h2 class="le-u-header-md le-u-ellipsis" style="line-height: 2rem;">
                                            {{tool.alias}}</h2>
                                    </div>
                                </mat-card-title>
                                <mat-card-subtitle
                                    class="le-u-body-sm le-u-text-neutral-80 le-u-ellipsis">{{tool.createdOn}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content class="le-u-no-mar-b">
                                <p class="le-u-body-md le-u-text-neutral-80 le-u-line-2 aip-desc-ellipsis">
                                    {{tool.description}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions class="le-c-card__action-hover d-flex justify-content-between">
                                <leds-button buttonType="button" designType="text"
                                    (click)="configureTool(tool)">Configure</leds-button>
                                <leds-button buttonType="button" designType="text"
                                    (click)="modelTool(tool)">Design</leds-button>
                                <leds-button buttonType="button" designType="text"
                                    (click)="deleteTool(tool)">Delete</leds-button>
                                <div class="aip-cursor">
                                    <div class="le-c-avatar  le-c-avatar--sm aip-hover-avatar">
                                        {{(tool.createdBy?tool.createdBy:'Name Not
                                        Available')|firstCharacter}}</div>
                                    <div class="aip-hover-detail">
                                        <div class="le-u-header-md le-u-mar-8">
                                            {{tool.createdBy?tool.createdBy:'Name Not Available'}}</div>
                                    </div>
                                </div>
                            </mat-card-actions>
                        </leds-card>
                    </div>
                </div>
                <div *ngIf="noRecords">
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <img src="assets/images/aip_empty_state_leds.svg" class="img-responsive"
                            alt="aip_empty_state_leds" style="width:15rem" />
                        No records found.
                    </div>
                </div>
                <div *ngIf="!noRecords">
                    <app-pagination #pagination [noOfItems]="noOfItems"
                        (pageAndSizeChanged)="handlePageAndSizeChange($event)">
                    </app-pagination>
                </div>
            </div>
        </div>
    </div>
</div>