<div>
    <div class="le-l-level2-middle-col p-4">
        <div class="d-flex justify-content-between align-items-center px-4">
            <div class="align-items-center d-flex">
                <h2>App Details</h2>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
                    <i class="icon x-16 close-icon"></i>
                </button>
            </div>
        </div>

            <div class="p-4">
                <div class="row">
                    <div *ngIf="!edit" class="col-lg-12 col-md-12">
                        <leds-input-field label="Display Name" placeholder="Enter Name..." errorMessage="{
                          required: 'This field is required',
                        }" inputType="text" [disabled]="false" [required]="true"
                            [(ngModel)]="alias"></leds-input-field>
                    </div>
                    <div *ngIf="edit" class="col-lg-12 col-md-12 le-u-mar-b-16" >
                            <leds-input-field label="Display Name" placeholder="Enter Name..." errorMessage="{required: 'This field is required', }"
                            [(ngModel)]="editCanvas.alias"></leds-input-field>
                    </div>
                    <div *ngIf="!edit" class="col-lg-12 col-md-12 le-u-mar-b-16">
                        <leds-input-field label="Description" placeholder="Enter App Description..." inputType="text"
                            [disabled]="false" [required]="false" [(ngModel)]="description"></leds-input-field>
                    </div>
                    <div *ngIf="edit" class="col-lg-12 col-md-12 le-u-mar-b-16">
                        <leds-input-field label="Description" placeholder="Enter App Description..." inputType="text"
                            [disabled]="false" [required]="false" [(ngModel)]="editCanvas.description"></leds-input-field>
                    </div>
                    <div *ngIf="!edit" class="col-lg-12 col-md-12 le-u-mar-b-16">
                        <leds-slide-toggle style="margin-top: 1em;" [(ngModel)]="isDefaultLink" (change)="isDefaultUserLink($event)">
                            Map the App Pipeline</leds-slide-toggle>
                        <leds-input-field label="Tryout Link" placeholder="Paste your link..." inputType="text"
                            [disabled]="isDefaultLink" [required]="false" [(ngModel)]="link"></leds-input-field>
                    </div>
                    <div *ngIf="edit" class="col-lg-12 col-md-12 le-u-mar-b-16">
                        <leds-input-field label="Tryout Link" placeholder="Paste your link..." inputType="text"
                            [disabled]="false" [required]="false" [(ngModel)]="editCanvas.tryoutlink"></leds-input-field>
                    </div>
                    <!-- <div  *ngIf="edit" class="col-lg-12 col-md-12 le-u-mar-b-20">
                        <leds-select label="Tags" [(ngModel)]="tags" [options]="tagsOptions"></leds-select>
                    </div> -->
                    <div *ngIf="!edit" class="col-lg-12 col-md-12 le-u-mar-b-20">
                        <leds-select [options]="appTypeList" [(ngModel)]="apptype" label="Type" errorMessage="{
                                                required: 'This field is required',
                                              }" [required]="true" [disabled]="false" designType="default" [isMultiple]="false"
                            (selectChange)="setAppType($event)"></leds-select>
                    </div>
                    <div *ngIf="edit" class="col-lg-12 col-md-12 le-u-mar-b-20">
                        <leds-select [options]="appTypeList" [(ngModel)]="editCanvas.scope" label="Type" errorMessage="{
                                                required: 'This field is required',
                                              }" [required]="true" [disabled]="false" designType="default" [isMultiple]="false"
                            (selectChange)="setAppType($event)"></leds-select>
                    </div>
                    <div *ngIf="isMFEApp && !edit" class="col-lg-12 col-md-12 le-u-mar-b-20">
                        <leds-select [options]="mfeList" [(ngModel)]="appMfe" label="MFEAppName" errorMessage="{
                            required: 'This field is required',
                          }" [required]="true" [disabled]="false" designType="default" [isMultiple]="false"
                            (selectChange)="setMfeApp($event)"></leds-select>
                    </div>
                    <div *ngIf="isMFEApp && edit" class="col-lg-12 col-md-12 le-u-mar-b-20">
                        <leds-select [options]="mfeList" [(ngModel)]="editCanvas.mfeAppName" label="MFEAppName" errorMessage="{
                            required: 'This field is required',
                          }" [required]="true" [disabled]="false" designType="default" [isMultiple]="false"
                            (selectChange)="setMfeApp($event)"></leds-select>
                    </div>
                    <div *ngIf="isUrl && !edit" class="col-lg-12 col-md-12 le-u-mar-b-20">
                        <leds-input-field label="URL" [(ngModel)]="appUrl" errorMessage="{
                                                required: 'This field is required',
                                              }" [required]="true" [disabled]="false"></leds-input-field>
                    </div>
                    <div *ngIf="isUrl && edit" class="col-lg-12 col-md-12 le-u-mar-b-20">
                        <leds-input-field label="URL" [(ngModel)]="editCanvas.url" errorMessage="{
                                                required: 'This field is required',
                                              }" [required]="true" [disabled]="false"></leds-input-field>
                    </div>
                    <div *ngIf="isChain && !edit" class="col-lg-12 col-md-12 le-u-mar-b-20">
                        <leds-select [options]="chainList" [(ngModel)]="jobName" label="Chain" errorMessage="{
                                                required: 'This field is required',
                                              }" [required]="true" [disabled]="false" designType="default" [isMultiple]="false"
                            (selectChange)="setJobType($event)"></leds-select>
                    </div>
                    <div *ngIf="isChain && edit" class="col-lg-12 col-md-12 le-u-mar-b-20">
                        <leds-select [options]="chainList" [(ngModel)]="editCanvas.jobName" label="chain" errorMessage="{
                                                required: 'This field is required',
                                              }" [required]="true" [disabled]="false" designType="default" [isMultiple]="false"
                            (selectChange)="setJobType($event)"></leds-select>
                    </div>
                    
                    <div *ngIf="isPipeline && !edit" class="col-lg-12 col-md-12 le-u-mar-b-20">
                        <leds-select [options]="pipelineList" [(ngModel)]="jobName" label="pipeline" errorMessage="{
                                                required: 'This field is required',
                                              }" [required]="true" [disabled]="false" designType="default" [isMultiple]="false"
                            (selectChange)="setJobType($event)"></leds-select>
                    </div>
                    <div *ngIf="isPipeline && edit" class="col-lg-12 col-md-12 le-u-mar-b-20">
                        <leds-select [options]="pipelineList" [(ngModel)]="editCanvas.jobName" label="pipeline" errorMessage="{
                                                required: 'This field is required',
                                              }" [required]="true" [disabled]="false" designType="default" [isMultiple]="false"
                            (selectChange)="setJobType($event)"></leds-select>
                    </div>
                    <!-- For Type Apps dropdown -->
                    <div *ngIf="isApp && !edit" class="col-lg-12 col-md-12 le-u-mar-b-20">
                        <leds-select [options]="pipelineListApps" [(ngModel)]="jobName" label="App" errorMessage="{
                                                required: 'This field is required',
                                              }" [required]="true" [disabled]="false" designType="default" [isMultiple]="false"
                            (selectChange)="setJobType($event)"></leds-select>
                    </div>
                    <div *ngIf="isApp && edit" class="col-lg-12 col-md-12 le-u-mar-b-20">
                        <leds-select [options]="pipelineListApps" [(ngModel)]="editCanvas.jobName" label="App" errorMessage="{
                                                required: 'This field is required',
                                              }" [required]="true" [disabled]="false" designType="default" [isMultiple]="false"
                            (selectChange)="setJobType($event)"></leds-select>
                    </div>

                    <div *ngIf="isVideo && !edit" class="col-lg-12 col-md-12 le-u-mar-b-20">
                        <leds-select [options]="videoDatasetList" [(ngModel)]="jobName" label="Video Dataset" errorMessage="{
                                                required: 'This field is required',
                                              }" [required]="true" [disabled]="false" designType="default" [isMultiple]="false"
                            (selectChange)="setJobType($event)"></leds-select>
                    </div>
                    <div *ngIf="isVideo && edit" class="col-lg-12 col-md-12 le-u-mar-b-20">
                        <leds-select [options]="videoDatasetList" [(ngModel)]="editCanvas.jobName" label="Video Dataset" errorMessage="{
                                                required: 'This field is required',
                                              }" [required]="true" [disabled]="false" designType="default" [isMultiple]="false"
                            (selectChange)="setJobType($event)"></leds-select>
                    </div>
                    
                    <div class="row col-lg-12 col-md-12 le-u-mar-b-16">
                        <div class="upload-docs">
                            <leds-panel type="default" styleClass="" contentClass="">
                                <div *ngIf="exceededSize" class="selector-729-81">
                                    <em style="color: red" class="selector-729-82">Maximum upload file size: 250KB</em>
                                </div> 
                                <div class="p-3 label-icon">
                                    <mat-label style="font-size: 13px; color: black; font-weight: bold; padding-top: 2%;"
                                    class="selector-724-196">Logo</mat-label>
                                    <label class="exp-projlabel selector-724-197">
                                        <input id="adOrgUpldId" (change)="onImageChange($event)" style="display: none;" accept=".png,.jpg,.jpeg"
                                            ng2FileSelect="" name="adOrgUpldNm" type="file" [uploader]="uploader" placeholder="file"
                                            class="selector-724-198" />
                                        <p class="DSA_wb_Btn_normal">
                                            <i style="margin-left: 2vh;" class="icon x-24 upload-icon" aria-hidden="true"></i>
                                            <!-- <span style="color: gray;" class="selector-724-200" style="margin: 1.5vh;">Browse</span> -->
                                        </p>
                                    </label>
                                </div>
                                <img *ngIf="edit"  [src]=finalImage>
                                <img *ngIf="!edit"#myImage="" alt="img" [hidden]="uploader.queue.length==0" class="selector-729-76">
                            </leds-panel>
                            <leds-panel type="default" styleClass="" contentClass="">
                                <div *ngIf="!supportedDoc" class="selector-729-81">
                                    <em style="color: red" class="selector-729-82">Please upload .pdf file!</em>
                                </div>
                                <div class="p-3 label-icon">
                                    <mat-label style="font-size: 13px; color: black; font-weight: bold;padding-top: 2%;"
                                    class="selector-724-196">Document</mat-label>
                                    <label>
                                    <input (change)="uploadDocument($event)" style="display: none;" ng2FileSelect="" accept=".pdf"
                                        name="adOrgUpldNm" type="file" [uploader]="docUploader" placeholder="file" />
                                    <p class="DSA_wb_Btn_normal">
                                        <i style="margin-left: 2vh;" class="icon x-24 upload-icon" aria-hidden="true"></i>
                                        <!-- <span style="color: gray;" class="selector-724-200" style="margin: 1.5vh;">Browse</span> -->
                                    </p>
                                    </label>
                                </div>
                                <leds-chip style="text-overflow: ellipsis; overflow: hidden;" *ngIf="!edit && docName && supportedDoc" >{{docName}}</leds-chip>
                                <leds-chip style="text-overflow: ellipsis; overflow: hidden;" *ngIf="edit && docName" >{{docName}}</leds-chip>
                            </leds-panel>
                            <leds-panel type="default" styleClass="" contentClass="">
                                <div *ngIf="fileExtension && fileExtension!='mp4'" class="selector-729-81">
                                    <em style="color: red" class="selector-729-82">Please upload .mp4 file!</em>
                                </div>
                                <div class="p-3 label-icon">
                                    <mat-label style="font-size: 13px; color: black; font-weight: bold;padding-top: 2%;"
                                    class="selector-724-196">Video</mat-label>
                                    <label>
                                        <input accept=".mp4" type="file"  style="display: none;" (change)="uploadVideo($event)" />
                                        <p class="DSA_wb_Btn_normal">
                                            <i style="margin-left: 2vh;" class="icon x-24 upload-icon" aria-hidden="true"></i>
                                            <!-- <span style="color: gray;" class="selector-724-200" style="margin: 1.5vh;">Browse</span> -->
                                        </p>
                                    </label>
                                </div>
                                <leds-progress-bar [value]="uploadPercentage" *ngIf="uploading"> Progress {{uploadPercentage}}% </leds-progress-bar>
                                &nbsp;
                                <leds-chip style="text-overflow: ellipsis; overflow: hidden;" *ngIf="!edit && videoFile" >{{videoFile}}</leds-chip>
                                <leds-chip *ngIf="edit && videoFile" style="text-overflow: ellipsis; overflow: hidden;">{{videoFile}}</leds-chip>
                                <leds-button *ngIf="isLoaded" nameText="miniSecondary" idText="miniSecondary" [disabled]="false" buttonType="button"
                                        designType="miniSecondary" (click)="uploadFile()">
                                        Upload
                                </leds-button>
                            </leds-panel>
                        </div>
                    </div>
                </div>
                <div *ngIf="!edit" class="col-lg-12 col-md-12 le-u-mar-b-16">
                    <leds-button class="d-flex justify-content-end"
                        style="color:var(--base-color); position: absolute;right: 20rem;" nameText="primaryButton"
                        idText="primaryButton" [disabled]="false" buttonType="button" designType="primary"
                        (click)="closeModal()">Cancel</leds-button>
                    <leds-button class="d-flex justify-content-end" nameText="primaryButton" idText="primaryButton"
                        [disabled]="disableSave" buttonType="button" designType="primary"
                        (click)="disableSave?'':saveDetails()" >Save</leds-button>
                </div>
                <div *ngIf="edit" class="col-lg-12 col-md-12 le-u-mar-b-16">
                    <leds-button class="d-flex justify-content-end"
                        style="color:var(--base-color); position: absolute;right: 20rem;" nameText="primaryButton"
                        idText="primaryButton" [disabled]="false" buttonType="button" designType="primary"
                        (click)="closeModal()">Cancel</leds-button>
                    <leds-button class="d-flex justify-content-end" nameText="primaryButton" idText="primaryButton"
                        [disabled]="disableSave" buttonType="button" designType="primary"
                        (click)="disableSave?'':editDetails()" >Update</leds-button>
                </div>
            </div>
    </div>
</div>