<div class="mt-3">
  <div class="title-jobs selector-757-3">Total Jobs : {{totalJobs}}
    <leds-tooltip [tooltip]="'Refresh'" [position]="'above'" style="float: right;" class="py-4">
      <i style="font-size: 3vh; float: right;" class="aip-led-icons icon icon_Refresh x-24" (click)="onRefresh()"></i>
    </leds-tooltip>
  </div>
  <leds-data-grid>
    <div class="le-c-datagrid__title-area clearfix">
      <!-- <leds-select
        designType="showBy"
        [(ngModel)]="selectedCandidate"
        [options]="candidates"
        label="Show By"
        class="float-end"
      ></leds-select> -->
    </div>
    <table dataGridTable>
      <thead>
        <tr>
          <th class="le-c-datagrid__th-sort " scope="col">
            Job Id
          </th>
          <th scope="col-2">Submitted By</th>
          <th scope="col-3">Submitted On</th>
          <th scope="col-3">Completed On</th>
          <th scope="col-2">Runtime</th>
          <th scope="col-1" class="le-c-datagrid__th-sort">
            Status
          </th>
          <th scope="col-1">Action</th>
          <th scope="col-1">Output Artifacts</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobList; let i = index;">
          <td class="kk">
            {{job.id}}
          </td>
          <td style="width:15%">
            <div>
                <div class="le-u-body-md le-u-text-black">{{job.submittedBy}}</div>
                <div *ngIf="job.jobmetadata &&  job.jobmetadata.tag == 'EVENT'"
                  class="le-u-body-sm le-u-text-neutral-80 le-u-mar-t-4">
                  Event triggered
                </div>
                <div *ngIf="job.jobmetadata &&  job.jobmetadata.tag != 'EVENT'"
                  class="le-u-body-sm le-u-text-neutral-80 le-u-mar-t-4">
                  User triggered
                </div>
            </div>
          </td>
          <td style="font-size: 15px; width: 270px;">{{job.submittedOn | date: 'MMM d, y, h:mm a'}}</td>
          <td style="font-size: 15px; width: 270px;">{{job.finishtime | date: 'MMM d, y, h:mm a'}}</td>
          <td class="kk">{{job.runtime}}</td>
          <td>
            <leds-badge *ngIf="job.jobStatus=='ERROR'" badgeType="error">{{job.jobStatus}}</leds-badge>
            <leds-badge *ngIf="job.jobStatus=='COMPLETED'" badgeType="active">{{job.jobStatus}}</leds-badge>
            <leds-badge *ngIf="job.jobStatus=='RUNNING'" badgeType="warning">{{job.jobStatus}}</leds-badge>
            <leds-badge *ngIf="job.jobStatus=='CANCELLED'" badgeType="error">{{job.jobStatus}}</leds-badge>
            <leds-badge *ngIf="job.jobStatus=='OPEN'" badgeType="warning">{{job.jobStatus}}</leds-badge>
          </td>
          <td>
            <leds-tooltip [tooltip]="'Log'" [position]="'above'">
              <leds-button nameText="logButton" idText="logButton" buttonType="button" designType="icon"
                (click)="showConsole(job.jobId, job.runtime, job.jobStatus,job.jobObj)">
                <i class="icon x-24 icon-notepad" style="visibility: visible;"></i></leds-button>
            </leds-tooltip>
            <leds-tooltip [tooltip]="'Stop'" [position]="'above'">
              <leds-button *ngIf="job.jobStatus=='RUNNING' && job.jobmetadata!='CHAIN'" nameText="actionButton"
                idText="actionButton" buttonType="button" designType="icon" (click)="stopJob(job.jobId)">
                <i class="fa fa-stop x-8" style="visibility: visible;"></i></leds-button>
            </leds-tooltip>
          </td>
          <td>
            <leds-button
              *ngIf="job.runtime && (  job.runtime.toLowerCase=='remote' || job.runtime.split('-')[0].toLowerCase()=='remote')"
              nameText="logButton" idText="outputArtifactButton" buttonType="button" designType="icon"
              (click)="showOutputArtifact(job.jobId)">
              <i class="icon x-24 icon-news-article" style="visibility: visible;"></i></leds-button>
          </td>

        </tr>
      </tbody>
    </table>
  </leds-data-grid>
  <div class="le-u-pad-b-16 d-flex justify-content-center">
    <leds-button nameText="textButton" idText="textButton" [disabled]="page==0" buttonType="button" designType="text"
      (click)="getJobs('First')">First
    </leds-button>
    <leds-button nameText="textButton" idText="textButton" [disabled]="page==0" buttonType="button" designType="text"
      (click)="getJobs('Prev')">&lt;&lt;&nbsp;Prev
    </leds-button>
    <leds-button nameText="textButton" idText="textButton" [disabled]="page==lastPage" buttonType="button"
      designType="text" (click)="getJobs('Next')">Next&nbsp;&gt;&gt;
    </leds-button>
    <leds-button nameText="textButton" idText="textButton" [disabled]="page==lastPage" buttonType="button"
      designType="text" (click)="getJobs('Last')">Last
    </leds-button>
  </div>
</div>