<div class="container-fluid backgroud-color">
    <div class="le-l-level1-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="le-l-level1-middle-col le-l-base-layout-center">
                    <div class="align-items-center d-flex">
                        <span class="">
                            <i class="aip-led-icons icon x-24 back-icon" (click)="routeBackToStoreList()"></i>
                        </span>
                        <span class="le-u-mar-l-8 le-u-header-xxl">{{cardTitle}}</span>
                    </div>
                    <div class="le-l-level2-middle-ctr">
                        <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                            <leds-panel type="default" styleClass="" contentClass="">
                                <div class="le-u-mar-tb-16 le-u-pad-16">
                                    <div class="le-c-panel__content">
                                        <jsonforms *ngIf="attributes" [data]="data" [schema]="attributes"
                                            [uischema]="uischema" [renderers]="renderers"
                                            (dataChange)="showData($event)">
                                        </jsonforms>
                                    </div>
                                    <div class="le-c-panel__footer">
                                        <div class="d-flex m-2 le-u-pad-tb-16 le-u-pad-lr-24" style="float: right;">
                                            <leds-button nameText="secondaryButton" idText="secondaryButton"
                                                [disabled]="false" buttonType="button" designType="primary"
                                                (click)="onClickSubmit()">
                                                REGISTER
                                            </leds-button>
                                        </div>
                                    </div>
                                </div>
                            </leds-panel>
                        </div>
                        <!-- <div class="le-l-level2-right-col">
                            <div class="le-u-mar-tb-16">
                                <leds-panel type="default" styleClass="" contentClass="">
                                    <div class="le-c-panel__content">
                                        <div class="le-u-pad-16">
                                            <div class="le-u-header-lg">FeatureStore Creating</div>
                                        </div>
                                    </div>
                                </leds-panel>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>