<div class="totheright modal-header selector-769-2">
    <leds-tooltip [tooltip]="'close'" [position]="'above'">
        <i class="le-u-mar-r-16 aip-led-icons icon x-24 close-icon" (click)="closeDialog()"></i>
    </leds-tooltip>
</div>

<div class="le-u-mar-16">
    <div class="hidden-details">
        <div style="margin-bottom: 1%;">
            <div class="space">
                <h3 class="id">Output Artifacts</h3>
            </div>
        </div>
    </div>

    <div class="tab_content" id="tabContent_1">
        <div class="le-c-panel__content">
            <div class=""><json-tree [value]="outputData"></json-tree></div>
        </div>
    </div>
</div>