.totheright {
    display: flex;
    justify-content: flex-end;
    margin: 6px;
    opacity: 0.5;
}

.fixeddiv {
    position: sticky;
    top: 10;
    z-index: 999;
    background-color: white;
}

.container{
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(34, 34, 34)
}

.content {
    text-align: left;
    font: normal normal 400 24px/30px Roboto;
    padding-left: 25px;
}

.info{
    padding-left: 25px;
}