::ng-deep .jsoneditor {
  border: thin solid #0094ff;
}

::ng-deep .jsoneditor-menu {
  background: #0094ff;
  border-bottom: 1px solid #0094ff;
}

::ng-deep
  mat-form-field.no-subscript-space
  .mat-mdc-form-field-subscript-wrapper {
  height: 0 !important;
  min-height: 0 !important;
}

::ng-deep mat-form-field.description-no-underline .mdc-line-ripple,
::ng-deep mat-form-field.description-no-underline .mdc-notched-outline {
  display: none !important;
}
