<div class="" id="mainCtr">
  <div class="">
    <leds-breadcrumb [breadcrumbs]="breadcrumb" styleClass=""></leds-breadcrumb>
    <div class="le-l-middle-col le-u-no-mar-l__mb" id="mainrightCnt">
      <div class="le-l-level1-wrapper">
        <div class="row le-u-mar-t-16">
          <div class="">
            <div class="le-l-base-layout-center le-u-pad-l-16">
              <div class="d-flex justify-content-between align-items-center le-u-mar-b-24">
                <h1 class="le-u-header-xxl ">{{taskName|titlecase}}</h1>
                <span *ngIf="task?.approvalStatus !=null"
                  class="le-u-body-xs  le-u-text-neutral-80 le-u-ellipsis d-block le-u-mar-t-4 d-flex align-items-center">
                  <span class="le-u-mar-r-4">
                    <i *ngIf="task.approvalStatus =='APPROVED'" class="icon x-16 icon-process-complete green"></i>
                  </span>
                  <span class="le-u-mar-r-8 mt-2" *ngIf="task.approvalStatus =='REJECTED'">
                    <leds-popover position="bottom" idText="bottomPopover">
                      <i popoverLink style="font-size: 1.8rem;" class="icon aip-cursor info-big-icon"></i>
                      <div popContent>
                        <div popoverControl>
                          <h4 popoverTitle>
                            Reject Reason
                            <a popoverClose href="javascript:void(0);" aria-label="Close">
                              <i aria-hidden="true" class="icon x-16 close-icon"></i>
                            </a>
                          </h4>
                        </div>
                        <div popoverContent>
                          <div>{{task.approvalComments |titlecase}}</div>
                        </div>
                      </div>
                    </leds-popover></span>
                  <span class="aip-u-circle-icon-red le-u-mar-r-4 mt-1" *ngIf="task.approvalStatus =='REJECTED'">

                    <i style="font-size: 0.8rem;color: white;" class="icon close-icon"></i></span>
                  <span>{{task.approvalStatus |titlecase}} on {{task.approvedOn |
                    date:'longDate'}}</span>
                </span>
              </div>
              <div class="le-l-level2-middle-ctr">
                <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                  <form [formGroup]="form">
                    <div>
                      <div class="le-u-mar-b-16">
                        <div ledsTabGroup [headerBg]="'none'">
                          <mat-tab-group disableRipple>
                            <mat-tab *ngFor="let cData of childData">
                              <ng-template mat-tab-label>{{cData.parentName}}</ng-template>
                              <div class="le-u-pad-16" *ngIf="task.taskType!='CANVAS'">
                                <leds-panel>
                                  <div class="le-u-pad-16" *ngFor="let question of cData.child">
                                    <div class="le-u-header-md le-u-pad-lr-24">
                                      {{ question.question_content }}
                                    </div>
                                    <div class="le-u-body-md le-u-pad-lr-24" [ngSwitch]="question.response_type"
                                      style="color: #737373;">
                                      <leds-textarea laceholder="" label="" *ngSwitchCase="'text'" designType="default" inputType="text" [disabled]="disabled"
                                        [formControlName]="question.question_id.toString()" (changesOccur)="changesOccur($event)"></leds-textarea>
                                      <leds-input-field placeholder="" label="" designType="email" inputType="email"
                                        emailDomain="" *ngSwitchCase="'email'" [validators]="mailValidator"
                                        errorMessage="{
                                  required: 'This field is required',
                                }" [formControlName]="question.question_id.toString()" [disabled]="disabled"
                                        [required]="true" styleClass=""
                                        (changesOccur)="changesOccur($event)"></leds-input-field>
                                      <leds-input-field placeholder="" label="" *ngSwitchCase="'number'"
                                        [formControlName]="question.question_id.toString()" designType="default"
                                        [disabled]="disabled" inputType="number"></leds-input-field>
                                      <div *ngSwitchCase="'checkbox'">
                                        <div class="le-u-pad-16"
                                          [ngStyle]="{'pointer-events': (disabled) ? 'none' : 'auto'}">
                                          <!-- <input type="checkbox" [formControlName]="question.question_id.toString()"
                                    [value]="option">I agree -->
                                          <leds-checkbox [labelPosition]="'after'"
                                            [formControlName]="question.question_id.toString()">
                                            I agree
                                          </leds-checkbox>
                                        </div>
                                      </div>
                                      <!-- <select >
                                <option value="" disabled selected>Select your option</option>
                                <option *ngFor="let option of question.options">{{ option }}</option>
                              </select> -->

                                      <leds-select *ngSwitchCase="'dropdown'"
                                        [formControlName]="question.question_id.toString()" [options]="question.options"
                                        label="" [required]="false" designType="default" [disabled]="disabled"
                                        [isMultiple]="false"></leds-select>
                                    </div>
                                  </div>
                                </leds-panel>
                              </div>
                              <div class="le-u-pad-16" *ngIf="task.taskType=='CANVAS'">
                                <div class="aip-initiative-container">
                                <div class="" *ngFor="let question of cData.child">
                                  <div class="le-u-header-md ">
                                    <leds-card designType="simple">
                                      <mat-card-header>
                                        <mat-card-title>
                                          <h2 class="le-u-header-md" style="word-break: break-all;">{{question.question_content }}</h2>
                                        </mat-card-title>
                                        <mat-card-subtitle
                                          class="le-u-body-sm le-u-text-neutral-80 le-u-no-mar-b le-u-ellipsis">
                                          <div class="le-u-body-md" [ngSwitch]="question.response_type"
                                            style="color: #737373;">
                                            <leds-textarea laceholder="" label="" *ngSwitchCase="'text'" designType="default" inputType="text" [disabled]="disabled"
                                              [formControlName]="question.question_id.toString()" (changesOccur)="changesOccur($event)"></leds-textarea>
                                            <leds-input-field placeholder="" label="" designType="email"
                                              inputType="email" emailDomain="" *ngSwitchCase="'email'"
                                              [validators]="mailValidator" errorMessage="{
                                    required: 'This field is required',
                                  }" [formControlName]="question.question_id.toString()" [disabled]="disabled"
                                              [required]="true" styleClass=""
                                              (changesOccur)="changesOccur($event)"></leds-input-field>
                                            <leds-input-field placeholder="" label="" *ngSwitchCase="'number'"
                                              [formControlName]="question.question_id.toString()" designType="default"
                                              [disabled]="disabled" inputType="number"></leds-input-field>
                                            <div *ngSwitchCase="'checkbox'">
                                              <div class="le-u-pad-16"
                                                [ngStyle]="{'pointer-events': (disabled) ? 'none' : 'auto'}">
                                                <leds-checkbox [labelPosition]="'after'"
                                                  [formControlName]="question.question_id.toString()">
                                                  I agree
                                                </leds-checkbox>
                                              </div>
                                            </div>
                                            <leds-select *ngSwitchCase="'dropdown'"
                                              [formControlName]="question.question_id.toString()"
                                              [options]="question.options" label="" [required]="false"
                                              designType="default" [disabled]="disabled"
                                              [isMultiple]="false"></leds-select>
                                          </div>
                                        </mat-card-subtitle>
                                      </mat-card-header>
                                    </leds-card>
                                  </div>
                                </div>
                              </div></div>
                            </mat-tab>
                          </mat-tab-group>
                        </div>
                      </div>
                    </div>
                    <!-- <div *ngFor="let question of questions">
                      <label>{{ question.question_content }}</label>
                      <div [ngSwitch]="question.response_type">
                        <input *ngSwitchCase="'text'" type="text" [formControlName]="question.question_id.toString()">
                        <input *ngSwitchCase="'email'" type="email" [formControlName]="question.question_id.toString()">
                        <select *ngSwitchCase="'dropdown'" [formControlName]="question.question_id.toString()">
                          <option *ngFor="let option of question.options">{{ option }}</option>
                        </select>
                        <input *ngSwitchCase="'number'" type="number"
                          [formControlName]="question.question_id.toString()">
                        <div *ngSwitchCase="'checkbox'">
                          <div *ngFor="let option of question.options">
                            <input type="checkbox" [formControlName]="question.question_id.toString()"
                              [value]="option">{{ option }}
                          </div>
                        </div>
                      </div>
                    </div> -->

                    <leds-message-banner designType="error" [section]="true"
                      *ngIf="form?.invalid && task.status!='COMPLETED'">
                      <div sectionMessageBody>
                        Please fill out the form correctly.
                        {{ form.errors | json }}
                      </div>
                    </leds-message-banner>
                    <span>
                      <span *ngIf="showSubmit" class="le-u-mar-lr-16">
                        <leds-button *ngIf="!form?.invalid" buttonType="text" (click)="onSubmit()">Submit</leds-button>
                      </span>
                      <span class="le-u-mar-lr-16">
                        <leds-button *ngIf="showSave" buttonType="submit" (click)="onSave()" name="secondaryButton"
                          id="secondaryButton" designType="secondary">Save</leds-button></span>
                      <span class="le-u-mar-lr-16">
                        <leds-button *ngIf="showNext" buttonType="text" (click)="formswitch()">Next</leds-button></span>
                    </span>

                    <!-- <span *ngIf="isCompeleted==false || task.approvalStatus =='REJECTED'">
                      <leds-button *ngIf="!form?.invalid" buttonType="text" (click)="onSubmit()">Submit</leds-button>
                      <leds-button buttonType="submit" (click)="onSave()" name="secondaryButton" id="secondaryButton"
                        designType="secondary">Save</leds-button>
                    </span>
                    <span class="le-u-mar-lr-16"> <leds-button
                        *ngIf="task.status=='COMPLETED' && task.approvalStatus !='REJECTED'" buttonType="text"
                        (click)="formswitch()">Next</leds-button></span> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>