.aip-u-circle-icon-red {
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 2px;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background: #e10000b5;
  }
  .aip-initiative-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 48%);
    grid-template-rows: repeat(auto-fit, 163px);
    // justify-content: center;
    grid-row-gap: 24px;
    grid-column-gap: 24px;
  }