<div class="container-fluid backgroud-color h-100" style="margin-top: 1em">
    <div class="le-l-level1-wrapper">
        <div>
            <span class="le-u-mar-l-8  aip-desc-title le-u-header-xxl"><span style=" color: black;">CLUSTERING</span>
            </span>
        </div>
        <div class="le-l-level2-middle-ctr">
            <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                <leds-panel type="default" styleClass="" contentClass="">
                    <div class="le-u-mar-tb-16 le-u-pad-16" style="background-color: whitesmoke">
                        <div class="row le-c-panel__content">
                            <div class="le-l-level2-middle-col le-u-mar-b-24__mb">


                                <leds-chip-list [designType]="'normal'" [selectable]="true" [disableRipple]="true"
                                    [multiSelect]="true" class="col-md-8">


                                    <leds-chip (click)="onShowAllChartsClick()" [selected]="showAllCharts">
                                        All
                                    </leds-chip>
                                    <leds-chip (click)="onChipClick('ManualCluster')"
                                        [selected]="selectedChart === chartData.ManualCluster">
                                        Manual Cluster
                                    </leds-chip>
                                    <leds-chip (click)="onChipClick('SoundexCluster')"
                                        [selected]="selectedChart === chartData.SoundexCluster">
                                        Soundex Cluster
                                    </leds-chip>
                                    <leds-chip (click)="onChipClick('LDACluster')"
                                        [selected]="selectedChart === chartData.LDACluster">
                                        LDA Cluster
                                    </leds-chip>
                                    <leds-chip (click)="onChipClick('NGramCluster')"
                                        [selected]="selectedChart === chartData.NGramCluster">
                                        NGram Cluster
                                    </leds-chip>
                                    <leds-chip (click)="onChipClick('KeyPhraseCluster')"
                                        [selected]="selectedChart === chartData.KeyPhraseCluster">
                                        Key Phrase Cluster
                                    </leds-chip>

                                </leds-chip-list>
                            </div>

                            <div class="col-lg-6 d-flex justify-content-end flex-column">
                                <mat-form-field>
                                    <mat-label>Configuration Items</mat-label>
                                    <mat-select [(ngModel)]="selectedItems" multiple>
                                        <mat-option *ngFor="let item of items" [value]="item">
                                            {{ item}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <p>Selected Items: {{ selectedItems }}</p>
                            </div>

                            <div class="chart-container" *ngIf="selectedChart && !showAllCharts">
                                <div class="row">
                                    <div class="col-md-8 col-lg-6 col-xl-5" style="min-width: 384px">
                                        <leds-card designType="simple">
                                            <mat-card-content>
                                                <canvas baseChart [datasets]="selectedChart.datasets"
                                                    [labels]="selectedChart.labels" [options]="chartOptions"
                                                    [chartType]="'bar'"></canvas>
                                            </mat-card-content>


                                        </leds-card>
                                    </div>
                                </div>

                            </div>


                            <div class="chart-container" *ngIf="showAllCharts">
                                <div class="chart">
                                    <div class="row">
                                        <div class="col-md-8 col-lg-6 col-xl-5" style="min-width: 384px">
                                            <leds-card designType="simple">
                                                <mat-card-header>
                                                    <mat-card-title>
                                                        <h2 class="le-u-header-xl le-u-ellipsis">Manual Cluster</h2>
                                                    </mat-card-title>
                                                </mat-card-header>
                                                <mat-card-content>
                                                    <canvas baseChart [datasets]="chartData.ManualCluster.datasets"
                                                        [labels]="chartData.ManualCluster.labels"
                                                        [options]="chartOptions" [chartType]="'bar'"></canvas>
                                                </mat-card-content>
                                            </leds-card>
                                        </div>
                                    </div>


                                </div>
                                <div class="chart">
                                    <div class="row">
                                        <div class="col-md-8 col-lg-6 col-xl-5" style="min-width: 384px">
                                            <leds-card designType="simple">
                                                <mat-card-header>
                                                    <mat-card-title>
                                                        <h2 class="le-u-header-xl le-u-ellipsis">Soundex Cluster</h2>
                                                    </mat-card-title>
                                                </mat-card-header>
                                                <mat-card-content>
                                                    <canvas baseChart [datasets]="chartData.SoundexCluster.datasets"
                                                        [labels]="chartData.SoundexCluster.labels"
                                                        [options]="chartOptions" [chartType]="'bar'"></canvas>
                                                </mat-card-content>
                                            </leds-card>
                                        </div>
                                    </div>


                                </div>
                                <div class="chart">
                                    <div class="row">
                                        <div class="col-md-8 col-lg-6 col-xl-5" style="min-width: 384px">
                                            <leds-card designType="simple">
                                                <mat-card-header>
                                                    <mat-card-title>
                                                        <h2 class="le-u-header-xl le-u-ellipsis">LDA Cluster</h2>
                                                    </mat-card-title>
                                                </mat-card-header>
                                                <mat-card-content>
                                                    <canvas baseChart [datasets]="chartData.LDACluster.datasets"
                                                        [labels]="chartData.LDACluster.labels" [options]="chartOptions"
                                                        [chartType]="'bar'"></canvas>
                                                </mat-card-content>
                                            </leds-card>
                                        </div>
                                    </div>

                                </div>

                                <div class="chart">
                                    <div class="row">
                                        <div class="col-md-8 col-lg-6 col-xl-5" style="min-width: 384px">
                                            <leds-card designType="simple">
                                                <mat-card-header>
                                                    <mat-card-title>
                                                        <h2 class="le-u-header-xl le-u-ellipsis">NGram Cluster

                                                        </h2>
                                                    </mat-card-title>
                                                </mat-card-header>
                                                <mat-card-content>
                                                    <canvas baseChart [datasets]="chartData.NGramCluster.datasets"
                                                        [labels]="chartData.NGramCluster.labels"
                                                        [options]="chartOptions" [chartType]="'bar'"></canvas>
                                                </mat-card-content>
                                            </leds-card>
                                        </div>
                                    </div>

                                </div>
                                <div class="chart">
                                    <div class="row">
                                        <div class="col-md-8 col-lg-6 col-xl-5" style="min-width: 384px">
                                            <leds-card designType="simple">
                                                <mat-card-header>
                                                    <mat-card-title>
                                                        <h2 class="le-u-header-xl le-u-ellipsis">Key Phrase Cluster

                                                        </h2>
                                                    </mat-card-title>
                                                </mat-card-header>
                                                <mat-card-content>
                                                    <canvas baseChart [datasets]="chartData.KeyPhraseCluster.datasets"
                                                        [labels]="chartData.KeyPhraseCluster.labels"
                                                        [options]="chartOptions" [chartType]="'bar'"></canvas>
                                                </mat-card-content>
                                            </leds-card>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </leds-panel>
            </div>

        </div>

    </div>
</div>