.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  .col-align{
    display: flex;
    align-items: center;
    height: 4rem;
  }
  .modal-fullscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .aip-fullScreen {
    height: 80vh;
    min-width: 100%;
  
  }
  .aip-modalScreen {
    min-width: 100%;
    height: 90vh;
  }
  .aip-restore-try{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    z-index: 1000;
  }
  .fullScreen{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }
  .aip-dgTool-boilerPlate{
    overflow-y: overlay;
    position: inherit;
    top: 0;
    left: 0;
    height: 40rem;
    width: 100%;
  }