<div class="container-fluid backgroud-color" style="position: relative;">
    <div class="le-l-level1-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="le-l-level1-middle-col le-l-base-layout-center">
                    <div class="align-items-center d-flex">
                        <span class="">
                            <i class="aip-led-icons icon x-24 back-icon" (click)="routeBackToList()"></i>
                        </span>
                        <span class="le-u-mar-l-8 le-u-header-xxl">{{cardTitle}}</span>
                    </div>
                    <div class="le-l-level2-middle-ctr">
                        <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                            <leds-panel type="default" styleClass="" contentClass="">
                                <div class="le-u-mar-tb-16 le-u-pad-16">
                                    <div class="le-c-panel__content">
                                        <div *ngIf="showLoader"
                                            style="display: flex; justify-content: center ; align-items: center;">
                                            <span class="loader"></span>
                                        </div>
                                        <div *ngIf="!showLoader">
                                            <jsonforms *ngIf="attributes" [data]="data" [schema]="attributes"
                                                [uischema]="uischema" [renderers]="renderers"
                                                (dataChange)="showData($event)">
                                            </jsonforms>
                                        </div>
                                        <div style="height: max-content; padding-top: 10px;">
                                            <div class="">
                                                <div class="row">
                                                    <div class="col-9 col-align" style="justify-content: flex-start;">
                                                        <h3> Write Script </h3>
                                                    </div>
                                                    <div class="col-3 col-align" style="justify-content: flex-end;">
                                                        <li class="le-u-mar-lr-8" (click)="maximize()">
                                                            <leds-tooltip [tooltip]="'Maximize'"
                                                                [position]="tooltipPoition"><i
                                                                    class="icon x-24 icon_maximise aip-led-icons"></i>
                                                            </leds-tooltip>
                                                        </li>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                [ngClass]="resizeing ? 'class aip-dgTool-boilerPlate' : 'class fullScreen'">
                                                <div class="" >
                                                    <!-- <div style="overflow-y:overlay;height:80%;"> -->
                                                    
                                                        <app-enl-code-editor id="ele" *ngIf="loadScript"
                                                            [script]="script" [lang]="lang" 
                                                            (scriptChange)="onScriptChange($event)"
                                                            >
                                                        </app-enl-code-editor>
                                                
                                                    <div *ngIf="!showIcon"
                                                        style="position: absolute; top: 4rem;right: 4rem; z-index: 99;color: #fff;">
                                                        <li class="le-u-mar-lr-8" (click)="minimize()">
                                                            <leds-tooltip [tooltip]="'Minimize'"
                                                                [position]="tooltipPoition"><i
                                                                    class="icon x-24 icon_minimise aip-led-icons"></i>
                                                            </leds-tooltip>
                                                        </li>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="showIcon" class="le-c-panel__footer">
                                        <div class="d-flex m-2 le-u-pad-tb-16 le-u-pad-lr-24" style="float: right;">
                                            <leds-button nameText="secondaryButton" idText="secondaryButton"
                                                [disabled]="false" buttonType="button" designType="primary"
                                                (click)="saveJson()">
                                                REGISTER
                                            </leds-button>
                                        </div>
                                    </div>
                                </div>
                            </leds-panel>
                        </div>
                        <div class="le-l-level2-right-col">
                            <div class="le-u-mar-tb-16">
                                <leds-panel type="default" styleClass="" contentClass="">
                                    <div class="le-c-panel__content">
                                        <div class="le-u-pad-16">
                                            <div class="le-u-header-lg">Thoughts Creating</div>
                                        </div>
                                    </div>
                                </leds-panel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>