<div class="le-u-pad-16">
  <h2 class="le-u-header-xl le-u-text-black float-start">
      <span *ngIf="showBreadcrumb">
          <span *ngFor="let bc of breadcrumb">
          <a href="javascript:void(0);" *ngIf="bc" (click)="navigateToWorkflow(bc.name)" id="{{bc.name})">{{bc.name}}</a>
          <span>&nbsp;&gt;&nbsp;</span>
          <a href="javascript:void(0);" *ngIf="bc" id="{{workflow.alias})">{{workflow.alias}}</a>
          </span>
      </span>
  </h2>
</div>
<div class="le-u-pad-16" style = "padding-bottom: 5rem !important;">
    <leds-multi-col-container>
        <div panel panelRounded panelBorder class="le-u-mar-b-16">
          <div panelHeader>
            <div *ngIf="showBreadcrumb" class="row">
              <div *ngFor="let bc of breadcrumb" class="col-md-12">
                <h2 *ngIf="bc" class="le-u-header-xl le-u-text-black float-start">{{bc.name}}</h2>
            </div>
            </div>
          </div>
          <div panelBody class="clearfix">
            <div class="tab_content  d-flex" id="tabContent_0">
              <leds-panel type="default" styleClass="" contentClass="">
              <div class="aip-scroll-hover" style="width: 25rem; height: 100vh;">
                  <div class="le-l-multicolumn__header le-u-mar-b-16">
                    <h2 class="le-u-header-xl le-u-text-black float-center"> Parameters </h2>
                </div>
                <div>
                    <app-wk-question style="width: 100%;" [wkData]="workflowData" [wkJson]="jsonToQuest" [workflow]="workflow"
                        (selectedCols)="changeStage($event)" (showTab)="showQuestionTab($event)" (skip)="skipStage()">
                    </app-wk-question>
                </div>
              </div>
            </leds-panel>
              <div style="width: calc(100% - 25rem);">
                <div class="le-l-multicolumn__content">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="le-u-pad-16">
                        <leds-panel  type="default" styleClass="" contentClass="">
                            <div class="main contents">
                                <div style="padding: 5px;" *ngIf="tabs.length>0">
                                    <leds-card-content>
                                        <div ledsTabGroup [type]="type" [headerBg]="headerBg">
                                        <mat-tab-group id="wk-tab" [selectedIndex]="selected.value" (selectedTabChange)="onTabChange($event)"
                                            class="tabs" style="width: 100%;">
                                            <mat-tab [label]="tb" *ngFor="let tb of tabs;">
                                                <app-wk-workarea style="width: 100%;" [index]="index" [selectedTab]="selected"
                                                    [wkData]="workflowData" [wkJson]="jsonToWk" (event)="changeStage($event)"
                                                    (tabChange)="onTabChange($event)">
                                                </app-wk-workarea>
                                            </mat-tab>
                                        </mat-tab-group>
                                        </div>
                                    </leds-card-content>
                                </div>
                            </div>
                        </leds-panel>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </leds-multi-col-container>
</div>      