<div class="clearfix le-l-bodywrapper aip-tranparent-backgroud js-bodywrapper" id="mainCtr">
    <div class="container-fluid">
        <div class="le-l-middle-col le-u-no-mar-l__mb" id="mainrightCnt">
            <div class="le-l-level1-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="le-l-level1-middle-col le-l-base-layout-center">
                            <!-- <h1 class="le-u-header-xxl le-u-mar-b-32">Refer Now</h1> -->
                            <div class="d-flex align-items-center">
                                <leds-tooltip [tooltip]="'back'" [position]="'above'">
                                    <span class="mx-2 aip-cursor d-flex" style="height: max-content;">
                                        <i class="aip-led-icons icon  back-icon" (click)="navigateBack()"></i>
                                    </span>
                                </leds-tooltip>
                                <span class="le-u-mar-l-8  aip-desc-title le-u-header-xxl">Search Results</span>
                            </div>
                            <div class="w-50">
                                <leds-input-field
                                    placeholder="Search for models, Datasets, Endpoints, Pipelines and more…"
                                    designType="search" style="width:50%" inputType="text" [disabled]="false"
                                    [required]="false" styleClass="" (keydown.enter)="changesOccur()"
                                    [(ngModel)]="search"></leds-input-field>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="le-u-mar-t-16">
                                        <div class="d-flex" style="width:max-content">
                                            <div class="" *ngFor="let grp of groupkey">
                                                <span (click)="selectionChange(grp)"
                                                    [ngStyle]="{'backgroundColor': (selectedGroup==grp) ? '#EDCFFF':  'white'}"
                                                    class="aip-cursor le-u-mar-lr-8 le-u-pad-8 le-u-header-md aip-panel-shadow aip-ivm-artifact-clip">{{grp}}</span>
                                            </div>
                                        </div>
                                        <div class="le-u-mar-b-16 le-u-mar-t-32 le-u-header-lg" *ngIf="searcedFor!=''">
                                            Showing Results For "{{searcedFor}}"
                                        </div>
                                        <div class="aip-ivm-search-grid le-u-mar-t-32">
                                            <div class="aip-cursor"
                                                *ngFor="let card of groupData[selectedGroup];  index as i"
                                                style="border-radius: 1.8rem;">
                                                <leds-card designType='simple' [actionsOnHover]='true'
                                                    *ngIf="card.data.id!=null || card.data.alias!=null"
                                                    style="padding:0px !important; height: 150px; display: grid; width:25rem">
                                                    <div class="le-c-card__container-right">
                                                        <span class="le-c-badge float-end"
                                                            [ngClass]="[card.data.status=='Registered'?'le-c-badge--blue ':'le-c-badge--active',card.data.status=='Undeployed'?'le-c-badge--warning ':'le-c-badge--active']">{{card.data.status}}</span>
                                                    </div>
                                                    <div class="">
                                                        <div *ngIf="card.data.type=='r'"
                                                            class="le-u-header-sm le-u-text-primary-80 le-u-mar-b-8">
                                                            Read</div>
                                                        <div *ngIf="card.data.type=='rw'"
                                                            class="le-u-header-sm le-u-text-primary-80 le-u-mar-b-8">
                                                            Read & Write</div>
                                                        <div *ngIf="card.data.type!='rw' && card.data.type!='r'"
                                                            class="le-u-header-sm le-u-text-primary-80 le-u-mar-b-8">
                                                            {{card.data.type}}</div>
                                                    </div>
                                                    <mat-card-header>
                                                        <mat-card-title class="le-c-card__container clearfix">
                                                            <div class="le-c-card__container-left w-100">
                                                                <h2 class="le-u-header-xl le-u-ellipsis aip-fullname-card"
                                                                    *ngIf="card.data.name && card.data.name!=''"
                                                                    style="line-height: 2rem;">
                                                                    {{card.data.name | titlecase}}</h2>
                                                                <h2 *ngIf="!card.data.name && card.data.name==''"
                                                                    class="le-u-header-xl le-u-ellipsis aip-fullname-card"
                                                                    style="line-height: 2rem;">
                                                                    {{card.data.sourceName | titlecase}}</h2>
                                                            </div>

                                                        </mat-card-title>
                                                        <mat-card-subtitle
                                                            class="le-u-body-sm le-u-text-neutral-80 le-u-ellipsis">{{card.data.lastmodifieddate}}</mat-card-subtitle>
                                                    </mat-card-header>
                                                    <mat-card-content class="le-u-no-mar-b" style="color: #737373;">
                                                        <p class="le-u-body-md le-u-text-neutral-80 le-u-line-2 aip-desc-ellipsis"
                                                            [ngClass]="card.data.description==''||card.data.description==null||card.data.description=='null'?'noDisplay':'showDesc'">
                                                            {{card.data.description}}
                                                        </p>
                                                    </mat-card-content>
                                                    <mat-card-actions
                                                        class="le-c-card__action-hover d-flex justify-content-between">
                                                        <leds-button nameText="textButton" idText="textButton"
                                                            [disabled]="false" buttonType="button" designType="text"
                                                            styleClass=" DSA_wb_Btn_small"
                                                            (click)="redirection(card,'preview')"><span>View
                                                                Details</span></leds-button>
                                                        <!-- <leds-overflow>
                                                            <div ngbDropdown *ngIf="editAuth|| deployAuth||deleteAuth"
                                                                class="aip-led-icons d-inline-block le-u-mar-r-8 le-u-v-mid float-end le-c-card__action-ul">
                                                                <a href="javascript:void(0);" id="OverflowMenu_dd"
                                                                    ngbDropdownToggle (click)="clickactive($event);"
                                                                    aria-label="menu icon">
                                                                    <i aria-hidden="true"
                                                                        class="icon x-24 v-menu-icon"></i>
                                                                </a>
                                                                <div ngbDropdownMenu aria-labelledby="OverflowMenu_dd"
                                                                    style="display: grid;justify-content: center;">
                                                                    <ul overflowList
                                                                        class="float-end le-u-mar-t-8  le-c-card__action-ul"
                                                                        style="display: flex;flex-direction: column;">
                                                                        <li overflowListItem>
                                                                        <li><span *ngIf="editAuth"
                                                                                class="le-u-body-md  aip-cursor"
                                                                                (click)="redirection(card,'edit')">Edit</span>
                                                                        </li>
                                                                        <li *ngIf="card.data.status=='Registered' || card.data.status=='Undeployed'"
                                                                            overflowListItem><span *ngIf="deployAuth"
                                                                                aria-placeholder="Deploy"
                                                                                class=" aip-cursor le-u-body-md"
                                                                                (click)="redirection(card,'deploy')">Deploy</span>
                                                                        </li>
                                                                        <li overflowListItem
                                                                            *ngIf="card.data.status=='Deployed'">
                                                                            <span *ngIf="deleteAuth"
                                                                                class="le-u-body-md aip-cursor"
                                                                                (click)="deleteDeployment(card)">Delete
                                                                                Deployment</span>
                                                                        </li>
                                                                        <li overflowListItem>
                                                                            <span *ngIf="deleteAuth"
                                                                                class="le-u-body-md aip-cursor"
                                                                                (click)="deleteModels(card)">Delete</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </leds-overflow> -->
                                                    </mat-card-actions>
                                                </leds-card>
                                            </div>
                                        </div>

                                        <div *ngFor="let item of groupData[selectedGroup]; let isLast=last">
                                            <div *ngIf="isLast">
                                                <div *ngIf="item.data.id!=null && item.data.alias!=null && searcedFor==''"
                                                    class="d-flex justify-content-end le-u-mar-8 le-u-body-xl  aip-cursor"
                                                    (click)='data_flux_type(selectedGroup)' style="color: #8626C3;">
                                                    <u>Load More</u>
                                                </div>
                                                <div *ngIf="searcedFor!='' && item.data.id!=null && item.data.alias!=null && groupData[selectedGroup]"
                                                    class="d-flex justify-content-end le-u-mar-8 le-u-header-lg aip-cursor"
                                                    style="color: #723c94;" (click)="fetchmore()">
                                                    <strong>fetchmore</strong>
                                                </div>
                                                <div *ngIf="item.data.id==null && item.data.alias==null || !groupData[selectedGroup]"
                                                    class="d-flex justify-content-center le-u-mar-8 le-u-header-xl aip-cursor"
                                                    style="color: #723c94;">
                                                    <strong>No More Data</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>