<!-- <app-grid-component [childDashboardName]="dashboardname" [autoselectedfilterjson]="autoselectedfilterjson" [autoselectedfilterwidgetdata]="autoselectedfilterwidgetdata"
[autoselecteddependentfilterjson]="autoselecteddependentfilterjson" (selectedFilterWidgetdata)="selectedFilterWidgetdata($event)"></app-grid-component> -->

<div>
    <leds-button (click)="navigate()"
    nameText='textButton' idText='textButton' [disabled]='false' buttonType='button' designType='text'>
        Click Here for Dashboard
    </leds-button>
</div>