<!--

     @ 2018 Infosys Limited, Bangalore, India. All Rights Reserved.
     Version: 1.0
     Except for any free or open source software components embedded in this Infosys proprietary software program (Program),
     this Program is protected by copyright laws, international treaties and  other pending or existing intellectual property
     rights in India, the United States, and other countries. Except as expressly permitted, any unauthorized reproduction, storage,
     transmission in any form or by any means(including without limitation electronic, mechanical, printing, photocopying,
     recording, or otherwise), or any distribution of this program, or any portion of it, may result in severe civil and
     criminal penalties, and will be prosecuted to the maximum extent possible under the law.

-->
<div class="dual-list selector-760-1">
	<div class="listbox selector-760-2">
		<p class="selector-760-3">{{sourceName}}</p>
		<h3 class="clearfix selector-760-4">
			<div style="display:flex" class="search-container ams_cusSrch_custom pull-left selector-760-5">
				<input #myInput1="" type="text" placeholder="Search.."
					(keypress)="checkEnterPressed($event,myInput1.value)" class="selector-760-6" />
				<button type="button" style="padding: 0px 0px 0px 7px;" (click)="filterItem(myInput1.value)"
					class="selector-760-7">
					<i class="searchIcon selector-760-8"></i>
				</button>
			</div>
			<!-- <div style="display:flex; margin-top: 15px;"
                        class="col-10 offset-1 offset-xs-1 offset-sm-1  aip-panel aip-panel-shadow d-flex align-items-center">
                        <input #myInput1="" type="text" name="" id="" placeholder="Search by Name" class="aip-panel-input"
						(keypress)="checkEnterPressed($event,myInput1.value)" (click)="filterItem(myInput1.value)">
                        <i class="aip-led-icons icon x-24 search-icon"></i>
                    </div> -->
		</h3>
		<div class="record-picker selector-760-9">
			<ul [ngStyle]="{'max-height': height, 'min-height': height}" [ngClass]="{over:available.dragOver}"
				(drop)="drop($event, confirmed)" (dragover)="allowDrop($event, available)" (dragleave)="dragLeave()"
				class="selector-760-10">
				<li *ngFor="let item of available.sift; let idx=index;"
					(click)="selectItem(available.pick, item); shiftClick($event, idx, available, item)"
					[ngClass]="{selected: isItemSelected(available.pick, item)}" [draggable]="format.draggable"
					(dragstart)="drag($event, item, available)" (dragend)="dragEnd(available)"
					[matTooltipDisabled]="!displayTooltip" matTooltipClass="crud-tooltip"
					[matTooltip]="displayTooltip ? tooltip(available.list, item) : null" class="selector-760-11"><label
						style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: auto; display: block;"
						class="selector-760-12">{{item._name}}</label></li>
			</ul>
		</div>
	</div>

	<div class="buttonbox selector-760-13">
		<button type="button" class="btn btn-primary btn-block selector-760-14" (click)="select(available, confirmed)"
			[disabled]="available.pick.length === 0 || disabledview"><i
				class="fa fa-angle-right selector-760-15"></i></button>
		<!-- <leds-button  nameText="miniPrimaryButton"
                idText="miniPrimaryButton" [disabled]="available.pick.length === 0 || disabledview" buttonType="button" designType="miniPrimary" (click)="select(available, confirmed)">
                <span class="le-c-btn--icon__icon">
                    <i class=" icon x-24 next-icon"></i>
                </span>
            </leds-button> -->
		<button type="button" class="btn btn-primary btn-block selector-760-16" (click)="moveAll()"
			[disabled]="isAllSelected(available) || disabledview"><i
				class="fa fa-angle-double-right selector-760-17"></i></button>


		<button type="button" class="btn btn-primary btn-block selector-760-18" (click)="remove(confirmed, available)"
			[disabled]="confirmed.pick.length === 0 || disabledview"><i
				class="fa fa-angle-left selector-760-19"></i></button>

		<button type="button" class="btn btn-primary btn-block selector-760-20" (click)="removeAll()"
			[disabled]="isAllSelected(confirmed) || disabledview"><i
				class="fa fa-angle-double-left selector-760-21"></i></button>

		<button type="button" class="btn btn-primary btn-block selector-760-22" (click)="moveItemUp(confirmed.list)"
			[disabled]="confirmed.pick.length === 0 || disabledview"><i
				class="fa fa-angle-up selector-760-23"></i></button>

		<button type="button" class="btn btn-primary btn-block selector-760-24" (click)="moveItemDown(confirmed.list)"
			[disabled]="confirmed.pick.length === 0 || disabledview"><i
				class="fa fa-angle-down selector-760-25"></i></button>

	</div>

	<div class="listbox selector-760-26">
		<p class="selector-760-27">{{targetName}}</p>
		<h3 class="clearfix selector-760-28">
			<div style="display:flex" class="search-container ams_cusSrch_custom pull-left selector-760-29">
				<input #myInput2="" type="text" placeholder="Search.."
					(keypress)="checkEnterconfirmedPressed($event,myInput2.value)" class="selector-760-30" />
				<button type="button" style="padding: 0px 0px 0px 7px;" (click)="filterconfirmedItem(myInput2.value)"
					class="selector-760-31">
					<i class="searchIcon selector-760-32"></i>
				</button>
			</div>
		</h3>
		<div class="record-picker selector-760-33" (scroll)="handleScroll($event)" #targetList="">
			<ul [ngStyle]="{'max-height': height, 'min-height': height}" [ngClass]="{over:confirmed.dragOver}"
				(drop)="drop($event, available)" (dragover)="allowDrop($event, confirmed)" (dragleave)="dragLeave()"
				class="selector-760-34">
				<li *ngFor="let item of confirmed.sift; let idx=index;"
					(click)="selectItem(confirmed.pick, item); shiftClick($event, idx, confirmed, item)"
					[ngClass]="{selected: isItemSelected(confirmed.pick, item)}" [draggable]="format.draggable"
					(dragstart)="drag($event, item, confirmed)" (dragend)="dragEnd(confirmed)"
					[matTooltipDisabled]="!displayTooltip" [matTooltip]="tooltip(confirmed.list, item)"
					class="selector-760-35"><label
						style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: auto; display: block;"
						class="selector-760-36">{{item._name}}</label></li>
			</ul>
		</div>
	</div>
</div>