<div>
    <div>
        <h2 class="le-u-header-xl le-u-ellipsis recommendation-heading">
            Recommended Resolution</h2>
    </div>

    <div class="k1">
        <div class="row le-u-pad-lr-16 le-u-pad-t-8">
            <div *ngIf="loadingPage">
                <mat-card-content>
                    <leds-card class="le-u-pad-tb-8 le-u-pad-lr-16">
                        <leds-spinner [bdColor]="'#ffffff'" [size]="'default'" [color]="'#8626c3'" [type]="'ball-spin'"
                            [fullScreen]="false" [showSpinner]="loadingPage">
                        </leds-spinner>
                    </leds-card>
                </mat-card-content>
            </div>
            <div *ngIf="!loadingPage && !isInstanceNameConfigured"
                class="le-l-level2-middle-col le-u-mar-b-24__mb le-u-pad-lr-16 le-u-mar-b-8">
                <leds-card designType='simple' class="le-u-pad-lr-16 le-u-pad-b-8">
                    <mat-card-header>
                        <mat-card-title class="le-c-card__container clearfix">
                            <div class="le-c-card__container-left w-100">
                                <h2 class="le-u-header-md le-u-ellipsis" style="line-height: 2rem;">
                                    Please Configure Adapter Instance Name</h2>
                            </div>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="le-u-body-md mt-3" style="min-height: 4rem;">
                            <leds-select [options]="adaptersOptions" (selectChange)="adapterNameChangesOccur($event)"
                                label="Select Adapter Instance" [(ngModel)]="adapterInstanceName" [required]="true"
                                [disabled]="false" designType="default" [isMultiple]="false"></leds-select>

                            <leds-button *ngIf="adapterInstanceName" nameText="secondaryButton" idText="secondaryButton"
                                [disabled]="false" buttonType="button" designType="primary"
                                (click)="configureAdapterInstance()">
                                Configure
                            </leds-button>
                            <leds-button *ngIf="!adapterInstanceName" nameText="secondaryButton"
                                idText="secondaryButton" [disabled]="true" buttonType="button" designType="primary">
                                Configure
                            </leds-button>
                        </div>
                    </mat-card-content>
                </leds-card>
            </div>
            <div *ngIf="!loadingPage && isInstanceNameConfigured"
                class="le-l-level2-middle-col le-u-mar-b-24__mb le-u-pad-lr-16">
                <div *ngIf="!isInstanceExist">
                    <leds-message-banner designType="error" [section]="false">
                        <div messageBody>Adapter Instance : <a
                                class="le-u-text-primary-80 le-u-mar-b-8">{{instanceName}}</a> is
                            unavailable, Please try after adding Adapter Instance from Adapters tab.
                        </div>
                    </leds-message-banner>
                </div>
                <div *ngIf="isInstanceExist">
                </div>
            </div>


            <div class="parent-container">
                <div class="itsm-card medium-card">
                    <div class="card-recommendation">
                        <div class="recommendation-subheading">
                            <h5 class="le-u-header-xl le-u-ellipsis">{{ticketId}}-{{incident.category}}</h5>
                        </div>
                        <div *ngIf="isRecommendedResolutionLoading" class="loader loader-container">

                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        <div *ngIf="recommendedResolution && !isRecommendedResolutionLoading">
                            <div class="le-u-no-mar-b itsm-card-scroll medium-card-content">
                                <p class="le-u-body-md le-u-text-neutral-80"
                                    *ngFor="let line of splitLines(recommendedResolution)">
                                    {{line}}
                                </p>
                            </div>
                        </div>
                        <div *ngIf="!recommendedResolution && !isRecommendedResolutionLoading">
                            <div class="le-u-no-mar-b itsm-card-scroll medium-card-content">
                                <p class="le-u-body-md le-u-text-neutral-80">
                                    No Recommended Resolution Found
                                </p>
                            </div>
                        </div>

                        <div class="d-flex justify-content-start le-u-pad-r-24 le-u-pad-t-8">
                            <leds-button (click)="triggerResolve()" class="le-u-text-status-warning" buttonType="button"
                                designType="primary" [disabled]="false">
                                Resolve
                            </leds-button>
                        </div>
                    </div>
                </div>

                <div class="row le-u-pad-lr-16 le-u-pad-t-8">
                    <div ledsTabGroup [type]="type" [headerBg]="headerBg">
                        <mat-tab-group disableRipple>
                            <mat-tab *ngFor="let tab of genAIAssistList">
                                <ng-template mat-tab-label>{{tab.viewValue}}</ng-template>
                                <div>
                                    <div *ngIf="tab.loading" class="loader loader-container">
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                    </div>
                                    <div *ngIf="tab.data && !tab.loading" class="small-card le-u-pad-t-8 ">
                                        <div class="card-recommendation itsm-card-scroll small-card-content">
                                            <p>{{tab.data}}</p>
                                        </div>
                                    </div>
                                    <div *ngIf="!tab.data && !tab.loading">
                                        <div class="card-recommendation itsm-card-scroll small-card-content">
                                            No {{tab.viewValue}} Found
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>