<div class="clearfix le-l-bodywrapper js-bodywrapper" id="mainCtr">
    <div class="container-fluid">
        <div class="le-l-middle-col le-u-no-mar-l__mb" id="mainrightCnt">
            <div class="le-l-level1-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="le-l-level1-middle-col le-l-base-layout-center">
                            <h1 class="le-u-header-xxl le-u-mar-b-32">Configure Activity</h1>
                            <div class="le-l-level2-middle-ctr">
                                <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                                    <leds-multi-col-container>
                                        <div panel panelRounded panelBorder class="le-u-mar-tb-16">
                                            <div panelBody class="clearfix">
                                                <div panelThreeCol class="tab_content" id="tabContent_0">
                                                    <div secondColPanel>
                                                        <div class="le-l-multicolumn__header">
                                                            <h2 class="le-u-header-xl le-u-text-black">Activities</h2>
                                                        </div>
                                                        <div class="DSA_htdummy">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="le-u-pad-16">
                                                                        <div class="d-flex  align-items-center">
                                                                            <div class="le-u-header-md le-u-mar-lr-8">
                                                                                Select&nbsp;&nbsp;Activity
                                                                            </div>
                                                                            <div class="w-100">
                                                                                <leds-select [options]="activityList"
                                                                                    label="" [required]="false"
                                                                                    [disabled]="false"
                                                                                    designType="default"
                                                                                    (selectChange)="selectActivity($event)"
                                                                                    [isMultiple]="false"></leds-select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex  align-items-center">
                                                                            <div class="le-u-header-md le-u-mar-lr-8">
                                                                                Select&nbsp;&nbsp;Template
                                                                            </div>
                                                                            <div class="w-100">
                                                                                <leds-select [options]="templateList"
                                                                                    label="" [required]="false"
                                                                                    [disabled]="false"
                                                                                    designType="default"
                                                                                    (selectChange)="selectTemplate($event)"
                                                                                    [isMultiple]="false"></leds-select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div thirdColPanel>
                                                        <div class="le-l-multicolumn__header">
                                                            <div class="row">
                                                                <div class="">
                                                                    <h2 class="le-u-header-xl le-u-text-black">Linked
                                                                        Template</h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="le-l-multicolumn__content">
                                                            <div class="row  le-u-pad-16">
                                                                <div class="col-md-11">
                                                                    <leds-input-field placeholder="Search Template"
                                                                        label="" designType="default" inputType="text"
                                                                        [disabled]="false" [required]="false"
                                                                        [(ngModel)]="searchText"
                                                                        styleClass=""></leds-input-field>
                                                                    <div class="d-flex flex-wrap align-items-center">
                                                                        <div class="le-u-mar-8"
                                                                            *ngFor="let template of linkedTemplateList | filter: searchText">
                                                                            <leds-chip [designType]="'normal'"
                                                                                (click)="linkedTemplate(template)"
                                                                                [disableRipple]="false"
                                                                                [disabled]="false" [removable]="false"
                                                                                [selectable]="false" [selected]="false">
                                                                                {{template.name}}
                                                                            </leds-chip>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="col-md-1 align-items-center d-flex justify-content-center">
                                                                    <leds-button nameText="miniPrimaryButton"
                                                                        (click)="open(createTemplate)"
                                                                        idText="miniPrimaryButton" [disabled]="false"
                                                                        buttonType="button" designType="miniPrimary">
                                                                        <i class="icon-add white icon x-16"></i>
                                                                    </leds-button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="le-u-pad-tb-8" style="position: relative;"
                                            *ngIf="selectedTemplateName">
                                            <leds-panel>
                                                <div class="le-u-pad-16">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div
                                                            class="le-u-header-lg align-items-center  justify-content-start">
                                                            {{selectedTemplateName}}
                                                        </div>
                                                        <div class="d-flex justify-content-end align-items-center">
                                                            <input type="file" #csvFileInput
                                                                (change)="fileUpload($event)" style="display:none"
                                                                accept=".csv" />
                                                            <leds-tooltip [tooltip]="'Upload Data'"
                                                                [position]="'above'">
                                                                <span class="le-u-mar-lr-8 aip-cursor"
                                                                    (click)="openFileInput()">
                                                                    <i class="icon x-24 upload-icon aip-led-icons"></i>
                                                                </span>
                                                            </leds-tooltip>
                                                            <div class="le-u-mar-8"></div>
                                                            <leds-tooltip [tooltip]="'Download Template'"
                                                                [position]="'above'">
                                                                <span class="le-u-mar-lr-16 aip-cursor"
                                                                    (click)="downloadCsvTemplate()"><i
                                                                        class="icon x-24 download-icon aip-led-icons"></i></span>
                                                            </leds-tooltip>
                                                            <div class="le-u-mar-8"></div>
                                                            <leds-tooltip [tooltip]="'Add Template Data'"
                                                                [position]="'above'">
                                                                <span class="le-u-mar-lr-16 aip-cursor"
                                                                    (click)="open(addTemplate)"><i
                                                                        class="icon x-24 icon-add aip-led-icons"></i>
                                                                </span>
                                                            </leds-tooltip>
                                                        </div>
                                                    </div>
                                                    <leds-data-grid *ngIf="templateData.length>0">
                                                        <table dataGridTable>
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Question Id</th>
                                                                    <th scope="col">Parent Name</th>
                                                                    <th scope="col">Question Content</th>
                                                                    <th scope="col">Response Type</th>
                                                                    <th scope="col">Options</th>
                                                                    <th scope="col">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let template of templateData">
                                                                    <td>{{template.question_id}}</td>
                                                                    <td>{{template.parent_name}}</td>
                                                                    <td>{{template.question_content}}</td>
                                                                    <td>{{template.response_type}}</td>
                                                                    <td>{{template?.options}}</td>
                                                                    <td>
                                                                        <leds-tooltip [tooltip]="'Delete'"
                                                                            [position]="'above'">
                                                                            <span class="aip-cursor"
                                                                                (click)="deleteTemplate(template.question_id)">
                                                                                <i
                                                                                    class="icon x-24 delete-sm-icon aip-led-icons"></i></span>
                                                                        </leds-tooltip>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </leds-data-grid>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="">
                                                                <div class="">
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="le-u-mar-lr-16">
                                                                            <leds-checkbox
                                                                                [checked]="selectedTemplateMandatory"
                                                                                (change)="mandate($event)"
                                                                                [disabled]="false">
                                                                                Is Mandatory
                                                                            </leds-checkbox>
                                                                        </div>
                                                                        <div class="le-u-mar-lr-16">
                                                                            <leds-checkbox [checked]="isApprovalFlow"
                                                                                (change)="isApproval($event)"
                                                                                [disabled]="false">
                                                                                Is Approval Flow
                                                                            </leds-checkbox>
                                                                        </div>
                                                                    </div>
                                                                    <div class="le-u-mar-t-24 w-25"
                                                                        *ngIf="isApprovalFlow">
                                                                        <leds-select [options]="approver_role"
                                                                            label="Select Approver Role"
                                                                            designType="default" [isMultiple]="false"
                                                                            [(ngModel)]="approverRole"
                                                                            (selectChange)="selectApproverRole($event)"></leds-select>
                                                                    </div>
                                                                </div>
                                                                <hr class="le-u-mar-b-24 le-u-mar-t-24 le-u-hor-line" />
                                                                <div class="d-flex justify-content-end">
                                                                    <leds-button
                                                                        (click)="saveTemplate()">Submit</leds-button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </leds-panel>
                                            <leds-spinner bdColor="rgba(51,60,60,0.8)" [size]="'default'"
                                                [color]="'#8626c3'" [type]="'ball-spin'" [fullScreen]="false"
                                                [showSpinner]="showSpinner">
                                                <p loadingText> CSV is being Uploaded</p>
                                            </leds-spinner>
                                        </div>
                                    </leds-multi-col-container>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Template Creation -->
<ng-template #createTemplate let-modal>
    <div class="le-u-pad-24">
        <div class="d-flex align-items-center justify-content-between">
            <div class="le-u-header-xxl">Create Template</div>
            <div class="" (click)="close()"><i class="icon x-16 aip-icons close-icon"></i></div>
        </div>
        <div class="le-u-mar-t-24">
            <div class="">
                <!-- <div class="le-u-header-md">Select type</div>
                <leds-select [options]="templateList" label="" [required]="false" [disabled]="false"
                    designType="default" [isMultiple]="false" (selectChange)="selectTypeNew($event)"></leds-select> -->
                <div class="le-u-pad-b-16"><span class="le-u-header-lg ">Template Type : &nbsp; </span><span
                        class="le-u-header-md ">{{selectedTemplate}} </span></div>
            </div>
            <div class="">
                <div class="le-u-header-md">Template Name</div>
                <leds-input-field placeholder="" label="" designType="default" inputType="text" [disabled]="false"
                    [required]="false" styleClass="" [(ngModel)]="templateName"></leds-input-field>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <leds-button nameText="miniPrimaryButton" idText="miniPrimaryButton" [disabled]="false" buttonType="button"
                designType="miniPrimary" (click)="addSingleTemplate()">
                Create Template
            </leds-button>
        </div>
    </div>
</ng-template>
<!-- Adding single Data to Template -->
<ng-template #addTemplate let-modal>
    <app-add-template [templateId]="tempId" (newTemplate)="newTemplate($event)"></app-add-template>
</ng-template>