
<div style="padding-top: 10px; padding-left: 17.5px;">
    <h2 class="le-u-header-xl le-u-ellipsis" style="font-size: 2.2rem;">Related Tickets</h2>
</div>
<div class="k1 itsm-card itsm-scroll le-u-mar-tb-8">

    <div *ngIf="loadingSimilarTickets" class="loader loader-container">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <div *ngIf="!noSimilarTickets">

        <div *ngFor="let i of similarTickets">
            <leds-card designType='simple' class="le-u-mar-lr-8" style="margin: bottom -20px;">
                <mat-card-header>
                    <mat-card-title class="le-c-card__container clearfix">
                        <div class="le-c-card__container-left">
                            <h2 class="le-u-header-xl le-u-ellipsis">{{i.number}}</h2>
                        </div>
                        <div class="le-c-card__container-right">
                            <leds-badge badgeType='closed' class='float-end'>{{i.state}}</leds-badge>
                        </div>

                    </mat-card-title>
                    <mat-card-subtitle
                        class="le-u-body-sm le-u-text-neutral-80 le-u-ellipsis">{{i.category}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <!-- <p class="le-u-body-md le-u-text-neutral-80 le-u-line-3">
                    The card container is the only required element in a card. All other elements shown here are optional.
                </p> -->
                <div class="align-items-center d-flex justify-content-between" style="margin-bottom: 1.2rem;">
                    <div>
                        <strong>Short Description:</strong> {{i.shortdescription}}
                    </div>
                </div>
                    <div class="align-items-center d-flex justify-content-between">
                        <div>
                            <strong>Created:</strong> <br>{{i.createdDate}}
                        </div>
                        <div>
                            <strong>Type:</strong><br> {{i.type}}
                        </div>
                    </div>
                </mat-card-content>
            </leds-card>
        </div>

    </div>

    <div *ngIf="noSimilarTickets">
        No Related Tickets Found
    </div>

</div>