::ng-deep .mat-horizontal-stepper-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 16px 0px 16px;
}

::ng-deep .mat-horizontal-stepper-content {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin-top: 24px;
    // margin: 1% 10% 1px;
}

::ng-deep .mat-horizontal-content-container {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

::ng-deep .mat-step-header {
    margin: 16px 64px;
}

::ng-deep .mat-mdc-chip {
    min-width: fit-content;
}

@media screen and (max-width: 600px) {
    ::ng-deep .mat-step-header {
        margin: 16px 8px;
    }
    
}

::ng-deep .le-c-panel {
    margin: 16px;
}

.label-icon-container {
    display: flex;
    align-items: center;
    max-width: fit-content;
}

.label-icon-container .ds_label {
    margin-right: 8px;
}

.label-icon-container .ds_icon {
    display: inline-block;
}

.label-icon-container .ds_icon .icon-item {
    cursor: pointer;
}