<div class="container-fluid backgroud-color">
    <div class="le-l-level1-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="le-l-level1-middle-col le-l-base-layout-center">
                    <div style=" margin: 0rem 0rem 1rem 1.5rem;">
                        <div class="align-items-center d-flex le-u-mar-b-8">
                            <span class="">
                                <i class="aip-led-icons icon x-24 back-icon purple" (click)="back()"></i>
                            </span>
                            <span class="le-u-pad-l-8 aip-desc-title le-u-header-xxl">Create Document</span>
                        </div>
                        <leds-panel type="default" styleClass="" contentClass="" style="padding: 10px;">
                            <div class="le-u-pad-tb-16 le-u-pad-lr-24">
                                <div class="">
                                    <div class="col-lg-12 col-md-12 le-u-mar-b-16">
                                        <leds-input-field label="Document Name" placeholder="Enter Document Name..."
                                            inputType="text" [disabled]="false" [required]="false"
                                            [(ngModel)]="docName"></leds-input-field>

                                        <div class="row">
                                            <div class="w-50">
                                                <leds-select label="Choose Creation type" [required]="true"
                                                    placeholder="Choose Creation Type From dropdown"
                                                    [options]="creationTypes" (selectChange)="onCreationSelect($event)"
                                                    [selected]="selectedCreationType">
                                                </leds-select>
                                            </div>
                                            <div class="w-50" *ngIf="selectedCreationType=='Video'">
                                                <leds-select label="Choose Videos" placeholder="Choose video dataset"
                                                    [required]="true" [isMultiple]="true" [options]="videoOptions"
                                                    (selectChange)="onVideoSelect($event)">
                                                </leds-select>
                                            </div>
                                            <div class="w-50" *ngIf="selectedCreationType=='Knowledge'">
                                                <leds-select label="Choose Knowledge Base"
                                                    placeholder="Choose Knowledge Base" [required]="true"
                                                    [isMultiple]="false" [options]="knowledgeBaseOptions"
                                                    (selectChange)="onKBSelect($event)">
                                                </leds-select>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-between align-items-center">
                                            <div class="w-50" *ngIf="selectedCreationType!='Manual'">
                                                <leds-select label="Choose Template"
                                                    placeholder="Choose Template From dropdown" [required]="true"
                                                    [options]="templateName" (selectChange)="onTemplateSelect($event)"
                                                    [selected]="selectedTemplate">
                                                </leds-select>
                                            </div>
                                            <div class="w-50"
                                                *ngIf="showUploadStatus && selectedCreationType!='Manual'">
                                                <!-- <div class="label-icon-container le-u-mar-4"> -->
                                                <mat-label class="ds_label">Upload Template</mat-label>
                                                <label>
                                                    <input type="file" (change)="addfile($event)" class="form-control"
                                                        id="file" name="file" accept=".docx,.doc"
                                                        style="display: none;">
                                                    <p class="DSA_wb_Btn_normal ds_icon ds_icon-item">
                                                        <i style="margin-left: 2vh;" class="icon x-24 upload-icon"
                                                            aria-hidden="true"></i>
                                                    </p>
                                                </label>
                                                <div *ngIf="upload"> {{selectedTemplate}} </div>
                                                <div class="le-u-mar-8 chunk-panel" id="chunkkpanel"></div>
                                            </div>
                                        </div>

                                        <div style="height: 60vh;" *ngIf="selectedCreationType=='Manual'"
                                            class="le-u-pad-tb-32">
                                            <quill-editor style="height: 40vh;" (onContentChanged)="onContentChanged($event)">
                                            </quill-editor>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </leds-panel>
                        <leds-spinner bdColor="rgba(51,60,60,0.8)" [size]="'default'" [color]="'#8626c3'"
                            [type]="'ball-beat'" [fullScreen]="false" [showSpinner]="fileUploader">
                            <p loadingText> File is being Uploaded...</p>
                        </leds-spinner>
                        <div class="m-2 d-flex justify-content-end " style="float: left;">
                            <!-- just 2 condition 1st template blank normal create else hit pipeline -->
                            <leds-button *ngIf="selectedCreationType=='Manual'" nameText="secondaryButton"
                                idText="secondaryButton" [disabled]="false" buttonType="button" designType="primary"
                                (click)="createDocument()">
                                Generate Document
                            </leds-button>

                            <leds-button *ngIf="selectedCreationType!='Manual'" nameText="secondaryButton"
                                idText="secondaryButton" [disabled]="false" buttonType="button" designType="primary"
                                (click)="createByPipeline()">
                                Generate Document
                            </leds-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>