<div>
  <div *ngIf="isExpanded" class="aip-scroll-hover aip-filter aip-filter-position list-group">
    <h3 class="list-title">
        {{LIST_TITLE}}
    </h3>
    <h4  *ngFor="let conn of remoteConnectionsList"  class="list-entry" (click)="openConsole(conn.name,conn.alias,conn.endpoint)">{{conn.alias}}</h4>
  </div>
  <div id="mainrightCnt" [ngStyle]="toggler(isExpanded)">
      <div class="content-header">
          <div class="expand-title">
              <leds-tooltip [tooltip]="isExpanded?'Collapse Filters':'Expand Filters'" [position]="tooltip">
                  <i class="icon x-24 filter-icon cursor-pointer" (click)="toggleExpand()"></i>
              </leds-tooltip>
              <div>
                  <h3>{{cardTitle}}</h3>
              </div>
          </div>
          <div class="col-10 offset-1 offset-xs-1 offset-sm-1 offset-md-0 col-sm-6 col-md-6 col-lg-7 col-xl-6 aip-panel aip-panel-shadow d-flex align-items-center">
              <input type="text" name="" id="" placeholder="Search by Name" class="aip-panel-input"
                  [(ngModel)]="searchText" (keyup)="onSearch()">
              <i class="aip-led-icons icon x-24 search-icon"></i>
          </div>
          <div class="icons-group">
            <div class="d-flex le-u-header-xl aip-cursor" (click)="colSearch()">
                <i class="fa fa-solid fa-filter aip-led-icons"></i>
            </div>
            <div class="title-jobs selector-757-3">
                <leds-tooltip [tooltip]="'Refresh'" [position]="'above'" class="py-4">
                <i style="font-size: 3vh; float: right;" class="aip-led-icons icon icon_Refresh x-24" (click)="onRefresh()"></i>
                </leds-tooltip>
            </div>
            <div>
                <leds-tooltip [tooltip]="'Connnection properties'" [position]="'above'">
                    <i class="icon x-24 icon_Explore" (click)="navigateToProperties()"></i>
                </leds-tooltip>
            </div>
        </div>
      </div>
      <div *ngIf="jobsList && !spin">
        <leds-chip
        *ngIf="selectedConnectionAlias"
        [designType]="designType"
        class="title-chip"
        [selected]="true"
        >
         {{selectedConnectionAlias}}
        </leds-chip>
        <div *ngIf="jobsList.length!=0" class="le-u-mar-t-16 mx-4 px-5 my-4 mt-0 aip-panel-shadow" style="background-color: white; overflow-y: auto;">
          <leds-data-grid>
            <div class="le-c-datagrid__title-area clearfix">
            </div>
            <table dataGridTable>
              <thead>
                <tr>
                  <th *ngFor="let column of columnList;let i=index" class="le-c-datagrid__th-sort cursor-pointer" (click)="setSortElement(column)">
                    {{column}}
                    <span>
                      <a href="javascript:void(0);" [class]="getSortClass(column)" title="Sort"></a>
                    </span>
                  </th>
                  <th class="col-1 selector-771-82 theader-border">Logs</th>
                  <th class="col-1 selector-771-82 theader-border">Action</th>
                </tr>
                <tr class="selector-795-82" *ngIf="searchToggle">
                  <th *ngFor="let column of columnList;">
                    <input style="width: 100%;" [(ngModel)]="searchInputFilter[column]" (keyup)="searchValueAdder($event,column)" (keydown.enter)="searchOnInput()"
                    type="text" placeholder="Search by {{column}}" class="aip-dataset-table-view-input selector-795-85">
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rowObject of paginatedJobsList; let i = index;">
                  <td *ngFor="let item of rowObject | keyvalue">
                    <container-element [ngSwitch]="item.key">
                      <some-element *ngSwitchCase="'status'">
                          <leds-badge [badgeType]="getBadgeType(rowObject.status)">{{item.value}}</leds-badge>
                      </some-element>
                      <some-element *ngSwitchCase="'submitted'">
                          {{item.value | date:'MMMM d, y, h:mm:ss a z'}}
                      </some-element>
                      <some-element *ngSwitchDefault>
                       <div class="text-break-width">{{item.value}}</div> 
                      </some-element>
                    </container-element>
                  </td>
                  <td>
                    <leds-tooltip [tooltip]="'Log'" [position]="'above'">
                      <leds-button nameText="logButton" idText="logButton" buttonType="button" designType="icon"
                        (click)="showLogs(rowObject.id,rowObject.status)">
                        <i class="icon x-24 icon-notepad" style="visibility: visible;"></i></leds-button>
                    </leds-tooltip>
                  </td>
                  <td>
                    <leds-tooltip [tooltip]="'Stop'" [position]="'above'">
                      <leds-button *ngIf="rowObject.status=='RUNNING'" nameText="actionButton"
                        idText="actionButton" buttonType="button" designType="icon" (click)="stopRemoteJob(rowObject.id)">
                        <i class="fa fa-stop x-8" style="visibility: visible;"></i>
                      </leds-button>
                      <leds-button *ngIf="rowObject.status!='RUNNING'" nameText="actionButton" [disabled]="true"
                        idText="actionButton" buttonType="button" designType="icon">
                        <i class="fa fa-stop x-8" style="visibility: visible;"></i>
                      </leds-button>
                    </leds-tooltip>
                  </td>
                </tr>
              </tbody>
            </table>
          </leds-data-grid>
          <div class="le-u-pad-b-0 d-flex justify-content-center" style="margin-bottom: 50px;">
            <mat-paginator [length]="jobsListLength" [pageSize]="rows" [pageIndex]="page" (page)="pageChanged($event)"></mat-paginator>
          </div>
        </div>
        <div *ngIf="jobsList.length==0">
          <div class="d-flex justify-content-center align-items-center flex-column">
            <img src="assets/images/aip_empty_state_leds.svg" class="img-responsive" alt="aip_no_preview_leds" style="width:15rem" />
            No logs to display
          </div>
        </div> 
      </div>
      <div *ngIf="!jobsList" class="default-preview">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <img src="assets/images/emptystate1.png" class="img-responsive" alt="aip_no_preview_leds" style="width:15rem" />
            Please select a connection to display logs
        </div>
      </div>
      <div class="spinner">
        <leds-spinner [bdColor]="'#ffffff'" [size]="'default'" [color]="'#8626c3'"
        [type]="'ball-spin'" [fullScreen]="false" [showSpinner]="spin" [zIndex]="0">
        </leds-spinner>
      </div> 
  </div>
</div>