email=vaibhav.mishra15@infosys.com
always-auth=true
registry=https://infyartifactory.jfrog.io/artifactory/api/npm/icets-ai_npm_virtual/
proxy=http://blrproxy.ad.infosys.com:80/
https-proxy=http://blrproxy.ad.infosys.com:443/
//infyartifactory.jfrog.io/artifactory/api/npm/icets-ai_npm_virtual/:_auth=dmFpYmhhdi5taXNocmExNUBhZC5pbmZvc3lzLmNvbTpjbVZtZEd0dU9qQXhPakUzTlRVd056QXlORFE2YTFkNFJYaDFkbTFQT0VNNFduWXpXbGRvZUhCeGRXVm9TR1E1
