<div class="row">
    <div class="col-md-8 col-lg-6 col-xl-5" style="min-width: 100%">
        <leds-card designType="simple">
            <mat-card-header>
                <mat-card-title>
                    <div class="d-flex align-items-center">
                        <h2 class="le-u-header-xxl le-u-ellipsis" style="display: inline;">Semantic Config :
                            {{semantic[j]}}
                        </h2>
                        <leds-tooltip *ngIf="selected" [tooltip]="toggle" [position]="'above'">
                            <span class="mx-2 aip-cursor">
                                <i class="aip-led-icons icon le-u-pad-l-8 previous-icon" (click)="select();"></i>
                            </span>
                        </leds-tooltip>
                        <leds-tooltip *ngIf="!selected" [tooltip]="toggle" [position]="'above'">
                            <span class="mx-2 aip-cursor">
                                <i class="aip-led-icons icon le-u-pad-r-8 next-icon" (click)="select();"></i>
                            </span>
                        </leds-tooltip>
                    </div>
                </mat-card-title>
            </mat-card-header>
            <div class="le-l-level2-middle-ctr">
                <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 le-u-mar-b-16">
                            <leds-select label="Request Method" [options]= "requestMethods" [required]="true"
                             [(ngModel)]="attributes['RequestType']"></leds-select>
                        </div>
        
                        <div class="col-lg-9 col-md-9 le-u-mar-b-16">
                            <leds-input-field label="Request URL"
                             [(ngModel)]="attributes['RequestUrl']"></leds-input-field>
                        </div>
        
                    </div>
                    <leds-panel type="default" styleClass="" contentClass="">
                        <div ledsTabGroup class="aip-height-tab le-c-tab le-c-tab--secondary le-c-tab--white">
                            <mat-tab-group disableRipple (selectedIndexChange)="basicReqTabChange($event)">
                                <mat-tab class="le-u-header-xl" label="headersTab">
                                    <ng-template mat-tab-label><span>Headers Tab</span></ng-template>
                                </mat-tab>
                                <mat-tab class="le-u-header-xl" label="viewTab">
                                    <ng-template mat-tab-label>View Tab</ng-template>
                                </mat-tab>
                                <mat-tab class="le-u-header-xl" label="editTab">
                                    <ng-template mat-tab-label><span>Edit Tab</span></ng-template>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                        <div *ngIf="basicReqTab == 'headersTab'">
                            <div class="" style="margin-top: 3%">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="color: var(--base-color); width: 9%">Action</th>
                                            <th style="color: var(--base-color);">Key</th>
                                            <th style="color: var(--base-color);">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dynamic of dynamicHeadersArray; let i = index;">
                                            <td style="text-align: center;" (click)="deleteHeadersRow(i)">
                                                <i class="fa fa-trash fa-2x" style="font-size: large;"></i>
                                            </td>
                                            <td>
                                                <input style="height: 3rem;"[(ngModel)]="dynamicHeadersArray[i].key" class="form-control"
                                                    type="text" />
                                            </td>
                                            <td>
                                                <input style="height: 3rem;"[(ngModel)]="dynamicHeadersArray[i].value"
                                                    class="form-control" type="text" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;" (click)="addHeadersRow()">
                                                <i class="fa fa-plus fa-2x" style="font-size: large;"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div *ngIf="basicReqTab == 'viewTab'">
                            <div class="tab_content le-u-pad-l-24" id="tabContent_1">
                                <div class="le-c-panel__content">
                                    <div class="">
                                        <json-tree [value]="payload[j]"></json-tree>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="basicReqTab == 'editTab'">

                        </div>
                    </leds-panel>
                </div>
            </div>
        </leds-card>
    </div>
</div>