.exploration-container {
  // display: grid;
  // grid-template-columns: 2.75fr 5fr;
  height: calc(100% - 50px);
  padding: 5px;

  .drag-drop-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-gap: 5px;
    // overflow: auto;
    // height: 100%;
    height: calc(100% - 10px);

    .side-bar-items {
      // display: grid;
      // grid-template-rows: 1fr 1fr 1fr;
      // overflow: auto;
      height: calc(100% - 40px);
      margin-bottom: 5px;
      // overflow: auto;

      .attribute-wrapper {
        display: grid;
        padding: 10px;
      }

      .column-wrapper {
        display: grid;
      }

      .container-border {
        height: 100%;
      }

      .assign-btn {
        display: grid;
        justify-content: center;
        align-content: center;
      }

      .attr-header {
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding-bottom: 10px;
      }

      ::ng-deep {
        .p-accordion .p-accordion-content {
          overflow: auto;
          // max-height: calc(98vh - 267px);
          max-height: calc(98vh - 347px);
        }

        .p-accordion .p-accordion-header a {
          display: grid;
          grid-template-columns: 0.015fr 1fr;
          grid-gap: 3px;
        }
      }
    }

    .open-drop-area-below {
      display: grid;
      grid-template-columns: 0.3fr 1fr;
      grid-gap: 5px;
      height: calc(100% - 30px);
      // height: calc(100vh - 155px);
      // height: calc(100% - 150px);
      padding: 2px;

      .chart-properties {
        display: grid;
        grid-template-rows: 3fr 1fr;
        padding: 1rem;
        // width: auto;
        // height: calc(100% - 50px);
        min-width: 275px;
        height: calc(100% - 10px);

        .metrics-card-properties {
          padding: 3px 1rem;
          // padding-top: 3px;
          // padding-bottom: 3px;
          height: 290px;
          overflow: auto;

          ::ng-deep {
            .p-chips {
              width: 100%;
              display: inline-flex;
            }

            .p-chips .p-chips-multiple-container .p-chips-input-token input {
              font-family: "Open Sans";
              font-size: 12px;
              color: #333333;
              padding: 0;
              margin: 0;
            }
          }
        }

        .footer-reset-button {
          display: grid;
          justify-items: start;
          padding: 1rem;
          ::ng-deep {
            .p-button {
              color: #ffffff;
              background: var(--primary-color);
              border: 1px solid var(--primary-color);
              // padding: 0.29rem 1rem;
              font-size: 1rem;
              transition: background-color 0.2s, color 0.2s, border-color 0.2s,
                box-shadow 0.2s;
              border-radius: 3px;
            }
          }
        }

        .control-padding {
          padding-top: 10px;
        }

        .control-margin {
          margin-top: 20px;
        }

        .chart-type-selector {
          margin-top: 10px;
        }

        .legend-wrapper {
          display: grid;
          grid-gap: 10px;
          box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
          padding: 5px;
          border-radius: 3px;

          ::ng-deep {
            .p-widget {
              width: 100%;
            }

            p-chips {
              width: 100%;
              font-size: 12px;
            }
          }

          p-chips {
            height: 25px;
            padding: 1px;
          }
        }

        .filter-header {
          padding: 15px 0px 5px 0px;
        }

        .filter-wrapper {
          display: grid;
          grid-gap: 10px;
          padding-top: 5px;
        }

        .axis-container {
          display: grid;
          margin-top: 10px;

          .axis-matrix-wrapper {
            display: grid;
            grid-template-rows: 1fr 1fr;
            box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
            padding: 5px;
            border-radius: 3px;

            .chart-axis-wrapper {
              padding: 2px;
            }

            .placeholder-label {
              display: block;
              font-size: calc(12px + var(--font-size-delta));
              color: #90898d;
              margin-top: 5px;

              ::ng-deep {
                .p-inputnumber {
                  width: 100%;
                  display: inline-flex;
                }
              }
            }
          }
        }

        .chart-header {
          margin-bottom: 1px;
          margin-top: 10px;
          font-size: calc(11px + var(--font-size-delta));
          color: #90898d;
        }

        .chart-header-dynamic {
          font-size: calc(11px + var(--font-size-delta));
        }
      }

      .chart-area {
        // overflow: auto;
        // height: calc(100vh - 165px);
        height: calc(100% - 10px);
        width: 50em;
        
        
        .chart-area iframe {
          position: absolute;
          top: 20px; /* Adjust this value for more space at the top */
          bottom: 5px; /* Reduce the space at the bottom */
          width: 100%;
          height: calc(100% - 25px); /* Adjust iframe height to subtract the top/bottom spaces */
        }

        .chart-loading-indicator {
          position: absolute;
          z-index: 999;
          background-color: #c8c8c8;
          height: 290px;
          width: 655px;
        }

        .chart-frame {
          // overflow: auto;
          // height: calc(100vh - 165px);
          height: 290px;
          border: none;
        }
      }
      // .chart-area {
      //   width: calc(100% - 50px); /* Ensure it takes full width of the parent container */
      //   height: calc(100% - 20px); /* Adjust height to fit within the parent */
      //   position: relative; /* Necessary for absolute positioning of iframe */
      //   // background-color: #d3d3d3;
      //   background-color: grey;
      
      //   .chart-area iframe {
      //     position: absolute;
      //     top: 20px; /* Adjust this value for more space at the top */
      //     left: 0; /* Ensure the iframe is aligned to the left */
      //     right: 0; /* Ensure the iframe doesn't overflow to the right */
      //     bottom: 5px; /* Reduce the space at the bottom */
      //     width: 100%; /* Make iframe take full width of the container */
      //     height: calc(100% - 25px); /* Adjust iframe height to subtract the top/bottom spaces */
      //   }
      
      //   .chart-loading-indicator {
      //     position: absolute;
      //     z-index: 999;
      //     background-color: #c8c8c8;
      //     height: 290px;
      //     width: 655px;
      //   }
      
      //   .chart-frame {
      //     width: 100%; /* Ensure chart frame takes full width */
      //     height: 290px; /* You can adjust this height if necessary */
      //     border: none;
      //   }
      // }
      
    }

    .open-max-area {
      height: calc(100vh - 158px);
      padding: 2px;
      overflow: auto;
    }

    .metrics-card {
      padding-bottom: 3px;

      .chart-frame {
        // overflow: auto;
        // height: calc(100vh - 170px);
        border: none;
      }
    }
  }

  .drop-area {
    display: grid;
    height: 30px;
    border-radius: 3px;
    align-items: center;
    padding: 3px;
    margin-top: 2px;
  }

  .drop-placeholder {
    font-size: calc(11px + var(--font-size-delta));
    color: rgb(132, 132, 132);
  }

  ::ng-deep {
    .p-dropdown {
      width: 100%;
    }

    .p-dropdown label {
      height: 25px;
      padding-top: 5px;
    }

    .side-bar-items {
      .p-listbox-list {
        height: calc(30vh - 70px);
        overflow: auto;
      }
    }

    // .p-listbox .p-listbox-list .p-listbox-item.p-state-highlight {
    //   color: #333333;
    //   background-color: #eaeaea;
    // }

    ul.p-inputtext .p-chips-token {
      width: 100%;
    }

    .p-chips .p-inputtext {
      width: 100%;
      padding: 0px;
      height: 25px;
      border-radius: 5px;
    }

    .p-chips .p-chips-multiple-container .p-chips-input-token {
      padding: 1px;
    }

    .p-inputtext .p-chips-input-token input {
      width: 100%;
      padding: 2px 5px;
      // font-size: 10px;
    }

    .p-float-label > label {
      font-size: calc(11px + var(--font-size-delta));
    }

    .divider {
      button {
        font-size: calc(11px + var(--font-size-delta));
      }
    }
  }

  .attribute-list-drag {
    width: 100%;
    padding: 2px 5px;
    border-radius: 3px;
    height: auto;
    // font-size: calc(11px + var(--font-size-delta));
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid var(--primary-color);
  }

  .attribute-list-drag:hover {
    background: rgba(0, 0, 0, 0.09);
  }

 

  .divider {
    margin-top: 14px;
  }

  .no-attributes-list {
    display: grid;
    justify-content: center;
    font-size: calc(11px + var(--font-size-delta));
    color: #90898d;
  }
}
.attribute-list-drag {
  width: 100%;
  padding: 2px 5px;
  border-radius: 3px;
  height: auto;
  // font-size: calc(11px + var(--font-size-delta));
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid var(--primary-color);
}
.filter-overlay-quant {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-gap: 10px;
  padding-top: 0px;
  // width: 450px;
  width: 500px;

  ::ng-deep {
    .p-listbox .p-listbox-list .p-listbox-item {
      cursor: default;
      pointer-events: none;
    }

    p-listbox .p-listbox-list .p-listbox-item.p-highlight {
      color: #ffffff;
      background: var(--primary-color);
    }

    .p-widget-header .p-inputtext,
    .p-widget-content .p-inputtext {
      width: 130px;
    }

    .p-fieldset .p-fieldset-legend {
      padding: 0.5rem 1rem;
    }

    .p-fieldset .p-fieldset-content {
      padding: 0;
    }

    .p-listbox {
      padding: 0;
      width: 9.5rem;
      font-size: calc(11px + var(--font-size-delta));
    }

    .p-listbox .p-listbox-list .p-listbox-item {
      margin: 0;
      padding: 0;
      padding: 2px 5px;
      color: #333333;
      background-color: transparent;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 3px;
      border: 1px solid var(--primary-color);
      margin-bottom: 3px;
      font-size: calc(11px + var(--font-size-delta));
    }

    .p-fieldset {
      padding: 5px;
    }

    .p-overlaypanel .p-overlaypanel-content {
      padding-right: 1.5rem;
    }

    .p-inputtext {
      padding: 3px;
    }

    .p-listbox .p-listbox-header {
      padding: 0.429em 0.857em 0.429em 0.857em;
      border-bottom: 1px solid #eaeaea;
      color: var(--title-color);
      background-color: var(--primary-color);
      margin: 0;
    }

    .p-button {
      padding: 5px;
      font-size: 12px;
    }
  }

  .padding-fieldset {
    margin-bottom: 0px;
    margin-top: 5px;
    border: 1px solid #c8c8c8;
    padding: 5px;
  }

  .range-filter {
    display: grid;
    grid-gap: 5px;
    margin: 0px;

    .range-input {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 1fr 1fr;
    }
  }

  .quan-filter {
    display: grid;
    grid-gap: 5px;
    margin: 0px;

    .quan-input {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 1fr 1fr;
    }

    .radio-grp {
      font-weight: bold;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .filter-btn {
    display: grid;
    font-size: calc(11px + var(--font-size-delta));
    padding-top: 10px;
    grid-template-columns: 1fr 1fr;
    max-width: 350px;

    .filter-apply-btn {
      justify-self: end;
    }

    .filter-cancel-btn {
      justify-self: start;
    }
  }
}

.filter-overlay-categ {
  display: grid;
  padding-top: 10px;
  grid-gap: 10px;
  width: 200px;

  ::ng-deep {
    .p-listbox {
      width: 200px;
    }

    .p-listbox .p-listbox-header {
      width: 198px;
    }

    .p-fieldset .p-fieldset-legend {
      padding: 0.5rem 1rem;
    }

    .p-listbox .p-listbox-list .p-listbox-item {
      cursor: default;
      pointer-events: all;
      padding: 2px 5px;
      color: #333333;
      background-color: transparent;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 3px;
      border: 1px solid var(--primary-color);
      margin-bottom: 3px;
      font-size: calc(11px + var(--font-size-delta));
    }

    p-listbox .p-listbox-list .p-listbox-item.p-highlight {
      color: #ffffff;
      background: var(--primary-color);
    }

    .p-listbox .p-listbox-list .p-listbox-item:focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: none;
    }

    .p-listbox .p-listbox-header {
      padding: 0.429em 0.857em 0.429em 0.857em;
      border-bottom: 1px solid #eaeaea;
      color: var(--title-color);
      background-color: var(--primary-color);
      margin: 0;
    }

    .p-inputtext {
      padding: 3px;
    }

    .p-button {
      padding: 5px;
      font-size: 12px;
    }
  }

  .filter-btn {
    display: grid;
    font-size: calc(11px + var(--font-size-delta));
    grid-template-columns: 1fr 1fr;
    max-width: 150;

    .filter-apply-btn {
      justify-self: end;
    }

    .filter-cancel-btn {
      justify-self: start;
    }
  }
}

.attribute-list-drag1 {
  width: 100%;
  padding: 2px 5px;
  border-radius: 3px;
  height: auto;
  // font-size: calc(11px + var(--font-size-delta));
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #c8c8c8;
  background-color: #8626c3;
}

.attribute-list-drag1 h2 {
  text-align: center;
  color: white;
}

.attribute-list-drag:hover {
  background: rgba(0, 0, 0, 0.09);
}

.drag-wrapper {
  margin: 2px 2px 3px 2px;
}
.header {
  width: 100%;
  padding: 5px 4px 5px 45px;
  position: sticky;
  top: 0;
  border-radius: 3px;
  height: auto;
  // font-size: calc(11px + var(--font-size-delta));
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #c8c8c8;
  background-color: #8626c3;
  color: #ffffff;
}

.attribute-list-drag2 {
  width: 100%;
  // padding: 2px 5px;
  border-radius: 3px;
  height: 30px;
  // font-size: calc(11px + var(--font-size-delta));
  font-size: 14px;
 
  text-overflow: ellipsis;
  border: 1.5px solid #c8c8c8;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 7px;

}
::ng-deep .le-c-chip.mat-mdc-chip.mat-mdc-standard-chip, .le-c-chip--lg.mat-mdc-chip.mat-mdc-standard-chip {
  font-weight: 100;
  
  border-radius: 1px;
  height: 32px;
  min-height: -1px;
  /* padding: 0px 16px; */
  padding: 0px 4px 0px 10px;
  line-height: 30px;
  border: 1px solid transparent;
  color: #000000;
}
.chip-text {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  
}
.text-box {
  font-weight: 600;
    font-size: 18px;}
  ::ng-deep  .le-c-card.mat-mdc-card {
    
      height: 550px;
  }
  .cardd{

    display: grid;
          grid-gap: 16px;
          box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
          padding: 12px;
          border-radius: 7px;
          border: 1.5px solid #c8c8c8;

          ::ng-deep {
            .p-widget {
              width: 100%;
            }
 
            p-chips {
              width: 100%;
              font-size: 12px;
            }
          }

          p-chips {
            height: 25px;
            padding: 1px;
          }
  }
  .filterwrapper {
    display: grid;
    grid-gap: 10px;
   
    padding-bottom: 12px;
  }
 ::ng-deep .le-c-chip--lg.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
    display: flex;
    justify-content: center;
    align-items: center;
}
// ::ng-deep .mdc-button.mat-mdc-button.mat-mdc-button-base, .mdc-button.mat-mdc-raised-button.mat-mdc-button-base, .mdc-button.mat-mdc-unelevated-button.mat-mdc-button-base, .mdc-button.mat-mdc-outlined-button.mat-mdc-button-base{
//   width: 100%;
// }

::ng-deep .mdc-button.mat-mdc-unelevated-button.mat-mdc-button-base{
  width: 100%;
}
.MT{
  margin-top: 83px !important;

}
.MT2{
  margin-top: 14px !important;

}
.noresult{
  margin: 10px;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
}
.selected {
  width: 100%;
  // padding: 2px 5px;
  border-radius: 3px;
  height: 30px;
  // font-size: calc(11px + var(--font-size-delta));
  font-size: 14px;
 
  text-overflow: ellipsis;
  border: 1.5px solid #c8c8c8;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 7px;
  background-color: rgb(202, 223, 202)
}
::ng-deep .le-c-panel--greenbg {
  background: white;
}
::ng-deep .text-field{
  height: 28px;
  width: 83% !important;

}
.text-preview{
  font: normal normal normal 14px/20px Roboto;
  text-align: center;
  padding: 23% 0;
  justify-content: center;
}


//from idsml
.bivariate-container {
  display: flex;
  flex-direction: row; /* Align children side by side */
  gap: 20px;
  // display: grid;
  grid-template-columns: 1fr 5fr;
  height: calc(100% - 47px);
  padding: 5px;

  ::ng-deep {
    .p-listbox {
      width: 100%;
    }

    .p-listbox-list {
      // max-height: calc(67vh - 102px);
      max-height: calc(67vh - 175px);
      overflow: auto;
    }

    .p-menubar .p-submenu-list{
      width: 182px;
    }
    .p-menubar .p-submenu-list .p-menuitem{
      width: 180px;
    }

    .p-listbox .p-listbox-list .p-listbox-item {
      // padding: .25em;
      // border: 0 none;
      cursor: pointer;
      font-weight: normal;
      margin-bottom: 3px;
      padding: 2px 5px;
      border: 1px solid var(--primary-color);
      border-radius: 3px;
    }

    .tabview-submenu {
      margin-left: 10px;
      margin-top: -5px;
    }

    .p-tabview {
      height: calc(100% - 30px);
    }

    .p-tabview-panel {
      height: 100%;
    }

    .p-tabview-panels {
      height: 100%;
    }
  }

  .attribute-container {
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
  }

  .side-bar-items {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: auto;

    .attribute-wrapper {
      display: grid;
      padding: 10px;
    }

    .header-item-container {
      display: grid;
      grid-template-columns: 1fr 0.0125fr 0.0125fr;
      grid-gap: 3px;
    }

    .column-wrapper {
      display: grid;
      grid-template-columns: 3fr .5fr;
      height: 100%;

      .container-border {
        border-radius: 5px;
      }
    }

    .assign-btn {
      display: grid;
      grid-gap: 5px;
      justify-content: center;
      align-content: center;
    }

    .attr-header {
      display: grid;
      grid-template-columns: 3fr 1fr;
      padding-bottom: 10px;
    }

    .attribute-list-drag {
      width: 100%;
      padding: 3px;
      border-radius: 3px;
      height: auto;
      font-size: calc(12px + var(--font-size-delta));
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .attribute-list-drag:hover {
      background: rgba(0, 0, 0, 0.09);
    }

    .drag-wrapper {
      margin-bottom: 3px;
    }

    .no-attributes-list {
      display: grid;
      justify-content: center;
      font-size: calc(11px + var(--font-size-delta));
      color: #90898d
    }

    ::ng-deep {
      .p-listbox {
        border: none;
      }

      .p-accordion .p-accordion-header a {
        display: grid;
        grid-template-columns: 0.015fr 1fr;
        grid-gap: 3px;
      }

      // .p-accordion .p-accordion-content {
      //   padding: 0.571rem 1rem;
      //   border: 1px solid #c8c8c8;
      //   background: #ffffff;
      //   color: #333333;
      //   border-top: 0;
      //   border-top-right-radius: 0;
      //   border-top-left-radius: 0;
      //   border-bottom-right-radius: 3px;
      //   border-bottom-left-radius: 3px;
      // }
    }
  }
}

.table-div {
  // width: 60%;
  height: 400px;
  // overflow: auto;
  padding-top: 5px;
}

.attr-col {
  width: 60%
}

.value-col {
  width: 40%;
  text-align: center;
}

.status-col{
  width: 40%;
}

.metrics-card {
  padding-bottom: 3px;
  height: 100%;

  .menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
    height: 40px;
    margin-top: 10px;
  }

  .mega-menu {
    margin: -4px 0px 2px 0px;
    height: 32px;
    border: none;
  }

  .threshold-error{
    margin-left: 3px;
    color: #d50000;
    font-size: calc(10px + var(--font-size-delta));
  }

  .chart-frame {
    border: none;
  }

  .frame-container {
    height: 100%;
    width: 100%;
  }

  ::ng-deep {
    .p-inputgroup{
      height:27px;
    }

    // .p-inputgroup>input{
    //   width:70px;
    // }

    .p-card {
      height: calc(100% - 20px);
    }

    .p-card-body {
      height: 100%;
    }

    .p-card-content {
      height: 100%;
    }

    .p-menubar {
      padding: 0;
      background-color: #ffffff;
      border: 1px solid #c8c8c8;
      line-height: 0;
    }

    .p-menubar .p-menuitem-link .p-menuitem-icon {
      margin-right: 0em;
      font-size: calc(15px + var(--font-size-delta));
    }

    .p-menubar .p-submenu-list .p-menuitem-link .p-menuitem-icon,
    .p-menubar .p-submenu-list .p-menuitem-icon {
      margin-right: 1em;
    }

    .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link {
      padding: 0.714em 0.857em;
      height: 30px;
    }

    .p-menubar .p-menubar-root-list>.p-menu-separator {
      border: 1px solid #c8c8c8;
      border-width: 0 0 0 1px;
    }

    .p-menubar .p-submenu-list {
      padding: 0;
      background-color: #ffffff;
      border: 1px solid #c8c8c8;
      -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
      box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
    }

    .p-menubar .p-submenu-list .p-menuitem {
      margin: 0;
      line-height: 1;
    }

    .p-menubar .p-submenu-list .p-menu-separator {
      border: 1px solid #c8c8c8;
      border-width: 1px 0 0 0;
    }

    .p-menubar .p-menuitem {
      margin: 0;
    }

    .p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link {
      background-color: #e5e2e2;
      height: 30px;
    }

    .p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-text {
      color: #333333;
    }

    .p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-icon,
    .p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link .p-submenu-icon {
      color: #333333;
    }

    .p-menubar .p-menubar-root-list>.p-menuitem {
      background-color: #ffffff;
      border: 1px solid #c8c8c8;
      border-width: 0 0 0 0;
      line-height: 0;
      font-size: calc(13px + var(--font-size-delta));
    }

    .p-menuitem {
      background-color: #ffffff;
      height: 30px;
      line-height: 0;
    }

    .menu-area {
      background-color: #ffffff;
    }

    .p-menubar .p-menuitem-link:hover {
      background-color: #ffffff;
      height: 30px;
    }

    .p-menubar .p-menuitem-link:hover .p-menuitem-text {
      color: #333333;
    }

    .p-menubar .p-menuitem-link .p-menuitem-icon {
      color: #333333;
      margin-right: 0em;
      font-size: calc(15px + var(--font-size-delta));
    }

    .p-menubar .p-menuitem-link .p-menuitem-text {
      color: #333333;
      font-size: calc(12px + var(--font-size-delta));
    }

    .hide-icon {
      visibility: hidden;
    }
  }

  .local-loader {
    z-index: 999;
    display: grid;
    background: rgba(0, 0, 0, 0.53);
    position: absolute;
    top: 225px;
    height: calc(100% - 245px);
    width: 80%;
  }

}

.text-label{
  font-size: calc(11px + var(--font-size-delta));
  width: 100%;
}


//
//
//
.main-container {
  padding: 1%;
  height: 100%;
}
.container {
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
}
.sidebar {
  width: 250px;
  max-width: 500px;
  overflow-y: auto;
  height: 100vh; 
}
.main-content {
  flex-grow: 1;
  margin-left: 16px;
  min-width: 500px;
  width: 100%
}
// .main-content {
//   flex-grow: 1;
//   margin-left: 20px;
//   width: 100%;
//   // width: calc(100% - 250px); // Ensure main content width takes up remaining space
//   min-width: 350px;
//   overflow-x: hidden; // Prevent horizontal scroll on the main container
// }
.table-div.metrics-card {
  margin-top: 20px;
  padding: 16px;
  background-color: #f5f5f5; /* Light background for the table container */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.p-table {
  width: 100%;
  border-collapse: collapse;
}

.p-table th, .p-table td {
  padding: 8px 12px;
  text-align: left;
}

.attr-col {
  width: 40%;
}

.value-col {
  width: 30%;
}

.status-col {
  width: 30%;
}

.p-progressSpinner {
  display: block;
  margin: 0 auto;
  padding: 20px;
}
