.swagger-container {
    /* max-width: 80%; */
    margin-left: auto;
    margin-right: auto;
}

.col {
    position: relative !important;
    /* width: 0%; */
    padding-right: 15px !important;
    padding-left: 15px !important
}

::ng-deep .swagger-ui .response-col_status,
.swagger-ui .response-col_description,
.swagger-ui .response-col_links {
    width: fit-content;
}

::ng-deep .loading-container {
    padding: 40px 0 60px !important ;
    margin-top: 1em !important ;
    min-height: 1px !important ;
    display: flex !important ;
    justify-content: center !important ;
    align-items: center !important ;
    flex-direction: column !important ;
}

::ng-deep .swagger-ui .loading-container .loading {
    position: relative !important ;
}

::ng-deep .swagger-ui .loading-container .loading:after {
    font-size: 10px !important ;
    font-weight: 700 !important ;
    position: absolute !important ;
    top: 50% !important ;
    left: 50% !important ;
    content: "loading" !important ;
    -webkit-transform: translate(-50%, -50%) !important ;
    transform: translate(-50%, -50%) !important ;
    text-transform: uppercase !important ;
    font-family: var(--font-type) !important;
    color: #3b4151 !important ;
    margin: 0 !important ;
    border: none !important ;
    border-radius: unset !important ;
    border-top: none !important ;
    width: auto !important ;
    height: auto !important ;
    -webkit-animation: unset !important ;
    animation: unset !important ;
}

::ng-deep .swagger-ui .loading-container .loading:before {
    position: absolute !important ;
    top: 50% !important ;
    left: 50% !important ;
    display: block !important ;
    width: 60px !important ;
    height: 60px !important ;
    margin: -30px !important ;
    content: "" !important ;
    -webkit-animation: rotation 1s linear infinite, opacity .5s !important ;
    animation: rotation 1s linear infinite, opacity .5s !important ;
    opacity: 1 !important ;
    border: 2px solid rgba(85, 85, 85, .1) !important ;
    border-top-color: rgba(0, 0, 0, .6) !important ;
    border-radius: 100% !important ;
    -webkit-backface-visibility: hidden !important ;
    backface-visibility: hidden !important ;
    background-color: transparent !important;
}