  
.filter-overlay-quant {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-gap: 10px;
  padding-top: 0px;
  // width: 450px;
  width: 500px;

  ::ng-deep {
    .p-listbox .p-listbox-list .p-listbox-item {
      cursor: default;
      pointer-events: none;
    }

    p-listbox .p-listbox-list .p-listbox-item.p-highlight {
      color: #ffffff;
      background: var(--primary-color);
    }

    .p-widget-header .p-inputtext,
    .p-widget-content .p-inputtext {
      width: 130px;
    }

    .p-fieldset .p-fieldset-legend {
      padding: 0.5rem 1rem;
    }

    .p-fieldset .p-fieldset-content {
      padding: 0;
    }

    .p-listbox {
      padding: 0;
      width: 9.5rem;
      font-size: calc(11px + var(--font-size-delta));
    }

    .p-listbox .p-listbox-list .p-listbox-item {
      margin: 0;
      padding: 0;
      padding: 2px 5px;
      color: #333333;
      background-color: transparent;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 3px;
      border: 1px solid var(--primary-color);
      margin-bottom: 3px;
      font-size: calc(11px + var(--font-size-delta));
    }

    .p-fieldset {
      padding: 5px;
    }

    .p-overlaypanel .p-overlaypanel-content {
      padding-right: 1.5rem;
    }

    .p-inputtext {
      padding: 3px;
    }

    .p-listbox .p-listbox-header {
      padding: 0.429em 0.857em 0.429em 0.857em;
      border-bottom: 1px solid #eaeaea;
      color: var(--title-color);
      background-color: var(--primary-color);
      margin: 0;
    }

    .p-button {
      padding: 5px;
      font-size: 12px;
    }
  }

  .padding-fieldset {
    margin-bottom: 0px;
    margin-top: 5px;
    border: 1px solid #c8c8c8;
    padding: 5px;
  }

  .range-filter {
    display: grid;
    grid-gap: 5px;
    margin: 0px;

    .range-input {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 1fr 1fr;
    }
  }

  .quan-filter {
    display: grid;
    grid-gap: 5px;
    margin: 0px;

    .quan-input {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 1fr 1fr;
    }

    .radio-grp {
      font-weight: bold;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .filter-btn {
    display: grid;
    font-size: calc(11px + var(--font-size-delta));
    padding-top: 10px;
    grid-template-columns: 1fr 1fr;
    max-width: 350px;

    .filter-apply-btn {
      justify-self: end;
    }

    .filter-cancel-btn {
      justify-self: start;
    }
  }
}
.filter-overlay-categ {
  display: grid;
  padding-top: 10px;
  grid-gap: 10px;
  width: 200px;

  ::ng-deep {
    .p-listbox {
      width: 200px;
    }

    .p-listbox .p-listbox-header {
      width: 198px;
    }

    .p-fieldset .p-fieldset-legend {
      padding: 0.5rem 1rem;
    }

    .p-listbox .p-listbox-list .p-listbox-item {
      cursor: default;
      pointer-events: all;
      padding: 2px 5px;
      color: #333333;
      background-color: transparent;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 3px;
      border: 1px solid var(--primary-color);
      margin-bottom: 3px;
      font-size: calc(11px + var(--font-size-delta));
    }

    p-listbox .p-listbox-list .p-listbox-item.p-highlight {
      color: #ffffff;
      background: var(--primary-color);
    }

    .p-listbox .p-listbox-list .p-listbox-item:focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: none;
    }

    .p-listbox .p-listbox-header {
      padding: 0.429em 0.857em 0.429em 0.857em;
      border-bottom: 1px solid #eaeaea;
      color: var(--title-color);
      background-color: var(--primary-color);
      margin: 0;
    }

    .p-inputtext {
      padding: 3px;
    }

    .p-button {
      padding: 5px;
      font-size: 12px;
    }
  }

  .filter-btn {
    display: grid;
    font-size: calc(11px + var(--font-size-delta));
    grid-template-columns: 1fr 1fr;
    max-width: 150;

    .filter-apply-btn {
      justify-self: end;
    }

    .filter-cancel-btn {
      justify-self: start;
    }
  }
}
.attribute-list-drag1 {
  width: 100%;
  padding: 2px 5px;
  border-radius: 3px;
  height: auto;
  // font-size: calc(11px + var(--font-size-delta));
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #c8c8c8;
  background-color: #8626c3;
}

.attribute-list-drag1 h2 {
  text-align: center;
  color: white;
}
.drag-wrapper {
  margin: 2px 2px 3px 2px;
}
.attribute-drag-list {
  width: 100%;
  // padding: 2px 5px;
  border-radius: 3px;
  height: 30px;
  // font-size: calc(11px + var(--font-size-delta));
  font-size: 14px;

  text-overflow: ellipsis;
  border: 1.5px solid #c8c8c8;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 7px;

}
.header {
  width: 100%;
  padding: 5px 4px 5px 45px;
  position: sticky;
  top: 0;
  border-radius: 3px;
  height: auto;
  // font-size: calc(11px + var(--font-size-delta));
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #c8c8c8;
  background-color: #8626c3;
  color: #ffffff;
}
.filter-button {
  justify-content: space-around;
  margin:  8px 0px 1px 2px;
  gap: 90px;
}