<div class="le-l-mainwrapper aip-top">

    <!-- <div *ngIf="cardToggled;else elseBlock" class="clearfix le-l-bodywrapper js-bodywrapper" id="mainCtr"> -->
        <div class="clearfix le-l-bodywrapper aip-tranparent-backgroud js-bodywrapper" id="mainCtr">
    <div class="">
        <!-- <div class="row aip-filter aip-filter-position aip-scroll-hover">
            <app-tagging-component [servicev1]="servicev1" (tagSelected)="tagSelectedEvent($event)"
                [tagrefresh]="tagrefresh"></app-tagging-component>
        </div> -->
        <div class="col-sm-12 col-md-12 col-lg-12 aip-container-body" id="mainrightCnt">
            <div class="le-l-level1-wrapper">
                <!-- Header -->
                <div class="aip-header le-u-pad-lr-32 le-u-pad-t-16">
                    <div class=" col-sm-12 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center">
                        <div class="le-u-pad-24">
                            <h3 class="le-u-header-xl">{{cardTitle}}</h3>


                        </div>
                    </div>
                    <div
                        class="col-10 offset-1 offset-xs-1 offset-sm-1 offset-md-0 col-sm-6 col-md-6 col-lg-7 col-xl-6 aip-panel aip-panel-shadow d-flex align-items-center">
                        <!-- <leds-input-field designType="search" inputType="text" styleClass=""
                                [disabled]="false" [required]="false"></leds-input-field> -->
                        <input type="text" name="" id="" placeholder="Search by Name" class="aip-panel-input"
                            [(ngModel)]="filter" (keyup)="filterz()">
                        <i class="aip-led-icons icon x-24 search-icon"></i>
                    </div>
                    <div class="d-flex justify-content-end col-sm-5 col-md-6 col-lg-3 col-xl-4 aip-header-icon">
                        <div class="">
                            <!-- <leds-button nameText='iconButton' idText='iconButton' [disabled]='false'
                                buttonType='button' designType='icon'>
                                <span class="le-c-btn--icon__icon" title="Assign DgApp">
                                    <i class="aip-led-icons icon x-24 icon_link" (click)="redirectToAssignScreen('assign')" ></i>
                                </span>
                            </leds-button> -->
                        </div>
                        <div class="" *ngIf="createAuth">
                            <leds-overflow>
                                <div ngbDropdown class="d-inline-block" container="body">
                                    <a id="OverflowMenu_dd" ngbDropdownToggle title="overflow menu">
                                        <i class="icon x-24 icon-add"></i>
                                    </a>
                                    <div ngbDropdownMenu aria-labelledby="OverflowMenu_dd">
                                        <ul overflowList>
                                            <li overflowListItem *ngFor="let opt of alias" (click)="selectChange(opt)">
                                                <a href="javascript:void(0);">
                                                    <span overflowSpan class="le-u-mar-l-8">{{opt}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </leds-overflow>
                        </div>
                        <div class="">
                            <leds-button nameText='iconButton' idText='iconButton' [disabled]='false'
                                buttonType='button' designType='icon'>
                                <span class="le-c-btn--icon__icon">
                                    <i class="aip-led-icons icon x-24 icon_Refresh" (click)="refreshComplete()"></i>
                                </span>
                            </leds-button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="le-c-card__action-ul aip-card-container">
                <!-- CARD -->
                <div class="col-md-8 col-lg-6 col-xl-5" style='min-width: -webkit-fill-available;padding: 0px;'
                    *ngFor="let card of cards">
                    <leds-card designType='simple' [actionsOnHover]='true'
                        style="padding:0px !important; height: 163px; display: grid;">
                        <div class="le-u-header-sm le-u-text-primary-80 le-u-mar-b-8">
                            {{card.type}}</div>
                        <mat-card-header>
                            <mat-card-title class="le-c-card__container clearfix">
                                <div class="le-c-card__container-left w-100">
                                    <h2 class="le-u-header-xl le-u-ellipsis" style="line-height: 2rem;">
                                        {{card.appName | titlecase}}</h2>
                                </div>

                            </mat-card-title>
                            <!-- <mat-card-subtitle class="le-u-body-sm le-u-text-neutral-80 le-u-ellipsis">
                                {{card.createdOn}}</mat-card-subtitle> -->
                        </mat-card-header>
                        <mat-card-actions class="le-c-card__action-hover d-flex justify-content-between">
                            <leds-button nameText="textButton" idText="textButton" [disabled]="false"
                                buttonType="button" designType="text" styleClass=" DSA_wb_Btn_small"
                                (click)="redirection(card,'preview')"><span>View
                                    Details</span></leds-button>
                            <div class="d-flex align-items-center">
                                <div class="aip-cursor le-u-mar-r-16">
                                    <div class="le-c-avatar  le-c-avatar--sm aip-hover-avatar">
                                        {{(card.createdBy?card.createdBy:'Name Not Available')|firstCharacter}}
                                    </div>
                                    <div class="aip-hover-detail">
                                        <div class="le-u-header-md le-u-mar-8">{{card.createdBy?card.createdBy:'Name
                                            Not Available'}}</div>
                                    </div>
                                </div>
                                <leds-overflow>
                                    <div ngbDropdown *ngIf="editAuth||deleteAuth"
                                        class="aip-led-icons d-inline-block le-u-mar-r-8 le-u-v-mid float-end le-c-card__action-ul">
                                        <a href="javascript:void(0);" id="OverflowMenu_dd" ngbDropdownToggle
                                            (click)="clickactive($event);" aria-label="menu icon">
                                            <i aria-hidden="true" class="icon x-24 v-menu-icon"></i>
                                        </a>
                                        <div ngbDropdownMenu aria-labelledby="OverflowMenu_dd"
                                            style="display: grid;justify-content: center;">
                                            <ul overflowList class="float-end le-u-mar-t-8  le-c-card__action-ul"
                                                style="display: flex;flex-direction: column;">
                                                <li overflowListItem>
                                                <li><span *ngIf="editAuth" class="le-u-body-md  aip-cursor"
                                                        (click)="redirection(card,'edit')">Edit</span>

                                                </li>
                                                <li overflowListItem>
                                                    <span *ngIf="deleteAuth" class="le-u-body-md aip-cursor"
                                                        (click)="deleteDGApp(card)">Delete</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </leds-overflow>
                            </div>
                        </mat-card-actions>
                    </leds-card>
                </div>
            </div>
            <!-- pagination -->
            <app-pagination #pagination [noOfItems]="noOfItems" (pageAndSizeChanged)="handlePageAndSizeChange($event)">
            </app-pagination>
        </div>
    </div>
</div>
</div>

