<!-- <div class="aud">
    <audio #audioPlayer controls></audio>
</div> -->
<div>
    <div ledsTabGroup> 
        <!-- <div class="tab-group"> -->
            <mat-tab-group (selectedIndexChange)="basicReqTabChange($event)">
                <mat-tab class="le-u-header-xl" label="File Preview">
                </mat-tab>
                <mat-tab class="le-u-header-xl" label="Transcription">
                </mat-tab>
                <mat-tab class="le-u-header-xl" label="Translation">
                </mat-tab>
                <mat-tab class="le-u-header-xl" label="Summary">
                     <!-- <ng-template mat-tab-label>Summary</ng-template>  -->
                </mat-tab>
                <mat-tab class="le-u-header-xl" label="Questions">
                     <!-- <ng-template mat-tab-label><span (click)="refreshiframeee()">FAQ</span> </ng-template>  -->
                </mat-tab>
            </mat-tab-group>
        <!-- </div> -->
        <div *ngIf="tabReq === 'filePreview'">
            <div class="tab_content" id="tabContent_0">
                <div class="row mt-4 le-u-mar-16">
                    <div class="aud">
                        <audio #audioPlayer controls></audio>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="conatiner" class="cont">
            <div class="spinner-preview" *ngIf="fetchFile">
                <leds-spinner bdColor="#e5d9d9" [size]="'default'" [zIndex]="0" 
                    [color]="'#8626c3'" [type]="'ball-pulse-sync'" [template]="template" 
                    [fullScreen]="false" [showSpinner]="true">
                </leds-spinner><br>
                File is being fetched...
            </div>
            <div class="cont" *ngIf="tabReq === 'transcription'">
                <div class="tab_content" id="tabContent_1">
                    <div class="row mt-4 le-u-mar-16">
                        <div *ngIf="fileData && fileData[0]!==null" class="le-c-panel__content">
                            <pre>{{ fileData }} </pre>
                        </div>
                        <div *ngIf="fileData[0]==null && noData" class="text-preview">
                            <h4>Please run transcription pipeline or contact the application admin</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont" *ngIf="tabReq === 'translation'">
                <div class="tab_content" id="tabContent_2">
                    <div class="row mt-4 le-u-mar-16">
                        <div *ngIf="fileData && fileData[0]!==null" class="le-c-panel__content">
                            <leds-select style="text-align-last: end;" [options]="langOption" [(ngModel)]="language" [designType]="'withBg'" 
                            (selectChange)="onLanguageChange($event)">
                            </leds-select>
                            <pre>{{ fileData }} </pre>
                        </div>
                        <div *ngIf="fileData[0]==null && noData">
                            <div *ngIf="langOption.length>0">
                                <leds-select 
                                    style="text-align-last: end;" [options]="langOption" [(ngModel)]="language" [selected]="langOption[0].value" [designType]="'withBg'" (selectChange)="onLanguageChange($event)">
                                </leds-select>
                            </div>
                            <div class="text-preview">
                                <h4>Please run translation pipeline or contact the application admin</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="tabReq === 'fileSummary'">
                <div class="tab_content" id="tabContent_3">
                    <div class="row mt-4 le-u-mar-16">
                        <div *ngIf="fileData && fileData[0]!==null" class="le-c-panel__content  le-u-pad-16 msg-banner">
                            {{ fileData }} 
                        </div>
                        <div *ngIf="fileData[0]==null && noData" class="text-preview">
                            <h4>Please run summary pipeline or contact the application admin</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont" *ngIf="tabReq === 'faq'">
                <div class="tab_content" id="tabContent_3">
                    <div class="row mt-4 le-u-mar-16">
                        <div *ngIf="fileData && fileData[0]!==null" class="le-c-panel__content  le-u-pad-16">
                            <div *ngFor="let ele of answers;index as i">
                                <leds-accordion designType="3D" [hideToggle]="false" [multi]="false">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                                            <mat-panel-title>{{ questions[i] | titlecase }}</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="le-u-mar-16">
                                            <h5 class="le-u-header-lg">{{ answers[i] }}</h5>
                                        </div>
                                    </mat-expansion-panel>
                                </leds-accordion>
                            </div>
                        </div>
                        <div *ngIf="fileData[0]==null && noData" class="text-preview">
                            <h4>Please run questions pipeline or contact the application admin</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>