
<!-- <div class="le-l-level1-wrapper"> -->

        <div class="col-lg-12">
            <div class="align-items-center d-flex  justify-content-between d-flex">
                <div class=" selector-model-title-head d-flex  align-items-center">
                    <span class=" aip-desc-title le-u-header-xxl"><span style=" color: #737373;;">Features Name:
                        </span>{{card.name | titlecase}} </span>
                </div>
                <div class=" selector-model-title-tail">
                    <ul class="d-flex justify-content-between align-items-center">
                        <!-- <li class="aip-cursor mx-2" (click)="openModal(content4)"><leds-tooltip [tooltip]="addTags"
                                [position]="tooltipPoition" class="aip-led-icons"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-tag" viewBox="0 0 16 16">
                                    <path
                                        d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z" />
                                    <path
                                        d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z" />
                                </svg></leds-tooltip>
                            <ng-template #content4 let-modal>
                                <app-tags [data]=card [entityType]="entity"></app-tags>
                            </ng-template>
                        </li> -->
                        <!-- <li>
                            <i class="aip-led-icons icon x-32 edit-icon aip-cursor mx-2" *ngIf="editAuth"
                                (click)="open(Content1,card)">
                                <ng-template #Content1 let-modal>
                                    <app-edit-features [card]="selectedCard"></app-edit-features>
                                </ng-template>
                            </i>
                        </li> -->
                        <li (click)="deleteFeatures(card)"><leds-tooltip *ngIf="deleteAuth" [tooltip]="delete"
                                [position]="tooltipPoition">
                                <i class="aip-led-icons icon x-32 delete-sm-icon aip-cursor mx-2"></i></leds-tooltip>
                        </li>
                        <li>
                            <leds-button nameText="iconButton" idText="iconButton" [disabled]="false"
                                buttonType="button" designType="icon" (click)="closeModal()">
                                <i class="icon x-16 close-icon"></i>
                            </leds-button>
                        </li>
                    </ul>
                </div>
            </div>
            <div ledsTabGroup
                class="aip-height-tab le-c-tab le-c-tab--secondary le-c-tab--white  aip-desc le-u-mar-tb-16 aip-panel-shadow">
                <mat-tab-group disableRipple (selectedIndexChange)="basicReqTabChange($event)" class="tab-group">
                    <mat-tab class="le-u-header-xl" label="Details">
                        <ng-template mat-tab-label>Details</ng-template>
                    </mat-tab>
                    <mat-tab class="le-u-header-xl" label="Feature Profile">
                        <ng-template mat-tab-label>Feature Profile</ng-template>
                    </mat-tab>
                    <mat-tab class="le-u-header-xl" label="Features Extras">
                        <ng-template mat-tab-label><span (click)="refreshiframe()">Feature Extras</span>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
                <div *ngIf="basicReqTab == 'details'">
                    <div class="tab_content" id="tabContent_0">
                        <div class="row mt-4 le-u-mar-16">
                            <div class="row">
                                <div class="row">
                                    <div class="aip-model-type col-md-6">
                                        <div class="le-u-body-sm aip-label-color">Features Name</div>
                                        <div class="le-u-body-md mt-2">{{card.name}}</div>
                                    </div>
                                    <div class="aip-model-type col-md-6">
                                        <div class="le-u-body-sm aip-label-color">Projection Name</div>
                                        <div class="le-u-body-md mt-2">{{card.projection_name}}</div>
                                    </div>
                                </div>
                                <div class="mt-5">
                                    <div class="">
                                        <div class="row">
                                            <div class="le-u-body-sm aip-label-color  col-md-12">
                                                Description
                                            </div>
                                            <div class="le-u-body-md d-flex align-items-center  col-md-12">
                                                <span class=" my-2"
                                                    style="line-height: 2rem;text-align: justify;background: var(--background-colour) 0% 0% no-repeat padding-box;">
                                                    {{card.description}}</span>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="le-u-body-sm aip-label-color  col-md-12">
                                                Source table
                                            </div>
                                            <div class="le-u-body-sm mt-2  col-md-12">
                                                <span class=""
                                                    style="width: 90%;background: var(--background-colour) 0% 0% no-repeat padding-box;min-height: 1.5rem;">{{card.Source_table}}</span>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="le-u-body-sm aip-label-color  col-md-12">
                                                Feature Key
                                            </div>
                                            <div class="le-u-body-sm mt-2  col-md-12">
                                                <span class=""
                                                    style="width: 90%;background: var(--background-colour) 0% 0% no-repeat padding-box;min-height: 1.5rem;">{{card.feature_key}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="basicReqTab == 'featuresProfile'">
                    <div class="tab_content" id="tabContent_1">
                        <div class="le-c-panel__content  le-u-pad-16">
                            <div class=""><json-tree [value]="payload"></json-tree></div>                          
                        </div>
                    </div>
                </div>
                <div *ngIf="basicReqTab == 'featuresExtras'">
                    <div class="tab_content" id="tabContent_1">
                        <div class="le-c-panel__content  le-u-pad-16">
                            <div class=""><json-tree [value]="payload"></json-tree></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->


<!-- </div> -->