<!-- <div style="margin:2%"> -->
<form [formGroup]="orderForm" (ngSubmit)="OnSubmit(orderForm.value)"
    class="ng-untouched ng-pristine ng-valid le-u-pad-24">
    <div class="k1" style="margin-left: 0.9%;margin-right: 0.9%;padding-top: 0.5%;">
        <div class="row">
            <div class="" style="min-width: 100%">
                <leds-card designType="simple">
                    <mat-card-header>
                        <mat-card-title>
                            <h2 class="le-u-header-xl le-u-ellipsis" style="display: inline;">Stages
                            </h2>
                            <span style="float:right" class="selector-758-6">
                                <i class="icon x-24 up-arw-icon" (click)="isCollapsed = false" *ngIf="isCollapsed"
                                    title="Expand All"></i>
                                <i class="icon x-24 down-arw-icon" (click)="isCollapsed = true" *ngIf="!isCollapsed"
                                    title="Collapse All"></i>
                            </span>
                        </mat-card-title>
                    </mat-card-header>
                </leds-card>
            </div>
        </div>
    </div>

    <leds-accordion *ngFor="let item of jsondata.controls; let i = index;" designType="3D" [hideToggle]="false"
        [multi]="false">
        <mat-expansion-panel [hideToggle]="true" [expanded]="isCollapsed">
            <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                <mat-panel-title>
                    <span style="text-transform: capitalize;"> Stage {{i+1}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- <div *ngFor="let item of jsondata.controls; let i = index;">
                <br /> -->
            <div formArrayName="jsondata" style="padding-top: 2vh;">

                <div [formGroupName]="i">
                    <!-- <p-fieldset [toggleable]="true"> -->
                    <!-- <ng-template pTemplate="header" style="padding: 2vh;"><i class="fa fa-minus"
                            style="padding: 1vh;"></i> Stage {{i+1}} &nbsp;&nbsp;
                        <span><i aria-hidden="true" class="fa fa-minus-circle " title="Remove Stage"
                                (click)="removeStage(i)">
                            </i></span>&nbsp;&nbsp;
                        <span><i aria-hidden="true" class="fa fa-plus-circle " title="Add Stage"
                                (click)="addStageAtIndex(i)">
                            </i></span>
                    </ng-template> -->
                    <!-- <div>
                            <span>Stage {{i+1}}</span> &nbsp;&nbsp;
                            <span><i aria-hidden="true" class="fa fa-minus-circle " title="Remove Stage"
                                    (click)="removeStage(i)">
                                </i></span>
                            </div> -->
                    <div class="col-md-12 row ">
                        <div class="col-md-3">
                            <div style="width: 100%; padding-top: 2.3%;">
                                <leds-input-field label="Question" placeholder="Question" errorMessage="{
                                            required: 'This field is required',
                                            }" inputType="text" formControlName="Question" [name]="i"
                                    [id]="i"></leds-input-field>
                                <!-- <mat-label>Question</mat-label>
                                        <input matInput="" formControlName="Question" [name]="i" [id]="i" /> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div style="width: 100%;">
                                <leds-select label="Choose Question Component" placeholder="Choose Question Component"
                                    [options]="questionComponentsledsOptn"
                                    (selectChange)="setInputProp(i, $event, 'QuestionComponent')"
                                    formControlName="QuestionComponent"></leds-select>
                                <!-- <mat-label>Choose Question Component</mat-label>
                                        <mat-select (selectionChange)="setInputProp(i, $event, 'QuestionComponent')"
                                            formControlName="QuestionComponent">
                                            <mat-option *ngFor="let questcomponent of questionComponents"
                                                [value]="questcomponent">
                                                {{questcomponent}}
                                            </mat-option>
                                        </mat-select> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <leds-select label="Is this stage mandatory?" [options]="mandatoryoptionOptn"
                                formControlName="mandatory"></leds-select>
                            <!-- <mat-form-field style="width: 100%;">
                                        <mat-label>Is this stage mandatory?</mat-label>
                                        <mat-select formControlName="mandatory">
                                            <mat-option [value]="'true'">True</mat-option>
                                            <mat-option [value]="'false'">False</mat-option>
                                        </mat-select>
                                    </mat-form-field> -->
                        </div>
                        <div class="col-md-3">
                            <leds-input-field label="Stage Description" placeholder="Stage Description" errorMessage="{
                                        required: 'This field is required',
                                        }" inputType="text" formControlName="Description"></leds-input-field>
                            <!-- <mat-form-field style="width: 100%; padding-top: 2.3%;">
                                        <mat-label>Stage Description</mat-label>
                                        <input matInput="" formControlName="Description" />
                                    </mat-form-field> -->
                        </div>
                    </div><br />
                    <div class="row col-md-12 row">
                        <div formGroupName="WorkareaComponent" class="col-md-8" style="display: flex;">
                            <div class="col-md-6">
                                <leds-select label="Choose Workarea Component" placeholder="Choose Workarea Component"
                                    [options]="wkareaComponentsledsOptn" formControlName="Component"
                                    (selectChange)="setInputProp(i, $event, 'WorkareaComponent')"></leds-select>

                                <!-- <mat-form-field style="width: 100%;">
                                            <mat-label>Choose Workarea Component</mat-label>
                                            <mat-select (selectionChange)="setInputProp(i, $event, 'WorkareaComponent')"
                                                formControlName="Component">
                                                <mat-option *ngFor="let wkareacomponent of wkareaComponents"
                                                    [value]="wkareacomponent">
                                                    {{wkareacomponent}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field> -->
                            </div>
                            <div class="col-md-6">
                                <div style="width: 100%; padding-top: 2.3%;">
                                    <leds-input-field label="Alias for Workarea Component"
                                        placeholder="Alias for Workarea Component" errorMessage="{
                                                required: 'This field is required',
                                                }" inputType="text" formControlName="alias"></leds-input-field>
                                    <!-- <mat-label>Alias for Workarea Component</mat-label>
                                            <input matInput="" formControlName="alias" /> -->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 row">
                            <div style="width: 80%; height: 6rem;">
                                <leds-select label="Do you want to display Tab?"
                                    placeholder="Do you want to display Tab?" [options]="mandatoryoptionOptn"
                                    formControlName="Tab"></leds-select>

                                <!-- <mat-label>Do you want to display Tab?</mat-label>
                                        <mat-select formControlName="Tab">
                                            <mat-option [value]="'true'">True</mat-option>
                                            <mat-option [value]="'false'">False</mat-option>
                                        </mat-select> -->
                            </div>&nbsp;&nbsp;

                        </div>
                    </div><br />
                    <div class="col-md-12 row" *ngIf="item.value.input && item.value.input!=''">
                        <div formGroupName="input" class="col-md-12">
                            <div class="col-md-4" *ngIf="item.value.input.inp1!=undefined">
                                <leds-input-field label="Enter input1 in format 'stage1' "
                                    placeholder="Enter input1 in format 'stage1'" errorMessage="{
                                            required: 'This field is required',
                                            }" inputType="text" formControlName="inp1"></leds-input-field>
                                <!-- <mat-form-field style="width: 100%; padding-top: 2.3%;">
                                            <mat-label>Enter input1 in format 'stage1' </mat-label>
                                            <input matInput="" formControlName="inp1" />
                                        </mat-form-field> -->
                            </div>
                            <div class="col-md-4" *ngIf="item.value.input.dashboardfilter!=undefined">
                                <leds-input-field label="Enter the dashboardfilter"
                                    placeholder="Enter the dashboardfilter" errorMessage="{
                                            required: 'This field is required',
                                            }" inputType="text" formControlName="dashboardfilter"></leds-input-field>
                                <!-- <mat-form-field style="width: 100%; padding-top: 2.3%;">
                                            <mat-label>Enter the dashboardfilter</mat-label>
                                            <input matInput="" formControlName="dashboardfilter" />
                                        </mat-form-field> -->
                            </div>
                            <div class="col-md-4" *ngIf="item.value.input.inp2!=undefined">
                                <leds-input-field label="Enter input2 in format 'stage1'"
                                    placeholder="Enter input2 in format 'stage1'" errorMessage="{
                                            required: 'This field is required',
                                            }" inputType="text" formControlName="inp2"></leds-input-field>
                                <!-- <mat-form-field style="width: 100%; padding-top: 2.3%;">
                                            <mat-label>Enter input2 in format 'stage1'</mat-label>
                                            <input matInput="" formControlName="inp2" />
                                        </mat-form-field> -->
                            </div>
                            <div class="col-md-4" *ngIf="item.value.input.xaxis!=undefined">
                                <leds-input-field label="Enter X-Axis in format 'stage1'"
                                    placeholder="Enter X-Axis in format 'stage1'" errorMessage="{
                                            required: 'This field is required',
                                            }" inputType="text" formControlName="xaxis"></leds-input-field>
                                <!-- <mat-form-field style="width: 100%; padding-top: 2.3%;">
                                            <mat-label>Enter X-Axis in format 'stage1'</mat-label>
                                            <input matInput="" formControlName="xaxis" />
                                        </mat-form-field> -->
                            </div>
                            <div class="col-md-4" *ngIf="item.value.input.yaxis!=undefined">
                                <leds-input-field label="Enter Y-Axis in format 'stage1'"
                                    placeholder="Enter Y-Axis in format 'stage1'" errorMessage="{
                                            required: 'This field is required',
                                            }" inputType="text" formControlName="yaxis"></leds-input-field>
                                <!-- <mat-form-field style="width: 100%; padding-top: 2.3%;">
                                            <mat-label>Enter Y-Axis in format 'stage1'</mat-label>
                                            <input matInput="" formControlName="yaxis" />
                                        </mat-form-field> -->
                            </div>
                            <div class="col-md-4" *ngIf="item.value.input.type!=undefined">
                                <leds-select label="Choose Job Type" placeholder="Choose Job Type"
                                    [options]="jobTypesledsOptn" formControlName="type"></leds-select>
                                <!-- <mat-form-field style="width: 100%; padding-top: 2.3%;">
                                            <mat-label>Choose Job Type</mat-label>
                                            <mat-select formControlName="type">
                                                <mat-option [value]="'chain'">Chain</mat-option>
                                                <mat-option [value]="'internaljob'">Internal</mat-option>
                                                <mat-option [value]="'pipeline'">Pipeline</mat-option>
                                            </mat-select>
                                        </mat-form-field> -->
                            </div>
                            <div class="col-md-4" *ngIf="item.value.input.event!=undefined">
                                <leds-input-field label="Event Name" placeholder="Event Name" errorMessage="{
                                            required: 'This field is required',
                                            }" inputType="text" formControlName="event"></leds-input-field>
                                <!-- <mat-form-field style="width: 100%; padding-top: 2.3%;">
                                            <mat-label>Event Name</mat-label>
                                            <input matInput="" formControlName="event" />
                                        </mat-form-field> -->
                            </div>
                            <div class="col-md-4" *ngIf="item.value.input.eventinp!=undefined">
                                <leds-input-field label="Event Body" placeholder="Event Body" errorMessage="{
                                            required: 'This field is required',
                                            }" inputType="text" formControlName="eventinp"></leds-input-field>
                                <!-- <mat-form-field style="width: 100%; padding-top: 2.3%;">
                                            <mat-label>Event Body</mat-label>
                                            <input matInput="" formControlName="eventinp" />
                                        </mat-form-field> -->
                            </div>
                            <div class="col-md-4" *ngIf="item.value.input.outputDataset!=undefined">
                                <leds-input-field label="Output Dataset" placeholder="Output Dataset" errorMessage="{
                                            required: 'This field is required',
                                            }" inputType="text" formControlName="outputDataset"></leds-input-field>
                                <!-- <mat-form-field style="width: 100%; padding-top: 2.3%;">
                                            <mat-label>Output Dataset</mat-label>
                                            <input matInput="" formControlName="outputDataset" />
                                        </mat-form-field> -->
                            </div>
                            <div class="col-md-4" *ngIf="item.value.input.outputDatasetName!=undefined">
                                <leds-input-field label="Output Dataset Name" placeholder="Output Dataset Name"
                                    errorMessage="{
                                            required: 'This field is required',
                                            }" inputType="text" formControlName="outputDatasetName"></leds-input-field>
                                <!-- <mat-form-field style="width: 100%; padding-top: 2.3%;">
                                            <mat-label>Output Dataset Name</mat-label>
                                            <input matInput="" formControlName="outputDatasetName" />
                                        </mat-form-field> -->
                            </div>

                            <div class="col-md-4" *ngIf="item.value.input.dashboardname!=undefined">
                                <leds-input-field label="Dashboard Name" placeholder="Dashboard Name" errorMessage="{
                                            required: 'This field is required',
                                            }" inputType="text" formControlName="dashboardname"></leds-input-field>
                                <!-- <mat-form-field style="width: 100%; padding-top: 2.3%;">
                                            <mat-label>Dashboard Name</mat-label>
                                            <input matInput="" formControlName="dashboardname" />
                                        </mat-form-field> -->
                            </div>
                            <div class="col-md-4" *ngIf="item.value.input.pipelinename!=undefined">
                                <leds-input-field label="Pipeline Name" placeholder="Pipeline Name" errorMessage="{
                                            required: 'This field is required',
                                            }" inputType="text" formControlName="pipelinename"></leds-input-field>
                                <!-- <mat-form-field style="width: 100%; padding-top: 2.3%;">
                                            <mat-label>Pipeline Name</mat-label>
                                            <input matInput="" formControlName="pipelinename" />
                                        </mat-form-field> -->
                            </div>

                            <div class="col-md-4" *ngIf="item.value.input.dataset!=undefined">
                                <leds-autocomplete [options]="filteredDatasetsledsoptn" placeholder="Find..."
                                    label="Choose Dataset" formControlName="dataset" errorMessage="{
                                            required: 'This field is required',
                                          }" [required]="true" [autoActiveFirstOption]="false"></leds-autocomplete>
                                <!-- <mat-form-field style="width: 100%; padding-top: 2.3%;">
                                            <mat-label>Choose Dataset</mat-label>
                                            <mat-select formControlName="dataset">
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="searchTerm"
                                                        [placeholderLabel]="'Find...'"
                                                        [noEntriesFoundLabel]="'No matching Value found'"></ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let dataset of filteredDatasets | async"
                                                    [value]="dataset.name">
                                                    {{dataset.alias}}
                                                </mat-option>
                                            </mat-select>
                                           
                                        </mat-form-field> -->
                            </div>

                        </div>
                    </div>
                    <!-- </p-fieldset> -->
                </div>
            </div><hr>
            <!-- </div> --> 
            <div class="d-flex justify-content-end" style="position: relative;right: 15px;bottom: 3px;">
                <leds-tooltip [tooltip]="'Add Stage'" [position]="'above'">
                    <i class="icon x-24 icon-add le-u-mar-r-16" (click)="addStageAtIndex(i)"></i>
                </leds-tooltip>
                <leds-tooltip [tooltip]="'Delete Stage'" [position]="'above'">
                    <i class="icon x-24 delete-sm-icon" (click)="removeStage(i)"></i>
                </leds-tooltip>
            </div>
        </mat-expansion-panel>
    </leds-accordion>
    <leds-button class="d-flex justify-content-end" style="margin-right: 10px;">Save</leds-button>
    <!-- <leds-button type="submit" style="background-color: darkblue;border-radius: 0.6rem;">
            <span style="color: white;">Save</span>
        </leds-button > -->
    <div class="row" style="height: 3vh;"> <br></div>
</form>
<!-- </div> -->
<!-- <div *ngFor="let t of taskList" style="margin: 1%;">
    <p-fieldset [toggleable]="true" [collapsed]="isCollapsed">
        <ng-template pTemplate="header">{{t | titlecase}}</ng-template>
        <p-table [value]="select(t)" dataKey="id" editMode="row">
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <col style="width:45%">
                    <col style="width:45%">
                    <col style="width:10%">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="product">
                    <td>{{product.keys}}</td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [style]="{'width': '100%'}" [(ngModel)]="product.value">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.value}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align:center">
                        <button *ngIf="!editing" type="button" pInitEditableRow (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"> <i class="fa fa-pencil"
                                aria-hidden="true"></i></button>
                        <button *ngIf="editing" type="button" pSaveEditableRow (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success p-mr-2"> <i class="fa fa-check"
                                aria-hidden="true"></i></button>&nbsp;
                        <button *ngIf="editing" type="button" pCancelEditableRow (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"> <i class="fa fa-times"
                                aria-hidden="true"></i></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div *ngIf="selected && selected.length==0">
            No values to display here
        </div>
    </p-fieldset>
</div> -->