<div class="payload" [ngSwitch]="valueType">

	<ng-template ngSwitchCase="Null">
		<div (click)="toggle()" class="label is-null le-u-header-sm" [class.is-collapsed]="isCollapsed">
			Null
		</div>
		<ng-template [ngIf]="( ! isCollapsed )">
			<div class="le-u-header-sm value is-null">
				null
			</div>
		</ng-template>
	</ng-template>

	<ng-template ngSwitchCase="String">
		<div (click)="toggle()" class="label is-string le-u-header-sm" [class.is-collapsed]="isCollapsed">
			String
		</div>
		<ng-template [ngIf]="( ! isCollapsed )">
			<div class="value is-string le-u-header-sm" [style.cursor]="!pointer? 'pointer' : 'cell' ">
				<a (click)="parseString()">
					{{ value }}
				</a>
			</div>
		</ng-template>
	</ng-template>

	<ng-template ngSwitchCase="Number">
		<div (click)="toggle()" class="label is-number le-u-header-sm" [class.is-collapsed]="isCollapsed">
			Number
		</div>
		<ng-template [ngIf]="( ! isCollapsed )">
			<div class="value is-number le-u-header-sm">
				{{ value }}
			</div>
		</ng-template>
	</ng-template>

	<ng-template ngSwitchCase="Boolean">
		<div (click)="toggle()" class="label is-boolean le-u-header-sm" [class.is-collapsed]="isCollapsed">
			Boolean
		</div>
		<ng-template [ngIf]="( ! isCollapsed )">
			<div class="value is-boolean le-u-header-sm">
				{{ value }}
			</div>
		</ng-template>
	</ng-template>

	<ng-template ngSwitchCase="Array">
		<div (click)="toggle()" class="header is-array  le-u-header-sm" [class.is-collapsed]="isCollapsed">
			<div class="type">
				Array
			</div>
			<div class="entry-count  le-u-header-sm">
				Entries: {{ entryCount }}
			</div>
		</div>
		<ng-template [ngIf]="( ! isCollapsed )">
			<ng-template ngFor let-subvalue let-index="index" [ngForOf]="value">
				<div (click)="toggle( index )" class="label is-array  le-u-header-sm" [class.is-collapsed]="collapsedEntries[ index ]">
					{{ index }}
				</div>
				<ng-template [ngIf]="( ! collapsedEntries[ index ] )">
					<div class="value is-array  le-u-header-sm">
						<json-node [value]="subvalue"></json-node>
					</div>
				</ng-template>
			</ng-template>
		</ng-template>
	</ng-template>

	<ng-template ngSwitchCase="Object">
		<div (click)="toggle()" class="header is-object  le-u-header-sm" [class.is-collapsed]="isCollapsed">
			<div class="type le-u-header-sm">
				Object
			</div>
			<div class="entry-count le-u-header-sm">
				Entries: {{ entryCount }}
			</div>
		</div>
		<ng-template [ngIf]="( ! isCollapsed )">
			<div class="" style="padding: 0.2rem 0 0 1.6rem;display: grid;
			gap: 1px;">
				<ng-template ngFor let-subvalue [ngForOf]="value | keyvalue">
					<div (click)="toggle( subvalue.key )" class="label is-object le-u-header-sm"
						[class.is-collapsed]="collapsedEntries[ subvalue.key ]">
						{{ subvalue.key }}
					</div>
					<ng-template [ngIf]="( ! collapsedEntries[ subvalue.key ] )">
						<div class="value is-object le-u-header-sm">
							<json-node [value]="subvalue.value"></json-node>
						</div>
					</ng-template>
				</ng-template>
			</div>
		</ng-template>
	</ng-template>

</div>