<div class="le-u-pad-24">
    <div class="d-flex align-items-center justify-content-between">
        <div class="le-u-header-xxl">Create Template</div>
        <div class="" (click)="close()"><i class="icon x-16 aip-icons close-icon"></i></div>
    </div>
    <div class="le-u-mar-t-24">
        <div class="">
            <div class="le-u-header-md">Parent Name</div>
            <leds-input-field placeholder="" label="" designType="default" inputType="text" [disabled]="false"
                [required]="false" styleClass="" [(ngModel)]="parentName"></leds-input-field>
        </div>
        <div class="">
            <div class="le-u-header-md">Question Content</div>
            <leds-input-field placeholder="" label="" designType="default" inputType="text" [disabled]="false"
                [required]="false" styleClass="" [(ngModel)]="questionareContent"></leds-input-field>
        </div>
        <div class="">
            <div class="le-u-header-md">Response Type</div>
            <!-- <leds-input-field placeholder="" label="" designType="default" inputType="text" [disabled]="false"
                [required]="false" styleClass="" [(ngModel)]="questionareResponseType"></leds-input-field> -->
            <leds-select [options]="responseTypes" label="" [required]="false" [disabled]="false" designType="default"
                [isMultiple]="false" (selectChange)="selectResponseTypes($event)"></leds-select>
        </div>
        <div class="" *ngIf="questionareResponseType=='dropdown'">
            <div class="le-u-header-md">Options</div>
            <leds-input-field placeholder="" label="" hint="Option should be saperated by &quot;+&quot; "
                designType="default" inputType="text" [disabled]="false" [required]="false" styleClass=""
                [(ngModel)]="questionareOtions"></leds-input-field>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <leds-button nameText="miniPrimaryButton" idText="miniPrimaryButton" [disabled]="false" buttonType="button"
            designType="miniPrimary" (click)="addTemplate()">
            Add Template Data
        </leds-button>
    </div>
</div>