.aip-ivm-artifact-clip{
    font-weight: 400;
      font-size: 1.4rem;
      border-radius: 20px;
      height: 32px;
      min-height: 32px;
      padding: 2px 16px;
      line-height: 32px;
      border: 1px solid transparent;
      color: #000000 ;
  }