<!-- <ng-template mat-tab-label>
    <h2>Summary</h2>
</ng-template> -->
<div class="k1">
    <!-- <h2 class="summary-heading">Summary</h2> -->
    <h2 class="le-u-header-xl le-u-ellipsis" style="font-size: 2.2rem; margin-left: 25px;">Summary</h2>

    <div class="le-l-level2-middle-ctr le-u-pad-t-8">
        <div style="margin-bottom: 15px;">

            <!-- <div class="selector-model-title-head">
                <ul class="d-flex justify-content-between align-items-center py-2 px-4">
                    <li>
                        <span class="mx-2 aip-cursor">
                            <i class="aip-led-icons icon x-24 back-icon" (click)="navigateBack()"></i>
                        </span>
                    </li>
                    <div class="d-flex">
                        <li>
                            <leds-tooltip [tooltip]="'Update'" [position]="tooltipPoition">
                                <i class="le-u-mar-r-16 aip-led-icons icon icon_save x-24" (click)="updateTicket()"></i>
                            </leds-tooltip>
                        </li>
                        <li>
                            <leds-tooltip [tooltip]="'Refresh'" [position]="tooltipPoition">
                                <i class="le-u-mar-r-16 aip-led-icons icon icon_Refresh x-24" (click)="refresh1()"></i>
                            </leds-tooltip>
                        </li>
                        <li>
                            <leds-tooltip [tooltip]="'Get Recommendations'" [position]="tooltipPoition">
                                <i class="le-u-mar-r-16 aip-led-icons icon video-icon x-24" (click)="triggerAio()"></i>
                            </leds-tooltip>
                        </li>
                        <li>
                            <leds-tooltip [tooltip]="'Resolve'" [position]="tooltipPoition">
                                <i class="le-u-mar-r-16 aip-led-icons icon icon_approved_docs x-24"
                                    (click)="triggerResolve()"></i>
                            </leds-tooltip>
                        </li>
                    </div>
                </ul>
            </div> -->

            <div class="tab_content le-u-pad-b-16 le-u-pad-lr-8" id="tabContent_0">
                <div class="container le-u-pad-lr-16" style="margin-left: -1vh;width: 100%;">
                    <div class="le-u-pad-l-8">
                        <leds-input-field label="Number" [(ngModel)]="incident.number"
                            errorMessage="{required: 'This field is required',}" inputType="text" [disabled]="true"
                            [required]="true"></leds-input-field>
                    </div>
                    <div class="le-u-pad-l-8">
                        <leds-input-field label="Created Date" [(ngModel)]="incident.createdDate"
                            errorMessage="{required: 'This field is required',}" inputType="text" [disabled]="true"
                            [required]="true"></leds-input-field>
                    </div>
                </div>
                <div class="container le-u-pad-lr-16" style="margin-left: -1vh;width: 100%;">
                    <div class="le-u-pad-l-8">
                        <leds-input-field label="Caller" [(ngModel)]="incident.caller"
                            errorMessage="{required: 'This field is required',}" inputType="text" [disabled]="false"
                            [required]="true"></leds-input-field>
                    </div>
                    <div class="le-u-pad-l-8">
                        <div class="le-u-header-md col-md-4 justify-content-end d-flex align-items-center">
                            <!-- Status -->
                        </div>
                        <!-- <div class="col-md-8"> -->
                        <leds-autocomplete [options]="state1" placeholder="--None--" label="Status"
                            [(ngModel)]="incident.state" errorMessage="{required: 'This field is required', }"
                            [disabled]="false" [required]="false" [autoActiveFirstOption]="true"
                            [disableRipple]="false"></leds-autocomplete>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="container le-u-pad-lr-16" style="margin-left: -1vh;width: 100%;">
                    <div class="le-u-pad-l-8">
                        <div class="le-u-header-md">
                            <!-- Category -->
                        </div>
                        <!-- <div class="col-md-8"> -->
                        <leds-autocomplete [options]="category" placeholder="--None--" label="Category"
                            [(ngModel)]="incident.category" errorMessage="{required: 'This field is required', }"
                            [disabled]="false" [required]="false" [autoActiveFirstOption]="true"
                            [disableRipple]="false"></leds-autocomplete>
                        <!-- </div> -->
                    </div>
                    <div class="le-u-pad-l-8">
                        <div class="le-u-header-md col-md-4 justify-content-end d-flex align-items-center">
                            <!-- Assignment Group -->
                        </div>
                        <!-- <div class="col-md-8"> -->
                        <leds-autocomplete [options]="assignmentGroup" placeholder="--None--"
                            [(ngModel)]="incident.assignmentgroup" label="Assignment Group"
                            errorMessage="{required: 'This field is required', }" [disabled]="false" [required]="false"
                            [autoActiveFirstOption]="true" [disableRipple]="false"></leds-autocomplete>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="container le-u-pad-lr-16" style="margin-left: -1vh;width: 100%;">
                    <div class="le-u-pad-l-8">
                        <div class="le-u-header-md col-md-4 justify-content-end d-flex align-items-center">
                            <!-- Assigned To -->
                        </div>
                        <!-- <div class="col-md-8"> -->
                        <leds-autocomplete [options]="assignee" placeholder="--None--" label="Assigned To"
                            errorMessage="{required: 'This field is required', }" [disabled]="false"
                            [(ngModel)]="incident.assignedto" [required]="false" [autoActiveFirstOption]="true"
                            [disableRipple]="false"></leds-autocomplete>
                        <!-- </div> -->
                    </div>
                    <div class="le-u-pad-l-8">
                        <div class="le-u-header-md col-md-4 justify-content-end d-flex align-items-center">
                            <!-- Configuration Item -->
                        </div>
                        <!-- <div class="col-md-8"> -->
                        <leds-autocomplete [options]="configurationItem" placeholder="--None--"
                            [(ngModel)]="incident.configurationItem" label="Configuration Item"
                            errorMessage="{required: 'This field is required', }" [disabled]="false" [required]="false"
                            [autoActiveFirstOption]="true" [disableRipple]="false"></leds-autocomplete>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="container le-u-pad-lr-16" style="margin-left: -1vh;width: 100%;">
                    <div class="le-u-pad-l-8">
                        <div class="le-u-header-md col-md-4 justify-content-end d-flex align-items-center">
                            <!-- Priority -->
                        </div>
                        <!-- <div class="col-md-8"> -->
                        <leds-autocomplete [options]="priorityy" placeholder="--None--" label="Priority"
                            [(ngModel)]="incident.priority" errorMessage="{required: 'This field is required', }"
                            [disabled]="false" [required]="false" [autoActiveFirstOption]="true"
                            [disableRipple]="false"></leds-autocomplete>
                        <!-- </div> -->
                    </div>
                    <div class="le-u-pad-l-8">
                        <div class="le-u-header-md col-md-4 justify-content-end d-flex align-items-center">
                            <!-- SOP -->
                        </div>
                        <!-- <div class="col-md-8"> -->
                        <leds-autocomplete [options]="sop" placeholder="--None--" label="SOP" [(ngModel)]="incident.sop"
                            errorMessage="{required: 'This field is required', }" [disabled]="false" [required]="false"
                            [autoActiveFirstOption]="true" [disableRipple]="false"></leds-autocomplete>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="container le-u-pad-lr-16" style="margin-left: -1vh;width: 100%;">
                    <div class="le-u-pad-l-8 ">
                        <div class="le-u-header-md col-md-4 justify-content-end d-flex align-items-center">
                            <!-- Workflow -->
                        </div>
                        <!-- <div class="col-md-8"> -->
                        <leds-autocomplete [options]="workflow" placeholder="--None--" label="Workflow"
                            [(ngModel)]="incident.workflow" errorMessage="{required: 'This field is required', }"
                            [disabled]="false" [required]="false" [autoActiveFirstOption]="true"
                            (panelOptionSelected)="onChanginDatasource($event.option.value)"
                            [disableRipple]="false"></leds-autocomplete>
                        <!-- </div> -->
                    </div>
                    <div class="le-u-pad-l-8 ">
                        <div class="le-u-header-md col-md-4 justify-content-end d-flex align-items-center">
                        </div>
                        <!-- <div class="col-md-8"> -->
                        <!-- <leds-autocomplete [options]="sop" placeholder="Choose One" label=""
                                [(ngModel)]="incident.sop"
                                errorMessage="{required: 'This field is required', }" [disabled]="false"
                                [required]="false" [autoActiveFirstOption]="true"
                                [disableRipple]="false"></leds-autocomplete> -->
                        <!-- </div> -->
                    </div>
                </div>
                <div class=" d-flex align-items-center row le-u-pad-lr-16">
                    <div class="le-u-header-md col-md-3 justify-content-end d-flex align-items-center">
                        <!-- Enter Short Description Details -->
                    </div>
                    <!-- <div class="col-md-9"> -->
                    <leds-textarea placeholder="'Enter Short Description Details'" label="Short Description"
                        designType="default" [(ngModel)]="incident.shortdescription" inputType="text"
                        errorMessage="{required: 'This field is required',  }" [disabled]="false" [required]="false"
                        class="itsm-scroll"></leds-textarea>
                    <!-- </div> -->
                </div>
                <div class=" d-flex align-items-center row le-u-pad-lr-16">
                    <div class="le-u-header-md col-md-3 justify-content-end d-flex align-items-center">
                        <!-- Description -->
                    </div>
                    <!-- <div class="col-md-9"> -->
                    <leds-textarea placeholder="Enter Description Details" label="Description" designType="default"
                        [(ngModel)]="incident.description" inputType="text"
                        errorMessage="{required: 'This field is required',  }" [disabled]="false" [required]="false"
                        class="itsm-scroll"></leds-textarea>
                    <!-- </div> -->
                </div>
                <div class=" d-flex align-items-center row le-u-pad-lr-16">
                    <div class="le-u-header-md col-md-3 justify-content-end d-flex align-items-center">
                        <!-- Resolution Steps -->
                    </div>
                    <!-- <div class="col-md-9"> -->
                    <leds-textarea placeholder="Enter Resolution Steps" label="Resolution Steps" designType="default"
                        [(ngModel)]="incident.resolution_steps" inputType="text"
                        errorMessage="{required: 'This field is required',  }" [disabled]="false" [required]="false"
                        class="itsm-scroll"></leds-textarea>
                    <!-- </div> -->
                </div>
                <div class="d-flex justify-content-start le-u-mar-lr-16"
                    style="margin-top: 1rem;margin-left: 7rem;margin-right: 12rem; margin-bottom: 1rem;">
                    <leds-button nameText="primaryButton" idText="primaryButton" [disabled]="false"
                        (click)="updateTicket()" buttonType="button" designType="primary">
                        Update</leds-button>
                    <!-- <leds-button nameText="primaryButton" idText="primaryButton" [disabled]="false"
                        (click)="navigateBack()" buttonType="button" designType="primary">
                        Cancel</leds-button> -->
                    <leds-button nameText="primaryButton" idText="primaryButton" [disabled]="false"
                        (click)="refresh()" buttonType="button" designType="primary">
                        Reset</leds-button>
                </div>

            </div>
        </div>
        <div>

        </div>
    </div>
</div>