  .aip-initiative-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: repeat(auto-fit, 140px);
    // justify-content: center;
    grid-row-gap: 24px;
    grid-column-gap: 24px;
  }