.initiative-inbox-button {
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    height: max-content;
    color: white;
    width: max-content;
    cursor: pointer;
  }