.nxtBtn {
    height: 21px;
    line-height: 5px;
    border: 1px solid var(--base-color);
    padding: 0 10px;
    color: #fff;
    background: var(--base-color);
    border-radius: 4px;
    text-decoration: none;
    margin: 10px;
    margin-left: 10px;
  }