.aip-lnk-ellipsis {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.aip-lnk-ellipsis:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: inherit;
    word-break: break-word;
  }
.aip-link-card{
    display: grid;
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: repeat(auto-fit, 87px);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}
.aip-link-card-height{
    min-height: 20rem;
    height: 38rem;
    overflow: auto;
}
.aip-link-card-containers{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 24px;

}
.aip-linked-search{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    z-index: 4;
}
.aip-linked-load{
    grid-column: 3;
}