<!-- <div cdkDrag>
    <div cdkDragHandle> -->
        <div [id]="id" (input)="onContentChange($event)" class="sub-main-container pannel-shadow">

            <leds-overflow>
                <div ngbDropdown>
                    <div class="d-flex le-u-pad-lr-16 le-u-pad-tb-16" style="justify-content: space-between;">
                        <div class="d-flex">
                            <span [id]="value" class="le-u-body-lg le-u-pad-t-4" style="
            color: #73738c;font-weight: bold;">SYSTEM</span>
                            <a id="OverflowMenu_dd" ngbDropdownToggle title="overflow menu">
                                <i class="icon x-24 down-arw-icon"></i>
                            </a>
                        </div>
                        <div class="d-flex">
                            <leds-tooltip class="aip-w-2" [tooltip]="'Remove'" [position]="'above'"
                                style="padding-top: 5px;">
                                <i class="le-u-mar-r-8 icon delete-sm-icon x-20" (click)="removeTemplate(id)"></i>
                            </leds-tooltip>
                            <leds-tooltip [tooltip]="'copy to clipboard'" [position]="'above'"
                                style="padding-top: 5px;">
                                <i *ngIf="!pi" class="le-u-mar-r-8 aip-led-icons icon copy-icon icon-size"
                                    (click)="copyText()"></i>
                            </leds-tooltip>
                            <leds-tooltip [tooltip]="'copied'" [position]="'above'" style="padding-top: 5px;">
                                <i *ngIf="pi" class="le-u-mar-r-8 aip-led-icons icon icon-tick-dark icon-size"></i>
                            </leds-tooltip>
                            <leds-tooltip [tooltip]="'drag'" [position]="'above'" style="padding-top: 5px;">
                                <i class="le-u-mar-r-8 aip-led-icons icon icon_drag icon-size"></i>
                            </leds-tooltip>
                        </div>
                    </div>


                    <div ngbDropdownMenu aria-labelledby="OverflowMenu_dd" style="width: max-content;">
                        <ul overflowList>
                            <li overflowListItem (click)="setTempAgent('SYSTEM',id)">
                                <a href="javascript:void(0);">
                                    <span overflowSpan class="le-u-mar-l-8">SYSTEM</span>
                                </a>
                            </li>
                            <li overflowListItem (click)="setTempAgent('HUMAN',id)">
                                <a href="javascript:void(0);">
                                    <span overflowSpan class="le-u-mar-l-8">HUMAN</span>
                                </a>
                            </li>
                            <li overflowListItem (click)="setTempAgent('TOOL',id)">
                                <a href="javascript:void(0);">
                                    <span overflowSpan class="le-u-mar-l-8">TOOL</span>
                                </a>
                            </li>
                            <li overflowListItem (click)="setTempAgent('AI',id)">
                                <a href="javascript:void(0);">
                                    <span overflowSpan class="le-u-mar-l-8">AI</span>
                                </a>
                            </li>
                            <li overflowListItem (click)="setTempAgent('FUNCTION',id)">
                                <a href="javascript:void(0);">
                                    <span overflowSpan class="le-u-mar-l-8">FUNCTION</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </leds-overflow>
            <div #texttocopy [id]="text" contenteditable="true" class="le-u-pad-lr-16 le-u-pad-tb-16">
                <p>Write your message here...</p>
            </div>

        </div>
    <!-- </div>
</div> -->