.tagbrdr {
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  box-shadow: 0 1px 4px 0 rgb(1 1 1 / 10%), 0 1px 1px 0 rgb(0 0 0 / 10%);
}

.items-baseline {
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

// ::ng-deep{
//   .mat-mdc-card{
//     width: 274px !important;
//     height: 163px !important;
//   }
// }

.col-datasets {
  margin-left: 22%;
  width: 78%;
}

::ng-deep .mat-mdc-floating-label {
  line-height: 2.5rem !important;
}

::ng-deep .aip-initiative-desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .le-c-card.mat-mdc-card .mat-mdc-card-content {
  margin-bottom: 0px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.aip-tag-active:hover {
  background: var(---faf2ff) 0% 0% no-repeat padding-box;
  background: #ebe8ec 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 6px #0000006b;
}

.aip-tag-disabled:hover {
  background: var(---faf2ff) 0% 0% no-repeat padding-box;
  background: #faf2ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 6px #00000029;
}

.aip-tag-active {
  background: #edcfff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #00000029;
  color: #8626c3;
}

.aip-tag-active:focus {
  background: #dadada 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #00000029;
}

::ng-deep .le-c-tab .mat-mdc-tab.mdc-tab {
  text-transform: none;
}

.txt-cont {
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  overflow: hidden;
}

::ng-deep .aip-ivm-scroll-left {
  left: -1.9rem;
  top: 15%;
}

::ng-deep .aip-ivm-scroll-right {
  right: -1.9rem;
  top: 15%;
}

.aip-doc-grid {
  display: flex;
  grid-gap: 2.0rem;
  overflow: auto;
  max-width: 1040px;
  padding: 1.2rem;
}

.aip-doc-grid::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  // background: #000;
}

.aip-doc-grid::-webkit-scrollbar-thumb {
  background: #777;
  -webkit-border-radius: 0ex;
  // -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.aip-hover-icon:hover {
  color: var(--base-color);
}

.x-18 {
  font-size: 18px;
}

.x-aip-19 {
  display: flex;
  width: 25px;
  height: 25px;
  font-size: 19px;
  align-items: center;
  justify-content: space-around;
}