<!-- <p-dialog header="Workflow Spec Details" (visibleChange)="ngOnInit()" [(visible)]="addWkSpec" [style]="{width: '40%'}"
    [resizable]="true">
    <mat-form-field style="width: 80%;">
        <mat-label>Enter Workflow Spec Name<span style="color: red">*</span></mat-label>
        <input matInput="" [(ngModel)]="workflowSpec.wkname">
    </mat-form-field>
    <br>
    <button mat-button="" (click)="saveDetails()" class="selector-779-41 base-btn"
        style="margin-right: 4px;">Save</button>
</p-dialog> -->
<div class="clearfix le-l-bodywrapper" style="background: var(--background-colour);">
    <div class="container-fluid">
        <div class="le-l-middle-col le-u-no-mar-l__mb">
            <div class="le-l-level1-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="le-l-level1-middle-col le-l-base-layout-center aip-schema-center">
                            <div class="le-l-level1-wrapper">
                                <!-- Header -->
                                <div class="d-flex justify-content-between">


                                    <div class=" col-sm-12 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center">
                                        <div class="le-u-pad-8">
                                            <span *ngIf="showBreadcrumb" class="selector-788-4">
                                                <span *ngFor="let bc of breadcrumb" class="selector-788-5">
                                                    <span class="selector-788-6">&nbsp;&nbsp;</span>
                                                    <h3 *ngIf="bc" class="le-u-header-xl">{{bc.name}}</h3>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- <div
                                        class="col-10 offset-1 offset-xs-1 offset-sm-1 offset-md-0 col-sm-6 col-md-6 col-lg-7 col-xl-6 aip-panel aip-panel-shadow d-flex align-items-center">
                                        <input type="text" name="" id="" placeholder="Search by Name"
                                            class="aip-panel-input"
                                        [(ngModel)]="filt" (keyup)="filterz($event)">
                                        <i class="aip-led-icons icon x-24 search-icon"></i>
                                    </div> -->
                                    <div
                                        class="d-flex justify-content-center col-sm-5 col-md-6 col-lg-5 col-xl-4 aip-header-icon">

                                        <div class="le-u-mar-8">
                                            <div class="le-u-mar-r-24 aip-cursor" (click)="openDialog()">
                                                <span class="le-c-btn--icon__icon">
                                                    <i class="aip-led-icons icon x-24 icon-add"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="aip-cursor">
                                            <span class="le-c-btn--icon__icon">
                                                <i class="aip-led-icons icon x-24 icon_Refresh"
                                                    (click)="ngOnInit()"></i>
                                            </span>
                                        </div>
                                        <div class="view-by no-gutter-right mr-3 ">
                                            <a class="icon-grid-view tooltip-view" [class.active]="isGridView"
                                                href="javascript:void(0);" title="Grid view"
                                                (click)="isGridView = true"></a>
                                            <a class="icon-list-view tooltip-view" [class.active]="!isGridView"
                                                href="javascript:void(0);" title="List view"
                                                (click)="isGridView = false"></a>
                                        </div>
                                    </div>

                                </div>
                                <!-- CARD -->
                                <div class="aip-checklist-grid" *ngIf="isGridView"
                                    style="grid-template-columns: repeat(auto-fit, 274px) !important;">
                                    <div class="col-md-8 col-lg-6 col-xl-5"
                                        style='min-width: -webkit-fill-available;padding: 0px;'
                                        *ngFor="let model of wklist">
                                        <leds-card designType="simple" [actionsOnHover]='true' class="le-u-p-16"
                                            style="height: 163px; display: grid;">
                                            <div *ngIf="!spec" class="le-c-card__container-right">
                                                <span
                                                    class="le-c-badge le-c-badge--blue float-end">Stage{{model.currentStage}}</span>
                                            </div>

                                            <br>
                                            <!-- <div class="pipeline-header d-flex justify-content-between align-items-center le-u-mar-b-16 "> -->
                                            <!--    <div class="le-u-body-md aip-related-ellipsis aip-cursor"
                                                        (click)="navigate(model)">
                                                        {{spec?model.wkname:model.alias}}</div>
                                                </div>
                                                <div class="">
                                                    <div class="le-u-header-sm le-u-text-neutral-80 d-block le-u-mar-b-4 aip-cursor"
                                                        (click)="navigate(model)">
                                                        {{model.description}}
                                                    </div>
                                                    <div *ngIf="!spec" class="txt-publish" style="font-size: 12px;">
                                                        Current Stage :
                                                        {{model.currentStage}}</div>
                                                </div> -->

                                            <mat-card-content>
                                                <div
                                                    class=" le-c-card__container-left le-u-mar-b-8 le-u-header-xl le-u-ellipsis ">
                                                    {{spec?model.wkname:model.alias}}</div>

                                                <div
                                                    class=" le-c-card__container-left le-u-header-md le-u-text-neutral-80 d-block le-u-pad-t-8 aip-cursor">
                                                    {{model.description}}
                                                </div>
                                                <div *ngIf="!spec"
                                                    class=" le-c-card__container-left le-u-header-md le-u-text-neutral-80 d-block le-u-pad-t-8 aip-cursor">
                                                    {{model.updatedOn |date:"full"}}
                                                </div>
                                            </mat-card-content>
                                            <!-- </div> -->
                                            <mat-card-actions
                                                class="le-c-card__action-hover d-flex justify-content-between">
                                                <leds-button nameText="textButton" idText="textButton"
                                                    [disabled]="false" buttonType="button" designType="text"
                                                    styleClass=" DSA_wb_Btn_small" (click)="navigate(model)"><span>View
                                                        Details</span></leds-button>
                                                <span class="le-c-card__container-right" (click)="delete(model.id)"
                                                    class="le-u-body-sm aip-cursor"><i
                                                        class="icon x-24 ip-leds-icon delete-sm-icon"></i></span>
                                            </mat-card-actions>
                                        </leds-card>

                                    </div>
                                </div>

                                <div *ngIf="!isGridView">
                                    <div class="col-md-12" style="margin-top: 10px;"
                                        [ngBusy]="{busy:busy, message:'Loading...',backdrop:true}">
                                        <mat-card-content>
                                            <p-table [value]="wklist" [resizableColumns]="true"
                                                [reorderableColumns]="true"
                                                [ngBusy]="{busy:busy, message:'Loading...',backdrop:true}"
                                                styleClass="p-datatable-responsive-demo">
                                                <ng-template pTemplate="header">
                                                    <tr class="ptableheaders">
                                                        <th *ngFor="let col of cols;" pReorderableColumn
                                                            pResizableColumn>
                                                            {{col.header}}

                                                        </th>
                                                        <th>Action</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-i="rowIndex">
                                                    <tr>
                                                        <td *ngFor="let col of cols;" class="ui-resizable-column">
                                                            <span>{{wklist[i][col.field]}}</span>
                                                        </td>
                                                        <td>
                                                            <button [routerLink]="[wklist[i]['wkname']]"
                                                                style="margin-right:10px; padding: 2px 10px 0px 10px;height:24px;cursor:pointer;"
                                                                class="edit-button" data-title="Edit">
                                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                            </button>
                                                            <button
                                                                style="padding: 2px 10px 0px 10px;height:24px;cursor:pointer;"
                                                                (click)="delete([wklist[i]['id']])"
                                                                class="btn btn-danger" data-title="Delete">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="emptymessage">
                                                    <tr *ngIf=" wklist?.length==0">
                                                        <td>
                                                            No Records Found
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </mat-card-content>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="records==true">
            <div class="d-flex justify-content-center align-items-center flex-column">
                <img src="assets/images/aip_empty_state_leds.svg" class="img-responsive" alt="aip_empty_state_leds"
                    style="width:15rem" />
                No records found.
            </div>
        </div>
        <div *ngIf="records!=true"
            class="inbox-table-footer table-paginator flex-row flex-space-between standard-margin bottom-padding-20">
            <div class="showing-entries d-flex justify-content-end my-3">
                <span class="grey-color font-size-12">Showing </span>
                &nbsp;&nbsp;
                <span class="black-color font-weight-600">
                    {{ ((pageNumber - 1) * pageSize) + 1 }} -
                    {{ (((pageNumber - 1) * pageSize) + pageSize) < noOfItems ? ((pageNumber - 1) * pageSize) + pageSize
                        : noOfItems }} of {{noOfItems}} </span>
                        &nbsp;&nbsp;
                        <span class="grey-color font-size-12">entries </span>
            </div>
            <div class="paginator-buttons d-flex w-60  flex-row" style="justify-content:flex-end; padding-bottom: 4%;">
                <div class="page-input go-to-input box-shadow standard-padding">
                    <span class="grey-color">Go to: </span>
                    <input class="right-margin" type="number" min="1" [max]="noOfPages" value="pageNumberInput"
                        (change)="changePage(pageNumberInput)" [(ngModel)]="pageNumberInput" />
                </div>
                <!-- <div class="mx-4">
                                <span class="">Items per page</span>
                                <select type="number" [(ngModel)]="pageSize" (change)="optionChange($event)">
                                    <option *ngFor="let p of itemsPerPage" [ngValue]="p">{{p}}</option>
                                </select>
    
                            </div> -->
                <div class="pages-details d-flex">

                    <div class="previous-page">
                        <button class="standard-padding table-button font-weight-600" [disabled]="pageNumber == 1"
                            (click)="pageNumberInput=null;prevPage()">&lt;</button>
                    </div>
                    <div class="pages">
                        <button class="standard-padding table-button font-weight-600"
                            *ngFor="let i of pageArr | slice:startIndex:endIndex"
                            (click)="pageNumberInput=null;changePage(i+1)" [class.selected-page]="(i + 1) == pageNumber"
                            [ngStyle]="selectedButton(i+1)">
                            {{i + 1}}
                        </button>
                    </div>
                    <div class="next-page">
                        <button class="standard-padding table-button font-weight-600"
                            [disabled]="pageNumber == noOfPages" (click)="pageNumberInput=null;nextPage()">&gt;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>