.flexdivrow {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    white-space: pre-wrap;
}

.space {
    white-space: pre-wrap;
}

.fixeddiv {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}

.mat-mdc-dialog-container {
    padding: 0px !important;
}

.extrapadding {
    padding: 20px !important;
}

.totheright {
    display: flex;
    justify-content: flex-end;
}

.marginright {
    margin-right: 15px !important;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

#t01 tr:nth-child(even) {
    background-color: #eee;
}

#t01 tr:nth-child(odd) {
    background-color: #fff;
}

#t01 th {
    background-color: black;
    color: white;
}

#t02 tr:nth-child(even) {
    background-color: #eee;
}

#t02 tr:nth-child(odd) {
    background-color: #fff;
}

#t02 th {
    background-color: black;
    color: white;
}