<div>
    <div class="totheright fixeddiv modal-header selector-769-2">
        <i class="fa fa-times" title="close" (click)="onClose()" style="cursor: pointer;"></i>
    </div>
    <div class="modal-body selector-769-7">
        <div class="tabpadding selector-769-8">
            <div class="flexdivcolumn selector-769-9">
                <label>Metric</label>
                <br />
                <table *ngIf="metrickeys && metrickeys.length > 0" id="t01">
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    <tr *ngFor="let key of metrickeys">
                        <td>{{key}}</td>
                        <td>{{mtData.metric[key]}}</td>
                    </tr>
                </table>
                <label *ngIf="!(metrickeys && metrickeys.length > 0)">No data found.</label>
            </div>
            <br />
            <div class="flexdivcolumn selector-769-9">
                <label>Param</label>
                <br />
                <table *ngIf="paramkeys && paramkeys.length > 0" id="t02">
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    <tr *ngFor="let key of paramkeys">
                        <td>{{key}}</td>
                        <td>{{mtData.param[key]}}</td>
                    </tr>
                </table>
                <label *ngIf="!(paramkeys && paramkeys.length > 0)">No data found.</label>
            </div>
            <br/>
            <div class="flexdivcolumn">
                <label>Image</label>
                <br />
                <div *ngFor="let image of imageList">
                    <label>{{image.imageName}}</label>
                    <br/>
                    <img  [src]="image.image"/>

                </div>
                <label *ngIf="!(imagekeys && imagekeys.length > 0)">No data found.</label>
            </div>
        </div>
    </div>
</div>