<div style="margin:1%"><label>Input Dataset:</label> {{inpDataset.alias}}</div>
<apx-chart
  [series]="series"
  [chart]="chart"
  [dataLabels]="dataLabels"
  [markers]="markers"
  [title]="title"
  [yaxis]="yaxis"
  [xaxis]="xaxis"
  [tooltip]="tooltip"
  [autoUpdateSeries]="true"
></apx-chart>
<div style="margin:1%"><label>Output Dataset:</label> {{outDataset.alias}}</div>
<apx-chart
  [series]="series1"
  [chart]="chart"
  [dataLabels]="dataLabels"
  [markers]="markers"
  [title]="title"
  [yaxis]="yaxis"
  [xaxis]="xaxis1"
  [tooltip]="tooltip"
  [autoUpdateSeries]="true"
></apx-chart>
