<div class="container-fluid backgroud-color">
    <div class="le-l-level1-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="le-l-level1-middle-col le-l-base-layout-center">
                    <div class="align-items-center d-flex justify-content-between">
                        <div class="selector-model-title-head d-flex align-items-center">
                            <span class="" style="cursor: pointer;">
                                <i class="aip-led-icons icon x-24 back-icon" (click)="backToAgent()"></i>
                            </span>
                            <span class="le-u-mar-l-8 le-u-header-xl">AI Worker Tasks: {{workerName}}</span>
                        </div>
                    </div>
                    <div class="le-l-level2-middle-ctr">
                        <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                            <!-- <leds-panel type="default" styleClass="" contentClass=""> -->
                                <div class="le-u-mar-tb-16 le-u-pad-16">
                                    <div class="row le-c-panel__content aip-doc-container">
                                            <div class="col-md-8 col-lg-6 col-xl-5" style='min-width: -webkit-fill-available;padding: 0px;'
                                                *ngFor="let taskItem of taskGroup; let j = index;">
                                                <leds-card designType='simple' [actionsOnHover]='false' style="padding-top: 0 !important;padding-bottom: 0 !important;">
                                                        <div class="le-c-card__container-right">
                                                            <span class="le-u-overline le-u-text-primary-80 le-u-mar-b-8 float-end"></span>
                                                        </div>
                                                        <div class="le-u-overline le-u-mar-b-8">
                                                        </div>
                                                        <mat-card-header>
                                                            <mat-card-title class="le-c-card__container clearfix">
                                                                <div class="le-c-card__container-left w-100 le-u-pad-4">
                                                                    <h2 class="le-u-header-md le-u-ellipsis" style="line-height: 2rem;">
                                                                        {{taskItem.taskName}}</h2>
                                                                </div>
                                                            </mat-card-title>
                                                            <!-- <mat-card-subtitle
                                                                class="le-u-body-sm le-u-text-neutral-80 le-u-ellipsis">{{taskItem.description}}
                                                            </mat-card-subtitle> -->
                                                        </mat-card-header>
                                                        <mat-card-content class="le-u-no-mar-b">
                                                            <p class="le-u-body-md le-u-text-neutral-80 le-u-line-2 aip-desc-ellipsis">
                                                                {{taskItem.description}}
                                                            </p>
                                                        </mat-card-content>
                                                        <mat-card-actions class="d-flex">
                                                            <leds-button buttonType="button" designType="text" (click)="navigateToPrepare(workerName,j)">
                                                                Prepare</leds-button>
                                                            <leds-button buttonType="button" designType="text" (click)="navigateToExecute(workerName,j)">
                                                                Execute</leds-button>
                                                        </mat-card-actions>
                                                </leds-card>
                                            </div>
                                    </div>
                                </div>
                            <!-- </leds-panel> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>