<leds-footer>Copyright © {{leapAppYear}} Infosys Limited
   <span *ngIf="numberOfDays>=1 && numberOfDays<16" style="float :right" [ngStyle]="{'color': 'rgb(153, 153, 153)' }">
      <span style="color:red">**</span>License about to expire in {{numberOfDays}} day<span *ngIf="numberOfDays==1">.</span><span *ngIf="numberOfDays>=2">s.</span> Please Raise Github Request.<span style="color:red">**</span>
   </span>
   <span *ngIf="numberOfDays==0" style="float :right" ><span style="color:red">**</span>License will expire today. Please Raise Github Request.<span style="color:red">**</span></span>
</leds-footer>