<div class="clearfix le-l-bodywrapper aip-tranparent-backgroud" *ngIf="!create && !edit && !view">
    <div class="container-fluid">
        <div class="le-l-middle-col le-u-no-mar-l__mb">
            <div class="le-l-level1-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="le-l-level1-middle-col le-l-base-layout-center aip-schema-center">
                            <div class="le-l-level1-wrapper">
                                <!-- Header -->
                                <div class="row aip-header">
                                    <div class=" col-sm-12 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center">
                                        <div class="le-u-pad-24">
                                            <h3 class="le-u-header-xl">Relationships</h3>
                                        </div>
                                    </div>
                                    <div
                                        class="col-10 offset-1 offset-xs-1 offset-sm-1 offset-md-0 col-sm-6 col-md-6 col-lg-7 col-xl-6 aip-panel aip-panel-shadow d-flex align-items-center">
                                        <input type="text" name="" id="" placeholder="Search by Name"
                                            class="aip-panel-input" [(ngModel)]="filt" (keyup)="filterz($event)">
                                        <i class="aip-led-icons icon x-24 search-icon"></i>
                                    </div>
                                    <div
                                        class="d-flex justify-content-center col-sm-5 col-md-6 col-lg-5 col-xl-4 aip-header-icon">

                                        <div class="">
                                            <!-- *ngIf="createAuth" -->
                                            <div class="le-u-mar-r-24 aip-cursor" (click)="createRelation()">
                                                    <span class="le-c-btn--icon__icon">
                                                        <i class="aip-led-icons icon x-24 icon-add"></i>
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="aip-cursor">
                                                <span class="le-c-btn--icon__icon">
                                                    <i class="aip-led-icons icon x-24 icon_Refresh" (click)="refresh()"></i>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- CARDS -->
                                <div class="aip-schema-grid aip-card-container">
                                    <div class="col-md-8 col-lg-6 col-xl-5"
                                        style='min-width: -webkit-fill-available;padding: 0px;'
                                        *ngFor="let model of relationships | slice: (pageNumber-1) * pageSize : (pageNumber-1) * pageSize + pageSize">
                                        <leds-card designType='simple' [actionsOnHover]='true'
                                            style="padding:0px !important; height: 163px; display: grid;">
                                            <div class="le-u-header-sm le-u-text-primary-80 le-u-mar-b-8"
                                                style="font-size:10px;">{{model.name | uppercase}}
                                            </div>
                                            <mat-card-header>
                                                <mat-card-title class="le-c-card__container clearfix">
                                                    <div class="le-c-card__container-left w-100">
                                                        <h2 class="le-u-header-xl aip-fullname-card le-u-ellipsis"
                                                            style="line-height: 2rem;">{{model.alias | titlecase}}</h2>
                                                    </div>
                                                </mat-card-title>
                                                <mat-card-subtitle
                                                    class="le-u-body-sm le-u-text-neutral-80 le-u-ellipsis">{{model.lastmodifieddate}}</mat-card-subtitle>
                                            </mat-card-header>
                                            <mat-card-actions
                                                class="le-c-card__action-hover d-flex justify-content-between">
                                                <leds-button nameText="textButton" idText="textButton"
                                                    [disabled]="false" buttonType="button" designType="text"
                                                    styleClass=" DSA_wb_Btn_small"
                                                    (click)="editRelation(model,false)"><span>View
                                                        Details</span></leds-button>
                                                <div class="aip-cursor">
                                                    <div class="le-c-avatar  le-c-avatar--sm aip-hover-avatar">
                                                        {{(model.lastmodifiedby?model.lastmodifiedby:'Name Not Available')|firstCharacter}}</div>
                                                    <div class="aip-hover-detail">
                                                        <div class="le-u-header-md le-u-mar-8">
                                                            {{model.lastmodifiedby?model.lastmodifiedby:'Name Not Available'}}</div>
                                                    </div>
                                                </div>
                                                <leds-overflow>
                                                    <div ngbDropdown
                                                        class="aip-led-icons d-inline-block le-u-mar-r-8 le-u-v-mid float-end le-c-card__action-ul">
                                                        <a href="javascript:void(0);" id="OverflowMenu_dd"
                                                            ngbDropdownToggle (click)="clickactive($event);"
                                                            aria-label="menu icon">
                                                            <i aria-hidden="true" class="icon x-24 v-menu-icon"></i>
                                                        </a>
                                                        <div ngbDropdownMenu aria-labelledby="OverflowMenu_dd"
                                                            style="display: grid;justify-content: center;">
                                                            <ul overflowList
                                                                class="float-end le-u-mar-t-8  le-c-card__action-ul"
                                                                style="display: flex;flex-direction: column;">
                                                                <li overflowListItem>
                                                                    <span class="le-u-body-md  aip-cursor"
                                                                        (click)="editRelation(model,true)">Edit</span>
                                                                </li>
                                                                <li overflowListItem>
                                                                    <span class="le-u-body-md aip-cursor"
                                                                        (click)="deleterelation(model)">Delete</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </leds-overflow>
                                            </mat-card-actions>
                                        </leds-card>
                                    </div>
                                </div>
                                <div *ngIf="records!=true"
                                    class="inbox-table-footer table-paginator flex-row flex-space-between standard-margin bottom-padding-20">
                                    <div class="showing-entries d-flex justify-content-end my-3">
                                        <span class="grey-color font-size-12">Showing </span>
                                        &nbsp;&nbsp;
                                        <span class="black-color font-weight-600">
                                            {{ ((pageNumber - 1) * pageSize) + 1 }} -
                                            {{ (((pageNumber - 1) * pageSize) + pageSize) < noOfItems ? ((pageNumber -
                                                1) * pageSize) + pageSize : noOfItems }} of {{noOfItems}} </span>
                                                &nbsp;&nbsp;
                                                <span class="grey-color font-size-12">entries </span>
                                    </div>
                                    <div class="paginator-buttons d-flex w-60  flex-row"
                                        style="justify-content:flex-end">
                                        <div class="page-input go-to-input box-shadow standard-padding">
                                            <span class="grey-color">Go to: </span>
                                            <input class="right-margin" type="number" min="1" [max]="noOfPages"
                                                (change)="changePage(pageNumberInput)" [(ngModel)]="pageNumberInput" />
                                        </div>
                                        <div class="mx-4">
                                            <span class="">Items per page</span>
                                            <select type="number" [(ngModel)]="pageSize">
                                                <option *ngFor="let p of itemsPerPage" [ngValue]="p">{{p}}</option>
                                            </select>

                                        </div>
                                        <div class="pages-details d-flex">

                                            <div class="previous-page">
                                                <button class="standard-padding table-button font-weight-600"
                                                    [disabled]="pageNumber == 1"
                                                    (click)="pageNumberInput=null;prevPage()">&lt;</button>
                                            </div>
                                            <div class="pages">
                                                <button class="standard-padding table-button font-weight-600"
                                                    *ngFor="let i of pageArr | slice:startIndex:endIndex"
                                                    (click)="pageNumberInput=null;changePage(i+1)"
                                                    [class.selected-page]="(i + 1) == pageNumber"
                                                    [ngStyle]="selectedButton(i+1)">
                                                    {{i + 1}}
                                                </button>
                                            </div>
                                            <div class="next-page">
                                                <button class="standard-padding table-button font-weight-600"
                                                    [disabled]="pageNumber == noOfPages"
                                                    (click)="pageNumberInput=null;nextPage()">&gt;</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="(relationships==undefined || relationships==null || relationships.length==0)" class="">
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <img src="assets/images/aip_empty_state_leds.svg" class="img-responsive"
                            alt="aip_empty_state_leds" style="width:15rem" />
                        No records found.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid backgroud-color" *ngIf="create || edit || view">
    <div class="le-l-level1-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="le-l-level1-middle-col le-l-base-layout-center">
                    <div class="align-items-center justify-content-between d-flex">
                        <div class="selector-model-title-head d-flex  align-items-center">
                            <span class="" style="cursor: pointer;">
                                <i class="aip-led-icons icon x-24 back-icon" (click)="backTolist()"></i>
                            </span>
                            <span class="le-u-mar-l-8 le-u-header-xxl">Schema Relationship</span>
                        </div>
                    </div>
                    <div class="le-l-level2-middle-ctr" *ngIf="relationship">
                        <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                            <leds-panel type="default" styleClass="" contentClass="">
                                <div class="le-u-mar-tb-16 le-u-pad-16">
                                    <div class="row le-c-panel__content">
                                        <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                                            <!-- <div class="d-flex justify-content-between align-items-center px-4">
                                                <div class="align-items-center d-flex">
                                                    <h2 style="color:var(--base-color)">Details
                                                    </h2>
                                                </div>
                                            </div> -->
                                            <div class="le-u-pad-t-32 le-u-pad-lr-24">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 le-u-mar-b-16">
                                                        <leds-input-field *ngIf="!view" label="Relation Name*"
                                                            placeholder="Enter Name..."
                                                            errorMessage="{required: 'This field is required',}"
                                                            inputType="text" [disabled]="false" [required]="true"
                                                            [(ngModel)]="relationship['name']"></leds-input-field>
                                                        <leds-input-field *ngIf="view" label="Relation Name*"
                                                            [(ngModel)]="relationship['name']" [disabled]="true"
                                                            inputType="text" [required]="false"></leds-input-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 le-u-mar-b-16">
                                                        <leds-select *ngIf="!view" label="Schema A"
                                                            hint="Select Parent Schema" [options]="schemaList"
                                                            [disabled]="false" [required]="true"
                                                            [(ngModel)]="relationship['schemaA']"
                                                            (selectChange)="onParentSchemaChange($event)">
                                                        </leds-select>
                                                        <leds-input-field *ngIf="view" label="Schema A"
                                                            [(ngModel)]="relationship['schemaA']" [disabled]="true"
                                                            inputType="text" [required]="false"></leds-input-field>
                                                    </div>
                                                    <div class="col-md-6 le-u-mar-b-16">
                                                        <leds-select *ngIf="!view" label="Schema B"
                                                            hint="Select Child Schema" [options]="schemaListChild"
                                                            [disabled]="false" [required]="true"
                                                            [(ngModel)]="relationship['schemaB']"
                                                            (selectChange)="onChildSchemaChange($event)">
                                                        </leds-select>
                                                        <leds-input-field *ngIf="view" label="Schema B"
                                                            [(ngModel)]="relationship['schemaB']" [disabled]="true"
                                                            inputType="text" [required]="false"></leds-input-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 le-u-mar-b-16"
                                                        *ngIf="parentSchemaDetails.length > 0">
                                                        <leds-select *ngIf="!view" label="Schema A Columns"
                                                            hint="Select Parent Schema Columns"
                                                            [options]="parentSchemaDetailsList" [disabled]="false"
                                                            [required]="false" isMultiple="true"
                                                            [(ngModel)]="relationship.schema_relation['pCol']">
                                                        </leds-select>
                                                        <leds-input-field *ngIf="view" label="Schema A Columns"
                                                            [(ngModel)]="relationship.schema_relation['pCol']"
                                                            [disabled]="true" inputType="text"
                                                            [required]="false"></leds-input-field>
                                                    </div>
                                                    <div class="col-md-6 le-u-mar-b-16"
                                                        *ngIf="childSchemaDetails.length > 0">
                                                        <leds-select *ngIf="!view" label="Schema B Columns"
                                                            hint="Select Child Schema Columns"
                                                            [options]="childSchemaDetailsList" [disabled]="false"
                                                            [required]="false" isMultiple="true"
                                                            [(ngModel)]="relationship.schema_relation['cCol']">
                                                        </leds-select>
                                                        <leds-input-field *ngIf="view" label="Schema B Columns"
                                                            [(ngModel)]="relationship.schema_relation['cCol']"
                                                            [disabled]="true" inputType="text"
                                                            [required]="false"></leds-input-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <leds-button *ngIf="create" class="d-flex justify-content-end"
                                                nameText="primaryButton" idText="primaryButton" [disabled]="false"
                                                buttonType="button" designType="primary"
                                                (click)="createRelationship()">Save</leds-button>
                                            <leds-button *ngIf="edit" class="d-flex justify-content-end"
                                                nameText="primaryButton" idText="primaryButton" [disabled]="false"
                                                buttonType="button" designType="primary"
                                                (click)="updateRelationship()">Update</leds-button>
                                        </div>
                                    </div>
                                </div>
                            </leds-panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>