.card-header{
    float: right;
    display: flex;
    column-gap: 26px;
    align-items: center;
    margin-top: -20px;
    width: 47px;
}
.edit-icon:hover {
    color: #8626c3;
  }
  
  .delete-sm-icon:hover {
    color: #8626c3;
  }
  .kk{
    padding-top: 12px;
    font-size: 14.44px;
    margin: 0px 18px 0px 18px;
    color: #8626c3;
    font-weight: 500;
  }
 