<!-- creation and view of plugins -->
<div class="container-fluid backgroud-color" *ngIf="createFlag && !flag">
    <div class="le-l-level1-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="le-l-level1-middle-col le-l-base-layout-center">
                    <div class="align-items-center justify-content-between d-flex">
                        <div class="selector-model-title-head d-flex  align-items-center">
                            <span class="" style="cursor: pointer;">
                                <i class="aip-led-icons icon x-24 back-icon" (click)="backTolist()"></i>
                            </span>
                            <span class="le-u-mar-l-8 le-u-header-xxl"> {{ edit?'Add Label To any Category':'Update Label And Category'}}</span>

                        </div>

                    </div>
                    <div class="le-l-level2-middle-ctr">
                        <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                            <leds-panel type="default" styleClass="" contentClass="">
                                <div class="le-u-mar-tb-16 le-u-pad-16">
                                    <div class="row le-c-panel__content">
                                        <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                                            <div class="d-flex justify-content-between align-items-center px-4">
                                                <div class="align-items-center d-flex">
                                                    <h2 style="color:var(--base-color)"> Enter The Tag Details
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="le-u-pad-t-32 le-u-pad-lr-24">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 le-u-mar-b-16">
                                                        <leds-input-field
                                                            label="{{edit? 'Enter The Name Of Label*':'Edit The Name Of Label*'}} "
                                                            placeholder="{{edit?'Enter Label Name...':'Edit The Label Name...'}}"
                                                            errorMessage="{required: 'This field is required',}"
                                                            inputType="text" [disabled]="false" [required]="true"
                                                            [(ngModel)]="allTag.label"></leds-input-field>
                                                    </div>

                                                    <!-- <div class="col-lg-12 col-md-12 le-u-mar-b-16"> -->
                                                    <leds-select label="Category"
                                                        hint="{{ edit?'Select Category On Which You Want To Add Label':'Select Category On Which You Want To Update Label '}}"
                                                        [options]="pp" [disabled]="false"
                                                        [(ngModel)]="allTag.category"></leds-select>
                                                    <!-- </div> -->
                                                </div>
                                            </div>
                                            <leds-button class="d-flex justify-content-end" nameText="primaryButton"
                                                idText="primaryButton" [disabled]="false" buttonType="button"
                                                designType="primary" (click)="edit?saveTags(): updateTag()">
                                                {{ edit ?'Save':'Update' }}</leds-button>
                                        </div>
                                    </div>
                                </div>

                            </leds-panel>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Main Tag Page -->
<div class="le-l-mainwrapper" *ngIf="!createFlag">
    <div class="le-u-pad-24 le-l-level1-wrapper">
        <h2 class="ams_h2 h2Mar selector-675-5" style="font-size: 20px;">{{cardTitle}}</h2>
    </div>

    <div class="container">
        <div class="aip-header le-u-pad-lr-32 le-u-pad-t-16">
            <!-- <div class=" col-sm-12 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center">
                <div class="le-u-pad-24" style="margin: 2px 38px 0px 0px;">
                    class="le-u-header-xl" -->
                    <!-- <leds-button nameText="iconButton" idText="iconButton" [disabled]="false" buttonType="button"
                        designType="icon" (click)="createNewCategory()">
                        <span class="le-c-btn--icon__icon">
                            <i class="icon purple x-16 icon-add"></i>
                        </span>
                        <span class="le-c-btn--icon__text  ">Add Category</span>
                    </leds-button>
                </div>
            </div> --> 
            <div
                class="col-10 offset-1 offset-xs-1 offset-sm-1 offset-md-0 col-sm-6 col-md-6 col-lg-7 col-xl-6 aip-panel aip-panel-shadow d-flex align-items-center" style="
                margin: 0px 148px 0px 151px;
            ">
                <input type="text" name="" id="" name="search" class="aip-panel-input" autocomplete="off"
                    placeholder="Start searching" [(ngModel)]="searchtext" >
                <i class="aip-led-icons icon x-24 search-icon" (click)="getTags()"></i>
            </div>
            <div class="d-flex justify-content-center col-sm-5 col-md-6 col-lg-5 col-xl-4 aip-header-icon">
                <div class="le-u-pad-24">
                    <leds-button nameText="iconButton" idText="iconButton" [disabled]="false" buttonType="button"
                    designType="icon" (click)="createNewCategory()">
                    <span class="le-c-btn--icon__icon">
                        <i class="icon purple x-16 icon-add"></i>
                    </span>
                    <span class="le-c-btn--icon__text  ">Add Category</span>
                </leds-button>

                </div>
                <div class="">
                    <div class="le-u-pad-24" >
                        <leds-tooltip [tooltip]="'Add Tags To Any Category'" [position]="'above'">
                            <leds-button nameText='iconButton' idText='iconButton' [disabled]='false'
                                buttonType='button' designType='icon' (click)="createNewLabel()">
                                <span class="le-c-btn--icon__icon" style="display: flex; ">
                                    <i class="icon purple x-16 icon-add"
                                        style="padding: 0px 23px 0px 0px;"></i>
                                    <span class="le-c-btn--icon__text  ">Add Label</span>
                                </span>
                            </leds-button>
                        </leds-tooltip>

                    </div>
                </div>
                <div class="">
                    <leds-button nameText='iconButton' idText='iconButton' [disabled]='false' buttonType='button'
                        designType='icon'>
                        <span class="le-c-btn--icon__icon">
                            <i class="aip-led-icons icon x-24 icon_Refresh" (click)="ngOnInit()"></i>
                        </span>
                    </leds-button>
                </div>
            </div>
        </div>

    </div>

    <div style="margin: 22px; padding: 4px 4px 86px 4px;">
        <mat-card style="width: 100%;">
            <leds-data-grid>
                <table dataGridTable clearfix class=" le-u-mar-t-16">
                    <thead>
                        <tr>
                            <th style="width: 181px;" scope="col">Id</th>
                            <th style="width: 396px;" scope="col">Category</th>
                            <th style="width: 326px;" scope="col">Label</th>
                            <th style="width: 251px;" scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tag of gg ">
                            <td>{{tag.id}}</td>
                            <td>{{tag.category}}</td>
                            <td>{{tag.label}}</td>
                            <td>
                                <leds-button nameText="editButton" idText="editButton" buttonType="button"
                                    designType="icon" (click)="editTagName(tag)">
                                    <i aria-hidden="true" class="icon x-24 edit-icon"
                                        style="visibility: visible; "></i></leds-button>



                                <leds-button nameText="deleteButton" idText="deleteButton" buttonType="button"
                                    designType="icon" (click)="deletetag(tag.id)"><i aria-hidden="true"
                                        class="icon x-24 delete-sm-icon" style="visibility: visible;"></i></leds-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </leds-data-grid>
        </mat-card>
        <div class="le-u-pad-b-16 d-flex justify-content-center">
            <leds-button nameText="textButton" idText="textButton" [disabled]="page==1" buttonType="button"
                designType="text" (click)="nav('First')">First
            </leds-button>
            <leds-button nameText="textButton" idText="textButton" [disabled]="page==1" buttonType="button"
                designType="text" (click)="nav('Prev')">&lt;&lt;&nbsp;Prev
            </leds-button>
            <span class="kk">{{ page }} of {{ lastPage }}</span>
            <leds-button nameText="textButton" idText="textButton" [disabled]="page==lastPage" buttonType="button"
                designType="text" (click)="nav('Next')">Next&nbsp;&gt;&gt;
            </leds-button>
            <leds-button nameText="textButton" idText="textButton" [disabled]="page==lastPage" buttonType="button"
                designType="text" (click)="nav('Last')">Last
            </leds-button>

        </div>

    </div>

</div>

<!-- this is for category -->

<div class="container-fluid backgroud-color" *ngIf="createFlag && flag">
    <div class="le-l-level1-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="le-l-level1-middle-col le-l-base-layout-center">
                    <div class="align-items-center justify-content-between d-flex">
                        <div class="selector-model-title-head d-flex  align-items-center">
                            <span class="" style="cursor: pointer;">
                                <i class="aip-led-icons icon x-24 back-icon" (click)="backTolist()"></i>
                            </span>
                            <span class="le-u-mar-l-8 le-u-header-xxl"> Add New Category To Tags</span>

                        </div>

                    </div>
                    <div class="le-l-level2-middle-ctr">
                        <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                            <leds-panel type="default" styleClass="" contentClass="">
                                <div class="le-u-mar-tb-16 le-u-pad-16">
                                    <div class="row le-c-panel__content">
                                        <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                                            <div class="d-flex justify-content-between align-items-center px-4">
                                                <div class="align-items-center d-flex">
                                                    <h2 style="color:var(--base-color)"> Enter The Tag Details
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="le-u-pad-t-32 le-u-pad-lr-24">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 le-u-mar-b-16">
                                                        <leds-input-field label="Enter The Name Of Category*"
                                                            placeholder="Enter Category Name..."
                                                            errorMessage="{required: 'This field is required',}"
                                                            inputType="text" [disabled]="false" [(ngModel)]="allTag.category"
                                                            [required]="true"></leds-input-field>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 le-u-mar-b-16">
                                                        <leds-input-field label="Enter The Name Of Label*"
                                                            placeholder="Enter Label Name..."
                                                            errorMessage="{required: 'This field is required',}"
                                                            inputType="text" [disabled]="false" [(ngModel)]="allTag.label"
                                                            [required]="true"></leds-input-field>
                                                    </div>


                                                </div>
                                            </div>
                                            <leds-button class="d-flex justify-content-end" nameText="primaryButton"
                                                idText="primaryButton" [disabled]="false" buttonType="button"
                                                designType="primary" (click)="saveCategory()">
                                                Save</leds-button>
                                        </div>
                                    </div>
                                </div>

                            </leds-panel>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>