<!-- <div class="row selector-756-1 col-md-12"> -->
    <!-- languages select --> 
    <!-- <div class="col-3 selector-756-2">
      <span>Select language</span>                      
          <select [(ngModel)]="lang" name="Languages" style="margin-right:2px;color:black;">
            <option *ngFor="let j of langList" [ngValue]="j" class="selector-773-14">
                {{j.value}}
            </option>
          </select> -->
      
          <!-- <leds-select
          [options]="langList"
          label="Language"
          infoMessage="Script language"
          [required]="false"
          [disabled]="false"
          designType="default"
          [isMultiple]="false"
          selected="Python"
          (selectChange)="langChange($event)"
          (openChange)="langChange($event)"
        ></leds-select>  -->
    <!-- </div> -->
  <!-- </div>
  <br class="selector-756-9"> -->
  <!-- the code editor -->
  <div class="row selector-756-10 w-100 h-100">
    <div class="col selector-756-11">
      <div class="code-editor selector-756-12" #editor=""></div>
    </div>
  </div>
