<body class="plainBg" (click)="disapperMenu()">
    <div class="folder-container">    
        <div *ngIf="shownMenu" class="context-menu d-inline-block" [style.top]="menuTop + 'px'" [style.left]="menuLeft + 'px'">
            <ul>
                <li (click)="selectfile()"><a>Download</a></li>
                <li (click)="deletefile()"><a>Delete</a></li>
                <li (click)="info()"><a>File Info</a></li>
            </ul>
        </div>
        <div class="files-list">
            <leds-tree>
                <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl" ledsTree>
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding (mouseover)="onNode(node)" (mouseout)="onNode()" [ngClass]="{'selected': selectNode === node}">
                            <leds-checkbox style="padding-left: 28px;" treeCheckbox [checked] = "checklistSelection.isSelected(node)"
                            (change) = "todoLeafItemSelectionToggle(node)">
                            </leds-checkbox>
                            <div class="p-3" (click)="showFile(node)" (contextmenu)="openMenu($event, node)">{{node.name}} </div> 
                            <!-- <i *ngIf="isSelect(node)" class="aip-led-icons icon x-24 download-icon" (click)="fileDownload(node)"></i> -->
                            <i *ngIf="isSelect(node)" class="multi-group aip-led-icons icon x-24 v-menu-icon" aria-hidden="true" (click)="openMenu($event, node)"></i>
                    </mat-tree-node>
                    <mat-tree-node *matTreeNodeDef="let node; when: hasChild2" matTreeNodePadding>
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                            <i aria-hidden="true" class="icon iconinline x-24  {{treeControl.isExpanded(node) ? 'down-arw-icon' : 'next-icon'}}"></i>
                        </button>
                        <img src="assets/icons/icon_assest.svg" class="folder-icon"/>
                        <leds-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]= "descendantsPartiallySelected(node)" (change) = "todoItemSelectionToggle(node)">
                        </leds-checkbox>
                        <div class="p-3" (click)="showFile(node)" [ngClass]="{'selected': selectCNode === node.name}">{{node.name}} </div>
                        <div class="multi-group">
                            <span><i *ngIf="node.level==ROOT_LEVEL-1 && (descendantsAllSelected(node) || descendantsPartiallySelected(node))" aria-hidden="true" class="aip-led-icons icon x-24 download-icon" (click)="downloadFiles()"></i></span>
                            <span><i *ngIf="node.level==ROOT_LEVEL-1 && (descendantsAllSelected(node) || descendantsPartiallySelected(node))" aria-hidden="true" class="aip-led-icons icon x-24 delete-sm-icon aip-cursor" (click)="deleteFiles()"></i></span>
                        </div>    
                        <!-- <i *ngIf="selectCNode" class="aip-led-icons icon x-24 download-icon" (click)="fileDownload(node)"></i> -->
                    </mat-tree-node>
                </mat-tree>
            </leds-tree>
        </div>
        <div class="file-data">
            <leds-spinner *ngIf="fetchFile"
                bdColor="#EFEFEF" [size]="'default'" [zIndex]="0"
                [color]="'#8626c3'" [type]="'ball-pulse-sync'" [template]="template"
                [fullScreen]="false" [showSpinner]="true">
                  <p> File is being fetched...</p>
            </leds-spinner>
            <app-viewer-image *ngIf="isImg" [ResponseList]="fileData" alt="Thumbnail Preview"></app-viewer-image>
            <app-viewer-pdf *ngIf="isPdf" [AnnotateFlag]="AnnotateFlag" [pdfFile]="fileData" [pdfViewDetails]="fileNamePath" class="thumbnail-preview" [selectedReferenceObject]="selectedReferenceObject" [filelist]="list"></app-viewer-pdf>
            <app-viewer-video *ngIf="isVideo" [VideoResponse]="fileData" [videoViewDetails]="fileNamePath" class="thumbnail-preview" [selectedReferenceObject]="selectedReferenceObject" [filelist]="list"></app-viewer-video>
            <app-viewer-audio *ngIf="isAudio" [AudioResponse]="fileData" [audioViewDetails]="fileNamePath" [ind]="index" class="thumbnail-preview" [filelist]="list"></app-viewer-audio>
            <!-- <app-enl-code-editor *ngIf="isCode" [dataset]="true" [script] = "fileData" id="ele"></app-enl-code-editor> -->
            <pre contenteditable="true" class="box-view" *ngIf="isJson">{{fileData | json}}</pre>
            <!-- <pre  *ngIf="isTxt" class="box-view"> {{ fileData }} </pre> -->
            <div *ngIf="isCode && isTabSummary">
                <div ledsTabGroup>
                    <mat-tab-group *ngIf="!isGitView" (selectedIndexChange)="basicReqTabChange($event)">
                        <mat-tab class="le-u-header-xl" label="File Preview">
                        </mat-tab>
                        <mat-tab class="le-u-header-xl" label="Translation">
                        </mat-tab>
                        <mat-tab class="le-u-header-xl" label="Summary">
                        </mat-tab>
                        <mat-tab class="le-u-header-xl" label="Questions">
                        </mat-tab>
                    </mat-tab-group>
                    <mat-tab-group *ngIf="isGitView && !isFolderSummary" (selectedIndexChange)="basicReqTabChangeForGit($event)">
                        <mat-tab class="le-u-header-xl" label="File Preview">
                        </mat-tab>
                        <mat-tab class="le-u-header-xl" label="Summary">
                        </mat-tab>
                    </mat-tab-group>
                    <mat-tab-group *ngIf="isGitView && isFolderSummary">
                        <mat-tab class="le-u-header-xl" label="Summary">
                        </mat-tab>
                    </mat-tab-group>
                    <div *ngIf="tabReq === 'filePreview'">
                            <div *ngIf="fileData && refreshChild" style="height: 520px;">
                                <app-enl-code-editor *ngIf="isCode && refreshChild" [dataset]="true" [script]="fileData"
                                    id="ele"></app-enl-code-editor>
                            </div>
                    </div>
                    <div *ngIf="tabReq === 'translation'">
                        <div class="tab_content" id="tabContent_1">
                            <div class="row mt-4 le-u-mar-16">
                                <div *ngIf="fileData && fileData[0]!==null" class="le-c-panel__content  le-u-pad-16 msg-banner">
                                    {{ fileData }} 
                                </div>
                                <div *ngIf="fileData[0]==null" class="default-preview">
                                    <h4>Please run translation pipeline or contact the application admin</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="tabReq === 'fileSummary' && !isGitView && !isFolderSummary">
                        <div class="tab_content" id="tabContent_2">
                            <div class="row mt-4 le-u-mar-16">
                                <div *ngIf="fileData && fileData[0]!==null" class="le-c-panel__content  le-u-pad-16 msg-banner">
                                    {{ fileData }} 
                                </div>
                                <div *ngIf="fileData==null && fileData[0]==null" class="default-preview">
                                    <h4>Please run summary pipeline or contact the application admin</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="tabReq === 'fileSummary' && isGitView">
                        <div class="tab_content" id="tabContent_2">
                            <div class="row mt-4 le-u-mar-16">
                                <div *ngIf="fileData && fileData[0]!==null" class="le-c-panel__content  le-u-pad-16 msg-banner">
                                    <i class="aip-cursor icon x-24 edit-icon" *ngIf="!enableEdit"
                                        style="text-align-last: end; margin-right: 1rem;" (click)="enableEditing()"></i>
                                    <i class="aip-cursor icon x-24 icon_save" *ngIf="enableEdit"
                                        style="text-align-last: end; margin-right: 1rem;" (click)="saveEditedData()"></i>
                                    <textarea style="width: -webkit-fill-available;height: 65vh;" [(ngModel)]="fileData"
                                        *ngIf="enableEdit"></textarea>
                                    <pre class="" style="white-space:break-spaces" *ngIf="!enableEdit">{{fileData}}</pre>
                                </div>
                                <div *ngIf="fileData==null && fileData[0]==null" class="default-preview">
                                    <h4>Please run summary pipeline or contact the application admin</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="tabReq === 'faq'">
                        <div class="tab_content" id="tabContent_3">
                            <div class="row mt-4 le-u-mar-16">
                                <div *ngIf="fileData && fileData[0]!==null" class="le-c-panel__content  le-u-pad-16">
                                    <div *ngFor="let ele of answers;index as i">
                                        <leds-accordion designType="3D" [hideToggle]="false" [multi]="false">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                                                    <mat-panel-title>{{ questions[i] | titlecase }}</mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <div class="le-u-mar-16">
                                                    <h5 class="le-u-header-lg">{{ answers[i] }}</h5>
                                                </div>
                                            </mat-expansion-panel>
                                        </leds-accordion>
                                    </div>
                                </div>
                                <div *ngIf="fileData[0]==null" class="default-preview">
                                    <h4>Please run questions pipeline or contact the application admin</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <pre *ngIf="isCsv" class="box-view">{{fileData}}</pre>
            <div *ngIf="defaultExtention" class="default-preview">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <img src="assets/images/aip_no_preview_leds.svg" class="img-responsive" alt="aip_no_preview_leds" style="width:15rem" />
                    Preview not available as it is an unsupported object type. <br>Please convert this file into pdf and re-upload for file preview.
                </div>
            </div>
            <div *ngIf="homeScreen" class="default-preview">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <img src="assets/images/emptystate1.png" class="img-responsive" alt="documents" style="width:15rem" />
                </div>
                <div>Select a file to Preview or Upload a file to <b>{{nodeUpload}} folder</b></div>
                <div class = "upload-group">
                    <span *ngIf="fileNamePlaceholder" >{{fileNamePlaceholder}}</span>
                    <input class="aip-led-icons icon x-24 upload-icon" [accept]="codeExtensions" type="file" (change)="chunkFile($event)"
                     multiple>
                    <leds-progress-bar  *ngIf="uploading"  [value]="uploadPercentage">Progress {{uploadPercentage}} %</leds-progress-bar>
                    <div *ngIf="fileNamePlaceholder">
                        <leds-button nameText="miniSecondary" idText="miniSecondary" [disabled]="false" buttonType="button"
                            designType="miniSecondary" (click)="uploadFile()">
                            Upload
                        </leds-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>