.plainBg{
    width: 100%;
    height: 100%;
    background-color: #fafafa !important;
}
.box-view{
    padding: 5%;
    height: 600px;
}
.folder-container{
    width: 100%;
}
.files-list{
    width: 30%;
    float: left;
    background-color: white;
    height: 600px;
    padding: 5px;
    overflow-y: auto;
    overflow-x: auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}
.file-data{
    width: 70%;
    float: right;
    height: 600px;
}
.default-preview{
    font: normal normal normal 14px/20px Roboto;
    text-align: center;
    padding: 25% 0;
    justify-content: center;
}


.context-menu{
    position:fixed;
    z-index: 100000;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #0000003D;
    border-radius: 8px;
    width: 100px;
    top: 20px;
    left: 20px;
    opacity: 1;
}
.context-menu ul{
    margin: 0;
    padding: 0;
}
.context-menu ul li{
    list-style-type: none;
    cursor: pointer;
    padding: 10px 15px;
    // border-bottom: 1px solid #323232;
    color: #000000;
    width: 100%;
    transition: 0.2s all;

}
.context-menu ul li:hover{
    background-color: #ac7dc9;
    border-radius: 8px;
}
.context-menu a:active{
    display:flex;
    flex-direction: column;
    background-color: rgb(196, 170, 211);
}

.mat-tree{
    background-color: unset;
}

.mat-tree-node{
    padding-left: unset;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
}

.mat-tree-node:hover{
    background-color:#EFEFEF;
}
.mat-tree-node.selected {
    position: relative;
    background-color:#FAF2FF;
}

.header{
    display: flex;
    align-items: center;
    float: right;
}

::ng-deep  .ngx-spinner-overlay{
    position: relative !important;
}

.icon:hover{
    color: #a75bd6;
}
.folder-icon{
    height: 14px;
    margin-right: 6px;
}

.multi-group{
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-right: 10px;
}

.upload-group{
    display: grid;
    row-gap: 5px;
    justify-content: center;
}

.msg-banner{
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(255, 255, 255);
    text-align: justify;
    overflow-wrap: break-word !important;
    line-height: 1.2;
}
::ng-deep .ngx-spinner-overlay{
    z-index: 1 !important;
}