<div class="le-l-mainwrapper aip-top">
    <div class="clearfix le-l-bodywrapper js-bodywrapper" id="mainCtr">
        <div class="">
            <div class="col-sm-12 col-md-12 col-lg-12" id="mainrightCnt">
                <div class="align-items-center justify-content-between d-flex">
                    <div class="selector-model-title-head d-flex  align-items-center">
                        <!-- Header -->
                        <div class="aip-header le-u-pad-lr-32 le-u-pad-t-8">
                            <div class="le-u-pad-t-16 le-u-pad-lr-16 le-u-pad-b-8">
                                <h3 class="le-u-header-xl">COPY MODULES</h3>
                            </div>
                        </div>
                    </div>
                    <div class="selector-model-title-tail">
                        <ul class="d-flex justify-content-between align-items-center py-2 px-4">
                            <li>
                                <leds-tooltip [tooltip]="'Logs'" [position]="'above'">
                                    <i class="le-u-mar-r-16 aip-led-icons icon icon_save x-24" (click)="goToLogs()"></i>
                                </leds-tooltip>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="le-l-level2-middle-ctr">
                    <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                        <leds-panel type="default" styleClass="" contentClass="">
                            <div class="le-u-mar-b-16 le-u-pad-16 le-c-panel__content">
                                <div panelThreeCol>
                                    <div firstColPanel class="col-2 le-u-pad-t-8" style="border:none;padding: unset;
                                        box-shadow: none !important;">
                                        <leds-checkbox [checked]="modulesflag" (change)="allModules();">
                                            Select All Modules
                                        </leds-checkbox>
                                        <div>
                                            <leds-panel *ngIf="!modulesflag" type="default" styleClass=""
                                                contentClass="">
                                                <div class="aip-scroll-hover aip-ivm-scroll le-u-pad-8">
                                                    <!-- style="height:55vh"> -->
                                                    <div *ngFor="let mod of moduleList"
                                                        class="le-u-mar-lr-8 le-u-mar-tb-8">
                                                        <div class="w-100 d-flex justify-content-between aip-cursor"
                                                            (click)="onModuleChange(mod)">
                                                            <h2 class="le-u-header-md aip-lnk-ellipsis">
                                                                {{mod.value}}</h2>
                                                            <span>
                                                                <i *ngIf="mod.status"
                                                                    class="icon x-16 icon-process-complete purple"></i>
                                                                <i *ngIf="!mod.status" style="color: #EDCFFF;"
                                                                    class=" icon x-16 success-big-icon"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </leds-panel>
                                        </div>
                                    </div>
                                    <div thirdColPanel class="col-10">
                                        <div ledsTabGroup style="background-color: #FAFAFA;"
                                            class="le-u-mar-t-8 aip-panel-shadow">
                                            <mat-tab-group disableRipple
                                                (selectedIndexChange)="basicReqTabChange($event)">
                                                <mat-tab class="le-u-header-xl" label="Copy">
                                                    <ng-template mat-tab-label>Copy</ng-template>
                                                </mat-tab>
                                                <mat-tab class="le-u-header-xl" label="Export">
                                                    <ng-template mat-tab-label>Export</ng-template>
                                                </mat-tab>
                                                <mat-tab class="le-u-header-xl" label="Import">
                                                    <ng-template mat-tab-label>Import</ng-template>
                                                </mat-tab>
                                            </mat-tab-group>
                                        </div>
                                        <div *ngIf="basicReqTab == 'Copy'" class="le-u-pad-16 tab_content"
                                            id="tabContent_0" style="background: var(--background-colour);">
                                            <div class="row">
                                                <leds-autocomplete class="col-md-6" [options]="projectSourceList"
                                                    placeholder="Enter Source Project Name"
                                                    label="Select source project" [required]="true"
                                                    [autoActiveFirstOption]="false" [(ngModel)]="selectedProjectSource"
                                                    (panelOptionSelected)="onSourceProjectChange($event.option.value)">
                                                </leds-autocomplete>
                                                <leds-select class="col-md-6" label="Select target project"
                                                    placeholder="Enter Target Project Name" [required]="true"
                                                    [options]="projectTargetList" [isMultiple]="true"
                                                    (selectChange)="onTargetProjectChange($event)"
                                                    [selected]="selectedProjectTarget">
                                                </leds-select>
                                            </div>
                                            <div class="d-flex justify-content-end align-items-center le-u-mar-r-16">
                                                <leds-button nameText="primaryButton" idText="primaryButton"
                                                    [disabled]="false" buttonType="button" designType="primary"
                                                    (click)="copyModules()">Copy
                                                </leds-button>
                                            </div>
                                        </div>
                                        <div *ngIf="basicReqTab == 'Export'" class="le-u-pad-16 tab_content"
                                            id="tabContent_2" style="background: var(--background-colour);">
                                            <div class="row">
                                                <leds-autocomplete class="col-md-6" [options]="projectSourceList"
                                                    placeholder="Enter Source Project Name"
                                                    label="Select source project" [required]="true"
                                                    [autoActiveFirstOption]="false" [(ngModel)]="selecterojectSource"
                                                    (panelOptionSelected)="onSourceProjectChange($event.option.value)">
                                                </leds-autocomplete>
                                                <div class="col-md-6 d-flex justify-content-end">
                                                    <leds-button nameText="primaryButton" idText="primaryButton"
                                                        [disabled]="false" buttonType="button" designType="primary"
                                                        (click)="search()">Search
                                                    </leds-button>
                                                </div>
                                            </div>
                                            <div *ngIf="elementSelect && dispModules.length>0" class="row">
                                                <!-- <leds-checkbox [checked]="elementViewFlag"
                                                    (change)="elementViewFlag = !elementViewFlag;">
                                                    SELECT ALL ELEMENTS
                                                </leds-checkbox> -->
                                                <!-- <h4 class="le-u-pad-8 d-flex justify-content-center">select required
                                                    elements</h4> -->
                                                <leds-data-grid class="le-u-pad-16">
                                                    <table dataGridTable class="le-c-datagrid--expand-collapse">
                                                        <thead>
                                                            <tr>
                                                                <td width="24px">&nbsp;</td>
                                                                <td width="24px"></td>
                                                                <th scope="col">Module</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngFor="let selMod of dispModules;let i = index;">
                                                            <tr>
                                                                <td width="24px">
                                                                    <a href="javascript:void(0)"
                                                                        class="icon x-16 next-icon arrow_expand"
                                                                        (click)="ToggleExportRow($event,selMod)"
                                                                        aria-label="Expand Collapse"></a>
                                                                </td>
                                                                <td><leds-checkbox [checked]="selectedList[i]?.status"
                                                                        (change)="selectExportRow($event,selMod)"></leds-checkbox>
                                                                </td>
                                                                <td>{{selMod}}</td>
                                                            </tr>
                                                            <tr class="le-c-datagrid__tr-child">
                                                                <td>&nbsp;</td>
                                                                <td colspan="8">
                                                                    <table dataGridInnerTable aria-hidden="false">
                                                                        <thead>
                                                                            <tr>
                                                                                <td width="24px"></td>
                                                                                <th scope="col">Alias</th>
                                                                                <th scope="col">Description</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody *ngIf="selectedList[i].value.length>0">
                                                                            <tr>
                                                                                <td></td>
                                                                                <td class="d-flex align-items-center le-c-chatbot__input clearfix le-u-pad-tb-24"
                                                                                style="padding-inline: unset;">
                                                                                    <input type="text" name="" id="" name="search" autocomplete="off" (keyup)="filterz(selMod)"
                                                                                        class="aip-panel-input plugFilter" placeholder="Start searching" [(ngModel)]="filter">
                                                                                </td>
                                                                            </tr>
                                                                            <tr
                                                                                *ngFor="let child of selectedChild; let j= index">
                                                                                <td width="24px"><leds-checkbox
                                                                                        [checked]="child.status"
                                                                                        (change)="selectExportChild(child.name,selMod)"></leds-checkbox>
                                                                                <td>{{child.name}}</td>
                                                                                <td>{{child.description}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                        <tbody *ngIf="selectedList[i].value.length<=0">
                                                                            <tr>
                                                                                <td>No data</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </leds-data-grid>
                                            </div>
                                            <div
                                                class="row d-flex justify-content-end align-items-center le-u-mar-r-16">
                                                <leds-button *ngIf="exportflag" nameText="primaryButton"
                                                    idText="primaryButton" [disabled]="false" buttonType="button"
                                                    designType="primary" (click)="export()">Export JSON
                                                </leds-button>
                                            </div>
                                        </div>
                                        <div *ngIf="basicReqTab == 'Import'" class="le-u-pad-16 tab_content"
                                            id="tabContent_1" style="background: var(--background-colour);">
                                            <div class="row le-u-pad-lr-16 le-u-pad-t-16 le-u-pad-b-8">
                                                <div class="col-md-6 d-flex justify-content-left">
                                                    <mat-label>Upload File</mat-label>
                                                    <label class="exp-projlabel ">
                                                        <input id="file" (change)="addfile($event)"
                                                            style="display: none;" accept=".json" ng2FileSelect=""
                                                            name="adOrgUpldNm" type="file" [uploader]="uploader"
                                                            placeholder="file" />
                                                        <p class="DSA_wb_Btn_normal">
                                                            <i style="margin-left: 2vh;" class="icon x-24 upload-icon"
                                                                aria-hidden="true"></i>
                                                        </p>
                                                    </label>
                                                </div>
                                                <!-- <div *ngIf="tableData.length > 0"
                                                    class="col-md-6 d-flex justify-content-end">
                                                    <leds-checkbox [checked]="jsonflag"
                                                        (change)="jsonflag = !jsonflag;">
                                                        JSON TABLE VIEW
                                                    </leds-checkbox>
                                                </div> -->
                                            </div>
                                            <div *ngIf="tableData.length > 0" class="">
                                                <!-- <div *ngIf="jsonflag">
                                                    <json-tree [value]="data"></json-tree>
                                                </div>
                                                <div *ngIf="!jsonflag"> -->
                                                <div class="row le-u-pad-lr-16 le-u-pad-tb-8">
                                                    <leds-data-grid>
                                                        <table dataGridTable class="le-c-datagrid--expand-collapse">
                                                            <thead>
                                                                <tr>
                                                                    <td width="24px">&nbsp;</td>
                                                                    <td width="24px">
                                                                        <!-- <leds-checkbox></leds-checkbox> -->
                                                                    </td>
                                                                    <th scope="col">Module</th>
                                                                    <th scope="col">Table Name</th>
                                                                    <th scope="col"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody *ngFor="let row of tableData">
                                                                <tr>
                                                                    <td width="24px">
                                                                        <a href="javascript:void(0)"
                                                                            class="icon x-16 next-icon arrow_expand"
                                                                            (click)="ToggleRow($event,row)"
                                                                            aria-label="Expand Collapse"></a>
                                                                    </td>
                                                                    <td>
                                                                        <!-- <leds-checkbox
                                                                            (change)="selectRow($event)"></leds-checkbox> -->
                                                                    </td>
                                                                    <td>{{row.module}}</td>
                                                                    <td>{{row.tableName}}</td>
                                                                    <td> </td>
                                                                </tr>
                                                                <tr class="le-c-datagrid__tr-child">
                                                                    <td>&nbsp;</td>
                                                                    <td colspan="8">
                                                                        <table dataGridInnerTable aria-hidden="false">
                                                                            <thead>
                                                                                <tr>
                                                                                    <td width="24px"></td>
                                                                                    <th scope="col">Alias</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr *ngFor="let child of children">
                                                                                    <td width="24px">
                                                                                        <!-- <leds-checkbox
                                                                                            (change)="selectChild($event)"></leds-checkbox> -->
                                                                                    <td>{{child.name}}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </leds-data-grid>
                                                </div>
                                                <div class="row le-u-pad-lr-16 le-u-pad-tb-8">
                                                    <leds-select class="col-md-6" label="Select target project"
                                                        placeholder="Enter Target Project Name" [required]="true"
                                                        [options]="projectTargetList" [isMultiple]="true"
                                                        (selectChange)="onTargetProjectChange($event)"
                                                        [selected]="selectedProjectTarget">
                                                    </leds-select>
                                                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                                                        <leds-button nameText="primaryButton" idText="primaryButton"
                                                            [disabled]="false" buttonType="button" designType="primary"
                                                            (click)="import()">Import JSON
                                                        </leds-button>
                                                    </div>
                                                </div>
                                                <!-- </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </leds-panel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>