
<div class="clearfix le-l-bodywrapper aip-tranparent-backgroud js-bodywrapper" id="mainCtr">
        <div class="">
                <div class="le-l-level1-wrapper">
                    <!-- Header -->
                    <div class="aip-header le-u-pad-lr-32 le-u-pad-t-16">
                        <div class=" col-sm-12 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center">
                            <div class="le-u-pad-24">
                                <h3 class="le-u-header-xl">{{cardTitle}}</h3>


                            </div>
                        </div>
                        <div
                            class="col-10 offset-1 offset-xs-1 offset-sm-1 offset-md-0 col-sm-6 col-md-6 col-lg-7 col-xl-6 aip-panel aip-panel-shadow d-flex align-items-center">
                            <!-- <leds-input-field designType="search" inputType="text" styleClass=""
                                [disabled]="false" [required]="false"></leds-input-field> -->
                            <input type="text" name="" id="" placeholder="Search by Name" class="aip-panel-input"
                                [(ngModel)]="filter" (keyup)="filterz()">
                            <i class="aip-led-icons icon x-24 search-icon"></i>
                        </div>
                        <div class="d-flex justify-content-end col-sm-5 col-md-6 col-lg-3 col-xl-4 aip-header-icon">

                            <div class="" *ngIf="createAuth" (click)="open(content2)" >
                                <leds-overflow>
                                    <div ngbDropdown class="d-inline-block" container="body">
                                        <a id="OverflowMenu_dd" ngbDropdownToggle title="overflow menu">
                                            <i class="icon x-24 icon-add"></i>
                                        </a>
                                       
                                    </div>
                                </leds-overflow>
                                <ng-template #content2 let modal >
                                    <!-- <div style="height: 80vh;"> -->
                                        <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                                            <div class="d-flex justify-content-between align-items-center px-4" style="padding-top: 1.5rem;">
                                                <div class="align-items-center d-flex">
                                                    <h2 style="color:var(--base-color)">Create Group</h2>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
                                                        <i class="icon x-16 close-icon"></i>
                                                    </button>
                                                </div>
                                            </div>    
                                            <leds-panel>
                                                <div class="le-u-pad-lr-24">
                                                    <div class="row">
                                                        <jsonforms *ngIf="attributes" [data]="data" [schema]="attributes"
                                                            [uischema]="uischema" [renderers]="renderers" (dataChange)="showData($event)">
                                                        </jsonforms>
                                                        <div class=" le-u-mar-b-16 le-u-pad-t-16">
                                                            
                                                            <leds-button  nameText="primaryButton" idText="primaryButton"
                                                                [disabled]="false" buttonType="button" designType="miniPrimary"
                                                                (click)="register()">REGISTER</leds-button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </leds-panel>
                                        </div>
                                        <!-- </div> -->
                                           
                                </ng-template>
                            </div>
                            <div class="">
                                <leds-button nameText='iconButton' idText='iconButton' [disabled]='false'
                                    buttonType='button' designType='icon'>
                                    <span class="le-c-btn--icon__icon">
                                        <i class="aip-led-icons icon x-24 icon_Refresh" (click)="refreshComplete()"></i>
                                    </span>
                                </leds-button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="le-c-card__action-ul aip-link-card-containers">
                    <!-- CARD -->
                    <div class="col-md-8 col-lg-6 col-xl-5" style='min-width: -webkit-fill-available;padding: 0px;'
                        *ngFor="let card of cards">
                        <leds-card designType='simple' [actionsOnHover]='true'
                            style="padding:0px !important; height: 163px; display: grid;">
                            <div class="le-u-header-sm le-u-text-primary-80 le-u-mar-b-8">{{card.name | uppercase}}</div>
                            <mat-card-header>
                                <!-- <mat-card-title class="le-c-card__container clearfix">
                                    <div class="le-c-card__container-left w-100">
                                        <h2 class="le-u-header-xl le-u-ellipsis" style="line-height: 2rem;">
                                            Features</h2>
                                    </div>

                                </mat-card-title> -->
                                 <mat-card-subtitle
                                class="le-u-body-sm le-u-text-neutral-80 le-u-ellipsis">{{card.last_updated_timestamp}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content class="le-u-no-mar-b" style="color: #737373;">
                                <a class="tagbrdr" style="height: fit-content;"
                                                        [ngStyle]="{'background-color': 'white'}"
                                                        *ngFor="let inc of card.features.slice(0,3)">
                                                        <span style="font-size:14px;cursor:pointer" >{{inc}}
                                                        </span> </a>&nbsp;&nbsp;
                            </mat-card-content>
                            <mat-card-actions class="le-c-card__action-hover d-flex justify-content-between">
                                <leds-button nameText="textButton" idText="textButton" [disabled]="false"
                                    buttonType="button" designType="text" styleClass=" DSA_wb_Btn_small"
                                    (click)="desc(content1,card)"><span>View
                                        Features</span>                                                                                
                                </leds-button>
                                
                                <leds-button nameText="textButton" idText="textButton" [disabled]="false"
                                    buttonType="button" designType="text" styleClass=" DSA_wb_Btn_small">
                                     <span *ngIf="deleteAuth"
                                     (click)="deleteGroup(card)">Delete</span>
                                </leds-button>                                           
                            </mat-card-actions>
                            <ng-template #content1 let modal >
                                <!-- <div style="height: 80vh;"> -->
                                    <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                                        <div class="d-flex justify-content-between align-items-center px-4" style="padding-top: 1.5rem;">
                                            <div class="align-items-center d-flex">
                                                <h2 >Features Name</h2>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
                                                    <i class="icon x-16 close-icon"></i>
                                                </button>
                                            </div>
                                        </div>    
                                        <leds-panel>
                                            <div class="flex flex-wrap">
                                                <i *ngFor="let inc of item" class="tagbrdr" style="height: fit-content;" [ngStyle]="{'background-color': 'white'}" style="visibility: visible; font-size:14px; cursor:pointer" (click)="onClick(Content5, inc)">{{inc}}
                                                    <ng-template #Content5 let-modal>
                                                        <div class="tab_content row mt-4 le-u-mar-16" id="tabContent_1">
                                                            <div class="le-c-panel__content  le-u-pad-16">
                                                                <json-tree [value]="payload"></json-tree>
                                                            </div>
                                                        </div> 
                                                </ng-template>
                                                </i>&nbsp;&nbsp;
                                                </div>
                                        </leds-panel>
                                    </div>
                                       
                            </ng-template>
                        </leds-card>
                    </div>
                </div>
        </div>
</div>  
