.chart-frame {
    border: none;
    height: 100%;
    width: 100%;
    padding-top: 20px;
  }
 
.spinner {
  width: 55px;
  height: 55px;
  margin: auto;
  border: 9px solid #0000001a;
  border-radius: 50%;
  border-right-color: #8626C3;
  
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}