<div class="aip-top">
  <div class="clearfix lfx-l-bodywrapper aip-tranparent-backgroud  js-bodywrapper" id="mainCtr">
    <div class="aip-container">

      <div class="col-sm-12 col-md-9 col-lg-9 lfx-u-pad-lr-30" id="mainrightCnt" [ngStyle]="toggler(isExpanded)">

        <!-- Header Section -->
        <div class="aip-content">

          <!-- Header -->
          <app-aip-header [cardTitle]="cardTitle" [lastRefreshedTime]="lastRefreshedTime" [showAddButton]="createAuth"
            (search)="filterz($event)" (refresh)="refreshComplete()" (add)="open()">
          </app-aip-header>

          <!-- Filter Section -->
          <app-aip-filter [tagrefresh]="tagrefresh" [servicev1]="servicev1" [selectedPipelineTypeList]="{ 
                        selectedAdapterType: selectedAdapterType
                      }" (tagSelected)="tagSelectedEvent($event)"
            (filterStatusChange)="onFilterStatusChange($event)"></app-aip-filter>
        </div>

        <!-- Cards container -->
        <div class="lfx-c-card__action-ul aip-card-container">
          <div class="col-md-8 col-lg-6 col-xl-5 aip-card-wrapper"
            *ngFor="let card of filteredCards | slice: (pageNumber-1) * pageSize : (pageNumber-1) * pageSize + pageSize">
            <div class="card-wrapper h-100">
              <app-aip-card [servicev1]="servicev1" [card]="card" [editAuth]="editAuth" [deployAuth]="deployAuth"
                [deleteAuth]="deleteAuth" (viewDetails)="redirection(card)" (edit)="editPipeline(card.cid)"
                (delete)="deletePipeline(card.cid)" (jobConsole)="jobConsole(card.name)">
                <ng-template #content3 let-modal>
                  <app-adapter-create-edit [data]="card" [action]="editAction"
                    (triggereRefresh)="triggereRefresh($event)"></app-adapter-create-edit>
                </ng-template>
              </app-aip-card>
            </div>
          </div>
        </div>

        <!-- Empty state -->
        <app-aip-empty-state *ngIf="records"></app-aip-empty-state>

        <!-- Pagination -->
        <!-- <app-aip-pagination *ngIf="records!=true" [pageNumber]="pageNumber" [noOfPages]="noOfPages" [pageArr]="pageArr"
          [startIndex]="startIndex" [endIndex]="endIndex" [hoverStates]="hoverStates" (prevPage)="prevPage()"
          (nextPage)="nextPage()" (changePage)="changePage($event)">
        </app-aip-pagination> -->


        <div *ngIf="!records">
          <app-pagination #pagination [noOfItems]="noOfItems" (pageAndSizeChanged)="handlePageAndSizeChange($event)">
          </app-pagination>
        </div>
      </div>
    </div>
  </div>


  <!-- <ng-template #elseBlock>
         <div *ngIf="streamItem.type === 'DragAndDrop'; else: binaryTemplate" class="selector-788-282">
              <app-pipeline-description [card]="selectedCard" (newItemEvent)="changedToogle($event)"
                  [cardToggled]="cardToggled" [pipelineAlias]="selectedCard.alias"
                  [streamItem]="streamItem"></app-pipeline-description>
          </div>
          <ng-template #binaryTemplate="">
              <div *ngIf="streamItem.type === 'Binary'; else: nativeTemplate" class="selector-788-286">
              </div>
          </ng-template>
          <ng-template #nativeTemplate="">
              <div *ngIf="streamItem.type === 'NativeScript'; else: rScriptTemplate" class="selector-788-288">
                  <app-native-script [card]="selectedCard" (newItemEvent)="changedToogle($event)"
                  [cardToggled]="cardToggled" [pipelineAlias]="selectedCard.alias"
                  [streamItem]="streamItem"></app-native-script>
              </div>
          </ng-template>
          <ng-template #rScriptTemplate="">
              <div *ngIf="streamItem.type === 'RScript'; else: others" class="selector-788-288">
              </div>
          </ng-template>
          <ng-template #others="">
              <app-pipeline-description [card]="selectedCard" (newItemEvent)="changedToogle($event)"
                  [cardToggled]="cardToggled" [pipelineAlias]="selectedCard.alias"
                  [streamItem]="streamItem"></app-pipeline-description>
          </ng-template>
      </ng-template> -->
</div>