<div>
    <div ledsTabGroup>
        <!-- <div class="tab-group"> -->
        <mat-tab-group  (selectedIndexChange)="basicReqTabChange($event)">
            <mat-tab class="le-u-header-xl" label="File Preview">
            </mat-tab>
            <mat-tab class="le-u-header-xl" label="Translation">
            </mat-tab>
            <mat-tab class="le-u-header-xl" label="Summary">
                <!-- <ng-template mat-tab-label>Summary</ng-template>  -->
            </mat-tab>
            <mat-tab class="le-u-header-xl" label="Questions">
                <!-- <ng-template mat-tab-label><span (click)="refreshiframeee()">FAQ</span> </ng-template>  -->
            </mat-tab>
            <mat-tab *ngIf="AnnotateFlag" class="le-u-header-xl" label="Annotate">

                <!-- <ng-template mat-tab-label>Summary</ng-template>  -->
            </mat-tab>
        </mat-tab-group>
        <!-- </div> -->
        <div *ngIf="tabReq === 'filePreview'">
            <div class="tab_content" id="tabContent_0">
                <div  *ngIf="pdfData" class="row mt-4 le-u-mar-16">
                    <iframe #pdfIframe width="100%" height="500px"></iframe>
                </div>
            </div>
        </div>
        <div *ngIf="conatiner" class="cont">
            <div class="spinner-preview" *ngIf="fetchFile">
                <leds-spinner bdColor="#e5d9d9" [size]="'default'" [zIndex]="0" 
                    [color]="'#8626c3'" [type]="'ball-pulse-sync'" [template]="template" 
                    [fullScreen]="false" [showSpinner]="true">
                </leds-spinner><br>
                File is being fetched...
            </div>
            <div *ngIf="tabReq === 'translation'">
                <div class="tab_content" id="tabContent_1">
                    <div class="row mt-4 le-u-mar-16">
                        <div *ngIf="fileData && fileData[0]!==null" class="le-c-panel__content le-u-pad-16 msg-banner">
                            <leds-select style="text-align-last: end;" [options]="langOption" [(ngModel)]="language" [designType]="'withBg'" 
                            (selectChange)="onLanguageChange($event)">
                            </leds-select>
                            <i class="icon x-24 edit-icon" *ngIf="!enableEdit"  style="text-align-last: end; margin-right: 1rem;"  (click)="enableEditing()"></i>
                            <i class="icon x-24 icon_save" *ngIf="enableEdit"  style="text-align-last: end; margin-right: 1rem;"  (click)="saveEditedData()"></i>
                            <!-- <pre>{{ fileData }} </pre> -->
                            <!-- <pre id="ide" class=""   *ngIf="enableEdit" contenteditable="true" (input)="onFileDataChange($event)">{{fileData}}</pre> -->
                            <!-- <input id="ide" class="" [(ngModel)]="fileData" *ngIf="enableEdit" contenteditable="true"/> -->
                            <textarea style="width: -webkit-fill-available;height: 65vh;" [(ngModel)]="fileData" *ngIf="enableEdit"></textarea>
                            <pre class="" *ngIf="!enableEdit">{{fileData}}</pre>
                        </div>
                        <div *ngIf="fileData[0]==null && noData">
                            <div *ngIf="langOption.length>0">
                                <leds-select 
                                    style="text-align-last: end;" [options]="langOption" [(ngModel)]="language" [selected]="langOption[0].value" [designType]="'withBg'" (selectChange)="onLanguageChange($event)">
                                </leds-select>
                            </div>
                            <div class="text-preview">
                                <h4>Please run translation pipeline or contact the application admin</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="tabReq === 'fileSummary'">
                <div class="tab_content" id="tabContent_2">
                    <div class="row mt-4 le-u-mar-16">
                        <div *ngIf="fileData && fileData[0]!==null" class="le-c-panel__content  le-u-pad-16 msg-banner">
                            <i class="icon x-24 edit-icon" *ngIf="!enableEdit"  style="text-align-last: end; margin-right: 1rem;"  (click)="enableEditing()"></i>
                            <i class="icon x-24 icon_save" *ngIf="enableEdit"  style="text-align-last: end; margin-right: 1rem;"  (click)="saveEditedData()"></i>
                            <!-- <pre style="white-space:initial">{{ fileData }}</pre> -->
                            <!-- <pre  style="white-space:break-spaces" class="" *ngIf="enableEdit" contenteditable="true" (input)="onFileDataChange($event)">{{fileData}}</pre>
                            <pre  style="white-space:break-spaces" class="" *ngIf="!enableEdit">{{fileData}}</pre> -->
                            <textarea style="width: -webkit-fill-available;height: 65vh;" [(ngModel)]="fileData" *ngIf="enableEdit"></textarea>
                            <pre class=""  style="white-space:break-spaces" *ngIf="!enableEdit">{{fileData}}</pre>
                        </div>
                        <div *ngIf="fileData[0]==null && noData" class="text-preview">
                            <h4>Please run summary pipeline or contact the application admin</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="tabReq === 'faq'">
                <div  class="tab_content" id="tabContent_3">
                    <div class="row mt-4 le-u-mar-16">
                        <div *ngIf="fileData && fileData[0]!==null" class="le-c-panel__content  le-u-pad-16">
                            <div *ngFor="let ele of answers;index as i">
                                <leds-accordion designType="3D" [hideToggle]="false" [multi]="false">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                                            <mat-panel-title>{{ questions[i] | titlecase }}</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="le-u-mar-16">
                                            <h5 class="le-u-header-lg">{{ answers[i] }}</h5>
                                        </div>
                                    </mat-expansion-panel>
                                </leds-accordion>
                            </div>
                        </div>
                        <div *ngIf="fileData[0]==null && noData" class="text-preview">
                            <h4>Please run questions pipeline or contact the application admin</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="tabReq === 'annotate'">
                <app-pdf-dataset-annotate [fileName]="pdfDetails"></app-pdf-dataset-annotate>
            </div>
        </div>
    </div>
</div>