<div class="le-l-mainwrapper aip-top">
    <div class="le-u-pad-lr-32 le-u-pad-16">
        <div class="le-u-pad-10" style="display: flex; align-items: center; height: 4rem;">
            <div style="flex: 1; display: flex;padding-left: 15px;">
                <span>
                    <i class="aip-led-icons icon x-24 back-icon" (click)="routeBackToList()"></i>
                </span>
            </div>
            <span style="flex: 2;margin-left: 15rem;">
                <h1>Assign Apps to UserGroup</h1>
            </span>
        </div>
        <div class="" style="margin-top: 4rem;">
            <div class="col-sm-3">
                <div class="row">
                    <h3>Select User Group</h3>
                    <leds-select [options]="userGroups" label="" [required]="false" [disabled]="false"
                        designType="default" [isMultiple]="false" (selectChange)="onSelect($event)">
                    </leds-select>
                </div>
            </div>
            <div>
                <app-custom-listbox [disabled]="isAuth" [source]="source" [(destination)]="target" [key]="'name'"
                    [display]="'alias'" height="300px" sourceName="Source Apps"
                    targetName="Target UserGroup:{{selectedUserGroup}}" [format]="format"
                    (valueChange)="fetcharray($event)">
                </app-custom-listbox>
            </div>
            <div class="d-flex m-2 le-u-pad-tb-16 le-u-pad-lr-24" style="float: right;">
                <leds-button nameText="secondaryButton" idText="secondaryButton" [disabled]="false" buttonType="button"
                    designType="primary" (click)="assignApps()">
                    Assign
                </leds-button>
            </div>
        </div>
    </div>
</div>
