.initiative-view-button {
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  height: max-content;
  color: white;
}
.aip-initiative-task-grid {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.initiative__approved span,
.initiative__compeleted span,
.initiative__approval_pending span,
.initiative__rejected span,
.initiative__yet-to-start span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
}
.initiative__approved span,
.initiative__compeleted span,
.initiative__yet-to-start span,
.initiative__rejected span,
.initiative__approval_pending span,
.initiative__approval_pending span::after,
.initiative__rejected span::after,
.initiative__approved span::after,
.initiative__compeleted span::after,
.initiative__yet-to-start span::after {
  width: 18px;
  height: 18px;
  font-size: 18px;
  font-family: "DS-iconfont", Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
  font-style: normal;
  font-weight: normal !important;
  display: inline-block;
}
.initiative__approved span::after {
  content: "\e0e2" !important;
  color: #8626c3 !important;
}
.initiative__compeleted span::after {
  content: "\25C9";
  color: rgb(56 133 9);
}
.initiative__approval_pending span::after {
  content: "\25C9";
  color: rgb(128, 6, 133);
}
.initiative__yet-to-start span::after {
  content: "\229A";
  color: #8626c3;
}
.initiative__rejected span::after {
  content: "\229A";
  color: #f70505;
}
::ng-deep .le-c-nav-list li > a {
  padding: 13px 5px !important;
}
.stepName::after {
  content: "\2026";
  display: inline-block;
  margin-left: 8px;
  transform: rotate(90deg);
  font-size: 3rem;
}
.aip-u-circle-icon-red {
  width: 13px;
  height: 13px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding-top: 2px;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  background: #e10000b5;
}
.le-c-badge--new {
  background: #dff6fd;
  color: #007b82;
}
