// .aip-card-container[_ngcontent-une-c669] {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, 260px);
//     grid-template-rows: repeat(auto-fit, 160px);
//     grid-row-gap: 40px;
//     grid-column-gap: 25px;
//     align-content: space-around;
//     justify-content: space-between;
//     align-items: stretch;
//     justify-items: stretch;
// }

.aip-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 274px);
    grid-template-rows: repeat(auto-fit, 163px);
    grid-row-gap: 40px;
    grid-column-gap: 25px;
}
.row {
    margin-left: -30px;
}

.le-u-pad-lr-32 {
    padding-left: 0px !important;
    padding-right: 130px !important;
}

.content-height {
    height: 70px;
}