<!-- <section [ngBusy]="{busy:busy,message:'Loading...'}" class="selector-764-1"> -->
<div class="row">
    <div class="col-lg-12">
        <div class="le-l-level1-middle-col le-l-base-layout-center">
            <div class="le-l-level2-middle-ctr">
                <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                    <div class="align-items-center justify-content-between d-flex">
                        <div class="selector-model-title-head d-flex  align-items-center">
                            <span class="mx-2 aip-cursor" [hidden]="inGroupedJob" *ngIf="initiativeView">
                                <i class="aip-led-icons icon x-24 back-icon" (click)="navigateBack()"></i>
                            </span>
                            <span class=" aip-desc-title le-u-header-xxl"><span style=" color: #737373;;">Pipeline:
                                </span>{{pipelineAlias | titlecase}} </span>
                        </div>
                        <div class=" selector-model-title-tail">
                            <ul class="d-flex justify-content-between align-items-center py-2 px-4">
                                <li class="aip-cursor " style="padding: 5px 13px 2px 0px;"
                                    (click)="openModal(content4)">
                                    <leds-tooltip [tooltip]="addTags" [position]="tooltipPoition"
                                        class="aip-led-icons"><i class="fa fa-tag"
                                            aria-hidden="true"></i></leds-tooltip>
                                    <ng-template #content4 let-modal>
                                        <app-tags [data]=card [entityType]="entity"
                                            [componentType]="'pipelines'"></app-tags>
                                    </ng-template>
                                </li>
                                <li>
                                    <leds-tooltip [tooltip]="'Start'" [position]="'above'">
                                        <i class="le-u-mar-r-16 icon video-icon x-24" (click)="runPipeline()"></i>
                                    </leds-tooltip>
                                </li>
                                <li>
                                    <leds-tooltip [tooltip]="'Save'" [position]="'above'">
                                        <i class="le-u-mar-r-16 aip-led-icons icon icon_save x-24"
                                            (click)="saveJson(streamItem.name)"></i>
                                    </leds-tooltip>
                                </li>
                                <li>
                                    <leds-tooltip [tooltip]="'Duplicate'" [position]="'above'">
                                        <i class="aip-led-icons icon copy-icon x-24" (click)="copyPipeline()"></i>
                                    </leds-tooltip>
                                </li>
                                <li (click)="expandCollapse()" *ngIf="!isExpand && initiativeView">
                                    <leds-tooltip [tooltip]="'Maximize'" [position]="tooltipPoition"><i
                                            class="le-u-mar-r-16 icon x-24 icon_maximise aip-led-icons"></i></leds-tooltip>
                                </li>
                                <li (click)="expandCollapse()" *ngIf="isExpand  && initiativeView">
                                    <leds-tooltip [tooltip]="'Minimize'" [position]="tooltipPoition"><i
                                            class="le-u-mar-r-16 icon x-24 icon_minimise aip-led-icons"></i></leds-tooltip>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div ledsTabGroup class="le-u-mar-t-16 mx-4 px-5 my-4 mt-0 aip-panel-shadow"
                        style="background-color: white;">
                        <mat-tab-group disableRipple>
                            <mat-tab label="Configuration" class="le-u-header-xl">
                                <div class="tab-content mb-5">
                                    <div class="col-md-12">
                                        <div class="d-flex">
                                            <span class="le-u-mar-t-24 le-u-mar-l-16">Type</span>
                                            <leds-select class="le-u-mar-lr-8" [options]="filetypes" label=""
                                                [(ngModel)]="data.filetype" [required]="true" [disabled]="false"
                                                designType="default" [isMultiple]="false"
                                                (selectChange)="onInputTypeChange($event)">
                                            </leds-select>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                <div class="col d-flex">
                                    <label class="col-2">Arguments:</label>
                                    <mat-form-field class="col-4">
                                        <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" type="text" class="txtInput" matInput
                                            [(ngModel)]="data.arguments"></textarea>
                                    </mat-form-field>
                                </div>
                            </div> -->
                                    <div class="col-md-12">
                                        <div class="d-flex selector-764-14">
                                            <label class="col-2 selector-764-15">Arguments:&nbsp;&nbsp;
                                                <span class="selector-764-16">
                                                    <a class="fa fa-plus selector-764-17" href="javascript:void(0);"
                                                        matTooltip="Add Argument"
                                                        (click)="displayDialog('ADD', '', '', 'Text', 0, '')"></a>&nbsp;&nbsp;
                                                    <a class="fa fa-minus selector-764-18" href="javascript:void(0);"
                                                        matTooltip="Remove All" (click)="deleteAll()"></a>
                                                </span>
                                            </label>
                                            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl"
                                                class="example-tree col-8 selector-764-19">
                                                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle=""
                                                    class="selector-764-20">
                                                    <li class="mat-tree-node selector-764-21">
                                                        <button mat-icon-button="" disabled=""
                                                            class="selector-764-22"></button>
                                                        <span style="max-width: -webkit-fill-available"
                                                            class="selector-764-23">{{node.name+' :
                                                            '+getAlias(node)}}&nbsp;&nbsp;
                                                            <a class="fa fa-pencil selector-764-24"
                                                                href="javascript:void(0);" matTooltip="Edit"
                                                                (click)="displayDialog('MODIFY', node.name, node.value, node.type, node.index, node.alias)"></a>&nbsp;&nbsp;
                                                            <a class="fa fa-minus selector-764-25"
                                                                href="javascript:void(0);" matTooltip="Delete"
                                                                (click)="deleteNode(node.index)"></a>
                                                        </span>
                                                    </li>
                                                </mat-tree-node>
                                            </mat-tree>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <app-user-secrets [configData]="dynamicSecretsArray" [isauth]="isAuth"
                                        (configDataChange)="onSecretsDataChange($event)"></app-user-secrets>
                                    </div>
                                    <!-- <div class="row selector-764-26">
                            <div class="col d-flex selector-764-27">
                                <label class="col-2 selector-764-28">Datasets:&nbsp;&nbsp;
                                    <span class="selector-764-29">
                                        <a *ngIf="!isAuth" class="fa fa-plus selector-764-30" href="javascript:void(0);"
                                            matTooltip="Add Dataset" (click)="showDatasets('')"></a>&nbsp;&nbsp;
                                    </span>
                                </label>
                                <mat-tree [dataSource]="dataSet" [treeControl]="treeControl"
                                    class="example-tree col-8 selector-764-31">
                                    <mat-tree-node *matTreeNodeDef="let data" matTreeNodeToggle="" class="selector-764-32">
                                        <li class="mat-tree-node selector-764-33">
                                            <button mat-icon-button="" disabled="" class="selector-764-34"></button>
                                            <span style="max-width: -webkit-fill-available"
                                                class="selector-764-35">{{data.name}}&nbsp;&nbsp;
                                                <a *ngIf="!isAuth" class="fa fa-pencil selector-764-36"
                                                    href="javascript:void(0);" matTooltip="Edit"
                                                    (click)="showDatasets(data)"></a>&nbsp;&nbsp;
                                                <a *ngIf="!isAuth" class="fa fa-info selector-764-37"
                                                    href="javascript:void(0);" matTooltip="View"
                                                    (click)="showInfo(data)"></a>&nbsp;&nbsp;
                                                <a *ngIf="!isAuth" class="fa fa-minus selector-764-38"
                                                    href="javascript:void(0);" matTooltip="Delete"
                                                    (click)="deleteDataset(data)"></a>
                                            </span>
                                        </li>
                                    </mat-tree-node>
                                </mat-tree>
                            </div>
                        </div> -->
                                </div>
                                <!--/ng-template-->
                            </mat-tab>
                            <mat-tab label="Script" class="le-u-header-xl">
                                <div class="tab-content selector-764-41 mb-5">
                                    <div class="col-md-12">
                                        <div class="d-flex">
                                            <span class="le-u-mar-t-24 le-u-mar-l-16">Select run type</span>
                                            <leds-select class="le-u-mar-lr-8" [options]="runTypes" label=""
                                                [(ngModel)]="selectedRunType" [required]="true" [disabled]="false"
                                                designType="default" [isMultiple]="false">
                                            </leds-select>
                                        </div>
                                    </div>
                                    <div style="height: max-content">
                                        <app-enl-code-editor id="ele" *ngIf="loadScript" [script]="script" [lang]="lang"
                                            (scriptChange)="onScriptChange($event)" class="selector-764-48">
                                        </app-enl-code-editor>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Jobs" class="le-u-header-xl">
                                <app-jobs [cname]="streamItem.name"></app-jobs>
                                <!--/ng-template-->
                            </mat-tab>
                            <!-- <mat-tab label="Draw">
                        <ng-template mat-tab-label>Draw</ng-template>
                    </mat-tab> -->
                        </mat-tab-group>
                    </div>
                    <!-- <span class="label label-danger" style="float: right;">{{data.version}}</span> -->

                </div>
                <div *ngIf="!isExpand" class="le-l-level2-right-col le-u-pad-t-32">
                    <leds-panel type="default" styleClass="" contentClass="">
                        <div class="le-c-panel__content">
                            <div class="le-u-pad-16">
                                <div class="le-u-header-lg le-u-mar-b-16">Connected Artifacts</div>
                                <div class="" *ngIf="component.length > 0; else noRelatedComponent">

                                    <leds-navigation-list position="left" [selectOnClick]="true">
                                        <li class="aip-daa " *ngFor="let component of component ">
                                            <app-related-component [component]=component [childId]="card.cid"
                                                [parentType]="'PIPELINE'"
                                                (reload)="reload($event)"></app-related-component>
                                        </li>
                                    </leds-navigation-list>
                                </div>
                                <ng-template #noRelatedComponent>
                                    <div class="le-u-body-md le-u-text-neutral-80 le-u-line-2 aip-desc-ellipsis">
                                        <div class="d-flex justify-content-center align-items-center flex-column">
                                            <img src="assets/images/aip_empty_state_leds.svg" class="img-responsive"
                                                alt="aip_empty_state_leds" style="width:15rem" />
                                            No connected artifacts for now!
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <div ledsPanelFooter class="le-u-mar-t-8">
                            <li *ngIf="linkAuth">
                                <div *ngIf="relatedloaded">
                                    <div class="lds-ring">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="aip-cursor le-u-pad-l-8 le-u-pad-b-8 " *ngIf="!relatedloaded"
                                    (click)="openModal(linker)">
                                    <div class="d-flex aip-daa le-u-mar-8 le-u-pad-8  align-items-center"
                                        style="width: max-content;">
                                        <div class="le-u-mar-lr-8"><i class=" icon x-16 icon_link"
                                                style="color: #8626C3;"></i>
                                        </div>
                                        <div class="le-u-body-md">Link Artifacts</div>
                                    </div>
                                </div>
                                <ng-template #linker let-modal>
                                    <app-create-linked [data]=this.streamItem.cid [type]="'PIPELINE'"
                                        (refeshrelated)="refeshrelated($event)"
                                        [component]=component></app-create-linked>
                                </ng-template>
                            </li>
                        </div>
                    </leds-panel>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </section> -->
<!-- </section> -->