
<div class="le-u-pad-16" style="position:relative">
    <div class="d-flex justify-content-between align-items-center px-4">
        <div class="justify-content-start align-items-center d-flex">
            <h2 style="color:var(--base-color)">Dataset Enrichments</h2>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
                <i class="icon x-16 close-icon"></i>
            </button>
        </div>
    </div>
    <leds-multi-col-container>
        <div panel panelRounded panelBorder class="le-u-mar-tb-16 le-u-pad-8">
            <div>
                <div *ngIf="loadingPageForSpinner">
                    <mat-card-content>
                        <leds-card>
                            <leds-spinner [bdColor]="'#ffffff'" [size]="'default'" [color]="'#8626c3'"
                                [type]="'ball-spin'" [fullScreen]="false" [showSpinner]="loadingPageForSpinner">
                            </leds-spinner>
                        </leds-card>
                    </mat-card-content>
                </div>
                <div *ngIf="!loadingPageForSpinner" class="row">
                    <div thirdColPanel *ngIf="cards">
                        <div>
                            <div class="container d-flex justify-content-between le-u-mar-8 le-u-mar-lr-16 align-items-center">
                                <div>
                                    <h2 class="le-u-header-xl le-u-ellipsis" style="line-height: 2rem;">Select Task to trigger:</h2>
                                </div>
                                <div class="d-flex" *ngIf="type">
                                    <leds-tooltip  class="le-u-pad-16" [tooltip]="'Transcription'" [position]="tooltipPoition">
                                        <span class="aip-cursor" style="font-size: large;" (click)="trigger('Transcribe')">
                                            <i class="le-u-mar-r-16 icon x-24 icon_blog aip-led-icons"></i>
                                        </span>
                                    </leds-tooltip></div>
                                    <div class="d-flex"><leds-tooltip class="le-u-pad-16" [tooltip]="'Translation'" [position]="tooltipPoition">
                                        <span class="aip-cursor" style="font-size: large;" (click)="translationn()">
                                            <i class="le-u-mar-r-16 icon x-24 icon_languages aip-led-icons"></i>
                                        </span>
                                    </leds-tooltip></div>
                                    <div class="d-flex"><leds-tooltip class="le-u-pad-16" [tooltip]="'Summary'" [position]="tooltipPoition">
                                        <span class="aip-cursor" style="font-size: large;" (click)="trigger('Summary')">
                                            <i class="le-u-mar-r-16 icon x-24 document-icon aip-led-icons"></i>
                                        </span>
                                    </leds-tooltip></div>
                                    <div class="d-flex"><leds-tooltip class="le-u-pad-16" [tooltip]="'Questions'" [position]="tooltipPoition">
                                        <span class="aip-cursor" style="font-size: large;" (click)="trigger('Questions')">
                                            <i class="le-u-mar-r-16 icon x-24 icon_FAQ aip-led-icons"></i>
                                        </span>
                                    </leds-tooltip></div>
                                <div class="d-flex">
                                    <leds-tooltip class="le-u-pad-16" [tooltip]="'Refresh'" [position]="'above'">
                                        <span class="aip-cursor" style="font-size: large;" (click)="ngOnInit()">
                                            <i class="aip-led-icons icon purple x-24 icon x-16 icon_Refresh"></i>
                                        </span>
                                    </leds-tooltip>
                                    <leds-input-field designType="search" inputType="text" [disabled]="false"
                                        [required]="false" styleClass="" (changesOccur)="searchfilteredTopics($event)"
                                        [(ngModel)]="searchInp"></leds-input-field>
                                </div>
                            </div>
                            <div class="le-l-multicolumn__header aip-link-card-height d-flex justify-content-center">
                                <div *ngIf="cardData.length>0" [ngClass]="showLog ? 'aip-link-card-mini' : 'aip-link-card'" >
                                    <div class="aip-cursor" *ngFor="let result of cardData;  index as i"
                                        [ngStyle]="{'border': (result.eventName==selectedTopic)?'2px solid #8626C3':'2px solid #0000ff00','pointer-events':(result.linked)?'none':'auto'}"
                                        style="border-radius: 1.8rem;" (click)="linked(result.eventName)">
                                        <leds-card designType="simple"
                                            *ngIf="result.eventName!=null">
                                            <mat-card-header>
                                                <mat-card-title>
                                                    <div class="d-flex justify-content-between">
                                                        <h2 class="le-u-header-md aip-lnk-ellipsis">
                                                            {{result.eventName}}</h2>
                                                        <span>
                                                            <leds-tooltip *ngIf="result.status=='COMPLETED'"
                                                                [tooltip]="'Completed'" [position]="'above'">
                                                                <i class="icon x-16 icon-process-complete green"></i>
                                                            </leds-tooltip>
                                                            <leds-tooltip *ngIf="result.status=='RUNNING'"
                                                                [tooltip]="'In-Progress'" [position]="'above'">
                                                                <i class="icon x-16 icon-inprogressBlue yellow"></i>
                                                            </leds-tooltip>
                                                            <leds-tooltip *ngIf="result.status=='ERROR'"
                                                                [tooltip]="'Failed'" [position]="'above'">
                                                                <i class="icon x-16 icon-rejected red"></i>
                                                            </leds-tooltip>
                                                            <leds-tooltip *ngIf="result.status=='CANCELLED'"
                                                                [tooltip]="'Cancelled'" [position]="'above'">
                                                                <i class="icon x-16 icon-rejected red"></i>
                                                            </leds-tooltip>
                                                        </span>
                                                    </div>
                                                </mat-card-title>
                                            </mat-card-header>
                                        </leds-card>
                                    </div>
                                </div>
                                <div *ngIf="!cardData.length >0"
                                    class="d-flex justify-content-center align-items-center flex-column">
                                    <img src="assets/images/aip_empty_state_leds.svg" class="img-responsive"
                                        alt="aip_empty_state_leds" style="width:15rem" />
                                    No records found.
                                </div>
                                <div style="width: 50%;" *ngIf="showLog">
                                    <div class="le-u-pad-lr-16">
                                        <div class="d-flex le-u-pad-l-8 le-u-body-sm">
                                            <p style="color:var(--base-color)">Logs - </p>
                                            &nbsp;
                                            <p>{{selectedTopic}}</p>
                                        </div>
                                        <div class="le-u-pad-l-16 le-u-body-md mt-3 le-u-pad-l-4"
                                            style="white-space: pre-line; height: 19rem; overflow: auto;">
                                            {{logs || json }}</div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="selectedTopic">
                                <hr>
                                <div class="le-u-pad-lr-16">
                                    <div class="">
                                        <leds-button *ngIf="!showLog" nameText="secondaryButton"
                                            idText="secondaryButton" [disabled]="false" buttonType="button"
                                            designType="miniPrimary" (click)="showOrHideLog()">
                                            Show Logs
                                        </leds-button>
                                        <leds-button *ngIf="showLog" nameText="secondaryButton"
                                            idText="secondaryButton" [disabled]="false" buttonType="button"
                                            designType="miniPrimary" (click)="showOrHideLog()">
                                            Hide Logs
                                        </leds-button>
                                        <leds-button *ngIf="cardStatus=='ERROR'" nameText="secondaryButton"
                                            idText="secondaryButton" [disabled]="false" buttonType="button"
                                            designType="miniPrimary" (click)="retryLinkKB(selectedTopic)">
                                            Retry
                                        </leds-button>
                                    </div>
                                    <div class="d-flex justify-content-between le-u-pad-t-8 le-u-pad-b-4">
                                        <div class="le-u-pad-l-8" *ngIf="startTime">
                                            <div class="le-u-body-sm aip-label-color">Triggered on:</div>
                                            <div class="le-u-body-md mt-3">
                                                {{startTime}}</div>
                                        </div>
                                        <div class="le-u-pad-l-8" *ngIf="endTime">
                                            <div class="le-u-body-sm aip-label-color">Finished on:</div>
                                            <div class="le-u-body-md mt-3">
                                                {{endTime}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="translationConfig">
                        <div class="row le-u-mar-32">
                            <div class="table-responsive selector-693-2">
                                <leds-autocomplete [options]="languageOpt" [(ngModel)]="language"
                                    placeholder="Select Language" label="Language to translate" errorMessage="{required: 'This field is required',}" 
                                    [required]="true" [autoActiveFirstOption]="false"
                                    (panelOptionSelected)="translate($event.option.value)">
                                </leds-autocomplete>
                                <mat-hint class="custom-hint-or-error"></mat-hint>
                            </div>
                            <div class="">
                                <leds-button nameText="secondaryButton" idText="secondaryButton" [disabled]="false"
                                    buttonType="button" designType="primary" (click)="cancelTranslation()">
                                    Cancel
                                </leds-button>
                                <leds-button 
                                    nameText="secondaryButton" idText="secondaryButton" [disabled]="errMsgFlag"
                                    buttonType="button" designType="primary" (click)="closeDialog(); trigger('Translation')">
                                    Translate
                                </leds-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </leds-multi-col-container>
</div>
