<div class="clearfix aip-video-bot-scroll" style="height: 100%;background-color: #FAFAFA;position: relative;" id="mainCtr">
    <div class="container-fluid">
        <div class="le-l-middle-col le-u-no-mar-l__mb" id="mainrightCnt">
            <div class="le-l-level1-wrapper">
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center le-u-mar-b-32" style="position:relative">
                        <div class="" [ngClass]="ask ? 'aip-video-bot-top' : 'aip-video-bot-center'" style="width:50%">
                            <div class="d-flex le-u-mar-tb-16">
                                <div class="aip-led-icons" style="transform: rotateY(180deg);"><i class="icon x-24 comment-icon"></i></div>
                                <span class="le-u-header-xxl le-u-mar-l-16">Astro Knowledge Search</span>
                            </div>
                            <div class="le-u-header-md">
                                A simple application for Astor Knowledge Search. For answering the questions of the
                                user, it retrieves the most relevant documents and then uses Falcon to extract the
                                matching answer for the question.
                            </div>
                            <div class="row le-u-mar-t-32">
                                <div class="col-lg-12">
                                    <div class="">
                                        <span class="le-u-header-md">
                                            <strong style="font-size:xx-large; color:red">?</strong>
                                            Ask your question related to video? </span>
                                        <leds-input-field placeholder="" label="" designType="default" inputType="text"
                                            [disabled]="false" [required]="false" styleClass="" [(ngModel)]="userInput"
                                            (keydown.enter)="changesOccur(userInput)"></leds-input-field>
                                        <leds-button nameText="miniSecondary" idText="miniSecondary" [disabled]="false"
                                            (click)="changesOccur(userInput)" buttonType="button"
                                            designType="miniSecondary">
                                            Ask
                                        </leds-button>
                                    </div>
                                    <div class="le-u-mar-t-32 " *ngIf="ask">
                                        <div class="aswer">
                                            <div>
                                                <div class="d-flex">
                                                    <span><i class="icon le-u-mar-r-8 x-16 icon-tick-dark"
                                                            style="font-weight: 900 !important;"></i></span>
                                                    <span class="le-u-header-lg">Answer:</span>
                                                </div>
                                                <div class="le-u-mar-t-16 le-u-body-md">
                                                    {{answer}}
                                                </div>

                                            </div>
                                        </div>
                                        <div class="relatedDocument le-u-mar-t-32">
                                            <div>
                                                <div class="d-flex">
                                                    <span><i class="icon le-u-mar-r-8 x-16 icon-tick-dark"
                                                            style="font-weight: 900 !important;"></i></span>
                                                    <span class="le-u-header-lg">Related Documents:</span>
                                                </div>
                                                <div class="le-u-mar-t-16 le-u-body-md">

                                                    <leds-accordion designType="3D" [hideToggle]="false"
                                                        [multi]="false">
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header [collapsedHeight]="'40px'"
                                                                [expandedHeight]="'40px'">
                                                                <mat-panel-title>Collapsed</mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <div class="le-u-mar-16">
                                                                <h4 class="le-u-header-lg">Title</h4>
                                                                <p class="le-u-body-sm le-u-text-neutral-80">Description
                                                                    text</p>
                                                            </div>
                                                        </mat-expansion-panel></leds-accordion>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>