.aip-video-bot-center {
  margin-top: 10%;
}
.aip-video-bot-top {
  margin-top: 0%;
}
.aip-video-bot-scroll {
  overflow: auto;
}
.aip-video-bot-scroll::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  //   background: #000;
}

.aip-video-bot-scroll::-webkit-scrollbar-thumb {
  background: #dadada;
  -webkit-border-radius: 5ex;
  //   -webkit-box-shadow: 4px 2px 4px #DADADA;
}
