<div class="le-l-mainwrapper aip-top">
    <!-- *ngIf="cardToggled; else elseBlock" -->
    <div class="clearfix le-l-bodywrapper aip-tranparent-backgroud js-bodywrapper" id="mainCtr">
        <div class="">
            <div *ngIf="isExpanded" class="row aip-filter aip-filter-position aip-scroll-hover">
                <app-tagging-component [servicev1]="servicev1" (tagSelected)="tagSelectedEvent($event)"
                    [preselectedtag]="selectedTag" [tagrefresh]="tagrefresh"
                    [selectedAppTypeList]="{ 
                        selectedTagType: selectedTagType,
                        selectedTag : selectedTag
                      }"></app-tagging-component>
            </div>

            <div class="col-sm-12 col-md-9 col-lg-9" id="mainrightCnt" [ngStyle]="toggler(isExpanded)">


                <!-- <div class="row">
        <div class="col-md-9">
            <h2 class="le-u-header-xl ">Apps</h2>
        </div>
        <div class="col-md-3">
            <button mat-raised-button="" (click)="openedit(content)" class="app-createBtn" style="height: 2.5em; width: 60%; float: right;">Create
                App</button>
                <ng-template #content let-modal>
                    <app-create-app>

                    </app-create-app>
                </ng-template>
        </div>
    </div> -->
                <div class="">
                    <div class="le-l-level1-wrapper">
                        <!-- Header -->
                        <div class="aip-header le-u-pad-lr-32 le-u-pad-t-16">

                            <div class=" col-sm-12 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center">
                                <div style="padding: 20px 0px 0px 0px;">
                                    <leds-tooltip [tooltip]="isExpanded?'Collapse Filters':'Expand Filters'"
                                        [position]="tooltip">
                                        <i class="icon x-24 filter-icon" (click)="toggleExpand()"></i>
                                    </leds-tooltip>
                                </div>
                                <div class="le-u-pad-24">
                                    <h3 class="le-u-header-xl">Apps</h3>
                                </div>
                            </div>
                            <div
                                class="col-10 offset-1 offset-xs-1 offset-sm-1 offset-md-0 col-sm-6 col-md-6 col-lg-7 col-xl-6 aip-panel aip-panel-shadow d-flex align-items-center">
                                <!-- <leds-input-field designType="search" inputType="text" styleClass=""
                        [disabled]="false" [required]="false"></leds-input-field> -->
                                <input type="text" name="" id="" placeholder="Search by Name" class="aip-panel-input"
                                    [(ngModel)]="filter" (keyup)="searchApp()">
                                <i class="aip-led-icons icon x-24 search-icon"></i>
                            </div>
                            <div class="d-flex justify-content-center col-sm-5 col-md-6 col-lg-5 col-xl-4 aip-header-icon">

                                <div *ngIf="editAuth" class="">
                                    <div class="le-u-mar-r-24 aip-cursor" (click)="openedit(content1)">
                                        <span class="le-c-btn--icon__icon">
                                            <i class="aip-led-icons icon x-24 icon-add"></i>
                                        </span>
                                        <ng-template #content1 let-modal>
                                            <div class="config-background">
                                                <app-create-app>

                                                </app-create-app>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                                <div class="aip-cursor">
                                    <span class="le-c-btn--icon__icon">
                                        <i class="aip-led-icons icon x-24 icon_Refresh" (click)="ngOnInit()"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="row" style='min-width: -webkit-fill-available;padding: 0px;'>

                    <div class="col-4" *ngFor="let app of appData,let index=index" style="margin-bottom: 2%;">
                        <leds-card designType='simple' [actionsOnHover]='true'
                            style="padding:0px !important; height: 163px; display: grid;">
                            <div class=" selector-model-title-tail ">
                                <ul class="d-flex le-u-pad-b-8">
                                    <li
                                        *ngIf="app.scope && (app.scope === 'chain' || app.scope === 'pipeline' || app.scope === 'internal' || app.scope ==='Apps') ">
                                        <leds-tooltip *ngIf="!app.status || app.status != 'RUNNING'" [tooltip]="'Start'"
                                            [position]="'above'">
                                            <i class="icon x-16 video-icon"
                                                (click)="app.scope === 'internal'?startInternalApp(app):startApp(app)"></i>
                                        </leds-tooltip>
                                        <leds-tooltip *ngIf="app.status === 'RUNNING'" [tooltip]="'Stop'"
                                            [position]="'above'">
                                            <i class="fa fa-stop x-16" (click)="stopJob(getLatestJobId(app))"></i>
                                        </leds-tooltip>
                                    </li>
                                    <li *ngIf="app.status && app.status === 'COMPLETED'">
                                        <leds-tooltip [tooltip]="'COMPLETED'" [position]="'above'">
                                            <i class="icon x-16 icon-process-complete green"></i>
                                        </leds-tooltip>
                                    </li>
                                    <li *ngIf="app.status && app.status ==='ERROR'">
                                        <leds-tooltip [tooltip]="'ERROR'" [position]="'above'">
                                            <i class="icon x-16 icon-rejected red"></i>
                                        </leds-tooltip>
                                    </li>
                                    <li *ngIf="app.status && app.status ==='RUNNING'">
                                        <leds-tooltip [tooltip]="'RUNNING'" [position]="'above'">
                                            <i class="icon x-16 icon-inprogressBlue green"></i>
                                        </leds-tooltip>
                                    </li>
                                    <li *ngIf="app.status && app.status ==='CANCELLED'">
                                        <leds-tooltip [tooltip]="'CANCELLED'" [position]="'above'">
                                            <i class="icon x-16 icon-rejected red"></i>
                                        </leds-tooltip>
                                    </li>
                                </ul>
                            </div>
                            <div class="row" style="margin-bottom: 2%;">
                                <div class="col-md-8">
                                    <mat-card-header>
                                        <mat-card-title
                                            class="le-u-header-xl le-u-ellipsis aip-fullname-card">{{app?.alias}}</mat-card-title>
                                    </mat-card-header>
                                    <leds-tooltip
                        [tooltip]="app.description"
                        [position]="'below'"
                        >
                            <mat-card-content 
                                style="font-size: 0.7em; text-overflow: ellipsis; overflow: hidden;">{{app?.description}}</mat-card-content>
                    </leds-tooltip>
                                </div>
                                <div class="col-md-4">
                                    <img class="appLogo" [src]="app?.image" />
                                </div>

                                <!-- <mat-icon matTooltip="Play" class="appIcon">play_circle_filled</mat-icon>
                    <mat-icon matTooltip="Stop" class="appIcon">stop</mat-icon>
                    <mat-icon matTooltip="Go to link" class="appIcon"> open_in_new</mat-icon>  -->

                            </div>
                            <mat-card-actions class="le-c-card__action-hover d-flex justify-content-between">
                                <div class="d-flex" style="display:align-items-center">

                                    <leds-tooltip style="padding-right: 9px;"><i class="icon x-24 info-big-icon"
                                            matTooltip="Open Overview"
                                            (click)="openApp(app,'overview')"></i></leds-tooltip>
                                    <leds-tooltip style="padding-right: 9px;"><i class="icon x-24 hand-icon"
                                            matTooltip="Open App" (click)="openApp(app,'runApp')"></i></leds-tooltip>

                                    <leds-tooltip *ngIf="app.isvideoPresent" style="padding-right: 9px;"><i
                                            class="icon x-24 icon_video-call" matTooltip="Open Video"
                                            (click)="openApp(app,'video')"></i></leds-tooltip>
                                    <leds-tooltip><i *ngIf="app.scope=='pipeline'|| app.scope=='chain'"
                                            class="icon x-24 icon_Explore" matTooltip="Navigate"
                                            (click)="navigate(app)"></i></leds-tooltip>
                                </div>


                                <!-- <leds-button buttonType="button" designType="text" (click)="openApp(app)"> View Details
                        
                    </leds-button> -->
                                <div class="d-flex">
                                    <div class="aip-cursor" style="margin-right: 0.5em;position: relative;">
                                        <div class="le-c-avatar  le-c-avatar--sm aip-app-hover-avatar">
                                            {{(app.target.created_by)|firstCharacter}}
                                        </div>
                                        <div class="aip-app-hover-detail">
                                            <div class="le-u-header-md le-u-mar-8">{{app.target.created_by}}</div>
                                        </div>
                                    </div>
                                    <ng-template #content let-modal>
                                        <app-create-app [edit]="editable" [appName]=app.name [appcid]=app.cid>
                                        </app-create-app>
                                    </ng-template>
                                    <leds-overflow>
                                        <div ngbDropdown
                                            class="aip-led-icons d-inline-block le-u-mar-r-8 le-u-v-mid float-end le-c-card__action-ul">
                                            <a href="javascript:void(0);" id="OverflowMenu_dd" ngbDropdownToggle
                                                (click)="clickactive($event);" aria-label="menu icon">
                                                <i *ngIf="editAuth" aria-hidden="true"
                                                    class="icon x-24 v-menu-icon"></i>
                                            </a>
                                            <div ngbDropdownMenu aria-labelledby="OverflowMenu_dd">
                                                <ul overflowList class="float-end  le-c-card__action-ul"
                                                    style="display: flex;flex-direction: column;">
                                                    <li overflowListItem>
                                                        <span class="le-u-body-lg aip-cursor"
                                                            (click)="openedit(content2)">Edit</span>
                                                    </li>
                                                    <ng-template #content2 let-modal>
                                                        <app-create-app [edit]="'true'" [appName]="app.name"
                                                            [appcid]="app.cid">

                                                        </app-create-app>
                                                    </ng-template>
                                                    <li overflowListItem>
                                                        <span class="le-u-body-lg aip-cursor"
                                                            (click)="deleteApp(index)">Delete</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </leds-overflow>
                                </div>
                            </mat-card-actions>


                        </leds-card>
                    </div>


                </div>
                <div *ngIf="records==true">
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <img src="assets/images/aip_empty_state_leds.svg" class="img-responsive"
                            alt="aip_empty_state_leds" style="width:15rem" />
                        No records found.
                    </div>
                </div>
                <div *ngIf="records!=true"
                    class="inbox-table-footer table-paginator flex-row flex-space-between standard-margin bottom-padding-20">
                    <div class="showing-entries d-flex justify-content-end my-3">
                        <span class="grey-color font-size-12">Showing </span>
                        &nbsp;&nbsp;
                        <span class="black-color font-weight-600">
                            {{ ((pageNumber - 1) * pageSize) + 1 }} -
                            {{ (((pageNumber - 1) * pageSize) + pageSize) < noOfItems ? ((pageNumber - 1) * pageSize) +
                                pageSize : noOfItems }} of {{noOfItems}} </span>
                                &nbsp;&nbsp;
                                <span class="grey-color font-size-12">entries </span>
                    </div>
                    <div class="paginator-buttons d-flex w-60  flex-row"
                        style="justify-content:flex-end; padding-bottom: 4%;">
                        <div class="page-input go-to-input box-shadow standard-padding">
                            <span class="grey-color">Go to: </span>
                            <input class="right-margin" type="number" min="1" [max]="noOfPages" value="pageNumberInput"
                                (change)="changePage(pageNumberInput)" [(ngModel)]="pageNumberInput" />
                        </div>
                        <!-- <div class="mx-4">
                            <span class="">Items per page</span>
                            <select type="number" [(ngModel)]="pageSize" (change)="optionChange($event)">
                                <option *ngFor="let p of itemsPerPage" [ngValue]="p">{{p}}</option>
                            </select>

                        </div> -->
                        <div class="pages-details d-flex">

                            <div class="previous-page">
                                <button class="standard-padding table-button font-weight-600"
                                    [disabled]="pageNumber == 1" (click)="pageNumberInput=null;prevPage()">&lt;</button>
                            </div>
                            <div class="pages">
                                <button class="standard-padding table-button font-weight-600"
                                    *ngFor="let i of pageArr | slice:startIndex:endIndex"
                                    (click)="pageNumberInput=null;changePage(i+1)"
                                    [class.selected-page]="(i + 1) == pageNumber" [ngStyle]="selectedButton(i+1)">
                                    {{i + 1}}
                                </button>
                            </div>
                            <div class="next-page">
                                <button class="standard-padding table-button font-weight-600"
                                    [disabled]="pageNumber == noOfPages"
                                    (click)="pageNumberInput=null;nextPage()">&gt;</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
