<div class="container-fluid backgroud-color">
    <div class="le-l-level1-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="le-l-level1-middle-col le-l-base-layout-center">
                    <div class="align-items-center d-flex justify-content-between">
                        <div class="selector-model-title-head d-flex align-items-center">
                            <span class="" style="cursor: pointer;">
                                <i class="aip-led-icons icon x-24 back-icon" (click)="backToAgent()"></i>
                            </span>
                            <span class="le-u-mar-l-8 le-u-header-xxl">Execute Worker</span>
                        </div>
                        <div class="selector-model-title-tail">
                            <leds-progress-bar [value]="progressVal" [bufferValue]="0" [color]="'primary'" [mode]="mode"
                                class="col-md-3">
                                Progress {{progressVal}}%
                            </leds-progress-bar>
                        </div>
                    </div>
                    <div class="le-l-level2-middle-ctr">
                        <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                            <leds-panel type="default" styleClass="" contentClass="">
                                <div class="le-u-mar-tb-16 le-u-pad-16">
                                    <div class="row le-c-panel__content">
                                        <div class="col-lg-12 col-md-12 le-u-mar-b-16">
                                            <span class="le-u-mar-8 le-u-header-md">
                                                Task: <span *ngIf="selectedTask">{{selectedTask.taskName}}</span>
                                            </span>
                                        </div>
                                        <div class ="d-flex align-items-center justify-content-between">
                                        <leds-chip-list [label]="'Execution Stages'" [designType]="'normal'"
                                            [selectable]="true" [disableRipple]="true" class="col-md-10">
                                            <leds-chip *ngFor="let stage of executionStages; let index=index"
                                                (click)="processUpdate(stage)"
                                                [selected]="index==executionStages.indexOf(selectedStage)">
                                                {{stage}}
                                            </leds-chip>
                                        </leds-chip-list>
                                        <!-- <leds-slide-toggle style="float: right;" *ngIf="selectedStage==executionStages[1]" [checked]="false" 
                                            [disabled]="!langgraphData.pipelineName" [labelPosition]="'before'"
                                            [disableRipple]="true" (change)="onChange($event)" class="col-md-2">
                                            Langgraph
                                        </leds-slide-toggle> -->
                                        </div>
                                        <div class="col-lg-12 col-md-12 le-u-mar-b-16">
                                            <!-- <div *ngIf="selectedStage==executionStages[0]" class="le-u-pad-t-16 le-u-pad-lr-8">
                                                 <div style="margin: 1em">
                                                    <leds-choice-card-list [orientation]="'horizontal'">
                                                      <li ledsChoiceCard *ngFor="let vers of versions; let j = index;"
                                                        class="le-u-mar-l-8" (click)="onVersionSelect(vers,j)">
                                                        <div class="le-u-body-lg le-u-no-mar-l">{{vers}}</div>
                                                      </li>
                                                    </leds-choice-card-list>
                                                </div>
                                            </div> -->
                                            <app-app-config *ngIf="selectedTask && selectedVersion && selectedStage==executionStages[0]"
                                                [configData]="selectedUserInputs" style="max-height: 80%;"
                                                (configDataChange)="onUserInputChange($event)"></app-app-config>
                                            <div *ngIf="selectedTask && selectedVersion && selectedStage==executionStages[1]" style="width:100%; margin-top: 8px;">
                                                <json-editor #formJsonEditor *ngIf="!lang_view" [options]="editorOptions" [data]="workflow"
                                                style="max-height: 80%;" class="cipJSONEditor agent-json"></json-editor>
                                                <div *ngIf="lang_view" class="le-u-pad-16" style="width:100%; height:52vh; margin-top: 8px;">
                                                    <div style="height:98%">
                                                        <app-enl-code-editor id="ele" class="selector-764-48" lang="python"
                                                            [script]="langScript">
                                                        </app-enl-code-editor>
                                                    </div>
                                                </div>
                                            </div>
                                            <app-jobs *ngIf="selectedTask && selectedVersion && selectedStage==executionStages[2]" [cname]="selectedPipeline" [agenttaskname]="agentTaskName">
                                            </app-jobs>
                                            <!-- <div *ngIf="!selectedVersion && selectedStage!=executionStages[0]">
                                                <div class="le-u-body-lg d-flex justify-content-center align-items-center
                                                    le-u-pad-tb-24 le-u-mar-tb-32">
                                                    Please select a version to proceed... 
                                                    <span class="le-u-header-md" (click)="processUpdate('Select Tasks')">click here</span>
                                                </div>
                                            </div> -->
                                            <!-- <div *ngIf="!selectedTask">
                                                <div class="le-u-body-lg d-flex justify-content-center align-items-center
                                                    le-u-pad-tb-24 le-u-mar-tb-32">
                                                    Please select a task to proceed... 
                                                    <span class="le-u-header-md" (click)="processUpdate('Select Tasks')">click here</span>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="col-lg-12 col-md-12 le-u-mar-b-16" style="float: right;">
                                            <!-- <leds-button [label]="'Next'" [designType]="'primary'" [size]="'medium'"
                                                [disableRipple]="true" class="col-md-4" (click)="nextStage()"
                                                *ngIf="selectedStage==executionStages[1]">
                                                NEXT
                                            </leds-button> -->
                                            <leds-button [label]="'Next'" [designType]="'primary'" [size]="'medium'"
                                                [disableRipple]="true" class="col-md-4" (click)="nextStage()"
                                                *ngIf="selectedStage==executionStages[0] && selectedVersion">
                                                NEXT
                                            </leds-button>
                                            <leds-button [label]="'Execute'" [designType]="'primary'" [size]="'medium'"
                                                [disableRipple]="true" class="col-md-4" (click)="executePipeline()"
                                                *ngIf="selectedStage==executionStages[1] && executeWorker && !lang_view">
                                                Execute
                                            </leds-button>
                                            <leds-button [label]="'Execute'" [designType]="'primary'" [size]="'medium'"
                                                [disableRipple]="true" class="col-md-4" (click)="executeLanggraph()"
                                                *ngIf="selectedStage==executionStages[1] && executeWorker && lang_view">
                                                Execute Langgraph
                                            </leds-button>
                                        </div>
                                    </div>
                                </div>
                            </leds-panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>