<div class="le-u-pad-24">
    <div class="d-flex justify-content-end aip-cursor" [mat-dialog-close]="true"><i class="icon x-10 close-icon"></i>
    </div>
    <leds-input-field placeholder="Enter Workflow Name" label="Workflow Name" [required]="true"
        [(ngModel)]="workflow.alias"></leds-input-field>
    <br>
    <leds-input-field *ngIf="!spec" placeholder="Enter Workflow Description" label="Workflow Description"
        [(ngModel)]="workflow.description"></leds-input-field>
    <leds-button (click)="saveDetails()">
        Save
    </leds-button>
</div>