<div class="mt-3">
  <div class="le-u-pad-lr-32 le-u-pad-t-16">
    <div class="align-items-center justify-content-between d-flex">
      <div class="selector-model-title-head d-flex  align-items-center">
        <span class="mx-2 aip-cursor" *ngIf="componentType!='copy'">
          <i class="le-u-mar-r-16 aip-led-icons icon x-24 back-icon" (click)="back()"></i>
        </span>
      </div>
      <div
        class="col-10 offset-1 offset-xs-1 offset-sm-1 offset-md-0 col-sm-6 col-md-6 col-lg-7 col-xl-6 aip-panel aip-panel-shadow d-flex align-items-center">
        <!-- <leds-input-field designType="search" inputType="text" styleClass=""
      [disabled]="false" [required]="false"></leds-input-field> -->
        <input type="text" name="search" [(ngModel)]="searchText" class="aip-panel-input" (ngModelChange)="onSearch()"
          autocomplete="off" placeholder="Start searching">
        <i class="aip-led-icons icon x-24 search-icon"></i>
      </div>
      <div class="k1">
        <div class="d-flex le-u-header-xl aip-cursor" (click)="colSearch()">
          <i class="fa fa-solid fa-filter aip-led-icons"></i>
        </div>
        <leds-overflow>
          <div ngbDropdown class="d-inline-block" container="body">
            <a id="OverflowMenu_dd" ngbDropdownToggle
              [title]="(!ticketList || ticketList?.length<=0)?'No entries found to download':'Download Entries'">
              <i aria-hidden="true" class="aip-led-icons icon x-24 download-icon"></i>
              <!-- <leds-progress-bar [value]="value" [bufferValue]="bufferValue" [color]="color" [mode]="mode"
                  (animationEnd)="onAnimationEnd($event)">
                  Progress {{value}}%
              </leds-progress-bar> -->
            </a>
            <div ngbDropdownMenu aria-labelledby="OverflowMenu_dd">
              <ul overflowList style="height: 30vh; overflow: auto;">
                <li overflowListItem>
                  <leds-checkbox [(ngModel)]="selectAllColsToDwnld" (change)="toggleSelectAllColsToDwnld()"
                    inputId="colToDwnld-selectnoneall">
                    <label for="colToDwnld-selectnoneall"
                      style="margin-left: 8px; margin-bottom: 0px; font-weight: 500; font-size: 14px; color: #333333;">{{colsToDownload.length==downloadcols.length
                      ? 'Select None' : 'Select All'}}</label>
                  </leds-checkbox>
                </li>

                <div *ngFor="let col of downloadcols">
                  <li overflowListItem>
                    <leds-checkbox name="colsToDwnld" [value]="col.field" [checked]="col.selected"
                      (change)="toggleSelectHeaderToDwnld(col.header)" inputId="colToDwnld-{{col.field}}">
                      <label for="colToDwnld-{{col.field}}"
                        style="margin-left: 8px; margin-bottom: 0px; font-weight: 500; font-size: 14px; color: #333333;">{{col.header}}</label>
                    </leds-checkbox>

                  </li>


                </div>
              </ul>
              <div class="container" style="margin-left: 2vh; margin-top: 1vh;"
                [ngStyle]="{'pointer-events': (colsToDownload.length==0) ? 'none' : 'auto'}">
                <leds-button nameText="primaryButton" idText="miniPrimaryButton" [disabled]="colsToDownload.length==0"
                  buttonType="button" designType="miniPrimary" (click)="download()">
                  Download
                </leds-button>
                <!-- <leds-button nameText="miniPrimaryButton" idText="miniPrimaryButton"
                      [disabled]="false" buttonType="button" designType="miniPrimary">
                      Cancel
                  </leds-button> -->
              </div>

            </div>
          </div>
        </leds-overflow>


        <leds-button nameText="miniPrimaryButton" idText="miniPrimaryButton" buttonType="button"
          designType="miniPrimary" (click)="terminateDownload()" *ngIf="downloading &amp;&amp; !bsyGtngDwnldCnt"
          title="Terminate Download">
          <span style="color: white;">{{downloadPercentage}} %</span>
        </leds-button>

        <div class="title-jobs selector-757-3">
          <leds-tooltip [tooltip]="'Refresh'" [position]="'above'" style="float: right;" class="py-4">
            <i style="font-size: 3vh; float: right;" class="aip-led-icons icon icon_Refresh x-24"
              (click)="onRefresh()"></i>
          </leds-tooltip>
        </div>
      </div>
    </div>
  </div>
  <div class="le-u-mar-t-16 mx-4 px-5 my-4 mt-0 aip-panel-shadow" style="background-color: white;">
    <leds-data-grid>
      <div class="le-c-datagrid__title-area clearfix">
        <!-- <leds-select
          designType="showBy"
          [(ngModel)]="selectedCandidate"
          [options]="candidates"
          label="Show By"
          class="float-end"
        ></leds-select> -->
      </div>
      <table dataGridTable>
        <thead>
          <tr>
            <th class="le-c-datagrid__th-sort" scope="col" (click)="setSortElement('jobid')">
              Job Id
              <span>
                <a href="javascript:void(0);" [class]="getSortClass('jobid')" title="Sort"></a>
              </span>
            </th>
            <th class="col-2 selector-771-77 pointer theader-border" (click)="setSortElement('alias')">
              Job Name
              <span>
                <a href="javascript:void(0);" [class]="getSortClass('alias')" title="Sort"></a>
              </span>
            </th>
            <th class="col-2 selector-771-78 pointer theader-border" (click)="setSortElement('submittedby')">
              Used by
              <span>
                <a href="javascript:void(0);" [class]="getSortClass('submittedby')" title="Sort"></a>
              </span>
            </th>
            <th class="col-2 selector-771-79 pointer theader-border" (click)="setSortElement('submittedon')">
              Submitted on
              <span>
                <a href="javascript:void(0);" [class]="getSortClass('submittedon')" title="Sort"></a>
              </span>
            </th>
            <th class="col-2 selector-771-7900 pointer theader-border" (click)="setSortElement('finishtime')">
              Finished on
              <span>
                <a href="javascript:void(0);" [class]="getSortClass('finishtime')" title="Sort"></a>
              </span>
            </th>
            <th class="col-1 selector-771-7900 pointer theader-border" (click)="setSortElement('runtime')">
              Runtime
              <span>
                <a href="javascript:void(0);" [class]="getSortClass('runtime')" title="Sort"></a>
              </span>
            </th>
            <th class="col-1 selector-771-80 pointer theader-border" (click)="setSortElement('jobstatus')">
              Status
              <span>
                <a href="javascript:void(0);" [class]="getSortClass('jobstatus')" title="Sort"></a>
              </span>
            </th>
            <th class="col-1 selector-771-82 theader-border">Logs</th>
          </tr>

          <tr class="selector-795-82" *ngIf="searchToggle">
            <th *ngFor="let col of cols;">
              <input style="width: 100%;" [(ngModel)]="searchInputFilter[col]" (keyup)="searchValueAdder($event,col)"
                (keydown.enter)="searchOnInput()" type="text" placeholder="Search by {{col}}"
                class="aip-dataset-table-view-input selector-795-85">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let job of jobsList; let i = index;">
            <td class="kk">
              {{job.jobid | slice : 0:8}}
            </td>
            <!-- <td class="kk">
              {{filterAlias(job.alias)}}
            </td> -->
            <td class="kk" style="cursor: pointer" (click)="navigate(job)">
              {{filterAlias(job.alias)}}
              <i *ngIf="job.jobtype=='pipeline' || job.jobtype=='chain' || job.jobtype=='agent' || (job.jobtype=='internal' && internaljobnames.includes(filterName(job.alias)))"
                class="fa fa-external-link selector-771-96 hovergrow" title="navigate" aria-hidden="true"></i>
              <div>
                <span *ngFor="let jobnametag of getjobnametags(job.jobmetadata, job.type)" [class]="jobnametag.color"
                  style="font-size: 9px !important;margin-left: 1px !important;margin-right: 1px !important;">
                  {{jobnametag.value}}
                </span>
              </div>
            </td>
            <td style="width:15%">
              <div>
                <div class="le-u-body-md le-u-text-black">{{job.submittedby}}</div>
                <div *ngIf="job.jobmetadata.tag == 'EVENT'" class="le-u-body-sm le-u-text-neutral-80 le-u-mar-t-4">
                  Event triggered
                </div>
                <div *ngIf="job.jobmetadata.tag != 'EVENT'" class="le-u-body-sm le-u-text-neutral-80 le-u-mar-t-4">
                  User triggered
                </div>
              </div>
            </td>
            <td style="font-size: 15px;">{{formatDate(job.submittedon)}}</td>
            <td style="font-size: 15px;">{{formatDate(job.finishtime)}}</td>
            <td class="kk">{{job.runtime}}</td>
            <td>
              <leds-badge *ngIf="job.jobstatus=='ERROR'" badgeType="error">{{job.jobstatus}}</leds-badge>
              <leds-badge *ngIf="job.jobstatus=='COMPLETED'" badgeType="active">{{job.jobstatus}}</leds-badge>
              <leds-badge *ngIf="job.jobstatus=='RUNNING'" badgeType="warning">{{job.jobstatus}}</leds-badge>
              <leds-badge *ngIf="job.jobstatus=='CANCELLED'" badgeType="error">{{job.jobstatus}}</leds-badge>
              <leds-badge *ngIf="job.jobStatus=='OPEN'" badgeType="warning">{{job.jobStatus}}</leds-badge>
            </td>
            <td>
              <leds-tooltip [tooltip]="'Log'" [position]="'above'">
                <leds-button nameText="logButton" idText="logButton" buttonType="button" designType="icon"
                  (click)="showConsole(job.jobid, job.runtime, job.jobstatus,job)">
                  <i class="icon x-24 icon-notepad" style="visibility: visible;"></i></leds-button>
              </leds-tooltip>
              <leds-tooltip [tooltip]="'Stop'" [position]="'above'">
                <leds-button *ngIf="job.jobStatus=='RUNNING' && job.jobmetadata!='CHAIN'" nameText="actionButton"
                  idText="actionButton" buttonType="button" designType="icon" (click)="stopJob(job.jobId)">
                  <i class="fa fa-stop x-8" style="visibility: visible;"></i></leds-button>
              </leds-tooltip>
            </td>
          </tr>
        </tbody>
      </table>
    </leds-data-grid>
    <div class="le-u-pad-b-16 d-flex justify-content-center">
      <leds-button nameText="textButton" idText="textButton" [disabled]="page==0" buttonType="button" designType="text"
        (click)="getJobs('First')">First
      </leds-button>
      <leds-button nameText="textButton" idText="textButton" [disabled]="page==0" buttonType="button" designType="text"
        (click)="getJobs('Prev')">&lt;&lt;&nbsp;Prev
      </leds-button>
      <leds-button nameText="textButton" idText="textButton" [disabled]="page==lastPage" buttonType="button"
        designType="text" (click)="getJobs('Next')">Next&nbsp;&gt;&gt;
      </leds-button>
      <leds-button nameText="textButton" idText="textButton" [disabled]="page==lastPage" buttonType="button"
        designType="text" (click)="getJobs('Last')">Last
      </leds-button>
    </div>
  </div>
</div>