.mat-mdc-form-field {
    width: 100%;
}

.mat-mdc-dialog-container {
    padding: 0px !important;
}

.extrapadding {
    padding: 20px !important;
}

.button-row button,
.button-row a {
    margin-right: 1vw;
}

::ng-deep  .mat-mdc-option {
    background-color: white !important;
    font-size: 2.3vh !important;
  }

::ng-deep .mat-mdc-select-min-line {
    font-size: 2.3vh !important;
}
.mat-label{
    margin-top: 1rem !important;
    /* margin-bottom: 1rem; */
    float: left !important;
    padding-bottom: 1rem !important;
}
.input{
    margin-top: 1rem!important;
}