<div class="container-fluid backgroud-color">
    <div class="le-l-level1-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-end ng-star-inserted le-u-pad-t-8" *ngIf="action==='edit'">
                    <button type="button" class="btn-close" aria-label="Close" (click)="closeAdapterPopup()">
                        <i class="icon x-16 close-icon"></i>
                    </button>
                </div>
                <div class="le-u-mar-b-32">
                    <div class="align-items-center d-flex">
                        <span class="mx-2 aip-cursor" *ngIf="action==='create'">
                            <i class="aip-led-icons icon x-24 back-icon" (click)="routeBackToAdapters()"></i>
                        </span>
                        <span *ngIf="action==='create'" class="le-u-mar-l-8 le-u-header-xxl">{{cardTitle}} -
                            Create</span>
                        <span *ngIf="action==='edit'" class="le-u-mar-l-8 le-u-header-xxl">{{cardTitle}} - Edit</span>
                    </div>

                    <div class="row le-u-mar-8 le-u-pad-t-16">
                        <div class="table-responsive selector-693-2">

                            <leds-input-field *ngIf="action==='create'" placeholder="Name" label="Name*"
                                [(ngModel)]="data.name" designType="default" inputType="text" [disabled]="false"
                                styleClass="" [validators]="nameValidator"
                                (changesOccur)="adapterNameChangesOccur($event)"></leds-input-field>
                            <mat-error *ngIf="!errMsgFlag && action==='create'" class="custom-hint">Please enter Name in
                                Alphanumeric
                                value,accepted
                                special characters are _ and -</mat-error>
                            <mat-error *ngIf="errMsgFlag && action==='create'"
                                class="custom-hint-or-error">{{errMsg}}</mat-error>

                            <leds-input-field *ngIf="action==='edit'" placeholder="Name" label="Name*"
                                [(ngModel)]="data.name" designType="readOnly" inputType="text" [disabled]="false"
                                [required]="true" styleClass=""></leds-input-field>
                            <mat-hint *ngIf="action==='edit'" class="custom-hint-or-error"></mat-hint>

                            <leds-textarea placeholder="Description" label="Description" [(ngModel)]="data.description"
                                designType="default" inputType="text" [disabled]="false"
                                [required]="false"></leds-textarea>
                            <mat-hint class="custom-hint-or-error"></mat-hint>

                            <leds-select *ngIf="connectionPromise|async" [options]="connectionOptions" label="Select Connection"
                                [(ngModel)]="data.connectionname" [required]="true" [disabled]="false"
                                designType="default" [isMultiple]="false"
                                (selectChange)="connectionNameSelectChange($event)"></leds-select>
                            <mat-hint *ngIf="data.connectionname" class="custom-hint-or-error"></mat-hint>
                            <mat-error *ngIf="!data.connectionname" class="custom-hint-or-error">Connection is required
                                field.</mat-error>

                            <leds-select *ngIf="action==='create'" [options]="specTemplatesOptions"
                                label="Select Spec" [(ngModel)]="data.spectemplatedomainname" [required]="true"
                                [disabled]="false" designType="default" [isMultiple]="false"></leds-select>
                            <mat-hint *ngIf="data.spectemplatedomainname" class="custom-hint-or-error"></mat-hint>
                            <mat-error *ngIf="!data.spectemplatedomainname" class="custom-hint-or-error">Spec is
                                required
                                field.</mat-error>

                            <leds-select *ngIf="action==='edit'" [options]="specTemplatesOptions"
                                label="Select Spec" [(ngModel)]="data.spectemplatedomainname" [required]="true"
                                [disabled]="true" designType="default" [isMultiple]="false"></leds-select>
                            <mat-hint *ngIf="action==='edit'" class="custom-hint-or-error"></mat-hint>
                            
                            <leds-checkbox  [checked]="isChain" 
                            [(ngModel)]="isChain" (click)="toggleChain()"
                            class="selector-690-41">is Chain?</leds-checkbox>
                            <div *ngIf="isChain">
                            <leds-select *ngIf="chainPromise|async" [options]="chainOptions" label="Select Chain"
                                [(ngModel)]="chainSelected" [required]="true" [disabled]="false"
                                designType="default" [isMultiple]="false"
                                (selectChange)="chainNameSelectChange($event)"></leds-select>
                            <mat-hint *ngIf="data.chainname" class="custom-hint-or-error"> </mat-hint>
                            <mat-error *ngIf="chainError" class="custom-hint-or-error">Chain name is required
                                field.</mat-error> 
                            </div>
                            </div>
                    </div>
                    <div *ngIf="action==='create'"
                        class="m-2 d-flex justify-content-end ng-star-inserted le-u-pad-t-8 le-u-pad-r-8">
                        <leds-button
                        *ngIf="!nameFlag || !createAuth || !data.connectionname || !data.spectemplatedomainname || (data.isChain? !data.chainName : false)"
                            nameText="secondaryButton" idText="secondaryButton" [disabled]="true" buttonType="button"
                            designType="primary">
                            Create
                        </leds-button>
                        <leds-button
                            *ngIf="nameFlag && createAuth && data.connectionname && data.spectemplatedomainname && (data.isChain? data.chainName : true)"
                            nameText="secondaryButton" idText="secondaryButton" [disabled]="false" buttonType="button"
                            designType="primary" (click)="createAdapter()">
                            Create
                        </leds-button>
                    </div>
                    <div *ngIf="action==='edit'"
                        class="d-flex justify-content-end ng-star-inserted le-u-pad-t-8 le-u-pad-r-8">
                        <leds-button nameText="secondaryButton" idText="secondaryButton" [disabled]="false"
                            buttonType="button" designType="primary" (click)="updateAdapter()">
                            Update
                        </leds-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>