.pivot-table-container {
    ::ng-deep {
      
      .p-table .p-table-thead>tr>th {
        font-size: calc(11px + var(--font-size-delta));
      }
  
  
      tr>th {
        // font-size: calc(11px + var(--font-size-delta));
        // padding: 5px;
        // border: 1px solid #c8c8c8;
        // font-weight: 700;
        // background-color: #f4f4f4;
        // //test
        // word-break: break-all;
        word-break: normal; /* reset the word-break property */
        white-space: nowrap; /* add this if you want the content to stay on one line */
        overflow: hidden; /* add this to hide overflow */
        /* or */
        word-wrap: break-word;
  
      }
  
      // .p-table .p-table-thead > tr > th{
      //   background-color: #f4f4f4;
      //   color: #333333;
      // }
  
  
    }
  
    .all-headers {
      background-color: #f4f4f4;
      color: #333333;
    }
  
    .row-attribute-header {
      background-color: #d8dae2;
      color: #333333;
    }
  
    .row-attribute-values {
      background-color: #d8dae2;
      font-weight: 500;
      color: #333333;
    }
    .empty-header-cell{
      background-color: #ffffff;
    } 
    .loading-text {
      display: block;
      background-color: #f1f1f1;
      min-height: 19px;
      animation: pulse 1s infinite ease-in-out;
      text-indent: -99999px;
      overflow: hidden;
  }
  
  }
  ::ng-deep .p-datatable-wrapper{
    max-height: calc(-390px + 115vh) !important;
  }
  ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #8626c3 !important;
    border-color: #8626c3 !important;
    color: #ffffff !important;
}
