<div class="main-container">
    <div class="d-flex" style="justify-content: space-between;">
        <div class="align-items-center d-flex">
            <span class="" style="cursor: pointer;">
                <i class="aip-led-icons icon x-24 back-icon" (click)="routeBackToPromptList()"></i>
            </span>
            <span *ngIf="isEdit" class="le-u-mar-l-8 le-u-header-xxl">Edit Prompt: {{data?.alias | titlecase}} </span>
            <span *ngIf="!isEdit" class="le-u-mar-l-8 le-u-header-xxl">View Prompt: {{data?.alias | titlecase}} </span>
        </div>
    </div>
    <div class="d-flex le-u-pad-lr-8 le-u-pad-t-8 le-u-pad-b-16" style="justify-content: center;height: 100%;">
        <div #outerDiv class="col-md-4 le-u-pad-16 le-u-mar-r-8 aip-scroll-hover pannel-shadow">
            <!-- <leds-accordion designType="3D" [hideToggle]="false" [multi]="false" class="aip-w-96 le-u-pad-l-16"> -->
            <div class="aip-scroll-hover" style="max-height: 60vh;">
                <mat-expansion-panel [(expanded)]="panel1Expanded" (opened)="onPanelOpened(1)"
                    style="box-shadow: none;">
                    <!-- <mat-expansion-panel-header class="prompt-custom-expansion-header" [collapsedHeight]="'40px'"
                        [expandedHeight]="'40px'">
                        <mat-panel-title>
                            <span class="le-u-mar-l-8 le-u-header-xl" style="color: #555555;">Templates</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header> -->
                    <div id="tempDiv" class="aip-scroll-hover" style="height: -webkit-fill-available;">
                        <!-- <span class="le-u-mar-l-8 le-u-header-xl" style="color: #555555;">Templates</span> -->
                        <div class="">
                            <div #targetContainer>
                            </div>
                        </div>
                        <div *ngIf="isEdit" class="le-u-pad-lr-16 le-u-pad-tb-4">
                            <leds-button nameText="miniSecondaryButton" idText="miniSecondaryButton" [disabled]="false"
                                buttonType="button" designType="miniSecondary" (click)="addTemplate()">
                                + Add Message
                            </leds-button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>
            <mat-expansion-panel [(expanded)]="panelInputsExpanded" (opened)="onPanelOpened('inputs')"
                style="box-shadow: none;">
                <mat-expansion-panel-header class="prompt-custom-expansion-header" [collapsedHeight]="'40px'"
                    [expandedHeight]="'40px'">
                    <mat-panel-title>
                        <span class="le-u-mar-l-8 le-u-header-xl" style="color: #555555;">Inputs</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="">
                    <form [formGroup]="pluginForm" class="">
                        <div formArrayName="inputs">
                            <div *ngFor="let k of formKeys; let i = index">
                                <div class="table-responsive">
                                    <div class="le-u-body-md"
                                        *ngFor="let att of pluginForm.controls[k].controls; let l=index"
                                        [formGroupName]="l">
                                        <div class="tile align-items-center le-u-mar-lr-16 le-u-pad-t-16">
                                            <!-- <h3 class="le-u-body-lg le-u-pad-r-8 le-u-pad-tb-8"
                                                style="color: #73738c;font-weight: bold;" formControlName="name">
                                                {{att.controls.name.value}}</h3>
                                            <textarea [placeholder]="'Enter default value'" formControlName="name_value"
                                                class="aip-scroll-hover le-u-pad-8 pannel-shadow contenteditable-div input-text-style"
                                                rows="4" cols="26" (input)="adjustTextareaHeight($event)"
                                                style="width: -webkit-fill-available;"></textarea> -->
                                            <h3 class="le-u-body-lg le-u-pad-r-8 le-u-pad-tb-8"
                                                style="color: #73738c;font-weight: bold;">
                                                {{att.controls.name.value}}</h3>
                                            <textarea [placeholder]="'Enter default value'" formControlName="name_value"
                                                class="aip-scroll-hover le-u-pad-8 pannel-shadow contenteditable-div input-text-style"
                                                rows="4" cols="26" (input)="adjustTextareaHeight($event)"
                                                style="width: -webkit-fill-available;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="isEdit" class="le-u-pad-lr-32 le-u-pad-tb-16">
                                    <leds-button nameText="miniSecondaryButton" idText="miniSecondaryButton"
                                        [disabled]="false" buttonType="button" designType="miniSecondary"
                                        (click)="add('inputs',pluginForm)">
                                        + Add Input
                                    </leds-button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-expansion-panel>
            <!-- </leds-accordion> -->
            <!-- <leds-accordion designType="3D" [hideToggle]="false" [multi]="false" class="aip-w-96 le-u-pad-l-16"> -->

            <!-- </leds-accordion> -->
        </div>
        <div class="col-md-5 le-u-pad-16 le-u-mar-r-8 aip-scroll-hover pannel-shadow">
            <div class="" #innerDiv>
                <mat-expansion-panel [expanded]="panel2Expanded" (opened)="onPanelOpened(2)" style="box-shadow: none;">
                    <mat-expansion-panel-header class="prompt-custom-expansion-header" [collapsedHeight]="'40px'"
                        [expandedHeight]="'40px'">
                        <mat-panel-title>
                            <span class="le-u-mar-l-8 le-u-header-xl" style="color: #555555;">Examples</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- <div *ngIf="json_content?.examples.length > 0" id="exampleDiv" class="aip-scroll-hover"
                        style="height: -webkit-fill-available;"> -->
                    <div id="exampleDiv" class="aip-scroll-hover" style="height: -webkit-fill-available;">
                        <div class="aip-scroll-hover">
                            <form [formGroup]="examplesForm">
                                <div formArrayName="examples">
                                    <div class="le-u-body-md sub-main-container">
                                        <div class="table-responsive"
                                            *ngIf="examplesForm.controls.examples.value.length > 0">
                                            <div *ngFor="let example of examplesForm.controls.examples.controls; let i = index"
                                                [formGroupName]="i">
                                                <mat-expansion-panel [(expanded)]="expandedPanels[i]"
                                                    (opened)="onExamplePanelOpened(i)"
                                                    class="pannel-shadow le-u-mar-b-8" style="box-shadow: none;">
                                                    <mat-expansion-panel-header class="prompt-custom-expansion-header"
                                                        [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                                                        <mat-panel-title>
                                                            <span class="le-u-pad-tb-8 le-u-pad-l-8 le-u-body-lg"
                                                                style="white-space: nowrap; color: #73738c;font-weight: bold;">Example:{{i+1}}</span>
                                                        </mat-panel-title>
                                                        <div class="d-flex align-items-center">
                                                            <leds-tooltip *ngIf="isEdit" class="aip-w-2"
                                                                [tooltip]="'Remove'" [position]="'above'"
                                                                style="padding-top: 5px;">
                                                                <i class="le-u-mar-r-8 icon delete-sm-icon x-20"
                                                                    (click)="removeExample(i)"></i>
                                                            </leds-tooltip>
                                                            <leds-tooltip [tooltip]="'Start'" [position]="'right'">
                                                                <i class="le-u-mar-r-16 icon video-icon "
                                                                    style="font-size: 16px;"
                                                                    (click)="playExample(example)"></i>
                                                            </leds-tooltip>
                                                            <leds-tooltip [tooltip]="'Configuration'"
                                                                [position]="'right'" style="float:right;">
                                                                <i class="le-u-pad-r-32  aiworker-aip-led-icons icon x-16 icon_setting"
                                                                    style="font-size: 16px;"
                                                                    (click)="open1(validConfig, example)"></i>
                                                            </leds-tooltip>
                                                        </div>
                                                    </mat-expansion-panel-header>
                                                    <div formArrayName="inputs">
                                                        <div *ngFor="let input of example.get('inputs').controls; let j = index"
                                                            [formGroupName]="j">
                                                            <div
                                                                class="tile align-items-center le-u-mar-lr-32 le-u-mar-b-8 pannel-shadow">
                                                                <!-- <h3 class="le-u-body-md le-u-pad-8 temp-example-label temp-example-text"
                                                                    formControlName="name">
                                                                    {{input.controls.name.value}}</h3>
                                                                <p class="le-u-body-md le-u-pad-8 temp-example-text"
                                                                    formControlName="name_value">
                                                                    {{input.controls.name_value.value}}</p> -->
                                                                <h3
                                                                    class="le-u-body-md le-u-pad-8 temp-example-label temp-example-text">
                                                                    {{input.controls.name.value}}</h3>
                                                                <p class="le-u-body-md le-u-pad-8 temp-example-text">
                                                                    {{input.controls.name_value.value}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div formArrayName="outputs">
                                                        <div *ngIf="example.get('outputs').controls"
                                                            class="tile align-items-center le-u-mar-lr-32 le-u-mar-b-8 le-u-mar-tb-16 pannel-shadow">
                                                            <h3
                                                                class="le-u-body-md le-u-pad-8 temp-example-label temp-example-text">
                                                                Output</h3>
                                                            <p class="contenteditable-div le-u-body-md le-u-pad-8 temp-example-text"
                                                                style="background-color: aliceblue;">
                                                                {{example.get('outputs').controls.output.value}}</p>

                                                        </div>
                                                    </div>
                                                </mat-expansion-panel>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>

            <div class="div-separator"></div>
            <div class="try-it-out-container" style="max-height: 50vh;">
                <div class="d-flex le-u-pad-t-8" style="justify-content: space-between;">
                    <span class="le-u-mar-l-16 le-u-header-xl" style="color: #555555;">Try It Out</span>
                    <span *ngIf="provider" class="le-u-mar-l-32 le-u-pad-t-4 le-u-body-md prompt-model"
                        style="color: #73738c; font-weight: bold;">{{provider}}</span>
                </div>
                <div *ngIf="!output" class="contenteditable-div output-text op-mar">
                    Click on START to get the output...
                </div>
                <div *ngIf="output" class="contenteditable-div output-text op-mar">
                    <p>{{output}}</p>
                </div>
                <div class="le-u-pad-lr-32 le-u-pad-tb-16 d-flex">
                    <leds-button nameText="miniPrimaryButton" idText="miniPrimaryButton" [disabled]="false"
                        buttonType="button" designType="miniPrimary" (click)="start()">
                        START
                    </leds-button>
                    <leds-button nameText="miniPrimaryButton" idText="miniPrimaryButton" [disabled]="false"
                        buttonType="button" designType="miniPrimary" (click)="addExample(pluginForm)">
                        Save As Example
                    </leds-button>
                </div>
            </div>
        </div>
        <div class="col-md-3 le-u-pad-16 aip-scroll-hover pannel-shadow">
            <div class="">
                <div class="le-u-pad-t-8">
                    <span class="le-u-mar-l-16 le-u-header-xl" style="color: #555555;">Configuration</span>
                </div>
                <div class="le-u-pad-lr-16 le-u-pad-t-16">
                    <span class="le-u-body-md le-u-pad-t-24 le-u-pad-r-16"
                        style="color: #73738c;font-weight: bold;">Provider</span>
                    <leds-select [options]="finalProviderList" [label]="''" [designType]="'default'"
                        [selected]="main_provider" [(ngModel)]="main_provider"
                        (selectChange)="selectChange($event)"></leds-select>

                </div>
                <div class="le-u-pad-lr-16">
                    <div class="d-flex config-value-position le-u-pad-t-24 le-u-pad-r-16">
                        <span class="le-u-body-md" style="color: #73738c;font-weight: bold;">Maximum Length</span>
                        <div class="le-u-body-md le-u-pad-4 pannel-shadow">{{tokens}}</div>
                    </div>
                    <!-- <span class="le-u-body-md le-u-pad-t-24 le-u-pad-r-16"
                        style="color: #73738c;font-weight: bold;">Maximum Length</span> -->
                    <ngx-slider class="le-u-pad-b-32 config-slider-margin" [(ngModel)]="tokens"
                        (valueChange)="changesOccurTokens($event)" [options]="loptions"></ngx-slider>
                    <!-- <leds-slider class="config-slider-margin" [value]="100"
                        [options]=""
                        (valueChange)="changesOccurTokens($event)"
                        style=" width: -webkit-fill-available; margin-top: -10px;"></leds-slider> -->
                </div>
                <div class="le-u-pad-lr-16 le-u-pad-t-16">
                    <div class="d-flex config-value-position le-u-pad-t-24 le-u-pad-r-16">
                        <span class="le-u-body-md le-u-pad-t-24 le-u-pad-r-16"
                            style="color: #73738c;font-weight: bold;">Temperature</span>
                        <div class="le-u-body-md le-u-mar-t-16 le-u-pad-4 pannel-shadow">{{temperature}}</div>
                    </div>
                    <ngx-slider class="le-u-pad-b-32 config-slider-margin" [(ngModel)]="temperature"
                        (valueChange)="changesOccurTemperature($event)" [options]="toptions"></ngx-slider>

                    <!-- <leds-slider class="config-slider-margin" [value]="0.5"
                        [options]="{floor: 0, ceil: 2, showTicks: true, showTicksValues: true, tickStep: 0.5, showSelectionBar: true, ariaLabel: 'SliderDiscrete_min', ariaLabelHigh: 'SliderDiscrete_max', ariaLabelledBy: 'slider_s1', ariaLabelledByHigh: 'slider_s1'}"
                        (valueChange)="changesOccurTemperature($event)"
                        style=" width: -webkit-fill-available; margin-top: -10px;"></leds-slider> -->
                </div>
                <div class="le-u-pad-lr-16 le-u-pad-t-16">
                    <div class="d-flex config-value-position le-u-pad-t-24 le-u-pad-r-16">
                        <span class="le-u-body-md le-u-pad-t-24 le-u-pad-r-16"
                            style="color: #73738c;font-weight: bold;">Top
                            P</span>
                        <div class="le-u-body-md le-u-mar-t-16 le-u-pad-4 pannel-shadow">{{top_p}}</div>
                    </div>
                    <ngx-slider class="le-u-pad-b-32 config-slider-margin" [(ngModel)]="top_p"
                        (valueChange)="changesOccurTopP($event)" [options]="tpoptions"></ngx-slider>

                    <!-- <leds-slider class="config-slider-margin" [value]="0.5"
                        [options]="{floor: 0, ceil: 2, showTicks: true, showTicksValues: true, tickStep: 0.5, showSelectionBar: true, ariaLabel: 'SliderDiscrete_min', ariaLabelHigh: 'SliderDiscrete_max', ariaLabelledBy: 'slider_s1', ariaLabelledByHigh: 'slider_s1'}"
                        (valueChange)="changesOccurTopP($event)"
                        style=" width: -webkit-fill-available; margin-top: -10px;"></leds-slider> -->
                </div>
                <div class="le-u-pad-lr-16 le-u-pad-t-16">
                    <div class="d-flex config-value-position le-u-pad-t-24 le-u-pad-r-16">
                        <span class="le-u-body-md le-u-pad-t-24 le-u-pad-r-16"
                            style="color: #73738c;font-weight: bold;">Presence Penalty</span>
                        <div class="le-u-body-md le-u-mar-t-16 le-u-pad-4 pannel-shadow">{{presence_penalty}}</div>
                    </div>
                    <ngx-slider class="le-u-pad-b-32 config-slider-margin" [(ngModel)]="presence_penalty"
                        (valueChange)="changesOccurPresencePenalty($event)" [options]="ppoptions"></ngx-slider>

                    <!-- <leds-slider class="config-slider-margin" [value]="0.5"
                        [options]="{floor: 0, ceil: 2, showTicks: true, showTicksValues: true, tickStep: 0.5, showSelectionBar: true, ariaLabel: 'SliderDiscrete_min', ariaLabelHigh: 'SliderDiscrete_max', ariaLabelledBy: 'slider_s1', ariaLabelledByHigh: 'slider_s1'}"
                        (valueChange)="changesOccurPresencePenalty($event)"
                        style=" width: -webkit-fill-available; margin-top: -10px;"></leds-slider> -->
                </div>
                <div class="le-u-pad-lr-16 le-u-pad-t-16">
                    <div class="d-flex config-value-position le-u-pad-t-24 le-u-pad-r-16">
                        <span class="le-u-body-md le-u-pad-t-24 le-u-pad-r-16"
                            style="color: #73738c;font-weight: bold;">Frequency Penalty</span>
                        <div class="le-u-body-md le-u-mar-t-16 le-u-pad-4 pannel-shadow">{{frequency_penalty}}</div>
                    </div>
                    <ngx-slider class="le-u-pad-b-32" [(ngModel)]="frequency_penalty"
                        (valueChange)="changesOccurFrequencyPenalty($event)" [options]="fpoptions"></ngx-slider>

                    <!-- <leds-slider class="config-slider-margin" [value]="0.5"
                        [options]="{floor: 0, ceil: 2, showTicks: true, showTicksValues: true, tickStep: 0.5, showSelectionBar: true, ariaLabel: 'SliderDiscrete_min', ariaLabelHigh: 'SliderDiscrete_max', ariaLabelledBy: 'slider_s1', ariaLabelledByHigh: 'slider_s1'}"
                        (valueChange)="changesOccurFrequencyPenalty($event)"
                        style=" width: -webkit-fill-available; margin-top: -10px;"></leds-slider> -->
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #validConfig let-modal>
    <div class="sub-main-container">
        <div class="d-flex justify-content-between align-items-center">
            <span class="le-u-mar-l-16 le-u-header-xl" style="color: #555555;">Configuration</span>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <i class="icon x-16 close-icon"></i>
            </button>
        </div>
        <div class="aip-scroll-hover" style="max-height: 400px;"> <!-- Added aip-scroll-hover class and max-height -->
            <div class="le-u-pad-lr-16 le-u-pad-t-16 d-flex">
                <span class="le-u-body-md le-u-pad-t-24 le-u-pad-r-16"
                    style="color: #73738c;font-weight: bold;">Provider:</span>
                <!-- <leds-select [options]="configlist" [label]="''" [designType]="'default'"
            [selected]="configlist[0].value" ></leds-select> -->
                <span class="le-u-body-md le-u-pad-t-24 le-u-pad-r-16"
                    style="color: #73738c;font-weight: bold;">{{exampleProvider}}</span>

            </div>
            <div class="le-u-pad-lr-16">
                <div class="d-flex config-value-position le-u-pad-t-24 le-u-pad-r-16">
                    <span class="le-u-body-md" style="color: #73738c;font-weight: bold;">Maximum Length</span>
                    <div class="le-u-body-md le-u-pad-4 pannel-shadow">{{selectedExampleConfig?.tokens}}</div>
                </div>
                <ngx-slider class="le-u-pad-b-32 config-slider-margin" [value]="selectedExampleConfig?.tokens"
                    [options]="loptions"></ngx-slider>
            </div>
            <div class="le-u-pad-lr-16 le-u-pad-t-16">
                <div class="d-flex config-value-position le-u-pad-t-24 le-u-pad-r-16">
                    <span class="le-u-body-md le-u-pad-t-24 le-u-pad-r-16"
                        style="color: #73738c;font-weight: bold;">Temperature</span>
                    <div class="le-u-body-md le-u-mar-t-16 le-u-pad-4 pannel-shadow">
                        {{selectedExampleConfig?.temperature}}
                    </div>
                </div>
                <ngx-slider class="le-u-pad-b-32 config-slider-margin" [value]="selectedExampleConfig?.temperature"
                    [options]="toptions"></ngx-slider>
            </div>
            <div class="le-u-pad-lr-16 le-u-pad-t-16">
                <div class="d-flex config-value-position le-u-pad-t-24 le-u-pad-r-16">
                    <span class="le-u-body-md le-u-pad-t-24 le-u-pad-r-16" style="color: #73738c;font-weight: bold;">Top
                        P</span>
                    <div class="le-u-body-md le-u-mar-t-16 le-u-pad-4 pannel-shadow">{{selectedExampleConfig?.top_p}}
                    </div>
                </div>
                <ngx-slider class="le-u-pad-b-32 config-slider-margin" [value]="selectedExampleConfig?.top_p"
                    [options]="tpoptions"></ngx-slider>
            </div>
            <div class="le-u-pad-lr-16 le-u-pad-t-16">
                <div class="d-flex config-value-position le-u-pad-t-24 le-u-pad-r-16">
                    <span class="le-u-body-md le-u-pad-t-24 le-u-pad-r-16"
                        style="color: #73738c;font-weight: bold;">Presence Penalty</span>
                    <div class="le-u-body-md le-u-mar-t-16 le-u-pad-4 pannel-shadow">
                        {{selectedExampleConfig?.presence_penalty}}</div>
                </div>
                <ngx-slider class="le-u-pad-b-32 config-slider-margin" [value]="selectedExampleConfig?.presence_penalty"
                    [options]="ppoptions"></ngx-slider>
            </div>
            <div class="le-u-pad-lr-16 le-u-pad-t-16">
                <div class="d-flex config-value-position le-u-pad-t-24 le-u-pad-r-16">
                    <span class="le-u-body-md le-u-pad-t-24 le-u-pad-r-16"
                        style="color: #73738c;font-weight: bold;">Frequency Penalty</span>
                    <div class="le-u-body-md le-u-mar-t-16 le-u-pad-4 pannel-shadow">
                        {{selectedExampleConfig?.frequency_penalty}}</div>
                </div>
                <ngx-slider class="le-u-pad-b-32" [value]="selectedExampleConfig?.frequency_penalty"
                    [options]="fpoptions"></ngx-slider>
            </div>
        </div>
        <!-- <div class="d-flex justify-content-end">
        <leds-button designType="miniPrimary" class="le-u-mar-r-8" buttonType="button"
            (click)="modal.dismiss('Cross click')">
            Save
        </leds-button>
    </div> -->
    </div>
</ng-template>