<div class="le-u-mar-b-24__mb">
    <div class="d-flex justify-content-between align-items-center px-4">
        <div class="align-items-center d-flex le-u-pad-t-16">
            <h2 *ngIf="tab!='View'" style="color:var(--base-color)">Enchrinchment Data View : {{tab}}
            </h2>
            <h2 *ngIf="tab=='View'" style="color:var(--base-color)">Document View : {{datasetName}}
            </h2>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
                <i class="icon x-16 close-icon"></i>
            </button>
        </div>
    </div>
    <div class="le-u-pad-t-32 le-u-pad-lr-24">
        <div *ngIf="tab=='View'">
            <!-- <div panelBody> -->
                <div *ngIf="view=='GIT View'">
                    <app-viewer-folder *ngIf="datasetData && !isEmptyArray(datasetData)" [AnnotateFlag]="AnnotateFlag"
                        [ResponseList]="datasetData" [cardData]="dataset" [path]="this.fileName"
                        (refresh)="getActions()" [datasetId]="dataset.name"></app-viewer-folder>
                    <div *ngIf="!datasetData && !datasetDataErr">
                        <leds-card>
                            <div class="d-flex justify-content-center align-items-center flex-column">
                                <img src="assets/images/aip_loader_image_leds.svg" alt="Loading"
                                    style="margin-bottom: 8px;" />
                                <b class="m-2">Patience is a virtue!</b>
                                <b>Hang tight while we load the results...</b>
                                <br>
                                <leds-spinner bdColor="#EFEFEF" [size]="'default'" [zIndex]="0" [color]="'#8626c3'"
                                    [type]="'ball-pulse-sync'" [fullScreen]="false" [showSpinner]="true">
                                </leds-spinner>
                            </div>
                        </leds-card>
                    </div>
                    <div *ngIf="datasetDataErr">
                        <leds-card>
                            <div class="d-flex justify-content-center align-items-center flex-column"><b>{{
                                    datasetDataErr
                                    }}</b></div>
                        </leds-card>
                    </div>
                    <div class="row mt-4 le-u-mar-16" *ngIf="datasetData && isEmptyArray(datasetData)">
                        <div class="d-flex justify-content-center align-items-center flex-column"><b>No data available.
                                Please click on “Clone Repo” to clone the repository.</b></div>
                    </div>
                </div>
                <div *ngIf="view=='Doc View'">
                    <leds-panel *ngIf="dataDoc" style="height: 50%;">
                        <quill-view-html [content]="htmlstring" theme="snow"></quill-view-html>
                    </leds-panel>
                    <div *ngIf="!dataDoc">
                        <leds-card>
                            <div  class="d-flex justify-content-center align-items-center flex-column">
                                <leds-spinner bdColor="#EFEFEF" [size]="'default'" [zIndex]="0" [color]="'#8626c3'" [type]="'ball-pulse-sync'"
                                    [fullScreen]="false" [showSpinner]="true">
                                </leds-spinner>
                            </div>
                        </leds-card>
                    </div>
                </div>
            <!-- </div> -->
        </div>
        <div *ngIf="tab!='View'">
            <div *ngIf="loadingPageForSpinner">
                <leds-card>
                    <leds-spinner [bdColor]="'#ffffff'" [size]="'default'" [color]="'#8626c3'" [type]="'ball-spin'"
                        [fullScreen]="false" [showSpinner]="loadingPageForSpinner">
                        <p> Loading..</p>
                    </leds-spinner>
                </leds-card>
            </div>
            <div *ngIf="!loadingPageForSpinner">
                <div class="le-u-mar-b-24__mb">
                    <div class="d-flex justify-content-between align-items-center px-4">
                    </div>
                </div>
                <leds-select *ngIf="tab == 'Translation'" style="text-align-last: end;" [options]="langOption"
                    [(ngModel)]="language" [designType]="'withBg'" (selectChange)="onLanguageChange($event)">
                </leds-select>
                <pre style="white-space:break-spaces">{{fileData}}</pre>
            </div>
        </div>
    </div>
</div>