.expand-title{
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin: 24px;
}

.content-header{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.icons-group{
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin: 24px;
}

.list-entry{
    color: #7B39B1;
    margin: 10px;
    cursor: pointer;
}

.list-group{
    padding: 24px 0px 24px 24px;
}

.list-title{
    color: #737373;
    margin: 16px 0px 16px 0px;
}

.spinner{
    position: relative;
    margin-top: 5%;
}

.cursor-pointer{
    cursor: pointer;
}

.title-chip{
    margin-left: 20px;
}

.text-break-width{
    max-width: 100px;
    word-wrap: break-word;
}

.thbold {
    font-weight: bold;
}