<div>
    <div *ngIf="isExpanded" class="aip-scroll-hover aip-filter aip-filter-position list-group">
        <leds-select [options]="moduleList" [label]="'Select Module'" [hint]="'Select Module'" [designType]="'default'"
            [isMultiple]="false" [selected]="selectedModule" (selectChange)="moduleChange($event)">
        </leds-select>
        <h4 *ngFor="let item of selectedModule" class="list-entry" (click)="openDetailedRating(item)">{{item.alias}}
        </h4>
    </div>
    <div id="mainrightCnt" [ngStyle]="toggler(isExpanded)">
        <div class="content-header">
            <div class="expand-title">
                <leds-tooltip [tooltip]="'Back'" [position]="tooltip">
                    <i class="icon x-24 back-icon cursor-pointer" (click)="back()"></i>
                </leds-tooltip>
                <leds-tooltip [tooltip]="isExpanded?'Collapse Filters':'Expand Filters'" [position]="tooltip">
                    <i class="icon x-24 filter-icon cursor-pointer" (click)="toggleExpand()"></i>
                </leds-tooltip>
                <div>
                    <h3 class="le-u-header-xl">{{cardTitle}}</h3>
                </div>
            </div>
        </div>
        <div>
            <div class="le-u-mar-t-16 mx-4 px-5 my-4 mt-0 aip-panel-shadow"
                style="background-color: white; overflow-y: auto;">
                <leds-data-grid>
                    <div class="le-c-datagrid__title-area clearfix">
                    </div>
                    <table dataGridTable>
                        <thead>
                            <!-- <tr>
                                <th colspan="4">Rating details</th>
                                <th colspan="2">Your Rating</th>
                            </tr> -->
                            <tr>
                                <th class="thbold">Id</th>
                                <th class="thbold">Module</th>
                                <th class="thbold">Element Name</th>
                                <th class="thbold">Avg Rating</th>
                                <th class="thbold">Your Rating</th>
                                <th class="thbold">Your Feedback</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rate of ratingResult; let i = index;">
                                <td>{{rate.id}}</td>
                                <td>{{rate.module}}</td>
                                <td>{{rate.elementAlias}}</td>
                                <td>
                                    <leds-tooltip *ngFor="let i of iconIterations, let index=index" [position]="'above'"
                                        [tooltip]="rate.avgRating">
                                        <span class="aip-cursor">
                                            <i *ngIf="index+1>rate.avgRating" class="icon x-16 star-icon"
                                                style="visibility: visible;"></i>
                                            <i *ngIf="index+1<rate.avgRating || index+1 ==rate.avgRating"
                                                class="icon x-16 icon-star_filled yellow"
                                                style="visibility: visible;"></i>
                                        </span>
                                    </leds-tooltip>
                                </td>
                                <td>
                                    <leds-tooltip *ngFor="let i of iconIterations, let index=index" [position]="'above'"
                                        [tooltip]="rate.rating">
                                        <span class="aip-cursor">
                                            <i *ngIf="index+1>rate.rating" class="icon x-16 star-icon"
                                                style="visibility: visible;"></i>
                                            <i *ngIf="index+1<rate.rating || index+1 ==rate.rating"
                                                class="icon x-16 icon-star_filled yellow"
                                                style="visibility: visible;"></i>
                                        </span>
                                    </leds-tooltip>
                                </td>
                                <td>{{rate.feedback}}</td>
                            </tr>
                        </tbody>
                    </table>
                </leds-data-grid>
                <div class="le-u-pad-b-0 d-flex justify-content-center" style="margin-bottom: 50px;">
                    <mat-paginator [length]="ratingCount" [pageSize]="size" [pageIndex]="pageNumber-1"
                        (page)="pageChanged($event)"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>