<!--

     @ 2018 Infosys Limited, Bangalore, India. All Rights Reserved.
     Version: 1.0
     Except for any free or open source software components embedded in this Infosys proprietary software program (Program),
     this Program is protected by copyright laws, international treaties and  other pending or existing intellectual property
     rights in India, the United States, and other countries. Except as expressly permitted, any unauthorized reproduction, storage,
     transmission in any form or by any means(including without limitation electronic, mechanical, printing, photocopying,
     recording, or otherwise), or any distribution of this program, or any portion of it, may result in severe civil and
     criminal penalties, and will be prosecuted to the maximum extent possible under the law.

-->
<div class="pipeline-right-section selector-757-1" style="padding:0.5%">
    <div class="pipeline-card-detail selector-757-2">
      <div class="title-jobs selector-757-3">Total Jobs : {{totalJobs}}
        <leds-tooltip  [tooltip]="'Refresh'" [position]="'above'">
          <i style="font-size: 3vh; float: right;" class="aip-led-icons icon icon_Refresh x-24" (click)="onRefresh()"></i>
        </leds-tooltip>
        <!-- <span style="font-size: 3vh; float: right;" class="selector-757-4">
          <a href="javascript:void(0);" class="fa fa-refresh selector-757-5" (click)="onRefresh()" title="Refresh"></a>
        </span> -->
      </div>
      <div class="tab-content no-gutter selector-757-6">
        <div class="tab-pane fade in show active selector-757-7">
          <p-table #dt="" [value]="jobsList" resizableColumns="true" class="selector-757-7" style="line-height: 2rem;">
            <ng-template pTemplate="header" class="selector-757-9">
              <tr class="selector-757-10">
                <th width="12%" class="selector-757-11  theader-border">Job Id</th>
                <th width="19%" class="selector-757-12  theader-border">Used by</th>
                <th width="19%" class="selector-757-13 theader-border">Submitted on</th>
                <th width="19%" class="selector-757-13 theader-border">Finished on</th>
                <th width="19%" class="selector-757-13 theader-border">Runtime</th>
                <th width="10%" class="selector-757-14 theader-border">Status</th>
                <th width="9%" class="selector-757-18 theader-border">Logs</th>
                <th width="12%" class="selector-757-19 theader-border">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" class="selector-757-20" let-job="">
              <tr class="selector-757-21" [style]="getBackgroundColor(job.jobStatus)">
                <td width="12%" class="selector-757-22">
                  {{job.jobId | slice : 0:8}}
                  <div>
                    <span *ngFor="let jobnametag of getjobnametags(job.jobmetadata)" [class]="jobnametag.color"
                      style="font-size: 9px !important;">{{jobnametag.value}}</span>
                  </div>
                </td>
                <td width="19%" class="selector-757-23">
                  {{job.submittedBy}}
                  <div>
                    <span *ngFor="let jobnametag of getjobownertags(job.jobmetadata)" [class]="jobnametag.color"
                      style="font-size: 9px !important;">{{jobnametag.value}}</span>
                  </div>
                </td>
                <td width="19%" class="selector-757-24">{{job.submittedOn | date: 'yyyy/MM/dd h:mm:ss a'}}</td>
                
                <td width="19%" class="selector-757-24">{{job.finishtime | date: 'yyyy/MM/dd h:mm:ss a'}}</td>
                <td width="19%" class="selector-757-24">{{job.runtime}}</td>
                <td width="10%" class="selector-757-25">{{job.jobStatus}}</td>
                <td width="9%" class="selector-757-29">
                  <button class="btn btn-outline selector-757-30"
                    (click)="showConsole(job.jobId, job.runtime, job.jobStatus,job.jobObj)">Log</button>
                </td>
                <td width="12%" class="selector-757-31">
                  <button *ngIf="job.jobStatus!='RUNNING' && type!='agent'" class="btn btn-outline hovergrow"
                    (click)="showmetrics(job)"><i class="fa fa-bar-chart" aria-hidden="true"></i></button>
                  <button *ngIf="job.jobStatus=='RUNNING' && job.jobmetadata!='CHAIN' && type!='agent'"
                    class="btn btn-outline selector-757-32 hovergrow" (click)="stopJob(job.jobId)"><i
                      class="fa fa-stop selector-757-33" aria-hidden="true"></i></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr class="selector-775-26">
                <td colspan="8" style="padding-left:40%;position: relative" class="selector-775-27">
                  <button mat-button="" [disabled]="page==0" (click)="getJobs('First')" title="First Page"
                    autofocus="autofocus" id="log-first" class="selector-775-28">First</button>
                  <button mat-button="" [disabled]="page==0" (click)="getJobs('Prev')" title="Prev Page"
                    autofocus="autofocus" id="log-prev" class="selector-775-29">&lt;&lt;&nbsp;Prev</button>
                  <button mat-button="" [disabled]="page==lastPage" (click)="getJobs('Next')" title="Next Page"
                    autofocus="autofocus" id="log-next" class="selector-775-30">Next&nbsp;&gt;&gt;</button>
                  <button mat-button="" [disabled]="page==lastPage" (click)="getJobs('Last')" title="Last Page"
                    autofocus="autofocus" id="log-last" class="selector-775-31">Last</button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  <p-dialog header="Logs" (visibleChange)="onDialogClose()" [(visible)]="showLogs" [style]="{width: '70%', height: '70%'}"
    [baseZIndex]="10000" [resizable]="true">
    <div *ngFor="let log of logFiles">
      <a style="font-weight: bold;">{{log.key}} &nbsp;:</a>&nbsp;
      <a [href]="log.value">{{log.value}}</a><br><br>
  
    </div>
  </p-dialog>