.tagbrdr {
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    box-shadow: 0 1px 4px 0 rgb(1 1 1 / 10%), 0 1px 1px 0 rgb(0 0 0 / 10%);
  }
  .items-baseline {
    align-items: baseline;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .flex {
    display: flex;
  }
//   .col-left {
//     float: left;
//     width: 50%;
//     height: 100%;
//     border-right: 1px solid black;
// }

// .col-right {
//     float: left;    
//     height: 100%;
// }
// .aip-tag-active:hover{
//   background: var(---faf2ff) 0% 0% no-repeat padding-box;
//   background: #ebe8ec 0% 0% no-repeat padding-box;
//   box-shadow: 0px 5px 6px  #0000006b;
// }
// .aip-tag-disabled:hover {
//   background: var(---faf2ff) 0% 0% no-repeat padding-box;
//   background: #faf2ff 0% 0% no-repeat padding-box;
//   box-shadow: 0px 5px 6px #00000029;
// }
// .aip-tag-active {
//   background: #edcfff 0% 0% no-repeat padding-box;
//   box-shadow: 0px 2px 4px #00000029;
//   color: #8626c3;
// }
// .aip-tag-active:focus {
//   background: #dadada 0% 0% no-repeat padding-box;
//   box-shadow: 0px 1px 2px #00000029;
// }
.dual-list {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: space-evenly;
	
}
.dual-list .listbox {
	width: 35%;
	margin: 0px;
	flex-grow: 2;
}
.buttonbox {
	 margin: 90px 10px 0px 10px;
//  margin: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.listbox .aip-item-box{
  display: flex;
 align-items: center;
 justify-content: center; 
 font-weight: bold;
 padding-bottom: 10px
}
div.aip-list-record {
  margin-top: 5px;
  height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid;
	position: relative;
	//cursor: pointer;
	font-family: var(--font-type) !important;
}

div.aip-list-record::-webkit-scrollbar {
	width: 12px;
}

div.aip-list-record::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

// div.aip-list-record {
// 	scrollbar-base-color: var(--base-color);
// 	scrollbar-3dlight-color: var(--base-color);
// 	scrollbar-highlight-color: var(--base-color);
// 	scrollbar-track-color: #eee;
// 	scrollbar-arrow-color: gray;
// 	scrollbar-shadow-color: gray;
// 	scrollbar-dark-shadow-color: gray;
// }

div.aip-list-record::-webkit-scrollbar-track {
	background:#eee;
	box-shadow: 0px 0px 3px #dfdfdf inset;
}

div.aip-list-record::-webkit-scrollbar-thumb {
	background: var(--base-color);
	border: thin solid gray;
}

div.aip-list-record::-webkit-scrollbar-thumb:hover {
	background: var(--base-color);
}

.aip-list-record ul {
	margin: 0;
	padding: 0 0 1px 0;
}

.aip-list-record li {
	border-top: thin solid #ddd;
	border-bottom: 1px solid #ddd;
	display: block;
	padding: 2px 2px 2px 10px;
	margin-bottom: -1px;
	font-size: 0.85em;
	cursor: pointer;
	white-space: nowrap;
	min-height:16px;
	text-align: left;
}

.aip-list-record li:hover {
	background-color: #00b28f45;
}

.aip-list-record li.selected {
	background-color: var(--base-color);
}

.aip-list-record li.selected:hover {
	background-color: var(--base-color);
}

.aip-list-record li.disabled {
	opacity: 0.5;
	cursor: default;
}

.aip-list-record li:first-child {
	border-top: none;
}

.aip-list-record li:last-child {
	border-bottom: none;
}

.aip-list-record label {
	cursor: pointer;
	font-weight: inherit;
	font-size: 14px;
	padding: 4px;
	margin-bottom: -1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.aip-list-record ul.over {
	background-color:lightgray;
}


