<div>
    <div class="row" style="padding-bottom: 1rem;">

        <div class="col-md-4" style="text-align: left;">

            <button mat-button="CONTINUE" color="primary" (click)="continue()">CONTINUE</button>

        </div>

        <div class="col-md-4" style="text-align: center;">
            <h2 class=" selector-785-3" style="color:#3f51b5" mat-dialog-title="">Parameters</h2>
        </div>

        <div class="col-md-4 selector-785-4" style="text-align: right;">
            <i class="fa fa-close selector-785-5" style="right: top; cursor:pointer" (click)="close()">
            </i>
        </div>
    </div>
    <div style='overflow:auto; width:700px;height:450px;padding-top: 2rem;'>
        <div *ngIf="native" >
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl"  class="example-tree col-8 selector-764-19">

                <mat-tree-node >
                    <table style="table-layout: fixed; width: 100%;">
                        <tbody *matTreeNodeDef="let node" matTreeNodeToggle="">



                            <tr>
                                <th scope="row" style="text-transform: uppercase;width:20% ">{{node.name}}</th>
                                <td style="word-wrap: break-word">{{getAlias(node)}}</td>
                            </tr>

                        </tbody>
                    </table>





                </mat-tree-node>


            </mat-tree>


        </div>
        <div *ngIf="dragndrop">
            <div *ngFor="let dat of datasetarray">
                <label
                    style="text-transform: uppercase;padding-bottom: 3rem;padding-top: 3rem;text-decoration: underline;">{{dat.name}}</label>
                <table style="table-layout: fixed; width: 100%">

                    <tbody *ngFor="let att of dat.dataset ">
                        <!-- <tr *ngIf=" checkrow(att.name)"> -->
                        <tr>
                            <th scope="row" style="text-transform: uppercase;width:20% ">{{att.id}}</th>
                            <td style="word-wrap: break-word">{{att.name}}</td>
                        </tr>

                    </tbody>
                </table>




            </div>




        </div>
        <div *ngIf="binary">
            <table style="table-layout: fixed; width: 100%">
                <tbody>
                    <tr>
                        <th scope="row" style="text-transform: uppercase;width:20% ">FILE TYPE</th>
                        <td style="word-wrap: break-word">{{binaryargs.filetype}}</td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-transform: uppercase;width:20% ">CLASS NAME</th>
                        <td style="word-wrap: break-word">{{binaryargs.className}}</td>
                    </tr>
                    <tr>
                        <th scope="row" style="text-transform: uppercase;width:20% ">ARGUMENTS</th>
                        <td style="word-wrap: break-word">{{binaryargs.arguments}}</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>