
.formula-information {
  display: grid;
  grid-gap: 5px;
  max-width: 400px;
  word-break: break-word;
  padding: 5px 5px 15px 0px;

  .formula-header {
    padding: 5px 10px;
    word-break: break-word;
    font-weight: 600;
    font-size: 16px;
  }

  .empty-text-placeholder {
    font-style: italic;
    padding: 0px 10px 10px 20px;
    font-weight: 700;
    color: #848484;
    font-size: 14px;
  }

  .message-container {
    font-weight: 500;
   // font-size: calc(12px + var(--font-size-delta));
    font-size: 12px;
    padding: 0px 15px 5px 0px;
    max-height: 200px;
    overflow: auto;
  }

  .confirm-overlay {
    justify-self: end;
  }


  ::ng-deep {
    .p-button.p-button-text-only .p-button-text {
      font-size: calc(11px + var(--font-size-delta));
    }

    .p-datatable .p-datatable-thead>tr>th {
      padding: 5px;
    }

    .p-datatable .p-datatable-tbody>tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody>tr:hover {
      cursor: pointer;
      background-color: var(--table-row-selection);
      color: #333333;
    }

    .p-datatable .p-datatable-tbody>tr {
      background-color: #ffffff;
      color: #333333;
      outline: none;
    }

    .p-datatable .p-datatable-tbody>tr.p-highlight {
      background-color: #ffffff;
      color: #333333;
    }

  }
}
.filter-container {
  width: 150px;

  ::ng-deep {
    .p-listbox .p-listbox-header {
      padding: 5px 5px 0px 6px;
    }
  }

  .confirm-overlay {
    justify-self: end;
  }

  .apply-btn-container {
    padding: 5px 0px 5px 0px;
    justify-items: start;
    display: grid;
  }
}


.operator-list-wrapper {
  padding-left: 16px;
  padding-right: 16px;

  .selected-op-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 12px 0px 12px 24px;
    grid-gap: 12px;
  }

  .selection-header {
    color: rgb(123, 57, 177);
    // font-weight:600;
    font-size: larger;
  }
}

.accordion {
  width: -webkit-fill-available;
  padding-left: 12px;
  padding-right: 24px;
}

.aip-advisory {
  height: 48px;
  color: rgb(123, 57, 177);
}

.query-container {
  // height: 100%;
  display: grid;
  // grid-template-columns: 1fr 0.15fr 0.5fr;
  grid-template-columns: 1fr 0.1fr;
  grid-gap: 5px;

  #query-builder-input {
    width: 100%;
    height: 42px;
  }


  .icon-container {
      display: grid;
      grid-template-columns: 0.025fr 0.025fr 0.025fr 0.025fr;
      grid-gap: 5px;
    }

  ::ng-deep {
    .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-list-item {
      margin: 0;
      padding: 0.429em 0.857em;
      border: 0 none;
      color: #333333;
      background-color: transparent;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      font-size: calc(11px + var(--font-size-delta));
    }

    .p-autocomplete-panel .p-autocomplete-list-item {
      border: 0;
      cursor: pointer;
      font-weight: 400;
      margin: 1px 0;
      padding: .186em .313em;
      text-align: left;
    }

    .p-autocomplete-panel {
      position: absolute;
      z-index: 1;      
      padding: 0;
      border: 1px solid #c8c8c8;
      background-color: #ffffff;
      -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }

    .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-list-item.p-state-highlight {
      color: #ffffff;
      //background-color: var(--primary-color);
      background-color: #bdbdbd;
    }
  }
}
.ai-form-error{
  color: #f40707;
  padding-left: 12px;
}
.create-background {
  background-color: white !important;
  border-radius: 1rem;
}