<div class="le-l-mainwrapper aip-top">
    <!-- *ngIf="cardToggled;"  -->
    <div class="clearfix le-l-bodywrapper aip-tranparent-backgroud js-bodywrapper" id="mainCtr">
        <div class="">
            <div *ngIf="isExpanded" class="row aip-filter aip-filter-position aip-scroll-hover">
                <app-tagging-component [servicev1]="servicev1" (tagSelected)="tagSelectedEvent($event)"
                    [tagrefresh]="tagrefresh"
                    [selectedEndpointTypeLists]="{ 
                        selectedType: selectedType,
                        selectedAdapterInstance: selectedAdapterInstance
                    }"></app-tagging-component>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12" id="mainrightCnt" [ngStyle]="toggler(isExpanded)">
                <div class="le-l-level1-wrapper">
                    <!-- Header -->
                    <div class="aip-header le-u-pad-lr-32 le-u-pad-t-16">
                        <div class=" col-sm-12 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center">
                            <div style="padding: 20px 0px 0px 0px;">
                            <leds-tooltip [tooltip]="isExpanded?'Collapse Filters':'Expand Filters'" [position]="tooltip">
                                <i class="icon x-24 filter-icon" (click)="toggleExpand()"></i>
                            </leds-tooltip>
                            </div>
                        <div class="le-u-pad-24">
                            <h3 class="le-u-header-xl">{{cardTitle}}</h3>
                            <!-- <virtual-assistant class="position-fixed highest-index" style="z-index:99" [language]="'en'"
                                [suggestionBackendUrl]="cortexwindow.suggestionBackendUrl"
                                [backendUrl]="cortexwindow.backendUrl" 
                                [appNameInput]="cortexwindow.appNameInput[1]"></virtual-assistant> -->
                        </div>
                        </div>
                        <div class="col-10 offset-1 offset-xs-1 offset-sm-1 offset-md-0 col-sm-6 col-md-6 col-lg-7 col-xl-6 aip-panel aip-panel-shadow d-flex align-items-center">
                            <input type="text" name="search" [(ngModel)]="filter" (keyup)="filterz()" autocomplete="off"
                                placeholder="Start searching" class="aip-panel-input">
                            <i class="icon x-24 search-icon aip-led-icons"></i>
                        </div>
                        <div class="d-flex justify-content-center col-sm-5 col-md-6 col-lg-5 col-xl-4 aip-header-icon">

                            <div class="le-u-mar-r-24 aip-cursor" *ngIf="createAuth">
                                <leds-overflow>
                                    <div ngbDropdown class="d-inline-block" container="body">
                                        <a id="OverflowMenu_dd" ngbDropdownToggle title="overflow menu">
                                            <i class="icon x-24 icon-add"></i>
                                        </a>
                                        <div ngbDropdownMenu aria-labelledby="OverflowMenu_dd">
                                            <ul overflowList>
                                                <li overflowListItem (click)="selectChange('local')">
                                                    <a href="javascript:void(0);">
                                                        <span overflowSpan class="le-u-mar-l-8">Local</span>
                                                    </a>
                                                </li>
                                                <li overflowListItem *ngFor="let opt of alias"
                                                    (click)="selectChange(opt)">
                                                    <a href="javascript:void(0);">
                                                        <span overflowSpan class="le-u-mar-l-8">{{opt}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </leds-overflow>
                            </div>
                            <div class="aip-cursor" (click)="refreshComplete()">
                                <span class="le-c-btn--icon__icon">
                                    <i class="aip-led-icons  icon x-24 icon_Refresh"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class=" le-c-card__action-ul aip-card-container">
                    <!-- CARD -->
                    <div class="col-md-8 col-lg-6 col-xl-5" style='min-width: -webkit-fill-available;padding: 0px;'
                        *ngFor="let card of cards ">
                        <leds-card designType='simple' [actionsOnHover]='true'
                            style="padding:0px !important; height: 163px; display: grid;">
                            <div class="le-c-card__container-right">
                                <span class="le-c-badge float-end"
                                    [ngClass]="card.status=='Registered'?'le-c-badge--blue ':'le-c-badge--warning'">{{card.status}}</span>
                            </div>

                            <div class="le-u-header-sm le-u-text-primary-80 le-u-mar-b-8" style="font-size: 10px;">
                                {{card.type}}</div>
                            <mat-card-header>
                                <mat-card-title class="le-c-card__container clearfix">
                                    <div class="le-c-card__container-left w-100">
                                        <h2 class="le-u-header-xl  le-u-ellipsis aip-fullname-card"
                                            *ngIf="card.name && card.name!=''" style="line-height: 2rem;">
                                            {{card.name | titlecase}}</h2>
                                        <h2 class="le-u-header-xl  le-u-ellipsis aip-fullname-card"
                                            *ngIf="!card.name && card.name==''" style="line-height: 2rem;">
                                            {{card.sourceName | titlecase}}</h2>
                                    </div>

                                </mat-card-title>
                                <mat-card-subtitle
                                    class="le-u-body-sm le-u-text-neutral-80 le-u-ellipsis">{{card.createdOn}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content class="le-u-no-mar-b" style="color: #737373;">
                                <p class="le-u-body-md le-u-text-neutral-80 le-u-line-2 aip-desc-ellipsis"
                                    [ngClass]="card.contextUri==''||card.contextUri==null||card.contextUri=='null'?'noDisplay':'showDesc'">
                                    {{card.contextUri}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions class="le-c-card__action-hover d-flex justify-content-between">
                                <leds-button nameText="textButton" idText="textButton" [disabled]="false"
                                    buttonType="button" designType="text" styleClass=" DSA_wb_Btn_small"
                                    (click)="redirection(card,'preview')"><span>View
                                        Details</span></leds-button>
                                <div class="d-flex align-items-center">
                                <!-- CreatedBy -->
                                <div class="aip-cursor  le-u-mar-r-16">
                                    <div class="le-c-avatar  le-c-avatar--sm aip-hover-avatar">
                                        {{(card.createdBy?card.createdBy:'Name Not Available')|firstCharacter}}</div>
                                    <div class="aip-hover-detail">
                                        <div class="le-u-header-md le-u-mar-8">{{card.createdBy?card.createdBy:'Name Not Available'}}</div>
                                    </div>
                                </div>
                                <leds-overflow>
                                    <div ngbDropdown *ngIf="editAuth|| deleteAuth"
                                        class="d-inline-block le-u-mar-r-8 le-u-v-mid float-end le-c-card__action-ul">
                                        <a href="javascript:void(0);" id="OverflowMenu_dd" ngbDropdownToggle
                                            (click)="clickactive($event);" aria-label="menu icon">
                                            <i aria-hidden="true" class=" icon x-24 v-menu-icon"></i>
                                        </a>
                                        <div ngbDropdownMenu aria-labelledby="OverflowMenu_dd"
                                            style="display: grid;justify-content: center;">
                                            <ul overflowList class="float-end le-c-card__action-ul"
                                                style="display: flex;flex-direction: column;">
                                                <li overflowListItem>
                                                <li><span class=" aip-cursor le-u-body-md"
                                                        (click)="redirectionedit(card,'edit')"
                                                        *ngIf="editAuth">Edit</span>
                                                    <!-- <ng-template #content3 let-modal>
                                                <app-endpoint-edit [data]=card></app-endpoint-edit>
                                            </ng-template> -->
                                                </li>
                                                <li overflowListItem>
                                                    <span class="aip-cursor le-u-body-md" *ngIf="deleteAuth"
                                                        (click)="deleteEndpoint(card)">Delete</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </leds-overflow>
                                </div>
                                <!-- <ul class="float-end le-c-card__action-ul">
                                   
                                    <li><i class="icon x-32 delete-sm-icon"></i></li>
                                </ul> -->
                            </mat-card-actions>
                        </leds-card>
                    </div>
                </div>
                <!-- pagination                 -->
                <div *ngIf="records==true">
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <img src="assets/images/aip_empty_state_leds.svg" class="img-responsive" alt="aip_empty_state_leds" style="width:15rem" />
                        No records found.
                    </div>
                </div>
                <!-- <div *ngIf="records!=true"
                    class="inbox-table-footer table-paginator flex-row flex-space-between standard-margin bottom-padding-20">
                    <div class="showing-entries d-flex justify-content-end my-3">
                        <span class="grey-color font-size-12">Showing </span>
                        &nbsp;&nbsp;
                        <span class="black-color font-weight-600">
                            {{ ((pageNumber - 1) * pageSize) + 1 }} -
                            {{ (((pageNumber - 1) * pageSize) + pageSize) < noOfItems ? ((pageNumber - 1) * pageSize) +
                                pageSize : noOfItems }} of {{noOfItems}} </span>
                                &nbsp;&nbsp;
                                <span class="grey-color font-size-12">entries </span>
                    </div>
                    <div class="paginator-buttons d-flex w-60  flex-row" style="justify-content:flex-end">
                        <div class="page-input go-to-input box-shadow standard-padding">
                            <span class="grey-color">Go to: </span>
                            <input class="right-margin" type="number" min="1" [max]="noOfPages"
                                (change)="changePage(pageNumberInput)" [(ngModel)]="pageNumberInput" />
                        </div>
                        <div class="mx-4">
                            <span class="">Items per page</span>
                            <select type="number" [(ngModel)]="pageSize" (change)="optionChange($event)">
                                <option *ngFor="let p of itemsPerPage" [ngValue]="p">{{p}}</option>
                            </select>

                        </div>
                        <div class="pages-details d-flex">

                            <div class="previous-page">
                                <button class="standard-padding table-button font-weight-600"
                                    [disabled]="pageNumber == 1" (click)="pageNumberInput=null;prevPage()">&lt;</button>
                            </div>
                            <div class="pages">
                                <button class="standard-padding table-button font-weight-600"
                                    *ngFor="let i of pageArr | slice:startIndex:endIndex"
                                    (click)="pageNumberInput=null;changePage(i+1)"
                                    [class.selected-page]="(i + 1) == pageNumber" [ngStyle]="selectedButton(i+1)">
                                    {{i + 1}}
                                </button>
                            </div>
                            <div class="next-page">
                                <button class="standard-padding table-button font-weight-600"
                                    [disabled]="pageNumber == noOfPages"
                                    (click)="pageNumberInput=null;nextPage()">&gt;</button>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div *ngIf="records!=true">
                    <app-pagination #pagination [noOfItems]="noOfItems" (pageAndSizeChanged)="handlePageAndSizeChange($event)">
                    </app-pagination>
                </div>
            </div>
        </div>
    </div>

    <!-- <div *ngIf="!cardToggled;">
    <app-endpoint-description [card]="selectedCard" (newItemEvent)="changedToogle($event)"
        [cardToggled]="cardToggled"></app-endpoint-description>
</div> -->
</div>
<!-- MODAL -->
<ng-template #lgContent1 let-modal>
    <div ledsModalHeader>
        <div class="clearfix">
            <h4 class="le-u-header-xl float-start" id="modalTitle2">SELECT ADAPTERS</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <i class="icon x-16 close-icon"></i>
            </button>
        </div>
    </div>
    <div ledsModalBody>
        <select #teams (change)="selectChange(teams.value)">
            <option default>Choose Adapters</option>
            <option *ngFor="let opt of alias">{{opt}}</option>

        </select>
    </div>
    <div ledsModalFooter>
        <leds-button designType="miniPrimary" class="le-u-mar-r-8" buttonType="button"
            (click)=" modal.dismiss('Cross click')" (click)="redirect()">
            Select
        </leds-button>
    </div>
</ng-template>