<div class="container-fluid contain selector-13-1">
    <div class="row imgrow selector-13-2">
        <div class="col-md-3 colpad selector-13-3">
            <a (click)="pageroute(1)" class="selector-13-4">
                <div class="imgtxt selector-13-5">{{hrefn1}}</div>
                <img src="{{hrefi1}}" alt="BCC Dashboard" height="185px" width="320px" style="margin-top: 5px" class="selector-13-6">
            </a>
        </div>
        <div class="col-md-3 colpad selector-13-7">
            <a (click)="pageroute(2)" class="selector-13-8">
                <div class="imgtxt selector-13-9">{{hrefn2}}</div>
                <img src="{{hrefi2}}" alt="Sell Dashboard" height="185px" width="320px" style="margin-top: 5px" class="selector-13-10">
            </a>
        </div>
        <div class="col-md-3 colpad selector-13-11">
            <a (click)="pageroute(3)" class="selector-13-12">
                <div class="imgtxt selector-13-13">{{hrefn3}}</div>
                <img src="{{hrefi3}}" alt="BCC Dashboard" height="185px" width="320px" style="margin-top: 5px" class="selector-13-14">
            </a>
        </div>
        <div class="col-md-3 colpad selector-13-15">
            <a (click)="pageroute(4)" class="selector-13-16">
                <div class="imgtxt selector-13-17">{{hrefn4}}</div>
                <img src="{{hrefi4}}" alt="Disruption Dashboard" height="185px" width="320px" style="margin-top: 5px" class="selector-13-18">
            </a>
        </div>
    </div>
    <div class="row imgrow selector-13-19">
        <div class="col-md-3 colpad selector-13-20">
            <a (click)="pageroute(5)" class="selector-13-21">
                <div class="imgtxt selector-13-22">{{hrefn5}}</div>
                <img src="{{hrefi5}}" alt="Failure Dashboard" height="185px" width="320px" style="margin-top: 5px" class="selector-13-23">
            </a>
        </div>
        <div class="col-md-3 colpad selector-13-24">
            <a (click)="pageroute(6)" class="selector-13-25">
                <div class="imgtxt selector-13-26">{{hrefn6}}</div>
                <img src="{{hrefi6}}" alt="Ticket Analytics Dashboard" height="185px" width="320px" style="margin-top: 5px" class="selector-13-27">
            </a>
        </div>
        <div class="col-md-3 colpad selector-13-28">
            <a (click)="pageroute(7)" class="selector-13-29">
                <div class="imgtxt selector-13-30">{{hrefn7}}</div>
                <img src="{{hrefi7}}" alt="BCC Dashboard" height="185px" width="320px" style="margin-top: 5px" class="selector-13-31">
            </a>
        </div>
        <div class="col-md-3 colpad selector-13-32">
            <a (click)="pageroute(8)" class="selector-13-33">
                <div class="imgtxt selector-13-34">{{hrefn8}}</div>
                <img src="{{hrefi8}}" alt="Disruption Dashboard" height="185px" width="320px" style="margin-top: 5px" class="selector-13-35">
            </a>
        </div>
    </div>

</div>