textarea {
    width: -webkit-fill-available;
}

textarea:focus {
    background-color: #faf2ff;
    border: none;
    border-bottom: var(--text-primary-80) 2px solid;
    outline: none;
}

.labelColour {
    color: var(--input-label-text-color);
}

.pannel-shadow {
    box-shadow: -2px 0 25px -20px rgba(0, 0, 0, 0.75) !important;
    border: 0.5px solid rgba(0, 0, 0, 0.1215686275);
    border-radius: 8px;
    opacity: 1;
}