<div class="aip-container lfx-u-pad-lr-30" id="mainCtr">

    <app-modal-config-schema-header [cardTitle]="CARD_TITLE" [tabValue]="tabValue" [formListView]="formListView"
        [isRawData]="isRawData" (search)="onSearch($event)" (refresh)="onRefresh()" (navigateBack)="navigateBack()"
        (toggleView)="toggleView($event)">
    </app-modal-config-schema-header>

    <mat-card class="lfx-schema-card">
        <mat-tab-group class="tabs-left-aligned" (selectedIndexChange)="basicReqTabChange($event)">
            <mat-tab label="Configure">
                <div class="lfx-u-pad-16">

                    <!-- NAME -->
                    <div *ngIf="isInEdit" class="flex align-items-center lfx-u-pad-b-16">
                        <div class="lfx-u-header-lg">Name</div>
                        <div class="lfx-u-body-xl lfx-u-mar-lr-16">
                            {{schemaName}}</div>
                    </div>

                    <!-- ALIAS -->
                    <div class="lfx-u-mar-t-16  lfx-u-pad-b-16">
                        <div class="lfx-u-sub-header-alias">Alias*</div>
                        <mat-form-field appearance="fill" class="w-100 custom-alias-field" subscriptSizing="dynamic">
                            <input matInput id="schm-modal-alias" [disabled]="isInView" [(ngModel)]="schemaAlias"
                                required placeholder="Alias length should be greater than 4" #name="ngModel"
                                class="custom-alias-input">
                            <mat-error *ngIf="name.invalid && name.touched">
                                Alias is required and should be
                                longer than 4 characters.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- DESCRIPTION -->
                    <div class="lfx-u-mar-t-16  lfx-u-pad-b-16">
                        <div class="lfx-u-sub-header-alias">Description</div>
                        <mat-form-field appearance="fill" class="w-100 custom-alias-field" subscriptSizing="dynamic">
                            <input matInput id="schm-modal-description" [disabled]="isAuth"
                                [(ngModel)]="schemaDescription" required placeholder="Enter Description..."
                                #name="ngModel" class="custom-alias-input">
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
            <mat-tab *ngIf="schemaAlias.length>3" label="Schema Columns">
                <div class="lfx-u-pad-16">
                    <div *ngIf="isRawData === true" class="json-editor-container">
                        <div class="json-editor-wrapper">
                            <json-editor id="json-editor-schema" [options]="editorOptions" [data]="schemaValue"
                                #columnJsonEditor class="cipJSONEditor" role="textbox" aria-label="Schema JSON editor"
                                tabindex="0">
                            </json-editor>
                        </div>
                    </div>
                    <div *ngIf="isRawData === false">
                        <div class="add-row-button lfx-u-pad-8" *ngIf="!isInView && !isAuth">
                            <mat-icon id="schm-modal-addrow" (click)="openDialog('Add', {})" matTooltip="Add Row"
                                matTooltipPosition="left" aria-label="Add new schema row">
                                add
                            </mat-icon>
                        </div>
                        <div *ngIf="dataSource?.length > 0 ;else noDatasource">
                            <mat-table>
                                <table class="table">
                                    <thead>
                                        <tr class="lfx-t-head-row">
                                            <th>Column order</th>
                                            <th> Column type</th>
                                            <th> Record Column Name</th>
                                            <th> Record Column Display-Name</th>
                                            <th>Unique Key</th>
                                            <th> Required</th>
                                            <th> Primary Key</th>
                                            <th> Encrypted</th>
                                            <th>Visible</th>
                                            <th *ngIf="!isInView">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="lfx-t-body-row" *ngFor="let element of dataSource">
                                            <td id="schm-modal-{{element.columnorder}}"> {{element.columnorder}}
                                            </td>
                                            <td id="schm-modal-{{element.columntype}}"> {{element.columntype}}
                                            </td>
                                            <td id="schm-modal-{{element.recordcolumnname}}">
                                                {{element.recordcolumnname}}</td>
                                            <td id="schm-modal-{{element.recordcolumndisplayname}}">
                                                {{element.recordcolumndisplayname}}</td>
                                            <td id="schm-modal-{{element.isunique}}">
                                                {{element.isunique?element.isunique:false}}</td>
                                            <td id="schm-modal-{{element.isrequired}}">
                                                {{element.isrequired?element.isrequired:false}}</td>
                                            <td id="schm-modal-{{element.isprimarykey}}">
                                                {{element.isprimarykey?element.isprimarykey:false}}</td>
                                            <td id="schm-modal-{{element.isencrypted}}">
                                                {{element.isencrypted?element.isencrypted:false}}</td>
                                            <td id="schm-modal-{{element.isvisible}}">
                                                {{element.isvisible?element.isvisible:false}}</td>
                                            <td *ngIf="!isInView">
                                                <div class="lfx-table-action">
                                                    <mat-icon (click)="openDialog('Update', element)"
                                                        matTooltip="Update" [matTooltipPosition]="TOOLTIP_POSITION"
                                                        aria-label="Edit item">
                                                        edit
                                                    </mat-icon>
                                                    <mat-icon (click)="openDialog('Delete', element)"
                                                        matTooltip="Delete" [matTooltipPosition]="TOOLTIP_POSITION"
                                                        aria-label="Delete item">
                                                        delete
                                                    </mat-icon>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </mat-table>
                        </div>
                        <ng-template #noDatasource>
                            <div class="lfx-u-header-xl flex justify-content-center ">
                                Schema Columns not available
                            </div>
                        </ng-template>
                    </div>
                    <div class="flex justify-content-end" *ngIf="!isInView">
                        <button mat-stroked-button color="primary" class="lfx-u-bg-primary-80 DSA_wb_Btn_normal"
                            (click)="onCancel()" id="schm-modal-form-table-cancel" style="border-radius: 1rem;">
                            Cancel
                        </button>
                        <button mat-stroked-button color="accent"
                            class="lfx-u-mar-lr-16 lfx-u-text-status-success DSA_wb_Btn_normal" *ngIf="!isAuth"
                            (click)="onSave()" id="schm-modal-form-table-save" style="border-radius: 1rem;">
                            Save
                        </button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab *ngIf="schemaName.trim() != '' && schemaName != 'new' && isInEdit" label="Schema Form">
                <div class="lfx-u-pad-16">
                    <div *ngIf="formListView " class="grid-view selector-698-221">
                        <span *ngIf="formListView && !isAuth && !isInView" style="cursor: pointer; float: right;"
                            (click)="createForm()" class="selector-547-151">
                            <i class="fa fa-plus-square-o create-icon-color selector-547-14"></i>
                            Create Form</span>
                        <div class=" row selector-698-231" style="display: grid;grid-template-columns: repeat(4, 1fr);">
                            <div class="selector-698-241" *ngFor="let group of formTemplateList">
                                <mat-card class="lfx-c-card">
                                    <mat-card-header style="padding: 0px; display: block;">
                                        <mat-card-title>
                                            <div class="schema-form-card" style="width: 100%; margin-bottom: 24px;"
                                                [ngStyle]="{'pointer-events': (isInView) ? 'none' : 'auto'}">
                                                <h2 class="lfx-u-header-xl lfx-u-ellipsis aip-cursor"
                                                    (click)="getFormTemplate(group)">
                                                    {{ group.alias }}
                                                </h2>
                                                <mat-icon *ngIf="!isAuth" class="delete-form-button"
                                                    matTooltip="Delete Form" matTooltipPosition="left"
                                                    (click)="delete(group)"
                                                    aria-label="Delete form template">close</mat-icon>
                                            </div>
                                        </mat-card-title>
                                        <mat-card-subtitle
                                            class="lfx-u-body-sm lfx-u-text-neutral-80 lfx-u-no-mar-b lfx-u-ellipsis">
                                            {{ group.name }}
                                        </mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="formListView == false && isRawData === true &amp;&amp; !viewForm"
                        class="selector-691-61">
                        <div id="schm-modal-view" class="selector-691-62">
                            <json-editor [options]="editorOptions" [data]="schemaFormCpy" style="max-height: 365px;"
                                #formJsonEditor="" class="cipJSONEditor selector-691-63"></json-editor>
                        </div>
                    </div>
                    <div class="selector-691-64"
                        *ngIf="formListView == false && isRawData === false &amp;&amp; !viewForm">
                        <div class="lfx-u-pad-16 selector-691-69">
                            <div class="lfx-u-header-md">
                                Form Name
                            </div>
                            <mat-form-field appearance="fill" class="w-100" subscriptSizing="dynamic">

                                <input matInput type="text" id="schm-modal-name" name="formname" [disabled]="isAuth"
                                    [(ngModel)]="selectedFormTemplate.alias" required>
                            </mat-form-field>
                        </div>
                        <div class="lfx-u-pad-8">
                            <form-builder [form]="form" (change)="onChange($event)"
                                class="selector-691-115"></form-builder>
                        </div>
                    </div>
                    <div *ngIf="!formListView" class="selector-691-96 flex justify-content-end">
                        <div *ngIf="!isInView">
                            <button mat-stroked-button color="primary" class="lfx-u-bg-primary-80 DSA_wb_Btn_normal"
                                (click)="onCancel('form')" id="schm-modal-form-table-cancel"
                                style="border-radius: 1rem;">
                                Cancel
                            </button>
                            <button mat-stroked-button color="accent"
                                class="lfx-u-mar-lr-16 lfx-u-text-status-success DSA_wb_Btn_normal" *ngIf="!isAuth"
                                (click)="saveFormTemplateChanges()" id="schm-modal-form-table-save"
                                style="border-radius: 1rem;">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>