[Unit]
Description = Java Service
After network.target = leap.service

[Service]
Type = forking
ExecStart = /var/leap/bin/leap.sh start
ExecStop = /var/leap/bin/leap.sh stop
ExecReload = /var/leap/bin/leap.sh reload

[Install]
WantedBy=multi-user.target